{{#if (or isDecoder isLogDecoder)}}
  {{#if isDecoder}}
    {{card-packet-capture}}
  {{else}}
    {{card-log-capture}}
  {{/if}}
  {{card-packet-db}}
  {{card-meta-db}}
  {{card-session-db}}
  {{card-index-db}}
{{/if}}
{{#if (or isConcentrator isBroker)}}
  {{card-aggregation}}
{{/if}}
{{#if isConcentrator}}
  {{card-index-db}}
  {{card-session-db}}
  {{card-meta-db}}
{{/if}}
{{card-system}}
<div id="modalDestination"></div>
