<box fit class="toolbar-zone">
  {{rsa-respond-incidents/incidents-toolbar
    isMoreFiltersActive=(readonly isFilterPanelOpen)
    isInSelectMode=(readonly isInSelectMode)
    incidentsSelected=(readonly incidentsSelected)
    toggleIsInSelectMode=(action "toggleIsInSelectMode")
    toggleFilterPanel=(action "toggleFilterPanel")
  }}
</box>
<hbox class="main-zone">
  <vbox class="filter-zone">
    {{rsa-respond-incidents/incidents-filters}}
  </vbox>
  <vbox class="incidents-zone">
    <box class="incidents-main">
      <box class="incidents-body">
        {{rsa-respond-incidents/incidents-table
          isInSelectMode=(readonly isInSelectMode)
          focusedIncident=(readonly focusedIncident)
          incidentsSelected=(readonly incidentsSelected)
          incidents=(readonly incidents)
          incidentsStatus=(readonly incidentsStatus)
          select=(action "select")
        }}
      </box>
      <box class="incidents-footer">
        {{#if (not-eq incidentsStatus "wait") }}
          <centered>{{t 'respond.incidents.footer' count=incidentsCount total=incidentsTotal}}</centered>
        {{/if}}
      </box>
    </box>
  </vbox>
</hbox>
{{#if isTransactionUnderway}}
  <div class="transaction-overlay">
    <centered class="transaction-overlay">
      {{rsa-loader size="large"}}
    </centered>
  </div>
{{/if}}
