<h1> {{t 'configure.logsParser.rules'}} </h1>

{{content/log-parser-rules/parser-rules-list/buttons-container}}

{{#if isLoadingParserRules}}
  <div class='loading'>
    {{rsa-loader size='large'}}
  </div>
{{else if isLoadingParserRulesError}}
  <div class='loading'>
    {{t 'configure.logsParser.error.generic'}}
  </div>
{{else if isDeletingParserRule}}
  <div class='loading'>
    {{rsa-loader size='large'}}
  </div>
{{else if isDeletingParserRuleError}}
  <div class='loading'>
    {{t 'configure.logsParser.error.generic'}}
  </div>
{{else if isSavingParserRule}}
  <div class='loading'>
    {{rsa-loader size='large'}}
  </div>
{{else if isSavingParserRuleError}}
  <div class='loading'>
    {{t 'configure.logsParser.error.generic'}}
  </div>
{{else}}
  <div class='parser-table-container'>
    <table class='parserTable'>
      {{#each parserRules as |parserRule index|}}
      <tr>
        <td class="{{if (eq index 0) 'firstItem'}} {{if (eq selectedParserRuleIndex index) 'active'}} {{if (contains parserRule.name invalidRules) 'invalid-rule'}}" {{action "selectParserRule" index}}>
          <div>
            {{#if parserRule.dirty}}
              {{rsa-icon name="synchronize-3" class="deploy-icon"}}
            {{else}}
              &nbsp;&nbsp;&nbsp;&nbsp;
            {{/if}}
            <span class="parser-rule-name">{{parserRule.name}}</span>
            {{#if parserRule.outOfBox}}
              <span class="outOfBox-indicator">&nbsp;[RSA]</span>
            {{/if}}
          </div>
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
{{/if}}