<h1> {{t 'configure.logsParser.rules'}} </h1>

{{content/log-parser-rules/parser-rules-list/buttons-container}} 

{{#if isLoadingParserRules}}
  <div class='loading'>
    {{rsa-loader size='large'}}
  </div>
{{else if isLoadingParserRulesError}}
  <div class='loading'>
    {{t 'configure.logsParser.error.generic'}}
  </div>
{{else if isDeletingParserRule}}
  <div class='loading'>
    {{rsa-loader size='large'}}
  </div>
{{else if isDeletingParserRuleError}}
  <div class='loading'>
    {{t 'configure.logsParser.error.generic'}}
  </div>
{{else if isSavingParserRule}}
  <div class='loading'>
    {{rsa-loader size='large'}}
  </div>
{{else if isSavingParserRuleError}}
  <div class='loading'>
    {{t 'configure.logsParser.error.generic'}}
  </div>
{{else}}
  <table class='parserTable'>
    {{#each parserRules as |parserRule index|}}
      <tr>
        <td class='{{if (eq index 0) 'firstItem'}} {{if (eq selectedParserRuleIndex index) 'active'}}'{{action "selectParserRule" index}}>
          {{parserRule.name}}
          {{#if parserRule.outOfBox}}
            [RSA]
          {{/if}}
          {{#if parserRule.dirty}}
            <span class="dotRed"></span>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}
