{{#rsa-form-button
  class='prev-button'
  defaultAction='transitionToPrevStep'
  isDisabled=step.prevButtonDisabled
}}
  {{t 'adminUsm.policyWizard.previous'}}
{{/rsa-form-button}}

{{#rsa-form-button
  class='next-button'
  style='primary'
  defaultAction='transitionToNextStep'
  isDisabled=step.nextButtonDisabled
}}
  {{t 'adminUsm.policyWizard.next'}}
{{/rsa-form-button}}

{{#rsa-form-button
  class='save-button'
  defaultAction=(action 'save')
  isDisabled=step.saveButtonDisabled
}}
  {{t 'adminUsm.policyWizard.saveAndClose'}}
{{/rsa-form-button}}

{{#rsa-form-button
  class='publish-button'
  style='primary'
  defaultAction=(action 'publish')
  isDisabled=step.publishButtonDisabled
}}
  {{t 'adminUsm.policyWizard.publishPolicy'}}
{{/rsa-form-button}}

{{#rsa-form-button
  class='cancel-button'
  defaultAction='cancel'
  isStepValid=isStepValid
}}
  {{t 'adminUsm.policyWizard.cancel'}}
{{/rsa-form-button}}

{{#if _showConfirmationModal}}
  {{#rsa-application-modal
    style='standard confirmation-modal'
    eventId='confirm-modal'
    label=(t 'adminUsm.policyWizard.modals.discardChanges.title')
    onClose=(action 'onModalClose')}}
    <div class='modal-content'>
      <p>{{t 'adminUsm.policyWizard.modals.discardChanges.confirm'}}</p>
    </div>
    <footer>
      <hbox class="modal-footer-buttons">
        {{#rsa-form-button defaultAction='continueEditing'}}
          {{t 'adminUsm.policyWizard.modals.discardChanges.continueEditing'}}
        {{/rsa-form-button}}
        {{#rsa-form-button style='primary' click=(action 'discardChanges')}}
          {{t 'adminUsm.policyWizard.modals.discardChanges.discardChanges'}}
        {{/rsa-form-button}}
      </hbox>
    </footer>
  {{/rsa-application-modal}}
{{/if}}