{{#rsa-data-table
  class="rsa-incident-events-table"
  items=items
  columnsConfig=columnsConfig
  fitToWidth=false
  lazy=true
  selectedIndex=selectedIndex
  onRowClick=(action "onRowClick")
}}
  {{rsa-data-table/header translateTitles=true}}
  {{#rsa-data-table/body
    rowComponentClass="rsa-incident/events-table-row"
    as |item index column|}}

    {{#rsa-data-table/body-cell item=item index=index column=column}}
      {{#if (eq column.field 'time')}}
        {{rsa-content-datetime timestamp=item.time}}
        <div class="event-details-link" {{action "showEventDetails" item}}>Details</div>
      {{else}}
        <span class="entity" data-meta-key="{{column.field}}" data-entity-id="{{get item column.field}}">
          {{get item column.field}}
        </span>
      {{/if}}
    {{/rsa-data-table/body-cell}}

  {{/rsa-data-table/body}}
{{/rsa-data-table}}

{{#rsa-application-modal eventId=eventDetailsPanelId label=(t 'respond.eventDetails.title') style="standard rsa-incident-event-details-modal"}}
  <vbox class='modal-content'>
    <box fill class="modal-content-body">
      {{rsa-property-tree class="rsa-incident-event-details-modal__tree" model=(or eventDetailsModel.normalized eventDetailsModel)}}
    </box>
    <box fit class="modal-content-footer">
      <hbox justify="end">
        {{#rsa-form-button style="primary" defaultAction=(action 'hideEventDetails')}}
          {{t 'forms.ok'}}
        {{/rsa-form-button}}
      </hbox>
    </box>
  </vbox>
{{/rsa-application-modal}}