<div class="parserWrapper">
  {{#if isLoading}}
    <div class='loading'>
      {{rsa-loader size='large' label=(t 'configure.logsParser.wait')}}
    </div>
  {{else if isLoadingError}}
    <div class='loading'>
      {{t 'configure.logsParser.error.generic'}}
    </div>
  {{else}}
    <table class='parserContainer'>
      <tr>
        <td rowspan="2" class='border leftArea'>
          {{parser-rules/log-parsers}}
        </td>
        <td class='centerArea'>
          <h1>
            {{logName}}
            {{#if ruleName}}
              - {{ruleName}}
            {{/if}}
          </h1>
          <div class='centerTop'>
            <table class='matchingMapping'>
              <tr>
                <td>
                  {{parser-rules/token-matching}}
                </td>
                <td class='centerTopCenter'>
                  {{parser-rules/value-matching}}
                </td>
                <td>
                  {{parser-rules/value-mapping}}
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td rowspan="2" class='border rightArea'>
          {{parser-rules/rules-list}}
        </td>
      </tr>
      <tr>
        <td class='tdMessage'>{{parser-rules/log-message}}</td>
      </tr>
    </table>
  {{/if}}
</div>