<header class="spec-body-category__header">
  <a id="{{model.id}}" class="anchor"></a>
  <h3>{{model.title}}</h3>

  {{#if category.subtitle}}
    <p>{{model.subtitle}}</p>
  {{/if}}

  {{#if category.description}}
    <p>{{model.description}}</p>
  {{/if}}
</header>

<section class="members">
  {{#if model.code}}
    {{hbs-example class="spec-body-member__example"
      title="Example"
      code=model.code.hbs
      dataType=spec.dataType
    }}
  {{else}}
    {{#each model.members as |member|}}
      <a id="{{member.id}}"></a>

      {{#if spec.palette}}
        {{color-swatch class="spec-body__color-swatch" model=member}}
        {{#if member.breakAfter}}<br>{{/if}}
      {{else}}
        {{spec-body-member model=member category=model spec=spec}}
      {{/if}}
    {{/each}}
  {{/if}}
</section>
