{{#if isServicesRetrieveError}}
  {{#rsa-panel-message message=(t 'investigate.services.error.description')}}
    {{#rsa-form-button defaultAction=(action 'getServices')}}
      <span>{{t 'investigate.tryAgain'}}</span>
    {{/rsa-form-button}}
  {{/rsa-panel-message}}
{{else}}
  <header class="rsa-investigate-query__header">
    {{query-container}}

    {{#if showFutureFeatures}}
      {{!-- For now, hide the timeline until we've performed a search --}}
      {{!-- Continue to evaluate if this is the UX we want --}}
      {{#if atLeastOneQueryIssued}}
        {{events-container/time-line}}
      {{/if}}
    {{/if}}
  </header>
  {{#if isEventResultsError}}
    <vbox>
      {{#rsa-panel-message}}
        <div class="capitalize query-error">{{or eventResultsErrorMessage (t 'investigate.events.error')}}</div>
      {{/rsa-panel-message}}
    </vbox>
  {{else}}
    {{#if (or atLeastOneQueryIssued hasIncommingQueryParams)}}
      <section class="{{queryBodyClass}}">
        <section class="rsa-investigate-query__body-master">
          {{#if showFutureFeatures}}
            <aside class="rsa-investigate-query__body-master-aside">
              {{meta-view}}
            </aside>
          {{/if}}
          <section class="rsa-investigate-query__body-master-main">
            {{events-table-container}}
          </section>
        </section>
        <vbox class="rsa-investigate-query__body-slave">
          {{#if (and queryNode.serviceId sessionId)}}
            {{recon-container
              aliases=(readonly aliases)
              endpointId=(readonly queryNode.serviceId)
              eventId=(readonly sessionId)
              contextMenuItems=(build-context-menu)
              queryInputs=(readonly queryInputs)
              index=(readonly selectedIndex)
              language=(readonly language)
              meta=(readonly queryNode.eventMetas)
              size=(readonly reconSize)
              total=(readonly totalCount)
              closeAction=(route-action 'reconClose')
              expandAction=(route-action 'reconSize' reconPanelSizes.MAX)
              linkToFileAction=(route-action 'reconLinkToFile')
              shrinkAction=(route-action 'reconSize' reconPanelSizes.MIN)
            }}
          {{/if}}
        </vbox>
      </section>
    {{else}}
      {{events-container/query-tips}}
    {{/if}}
  {{/if}}
{{/if}}
