{{#if isServicesRetrieveError}}
  {{#rsa-panel-message message=(t 'investigate.services.error.description')}}
    {{#rsa-form-button defaultAction=(action 'getServices')}}
      <span>{{t 'investigate.tryAgain'}}</span>
    {{/rsa-form-button}}
  {{/rsa-panel-message}}
{{else}}
  <header class="rsa-investigate-query__header">
    {{bread-crumb-container}}

    {{#if showFutureFeatures}}
      {{#if (is-equal eventResults.status 'error')}}
        {{#rsa-panel-message messageType='query-error'}}
          <div class="capitalize">{{or eventResults.message (t 'investigate.events.error')}}</div>
        {{/rsa-panel-message}}
      {{else}}
        {{!-- For now, hide the timeline until we've performed a search --}}
        {{!-- Continue to evaluate if this is the UX we want --}}
        {{#if atLeastOneQueryIssued}}
          {{events-container/time-line}}
        {{/if}}
      {{/if}}
    {{/if}}
  </header>

  {{#if atLeastOneQueryIssued}}
    <section class="{{queryBodyClass}}">
      <section class="rsa-investigate-query__body-master">
        {{#if showFutureFeatures}}
          <aside class="rsa-investigate-query__body-master-aside">
            {{meta-view}}
          </aside>
        {{/if}}
        <section class="rsa-investigate-query__body-master-main">
          {{events-table-container}}
        </section>
      </section>
      <vbox class="rsa-investigate-query__body-slave">
        {{#if (and queryNode.serviceId queryNode.sessionId)}}
          {{recon-container
            aliases=(readonly aliases)
            endpointId=(readonly queryNode.serviceId)
            eventId=(readonly queryNode.sessionId)
            contextMenuItems=(build-context-menu)
            queryInputs=(readonly queryInputs)
            index=(readonly selectedIndex)
            language=(readonly language)
            meta=(readonly queryNode.eventMetas)
            size=(readonly reconSize)
            total=(readonly totalCount)
            closeAction=(route-action 'reconClose')
            expandAction=(route-action 'reconSize' reconPanelSizes.MAX)
            linkToFileAction=(route-action 'reconLinkToFile')
            shrinkAction=(route-action 'reconSize' reconPanelSizes.MIN)
          }}
        {{/if}}
      </vbox>
    </section>
  {{else}}
    <div class="rsa-investigate-query__body-tips">
      <p>{{t 'investigate.events.eventTips.noResults'}}</p>
      <section class="tips">
        <p>{{t 'investigate.events.eventTips.usefulTipsTitle'}}</p>
        <ul>
          <li>Tip 1</li>
          <li>Tip 2</li>
          <li>Tip 3</li>
        </ul>
      </section>
    </div>
  {{/if}}
{{/if}}
<footer class="rsa-investigate-query__footer">
</footer>
