{{#if isLoadingServices}}
  {{rsa-loader size='large' label=(t 'investigate.services.loading')}}
{{else if hasServices}}
  {{events-container/query-bar}}
{{else}}
  {{#rsa-panel-message message=message}}
    {{#rsa-form-button defaultAction=(action 'initializeServices')}}
      <span>{{t 'investigate.tryAgain'}}</span>
    {{/rsa-form-button}}
  {{/rsa-panel-message}}
{{/if}}
