<span class="label">
  {{t "investigateHosts.downloads.mftViewer.fileLocation"}}
  <span class="path">
    {{location}}
  </span>
</span>
<span class="filter" {{action "filterAction"}}>
  |{{rsa-icon name="filter-2" size="small" }}
  <label>{{t "investigateHosts.downloads.mftViewer.filtersApplied" count=filterCountLabel}}</label>
</span>