<section class="filters panel-control-group" fit>
  <hbox>
    <hbox xs="6" fit>
      {{service-selector services=servers serviceId=serverId onServiceSelection=(action 'setEndpointServer')}}
    </hbox>
    <hbox xs="6" fit>
      {{host-list/content-filter}}
    </hbox>
  </hbox>
</section>
{{#if isEndpointServerOnline}}
  {{#if schemaLoading}}
    <centered>
      {{rsa-loader size='larger'}}
    </centered>
  {{else}}
    <hbox class="host-list-items">
      <box class="filter-zone">
        <h2>{{t 'investigateHosts.files.filter.filters'}}</h2>
        <box class="favourite-filters">
          {{host-list/content-filter/system-filters}}
        </box>
      </box>
      <box class="table-zone">
        {{host-list/host-table}}
      </box>
    </hbox>
  {{/if}}
{{else}}
  {{error-page
    errorDescription=(t 'investigateFiles.errorPage.serviceDownDescription')
    title=(t 'investigateFiles.errorPage.serviceDown')}}
{{/if}}