{{#if schemaLoading}}
  <centered>
    {{rsa-loader size='larger'}}
  </centered>
{{else}}
  <section class="filters panel-control-group" fit>
    {{host-list/content-filter}}
  </section>
  <hbox>
    <box class="filter-zone">
      <h2>{{t 'investigateHosts.files.filter.filters'}}</h2>
      <box class="favourite-filters">
        {{host-list/content-filter/system-filters}}
      </box>
    </box>
    <box class="table-zone">
      {{host-list/host-table}}
    </box>
    <box class="risk-property-zone">
        <box fit>
          {{#host-detail/utils/host-title-bar tabs=dataSourceTabs defaultAction=(action 'setDataSourceTab') as |tab|}}
            <div class="label">{{t tab.label}}</div>
          {{/host-detail/utils/host-title-bar}}
        </box>
        <box>
          {{endpoint/risk-panel activeDataSourceTab=activeDataSourceTab}}
        </box>
    </box>
  </hbox>
{{/if}}
