{{#if schemaLoading}}
  <centered>
    {{rsa-loader size='larger'}}
  </centered>
{{else}}
  <section class="filters panel-control-group" fit>
    {{host-list/content-filter}}
  </section>
  <hbox class="host-list-items {{if showRiskPanel 'show-risk-panel' ''}}">
    <box class="filter-zone">
      <h2>{{t 'investigateHosts.files.filter.filters'}}</h2>
      <box class="favourite-filters">
        {{host-list/content-filter/system-filters}}
      </box>
    </box>
    <box class="table-zone">
      {{host-list/host-table}}
    </box>
    {{#if features.rsaEndpointFusion}}
      <box class="risk-property-zone">
        <hbox fit>
          <vbox>
            {{#host-detail/utils/host-title-bar tabs=dataSourceTabs defaultAction=(action 'setDataSourceTab') as |tab|}}
              {{#if (eq tab.name 'ALERT')}}
                <div class="label">{{t tab.label count=alertsCount}}</div>
              {{else if (eq tab.name 'INCIDENT')}}
                <div class="label">{{t tab.label count=incidentsCount}}</div>
              {{else}}
                <div class="label">{{t tab.label}}</div>
              {{/if}}
            {{/host-detail/utils/host-title-bar}}
          </vbox>
          <vbox class="risk-zone-close-button">
            {{#rsa-form-button class='header-button' isIconOnly=true click=(action 'closeRiskPanel') }}
              {{rsa-icon class='close-icon' name='close' title=(t 'investigateHosts.context.button.close')}}
            {{/rsa-form-button}}
          </vbox>
        </hbox>
        {{endpoint/risk-panel activeDataSourceTab=activeDataSourceTab data=context errorMessage = contextError}}
      </box>
    {{/if}}
  </hbox>
{{/if}}
