{{#if schemaLoading}}
  <centered>
    {{rsa-loader size='larger'}}
  </centered>
{{else}}
  <section class="filters panel-control-group" fit>
    {{host-list/content-filter}}
  </section>
  <hbox>
    <box class="filter-zone">
      <h2>{{t 'investigateHosts.files.filter.filters'}}</h2>
      <box class="favourite-filters">
        {{host-list/content-filter/system-filters}}
      </box>
    </box>
    {{host-list/host-table}}
  </hbox>

{{/if}}
