<div class="title-header">
  {{#rsa-form-button
    class='close-filter'
    defaultAction=openFilterPanel
  }}
    {{rsa-icon name='filter-2' size='small'}}
    <span>{{t 'investigateFiles.filter.filter'}}</span>
  {{/rsa-form-button}}
</div>
<div class='title'>{{t 'investigateHosts.downloads.deleteDownloadedFiles.title'}}</div>
{{#if accessControl.endpointCanManageFiles}}
  <div>
    {{#rsa-form-button
      class='save-local-copy'
      isDisabled=disableActions.saveLocalCopy
      defaultAction=saveLocalCopy
      title=(if disableActions.saveLocalCopy (t 'investigateHosts.downloads.buttons.saveLocalCopyDisabledTooltip'))
    }}
      <span>{{t 'investigateHosts.downloads.buttons.saveLocalCopy'}}</span>
    {{/rsa-form-button}}
    {{#if disableActions.isShowDeleteAction}}
      {{#rsa-form-button
        class='delete-file'
        isDisabled=disableActions.deleteFile
        defaultAction=deleteFiles
        title=(if disableActions.deleteFile (t 'investigateHosts.downloads.buttons.deleteDisabledTooltip'))
      }}
        <span>{{t 'investigateHosts.downloads.buttons.deleteFiles'}}</span>
      {{/rsa-form-button}}
    {{/if}}
  </div>
{{/if}}