<span class='filter-search-icon'> Filter:</span>
{{#each appliedFilters as |control|}}
  {{component control.filterControl config=control}}
{{/each}}
{{content-filter/filter-trigger panelId='moreOptions' filterLabel=(t 'investigateFiles.filter.addMore')}}
{{#rsa-content-tethered-panel isPopover=true displayCloseButton=false position='bottom-right' panelId='moreOptions'}}
  <section class="column-chooser-input">
    {{rsa-form-input value=searchTerm placeholder=(t 'tables.columnChooser.filterPlaceHolder')}}
  </section>
  <ul class="filter-options rsa-dropdown-action-list">
    {{#each filterList as |option|}}
      <li>
        <label class="rsa-form-checkbox-label {{if (or option.selected (gte option.selected.length 0)) 'checked'}}">
          {{rsa-form-checkbox
            checked=option.selected
            change=(action 'onSelection' option)}}
          {{t option.label}}
        </label>
      </li>
    {{/each}}
  </ul>
{{/rsa-content-tethered-panel}}
{{#rsa-form-button class='save-button' defaultAction=(action 'showSaveFiltersModal')}}
  {{t 'investigateFiles.button.save'}}
{{/rsa-form-button}}
{{#rsa-form-button defaultAction=(action 'resetFilters')}}
  {{t 'investigateFiles.button.reset'}}
{{/rsa-form-button}}

{{#rsa-application-modal style=decorator.style eventId='save-search' label=(t decorator.label)}}
  <div class='modal-content rsa-save-search rsa-p-md'>
    <label class="rsa-form-label">
      {{t 'investigateFiles.filter.customFilters.save.description'}}
    </label>
    <div class='rsa-margin name'>
      {{rsa-form-input
        label=(t 'investigateFiles.filter.customFilters.save.name')
        isError=decorator.isError
        maxLength=255
        value=saveFilterName }}
    </div>
    {{#if isNameEmpty}}
      <label class="rsa-form-label rsa-m-t-xs rsa-m-b-xs">
        {{t 'investigateFiles.filter.customFilters.save.emptyMessage'}}
      </label>
    {{/if}}
    {{#if isNameInvalid}}
      <label class="rsa-form-label rsa-m-t-xs rsa-m-b-xs">
        {{t 'investigateFiles.filter.customFilters.save.invalidInput'}}
      </label>
    {{/if}}
    <div class="rsa-btn-group align-right rsa-m-md">
      {{#rsa-form-button style='primary' class= "rsa-m-r-md" isDisabled=decorator.isError click=(action 'saveFilter')}}
        {{t 'investigateFiles.button.save'}}
      {{/rsa-form-button}}
      {{#rsa-form-button click=(action 'closeSaveFilterModal')}}
        {{t 'investigateFiles.button.cancel'}}
      {{/rsa-form-button}}
    </div>
  </div>
{{/rsa-application-modal}}