{{#rsa-content-section-header label='Section Heading'}}{{t 'context.lc.identity'}}{{/rsa-content-section-header}}
<hbox>
  <vbox>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.fileName') value=liveConnectData.fileName}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.md5') value=liveConnectData.id}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.sh1') value=liveConnectData.sha1}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.sh256') value=liveConnectData.sha256}}
    </div>
  </vbox>
  <vbox>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.fileSize') value=liveConnectData.fileSize}}
    </div>
    <vbox class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.compileTime')}}
      {{rsa-content-datetime timestamp=liveConnectData.compileTime}}
    </vbox>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.mimeType') value=liveConnectData.mimeType}}
    </div>
  </vbox>
</hbox>