<box fit class="header-section">
  <hbox fit class="header-section__title">
    <h2>{{title}}</h2>
  </hbox>
</box>
<box class="content-section">
  {{!--If block level contents are provided--}}
  {{#if hasProperties}}
    {{#each properties as |property|}}
    <hbox fit class="content-section__section-name" {{action "toggleBody" property}}>{{property.sectionName}}</hbox>
    {{#if property.isExpanded}}
      {{#each property.fields as |field|}}
        <hbox fit class="content-section__property col-xs-12" align="center">
          {{process-details/process-property-panel/property-name property=field}}
          {{process-details/process-property-panel/property-value property=field}}
        </hbox>
      {{/each}}
    {{/if}}
    <hr class="divider">
    {{else}}
      {{rsa-panel-message message=(t 'investigateHosts.common.emptyMessage')}}
    {{/each}}
  {{else}}
    {{rsa-panel-message message=(t 'investigateHosts.common.emptyMessage')}}
  {{/if}}
</box>
