<div class="content-section">
  {{!--If block level contents are provided--}}
  {{#if hasProperties}}
    {{#each properties as |property|}}
      <hbox fit class="content-section__section-name" {{action "toggleBody" property}}>{{property.sectionName}}</hbox>
      {{#each property.fields as |field|}}
        <hbox fit class="content-section__property col-xs-12" align="center">
          {{process-details/process-property-panel/property-name property=field}}
          {{process-details/process-property-panel/property-value property=field}}
        </hbox>
      {{/each}}
      <hr class="divider">
    {{else}}
      {{rsa-panel-message message=(t 'investigateHosts.common.emptyMessage')}}
    {{/each}}
  {{else}}
    {{rsa-panel-message message=(t 'investigateHosts.common.emptyMessage')}}
  {{/if}}
</div>
