<hbox class="header">

  <box fit class="connector">
    <div class="line"></div>
  </box>

  <hbox fill nowrap justify="between" align="start" class="content">
    <box fill class="source-and-type">

      {{#if item.isCatalyst}}
        {{!Catalyst}}
        <p class="catalyst">Incident Catalyst</p>
      {{else}}
        {{!Related entities}}
        <p class="related">
          <label>Related to Catalyst by:</label>
          <span>
            {{#each item.matched as |match|}}
              {{#if match}}
                <span class="entity">{{match}}</span>
              {{/if}}
            {{/each}}
          </span>
        </p>
      {{/if}}

      {{!Source}}
      <p class="source">
        <label>Source:</label>
        <span>{{indicator/source item.indicator}}</span>
      </p>
    </box>

    {{!Indicator time + event count}}
    <vbox fit nowrap align="end" class="time-and-num-events">
      <p class="time">{{rsa-content-datetime timestamp=item.time displayAsTimeAgo=false displayDate=true displayTime=true}}</p>
      <p class="num-events">{{item.events.length}} {{if (eq item.events.length 1) 'event' 'events'}}</p>
    </vbox>
  </hbox>
</hbox>

<hbox class="main">
  <box fit class="connector">
    <div class="severity">{{item.indicator.alert.severity}}</div>
    <div class="line"></div>
  </box>

  <box fill nowrap justify="between" align="start" class="content">
    {{!Display name}}
    <h3>{{item.name}}</h3>

    {{!Related incident (only for indicators from OTHER incidents)}}
    {{#if isPartOfOtherIncident}}
      <p class="incident">
        <label>Part of Incident:</label>
        <span>{{#link-to 'incident' item.indicator.incidentId}}{{item.indicator.incidentId}}{{/link-to}}</span>
      </p>
    {{/if}}

    {{!Enrichments list}}
    {{#with enrichments as |ens|}}
      <ul class="enrichment-list">
        {{#each ens as |en|}}
          <li class="enrichment">
            {{enrichment/desc en.key score=en.score}}
          </li>
        {{/each}}
      </ul>
    {{/with}}
  </box>
</hbox>