<box xs='9'>
  {{endpoint/file-actionbar
    onSaveFileStatus = (action 'setFileContextFileStatus' tabName selectedFileChecksums fileContextSelections)
    getSavedFileStatus = (action 'getFileContextFileStatus' tabName)
    retrieveRemediationStatus=(action 'retrieveRemediationStatus' tabName)
    resetRiskScore = (action 'resetRiskScoreAction')
    serviceList=serviceList
    metaName='checksumSha256'
    isRemediationAllowed=isRemediationAllowed
    itemList=fileContextSelections
    fileStatusData=fileStatus
    restrictedFileList=restrictedFileList
    serviceId=serviceId
    timeRange=timeRange
    fileDownloadButtonStatus=fileDownloadButtonStatus
    downloadFiles=(action 'onDownloadFilesToServer')
    saveLocalCopy=(action 'onSaveLocalCopy')
    analyzeFile=(action 'onAnalyzeFile')}}
  {{host-detail/utils/file-context-table
    isPaginated=isPaginated
    storeName=storeName
    tabName=tabName
    columnsConfig=columnsConfig
    fileDownloadButtonStatus=fileDownloadButtonStatus
    downloadFiles=(action 'onDownloadFilesToServer')
    saveLocalCopy=(action 'onSaveLocalCopy')
    analyzeFile=(action 'onAnalyzeFile')}}
</box>
{{#if propertyConfig}}
  <box xs='3' class='host-detail-property'>
    <hbox class="flexi-fit">
      {{#each hostDetailPropertyTabs as |tab|}}
        {{#rsa-nav-tab align='left' isActive=tab.selected click=(action 'setHostDetailPropertyTab' tabName tab.name)}}
          <div class="label">{{t tab.label}}</div>
        {{/rsa-nav-tab}}
      {{/each}}
    </hbox>
    {{#if (eq activeHostDetailPropertyTab 'RISK')}}
      {{endpoint/risk-properties
        defaultAction=(action 'getUpdatedRiskScoreContext')
        riskState=risk
        riskType='FILE'
        belongsTo='HOST'
      }}
    {{else if (eq activeHostDetailPropertyTab 'FILE_DETAILS')}}
      <vbox class="host-properties-box">
        <box class='scroll-box'>
          {{endpoint/file-property-panel
            localeNameSpace='investigateHosts.property.file'
            config=propertyConfig
            data=fileProperty}}
        </box>
      </vbox>
    {{/if}}
  </box>
{{/if}}
