{{#if model.lcLoading}}

  <div class="rsa-context-panel__loader">{{rsa-loader size='largest'}}</div>

{{else if liveConnectData}}

  {{#rsa-content-section-header label='Section Heading'}}{{t 'context.lc.reviewStatus'}}{{/rsa-content-section-header}}

  <grid class="rsa-context-panel__liveconnect__reviewstatus" fill>
    <vbox class="rsa-context-panel__liveconnect__reviewstatus__col-1">
      <div class="rsa-context-panel__liveconnect__field">
        {{rsa-content-definition label=(t 'context.lc.status') value=liveConnectData.feedback.status}}
      </div>
      <div class="rsa-context-panel__liveconnect__field">
        <vbox>
          {{rsa-content-definition label=(t 'context.lc.modifiedDate')}}
          {{rsa-content-datetime timestamp=liveConnectData.feedback.dateMarked}}
        </vbox>
      </div>
      <div class="rsa-context-panel__liveconnect__field">
        {{rsa-content-definition label=(t 'context.lc.reviewer') value='##Tony##'}}
      </div>
    </vbox>
    <vbox fill class="rsa-context-panel__liveconnect__reviewstatus__col-2">
      <div class='rsa-form-radio-group' class="rsa-context-panel__liveconnect__field">
        <h4 class='rsa-form-radio-group-label'>{{t 'context.lc.riskConfirmation'}}</h4>
        {{rsa-form-radio model=baz value='safe' label=(t 'context.lc.safe')}}
        {{rsa-form-radio model=baz value='unsafe' label=(t 'context.lc.unsafe')}}
        {{rsa-form-radio model=baz value='unknown' label=(t 'context.lc.unknown')}}
      </div>
      <div class='rsa-form-radio-group' class="rsa-context-panel__liveconnect__field">
        <h4 class='rsa-form-radio-group-label'>{{t 'context.lc.confidenceStatus'}}</h4>
        {{rsa-form-radio model=baz value='high' label=(t 'context.lc.high')}}
        {{rsa-form-radio model=baz value='medium' label=(t 'context.lc.med')}}
        {{rsa-form-radio model=baz value='low' label=(t 'context.lc.low')}}
      </div>
    </vbox>
    <vbox class="rsa-context-panel__liveconnect__reviewstatus__col-3">
      <div class="rsa-context-panel__liveconnect__field">
        {{#rsa-form-select label=(t 'context.lc.riskTags')}}
        {{/rsa-form-select}}
      </div>
    </vbox>
    <vbox class="rsa-context-panel__liveconnect__reviewstatus__col-4">
      <div class="rsa-context-panel__liveconnect__field">
        {{#rsa-form-select label=(t 'context.lc.sectionOrInd')}}
        {{/rsa-form-select}}
      </div>
    </vbox>
    <vbox class="rsa-context-panel__liveconnect__reviewstatus__col-5">
      <div class="rsa-context-panel__liveconnect__field">
        {{#rsa-form-button style='primary'}}{{t 'context.lc.submit'}}{{/rsa-form-button}}
      </div>
    </vbox>
  </grid>

  {{#rsa-content-section-header label='Section Heading'}}{{t 'context.lc.commActivity'}}{{/rsa-content-section-header}}

  <div class="rsa-context-panel__liveconnect__comm-activity">
    <hbox>
      <box fill class="rsa-context-panel__liveconnect__field">
        <vbox>
          {{rsa-content-definition label=(t 'context.lc.firstSeen')}}
          {{rsa-content-datetime timestamp=liveConnectData.firstSeen withTimeAgo=true}}
        </vbox>
      </box>
    </hbox>

    <hbox>
      <vbox>
        <div class="rsa-context-panel__liveconnect__field-name">{{t 'context.lc.activitySS'}}</div>
        <div style="height: 200px; width: 200px;">Donut chart place holder</div>
      </vbox>
      <vbox fill>
        <div class="rsa-context-panel__liveconnect__field-name">{{t 'context.lc.communityTrend'}}</div>
        <div style="height: 200px; width: 200px;">Chart place holder</div>
        {{!#rsa-chart data=liveConnectData.customerPercentageTrend xScale=xScale yScale=yScale xProp='time' yProp='percentage' width='100%' as |data xScale yScale graphHeight|}}
        {{!rsa-line-series data=data xScale=xScale yScale=yScale xProp='time' yProp='percentage'}}
        {{!rsa-x-axis height=graphHeight scale=xScale rotation=-25}}
        {{!rsa-y-axis scale=yScale}}
        {{!/rsa-chart}}

        <div class="rsa-context-panel__liveconnect__comm-activity__desc">
          {{t 'context.lc.communityActivityDesc1' seen=liveConnectData.customerPercentage value=model.lookupKey}}<br>
          {{t 'context.lc.communityActivityDesc2' seen=liveConnectData.customerPercentage submitted=liveConnectData.customerInvestigatedPercentage}}<br>
        </div>
      </vbox>
      <vbox>
        <div class="rsa-context-panel__liveconnect__field-name">{{t 'context.lc.submitTrend'}}</div>
        <div style="height: 200px; width: 200px;">Chart place holder</div>
        <div class="rsa-context-panel__liveconnect__comm-activity__desc">
          {{t 'context.lc.submittedActivityDesc1' submitted=liveConnectData.customerInvestigatedPercentage}}<br>
          {{t 'context.lc.submittedActivityDesc2' unsafe=liveConnectData.customerRiskyFeedbackPercentage}}<br>
          {{t 'context.lc.submittedActivityDesc3' safe=liveConnectData.customerNotRiskyFeedbackPercentage}}<br>
          {{t 'context.lc.submittedActivityDesc4' unknown="##25##"}}<br>
        </div>
      </vbox>
    </hbox>
  </div>

  {{#rsa-content-section-header label='Section Heading'}}{{t 'context.lc.riskIndicators'}}{{/rsa-content-section-header}}

  <div class="rsa-context-panel__liveconnect__risk-indicators">
    <hbox fit>
      <div class="rsa-context-panel__liveconnect__field-name">{{t 'context.lc.percentageTagged'}}</div>
      <div class="rsa-context-panel__liveconnect__label">{{rsa-content-label label='##100% - 70%##' style='danger'}}</div>
      <div class="rsa-context-panel__liveconnect__label">{{rsa-content-label label='##69% - 30%##' style='high'}}</div>
      <div class="rsa-context-panel__liveconnect__label">{{rsa-content-label label='##<29%##' style='medium'}}</div>
      <div class="rsa-context-panel__liveconnect__label">{{rsa-content-label label='##0##' isDisabled=true}}</div>
    </hbox>
  </div>

{{else}}
  {{#rsa-content-section-header label='Section Heading'}}No data from Live Connect{{/rsa-content-section-header}}
{{/if}}