{{#if model.lcLoading}}

  <div class="rsa-context-panel__loader">{{rsa-loader size='largest'}}</div>

{{else if liveConnectData}}

  {{#rsa-content-section-header label='Section Heading'}}{{t 'context.lc.reviewStatus'}}{{/rsa-content-section-header}}

  <grid class="rsa-context-panel__liveconnect__reviewstatus" fill>
    <vbox class="rsa-context-panel__liveconnect__reviewstatus__col-1">
      <div class="rsa-context-panel__liveconnect__field">
        {{rsa-content-definition label=(t 'context.lc.status') value=liveConnectData.feedback.status}}
      </div>
      <div class="rsa-context-panel__liveconnect__field">
        <vbox>
          {{rsa-content-definition label=(t 'context.lc.modifiedDate')}}
          {{rsa-content-datetime timestamp=liveConnectData.feedback.dateMarked}}
        </vbox>
      </div>
      <div class="rsa-context-panel__liveconnect__field">
        {{rsa-content-definition label=(t 'context.lc.reviewer') value='##Tony##'}}
      </div>
    </vbox>
    <vbox fill class="rsa-context-panel__liveconnect__reviewstatus__col-2">
      <div class='rsa-form-radio-group' class="rsa-context-panel__liveconnect__field">
        <h4 class='rsa-form-radio-group-label'>{{t 'context.lc.riskConfirmation'}}</h4>
        {{rsa-form-radio model=baz value='safe' label=(t 'context.lc.safe')}}
        {{rsa-form-radio model=baz value='unsafe' label=(t 'context.lc.unsafe')}}
        {{rsa-form-radio model=baz value='unknown' label=(t 'context.lc.unknown')}}
      </div>
      <div class='rsa-form-radio-group' class="rsa-context-panel__liveconnect__field">
        <h4 class='rsa-form-radio-group-label'>{{t 'context.lc.confidenceStatus'}}</h4>
        {{rsa-form-radio model=baz value='high' label=(t 'context.lc.high')}}
        {{rsa-form-radio model=baz value='medium' label=(t 'context.lc.med')}}
        {{rsa-form-radio model=baz value='low' label=(t 'context.lc.low')}}
      </div>
    </vbox>
    <vbox class="rsa-context-panel__liveconnect__reviewstatus__col-3">
      <div class="rsa-context-panel__liveconnect__field">
        {{#rsa-form-select label=(t 'context.lc.riskTags')}}
        {{/rsa-form-select}}
      </div>
    </vbox>
    <vbox class="rsa-context-panel__liveconnect__reviewstatus__col-4">
      <div class="rsa-context-panel__liveconnect__field">
        {{#rsa-form-select label=(t 'context.lc.sectionOrInd')}}
        {{/rsa-form-select}}
      </div>
    </vbox>
    <vbox class="rsa-context-panel__liveconnect__reviewstatus__col-5">
      <div class="rsa-context-panel__liveconnect__field">
        {{#rsa-form-button style='primary'}}{{t 'context.lc.submit'}}{{/rsa-form-button}}
      </div>
    </vbox>
  </grid>

  {{#rsa-content-section-header label='Section Heading'}}{{t 'context.lc.commActivity'}}{{/rsa-content-section-header}}

  <div class="rsa-context-panel__liveconnect__comm-activity">
    <hbox fill>
      <vbox class="rsa-context-panel__liveconnect__field">
        {{rsa-content-definition label=(t 'context.lc.firstSeen')}}
        {{rsa-content-datetime timestamp=liveConnectData.firstSeen withTimeAgo=true}}
      </vbox>
    </hbox>

    <hbox fill class="rsa-context-panel__liveconnect__comm-activity__charts-parent">
      <vbox class="rsa-context-panel__liveconnect__comm-activity__charts-container">
        <div class="rsa-context-panel__liveconnect__field-name">{{t 'context.lc.communityTrend'}}</div>
        <div class="rsa-context-panel__liveconnect__community_trend">
          {{#rsa-chart data=trendingCommunityActivity xProp='time' yProp='percentage' yDomain=fixedYDomain as |params|}}
            {{rsa-area-series data=params.data xScale=params.xScale yScale=params.yScale height=params.graphHeight xProp='time' yProp='percentage'}}
            {{rsa-x-axis height=params.graphHeight scale=params.xScale tickCount=4}}
            {{rsa-y-axis scale=params.yScale tickCount=5}}
            {{rsa-chart-grids showXGrid=false yScale=params.yScale width=params.graphWidth yTickCount=5}}
          {{/rsa-chart}}
        </div>

        <div class="rsa-context-panel__liveconnect__comm-activity__desc">
          {{t 'context.lc.communityActivityDesc1' seen=liveConnectData.customerPercentage value=model.lookupKey}}<br>
          {{t 'context.lc.communityActivityDesc2' seen=liveConnectData.customerPercentage submitted=liveConnectData.customerInvestigatedPercentage}}<br>
        </div>
      </vbox>
      <vbox class="rsa-context-panel__liveconnect__comm-activity__charts-container">
        <div class="rsa-context-panel__liveconnect__field-name">{{t 'context.lc.submitTrend'}}</div>
        <div class="rsa-context-panel__liveconnect__submission_trend">
          {{#rsa-chart data=trendingSubmissionActivity xProp='time' yProp='percentage' yDomain=fixedYDomain as |params|}}
            {{rsa-area-series data=params.data dataIndex=0 xScale=params.xScale yScale=params.yScale height=params.graphHeight xProp='time' yProp='percentage'}}
            {{rsa-area-series data=params.data dataIndex=1 xScale=params.xScale yScale=params.yScale height=params.graphHeight xProp='time' yProp='percentage'}}
            {{rsa-x-axis height=params.graphHeight scale=params.xScale tickCount=4}}
            {{rsa-y-axis width=params.graphWidth scale=params.yScale tickCount=5}}
            {{rsa-chart-grids showXGrid=false yScale=params.yScale width=params.graphWidth yTickCount=5}}
          {{/rsa-chart}}
        </div>
        <div class="rsa-context-panel__liveconnect__comm-activity__desc">
          {{t 'context.lc.submittedActivityDesc1' submitted=liveConnectData.customerInvestigatedPercentage}}<br>
          {{t 'context.lc.submittedActivityDesc2' unsafe=liveConnectData.customerRiskyFeedbackPercentage}}<br>
          {{t 'context.lc.submittedActivityDesc3' safe=liveConnectData.customerNotRiskyFeedbackPercentage}}<br>
          {{t 'context.lc.submittedActivityDesc4' unknown="##25##"}}<br>
        </div>
      </vbox>
    </hbox>
  </div>

{{else}}
  {{#rsa-content-section-header label='Section Heading'}}No data from Live Connect{{/rsa-content-section-header}}
{{/if}}