{{#rsa-grid}}
  {{#rsa-grid-row collapseHeight=true}}
    {{#rsa-grid-column span=12}}
      {{spec-masthead model=model}}
    {{/rsa-grid-column}}
  {{/rsa-grid-row}}

  {{#rsa-grid-row}}
    {{#rsa-grid-column span=12 isScrollable=true}}
      {{#spec-category title="Styles"}}
        {{#spec-member title="Default"}}
          {{#rsa-form-button}}{{rsa-icon name='account-circle-1'}} Standard Button{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button}}
              <div>
                &#123;{rsa-icon name='account-circle-1'}} Standard Button
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Full Width"}}
          {{#rsa-form-button isFullWidth=true}}{{rsa-icon name='account-circle-1'}} Full Width Button{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button isFullWidth=true}}
              <div>
                &#123;{rsa-icon name='account-circle-1'}} Full Width Button
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Primary"}}
          {{#rsa-form-button isFullWidth=true style='primary'}}Primary{{/rsa-form-button}}

          <code>
            &#123;{#rsa-form-button isFullWidth=true style='primary'}}Primary&#123;{/rsa-form-button}}
          </code>
        {{/spec-member}}

        {{#spec-member title="Danger"}}
          {{#rsa-form-button style='danger'}}Danger{{/rsa-form-button}}

          <code>
            &#123;{#rsa-form-button style='danger'}}Danger&#123;{/rsa-form-button}}
          </code>
        {{/spec-member}}

        {{#spec-member title="Disabled"}}
          {{#rsa-form-button isDisabled=true}}Disabled{{/rsa-form-button}}

          <code>
            &#123;{#rsa-form-button isDisabled=true}}Disabled&#123;{/rsa-form-button}}
          </code>
        {{/spec-member}}
      {{/spec-category}}

      {{#spec-category title="Dropdowns"}}
        {{#spec-member title="Default"}}
          {{#rsa-form-button dropdown='standard'}}Standard Dropdown <ul><li>foo</li><li>bar</li></ul>{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button dropdown='standard'}}
              <div>
                Standard Dropdown
              </div>
              <div>
                &lt;ul>
                <div>
                  &lt;li>foo&lt;/li>               
                </div>
                <div>
                  &lt;li>bar&lt;/li>                
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Full Width"}}
          {{#rsa-form-button isFullWidth=true dropdown='standard'}}{{rsa-icon name='account-circle-1'}} Full Width Button<ul><li>foo</li><li>bar</li></ul>{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button isFullWidth=true dropdown='standard'}}
              <div>
                &#123;{rsa-icon name='account-circle-1'}}
              </div>
              <div>
                Full Width Button
              </div>
              <div>
                &lt;ul>
                <div>
                  &lt;li>foo&lt;/li>                
                </div>
                <div>
                  &lt;li>bar&lt;/li>                
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Primary"}}
          {{#rsa-form-button style='primary' dropdown='standard'}}Primary Dropdown <ul><li>foo</li><li>bar</li></ul>{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button isFullWidth=true dropdown='standard'}}
              <div>
                &#123;{rsa-icon name='account-circle-1'}}
              </div>
              <div>
                Full Width Button
              </div>
              <div>
                &lt;ul>
                <div>
                  &lt;li>foo&lt;/li>                
                </div>
                <div>
                  &lt;li>bar&lt;/li>                
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Danger"}}
          {{#rsa-form-button style='danger' dropdown='standard'}}Danger Dropdown <ul><li>foo</li><li>bar</li></ul>{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button style='danger' dropdown='standard'}}
              <div>
                Danger Dropdown
              </div>
              <div>
                &lt;ul>
                <div>
                  &lt;li>foo&lt;/li>                
                </div>
                <div>
                  &lt;li>bar&lt;/li>                
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Disabled"}}
          {{#rsa-form-button isDisabled=true dropdown='standard'}}Disabled Dropdown <ul><li>foo</li><li>bar</li></ul>{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button isDisabled=true dropdown='standard'}}
              <div>
                Disabled Dropdown
              </div>
              <div>
                &lt;ul>
                <div>
                  &lt;li>foo&lt;/li>                
                </div>
                <div>
                  &lt;li>bar&lt;/li>                
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}
      {{/spec-category}}

      {{#spec-category title="Split Dropdowns"}}
        {{#spec-member title="Default"}}
          {{#rsa-form-button dropdown='split'}}Standard Split Dropdown <ul><li>foo</li><li>bar</li></ul>{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button dropdown='split'}}
              <div>
                Standard Split Dropdown
              </div>
              <div>
                &lt;ul>
                <div>
                  &lt;li>foo&lt;/li>                
                </div>
                <div>
                  &lt;li>bar&lt;/li>                
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Full Width"}}
          {{#rsa-form-button isFullWidth=true dropdown='split'}}{{rsa-icon name='account-circle-1'}} Full Width Button<ul><li>foo</li><li>bar</li></ul>{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button isFullWidth=true dropdown='split'}}
              <div>
                &#123;{rsa-icon name='account-circle-1'}}
              </div>
              <div>
                Full Width Button
              </div>
              <div>
                &lt;ul>
                <div>
                  &lt;li>foo&lt;/li>                
                </div>
                <div>
                  &lt;li>bar&lt;/li>                
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Primary"}}
          {{#rsa-form-button style='primary' dropdown='split'}}Primary Split Dropdown <ul><li>foo</li><li>bar</li></ul>{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button style='primary' dropdown='split'}}
              <div>
                Primary Split Dropdown
              </div>
              <div>
                &lt;ul>
                <div>
                  &lt;li>foo&lt;/li>                
                </div>
                <div>
                  &lt;li>bar&lt;/li>                
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Danger"}}
          {{#rsa-form-button style='danger' dropdown='split'}}Danger Split Dropdown <ul><li>foo</li><li>bar</li></ul>{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button style='danger' dropdown='split'}}
              <div>
                Danger Split Dropdown
              </div>
              <div>
                &lt;ul>
                <div>
                  &lt;li>foo&lt;/li>                
                </div>
                <div>
                  &lt;li>bar&lt;/li>                
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Disabled"}}
          {{#rsa-form-button dropdown='split' isDisabled=true}}Disabled Split Dropdown <ul><li>foo</li><li>bar</li></ul>{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button dropdown='split' isDisabled=true}}
              <div>
                Disabled Split Dropdown
              </div>
              <div>
                &lt;ul>
                <div>
                  &lt;li>foo&lt;/li>                
                </div>
                <div>
                  &lt;li>bar&lt;/li>                
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}
      {{/spec-category}}

      {{#spec-category title="Icon Only"}}
        {{#spec-member title="Default"}}
          {{#rsa-form-button isIconOnly=true}}{{rsa-icon name='account-circle-1'}}{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button isIconOnly=true}}
              <div>
                &#123;{rsa-icon name='account-circle-1'}}
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Danger"}}
          {{#rsa-form-button style='danger' isIconOnly=true}}{{rsa-icon name='account-circle-1'}}{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button style='danger' isIconOnly=true}}
              <div>
                &#123;{rsa-icon name='account-circle-1'}}
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Disabled"}}
          {{#rsa-form-button isIconOnly=true isDisabled=true}}{{rsa-icon name='account-circle-1'}}{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button isIconOnly=true isDisabled=true}}
              <div>
                &#123;{rsa-icon name='account-circle-1'}}
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}
      {{/spec-category}}

      {{#spec-category title="Icon Only with Dropdown"}}
        {{#spec-member title="Default"}}
          {{#rsa-form-button dropdown='standard' isIconOnly=true}}{{rsa-icon name='account-circle-1'}} <ul><li>foo</li><li>bar</li></ul>{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button dropdown='standard' isIconOnly=true}}
              <div>
                &#123;{rsa-icon name='account-circle-1'}}
              </div>
              <div>
                &lt;ul>
                <div>
                  &lt;li>foo&lt;/li>              
                </div>
                <div>
                  &lt;li>bar&lt;/li>                
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Danger"}}
          {{#rsa-form-button dropdown='standard' isIconOnly=true style='danger'}}{{rsa-icon name='account-circle-1'}} <ul><li>foo</li><li>bar</li></ul>{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button dropdown='standard' isIconOnly=true style='danger'}}
              <div>
                &#123;{rsa-icon name='account-circle-1'}}
              </div>
              <div>
                &lt;ul>
                <div>
                  &lt;li>foo&lt;/li>                
                </div>
                <div>
                  &lt;li>bar&lt;/li>                
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}

        {{#spec-member title="Disabled"}}
          {{#rsa-form-button dropdown='standard' isIconOnly=true isDisabled=true}}{{rsa-icon name='account-circle-1'}} <ul><li>foo</li><li>bar</li></ul>{{/rsa-form-button}}

          <code>
            <div>
              &#123;{#rsa-form-button dropdown='standard' isIconOnly=true isDisabled=true}}
              <div>
                &#123;{rsa-icon name='account-circle-1'}}
              </div>
              <div>
                &lt;ul>
                <div>
                  &lt;li>foo&lt;/li>
                </div>
                <div>
                  &lt;li>bar&lt;/li>
                </div>
                &lt;/ul>
              </div>
              &#123;{/rsa-form-button}}
            </div>
          </code>
        {{/spec-member}}
      {{/spec-category}}
    {{/rsa-grid-column}}
  {{/rsa-grid-row}}
{{/rsa-grid}}
