{{#rsa-application-layout-manager class="rsa-respond-index-layout-manager rsa-respond-list"}}
  {{#rsa-application-modal eventId='bulk-edit-changes' label=(t "incident.bulkEdit.unsavedChangesModalHeader") }}
    <div class='modal-content'>
      <p>{{ t "incident.bulkEdit.unsavedChangesModalMessage" }}</p>
      {{#rsa-form-button defaultAction=(action 'closeBulkEditModal')}}
        {{t 'incident.bulkEdit.modalOkButtonLabel'}}
      {{/rsa-form-button}}
    </div>
  {{/rsa-application-modal}}
  {{#rsa-application-layout-panel class="panel-A rsa-respond-list__panelA"}}
    <div class="rsa-respond-list__filter-panel">
      <div class="rsa-respond-list__filter-panel__priority">
        <div class="rsa-respond-list__filter-panel__title">{{t 'incident.fields.priority'}}</div>
        {{#each priorityList as |priority|}}
          {{rsa-form-checkbox
            class=(concat 'priority-' priority.id)
            value=priority.value
            label=(t (concat 'incident.priority.' priority.id))}}
        {{/each}}
      </div>
      <div class="rsa-respond-list__filter-panel__status">
        <div class="rsa-respond-list__filter-panel__title">{{t 'incident.fields.status'}}</div>
        {{#each statusList as |status|}}
          {{rsa-form-checkbox
            class=(concat 'status-' status.id)
            value=status.value
            label=(t (concat 'incident.status.' status.id))}}
        {{/each}}
      </div>
      {{#rsa-form-select label=(t 'incident.list.sources') prompt=(t 'incident.list.filters.sources') optionMaxVisible=availableSources.length
        values=selectedSources class=(concat 'rsa-respond-list__filter-panel__source-selector' (if sourceFilterActive ' source-filter-active'))}}
        {{#each availableSources as |source|}}
          <option value={{source.id}}>{{source.name}}</option>
        {{/each}}
      {{/rsa-form-select}}
      {{#rsa-form-select label=(t 'incident.list.assignee') prompt=(t 'incident.list.filters.assignees') optionMaxVisible=users.length
        values=selectedAssignee class=(concat 'rsa-respond-list__filter-panel__assignee-selector' (if assigneeFilterActive ' assignee-filter-active'))}}
        <option value=-1>{{t 'incident.assignee.none'}}</option>
        {{#each users as |user|}}
          <option value={{user.id}}>{{user.firstName}}</option>
        {{/each}}
      {{/rsa-form-select}}
      <div class="rsa-respond-list__filter-panel__category">
        <div class="rsa-respond-list__filter-panel__title">{{t 'incident.details.overview.categoryTags'}}</div>
        {{rsa-form-tag-manager selectedTags=selectedCategories availableTags=normalizedTreeData addTagsLabel=(t 'incident.details.overview.addCategoryTags')}}
      </div>
      {{#rsa-form-button isFullWidth=true class="rsa-respond-list__filter-panel__reset-button" defaultAction=(action 'resetFilters')}}
        {{t 'incident.list.filters.reset'}}
      {{/rsa-form-button}}
    </div>
  {{/rsa-application-layout-panel}}
  {{#rsa-application-layout-panel class="panel-B"}}
    {{#rsa-content-section-header class='bulk-edit'}}
      <div class="rsa-bulk-edit-button-group">
        {{#rsa-form-button dropdown='standard' isDisabled=isStatusSelectAvailable class='rsa-form-status-select'}}
          {{t 'incident.bulkEdit.statusSelectListLabel'}}
          <ul class='rsa-form-status-select'>
            {{#each statusList as |status|}}
              <li value="{{status.id}}" class={{if status.selected 'selected-value'}} {{ action "updateSelectElement" status.id 'statusSort' statusList}}>{{t (concat 'incident.status.' status.id)}}</li>
            {{/each}}
          </ul>
        {{/rsa-form-button}}

        {{#rsa-form-button dropdown='standard' isDisabled=isSelectAvailable class='rsa-form-assignee-select'}}
          {{t 'incident.bulkEdit.assigneeSelectListLabel'}}
          <ul class='rsa-form-assignee-select'>
            {{#each usersList as |user|}}
              <li value="{{user.id}}" class={{if user.selected 'selected-value'}} {{ action "updateSelectElement" user 'assignee' usersList}}>
                {{#if (eq user.id -1)}}
                  {{t 'incident.assignee.none'}}
                {{else}}
                  {{user.firstName}}
                {{/if}}
              </li>
            {{/each}}
          </ul>
        {{/rsa-form-button}}

        {{#rsa-form-button dropdown='standard' isDisabled=isSelectAvailable class='rsa-form-priority-select'}}
          {{t 'incident.bulkEdit.prioritySelectListLabel'}}
          <ul class='rsa-form-priority-select'>
            {{#each priorityList as |priority|}}
              <li value="{{priority.id}}" class={{if priority.selected 'selected-value'}} {{ action "updateSelectElement" priority.id 'prioritySort' priorityList}}>{{t (concat 'incident.priority.' priority.id)}}</li>
            {{/each}}
          </ul>
        {{/rsa-form-button}}
      </div>
      <div class="rsa-bulk-edit-button-group {{unless haveValuesChanged 'no-border'}}">
        {{#rsa-form-button style='primary' class=(unless haveValuesChanged "is-hidden") mouseUp=(action 'validateBulkSave')}}
          {{t 'incident.bulkEdit.saveButton'}}
        {{/rsa-form-button}}
        {{#rsa-form-button class=(unless haveValuesChanged "is-hidden") mouseUp=(action 'handleCancelButton')}}
          {{t 'incident.bulkEdit.cancelButton'}}
        {{/rsa-form-button}}
        <span class="rsa-bulk-edit-update-message {{unless showSuccessMessage 'is-shown'}}">
          {{rsa-icon name='check-2'}}
          {{t 'incident.bulkEdit.successfulUpdateMessage' totalFields=totalFieldsUpdated count=totalFieldsUpdated }}
        </span>
      </div>
    {{/rsa-content-section-header}}
    {{#rsa-data-table lazy=true items=allIncidents.results columnsConfig=availableColumnsConfig}}
      {{#rsa-data-table/header enableColumnSelector=true as |column|}}
        <span class="title rsa-data-table-title" title="{{if column.title (t column.title) column.field}}">
          {{#if column.headerComponentClass}}
            {{component column.headerComponentClass
              'rsa-data-table/body-cell'
              item=item index=index column=column
              isSelected=headerCheckbox
              mouseUp=(action 'handleHeaderCheckboxClick')
              class="js-respond-listview-checkbox-header"
            }}
          {{else}}
            <span class="js-move-handle js-header-cell-{{column.class}}">{{if column.title (t column.title) column.field}}</span>
          {{/if}}
        </span>
        {{#unless column.disableSort}}
          <span class="js-header-cell-sort-{{column.class}}">
            <button class={{unless (is-equal currentSort column.field) "hideSort expand" "expand"}} {{action 'sortListView' column (if column.isDescending 'asc' 'desc')  on='click'}}>
              {{rsa-icon size="small" name=(if column.isDescending "arrow-down-12" "arrow-up-12")}}
            </button>
          </span>
        {{/unless}}
      {{/rsa-data-table/header}}
      {{#if (is-equal allIncidents.status 'wait')}}
        <div class='respond-loader'>{{rsa-loader size="large"}}</div>
      {{/if}}
      {{#rsa-data-table/body as |item index column|}}
        {{#rsa-data-table/body-cell item=item column=column index=index click=(action 'handleRowClick' column.dataType item)}}
          <div class="{{column.class}}">
            {{#if column.componentClass}}
              {{#if (is-equal column.field 'riskScore')}}
                {{component column.componentClass 'rsa-data-table/body-cell' item=item index=index column=column
                score=(get item column.field) isInline=true style=(call-method this 'badgeStyle' (get item column.field))}}
              {{else if (is-equal column.dataType 'date-time')}}
                {{component column.componentClass 'rsa-data-table/body-cell' item=item index=index column=column  timestamp=(get item column.field)}}
              {{else}}
                {{component
                  column.componentClass 'rsa-data-table/body-cell'
                  item=item
                  index=index
                  column=column
                  isSelected=item.checked
                  mouseUp=(action 'toggleCheckBox' item.id)
                  class=(concat 'js-respond-listview-checkbox js-respond-listview-' item.id)
                }}
              {{/if}}
            {{else}}
              {{#if (is-equal column.field 'statusSort')}}
                {{t (concat 'incident.status.' (get item column.field))}}
              {{else if (is-equal column.field 'prioritySort')}}
                {{t (concat 'incident.priority.' (get item column.field))}}
              {{else if (is-equal column.field 'assigneeFirstLastName')}}
                {{get item 'assignee.firstName'}}
              {{else if (is-equal column.field 'sources')}}
                {{#each (get item column.field) as |source|}}
                  {{rsa-content-label label=(call-method this 'sourceShortName' source)}}
                {{/each}}
              {{else if (or (eq column.field 'groupBySourceIp') (eq column.field 'groupByDestinationIp'))}}
                {{call-method this 'groupByIp' (get item column.field)}}
              {{else}}
                {{get item column.field}}
              {{/if}}
            {{/if}}
          </div>
        {{/rsa-data-table/body-cell}}
      {{/rsa-data-table/body}}
    {{/rsa-data-table}}
  {{/rsa-application-layout-panel}}
{{/rsa-application-layout-manager}}
