{{#rsa-application-layout-manager class="rsa-respond-index-layout-manager rsa-respond-list"}}
  {{#rsa-application-layout-panel class="panel-A rsa-respond-list__panelA"}}
    <div class="rsa-respond-list__filter-panel">
      <div class='rsa-respond-list__filter-panel__time'>
        <div class='date-time-label'>{{t 'incident.list.filters.dateTimeFilterPrompt'}}</div>
        {{#if isBulkEditInProgress}}
          <div class='date-time-options disabled'>
            {{t (concat 'incident.list.filters.dateTimeOptions.' selectedDateFilterOption)}}
          </div>
        {{else}}
          {{#power-select
            tagName=div
            class='date-time-options'
            options=dateTimeFilterOptions
            selected=selectedDateFilterOption
            searchEnabled=false
            onchange=(action 'onDateTimeOptionSelected')
            as |option| }}
            {{t (concat 'incident.list.filters.dateTimeOptions.' option) }}
          {{/power-select}}
        {{/if}}
        <div class='custom-date-start {{unless showCustomDateTime 'hide'}}'>
          {{rsa-form-datetime
            class=(if startDate.startDateValue 'active')
            placeholder=(t 'incident.list.filters.dateTimeFilterStartDate')
            showTime=true
            showSeconds=true
            use24hour=use24hour
            isDisabled=isBulkEditInProgress
            isError=startDate.isError
            errorMessage=startDate.errorMsg
            onCloseAction=(action "onCustomStartDateSelected")
            value=startDate.startDateValue }}
        </div>
        <div class='custom-date-end {{unless showCustomDateTime 'hide'}}'>
          {{rsa-form-datetime
            class=(if endDate.endDateValue 'active')
            placeholder=(t 'incident.list.filters.dateTimeFilterEndDate')
            showTime=true
            showSeconds=true
            use24hour=use24hour
            isDisabled=isBulkEditInProgress
            isError=endDate.isError
            errorMessage=endDate.errorMsg
            onCloseAction=(action "onCustomEndDateSelected")
            value=endDate.endDateValue }}
        </div>
      </div>
      <div class="rsa-respond-list__filter-panel__risk-score">
        <div class="rsa-respond-list__filter-panel__title">{{t 'incident.fields.riskScore'}}</div>
        {{rsa-form-slider
          start=riskScoreStart
          range=riskScoreFilterRange
          step=1
          isDisabled=isBulkEditInProgress
          onUpdate=(action "onRiskScoreFilterUpdate")}}
      </div>
      <div class="rsa-respond-list__filter-panel__priority">
        <div class="rsa-respond-list__filter-panel__title">{{t 'incident.fields.priority'}}</div>
        <ul>
          {{#each priorityList as |priority|}}
            <li>
              <label class="rsa-form-checkbox-label {{concat 'priority-' priority.id}} {{if isBulkEditInProgress 'disabled'}} {{if priority.value 'checked'}}">
                {{rsa-form-checkbox
                  checked=priority.value
                  disabled=isBulkEditInProgress
                  change=(action 'togglePriority' priority)}}
                {{t (concat 'incident.priority.' priority.id)}}
              </label>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="rsa-respond-list__filter-panel__status">
        <div class="rsa-respond-list__filter-panel__title">{{t 'incident.fields.status'}}</div>
        <ul>
          {{#each statusList as |status|}}
            <li>
              <label class="rsa-form-checkbox-label {{concat 'status-' status.id}} {{if isBulkEditInProgress 'disabled'}} {{if status.value 'checked'}}">
                {{rsa-form-checkbox
                  checked=status.value
                  disabled=isBulkEditInProgress
                  change=(action 'toggleStatus' status)}}
                {{t (concat 'incident.status.' status.id)}}
              </label>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="rsa-respond-list__filter-panel__sources">
        <div class="rsa-respond-list__filter-panel__title">{{t 'incident.list.sources'}}</div>
        {{#if isBulkEditInProgress}}
          {{#each selectedSources as |source|}}
            {{rsa-content-label
              label=source
              style='neutral'
              size='small'
            }}
          {{else}}
            <div class='empty-selection'>{{t 'incident.list.filters.sources'}}</div>
          {{/each}}
        {{else}}
          {{#power-select-multiple
            class='rsa-respond-list__filter-panel__source-selector'
            tagName='div'
            placeholder=(t 'incident.list.filters.sources')
            options=sourcesList
            selected=selectedSources
            onchange=(action (mut selectedSources))
            as |source|}}
            {{source}}
          {{/power-select-multiple}}
        {{/if}}
      </div>
      <div class="rsa-respond-list__filter-panel__assignee">
        <div class="rsa-respond-list__filter-panel__title">{{t 'incident.list.assignee'}}</div>
        {{#if isBulkEditInProgress}}
          {{#each selectedAssignees as |assignee|}}
            {{rsa-content-label
              label=(userName assignee)
              style='neutral'
              size='small'
            }}
          {{else}}
            <div class='empty-selection'>{{t 'incident.list.filters.assignees'}}</div>
          {{/each}}
        {{else}}
          {{#power-select-multiple
            class='rsa-respond-list__filter-panel__assignee-selector'
            tagName='div'
            placeholder=(t 'incident.list.filters.assignees')
            options=usersList
            selected=selectedAssignees
            onchange=(action (mut selectedAssignees))
            as |user|}}
            {{userName user}}
          {{/power-select-multiple}}
        {{/if}}
      </div>
      <div class="rsa-respond-list__filter-panel__category">
        <div class="rsa-respond-list__filter-panel__title">{{t 'incident.details.overview.categoryTags'}}</div>
        {{rsa-form-tag-manager
          selectedTags=selectedCategories
          availableTags=normalizedTreeData
          isDisabled=isBulkEditInProgress
          addTagsLabel=(t 'incident.details.overview.addCategoryTags')
        }}
      </div>
      {{#rsa-form-button
        isFullWidth=true
        class="rsa-respond-list__filter-panel__reset-button"
        isDisabled=isBulkEditInProgress
        defaultAction=(action 'resetFilters')
      }}
        {{t 'incident.list.filters.reset'}}
      {{/rsa-form-button}}
    </div>
  {{/rsa-application-layout-panel}}
  {{#rsa-application-layout-panel class="panel-B"}}

    {{rsa-respond/landing-page/respond-index/list-view/bulk-edit-bar
      incidents=allIncidents.results
      users=users
      saveAction=bulkSaveAction
      deleteAction=bulkDeleteAction
      isBulkEditInProgress=isBulkEditInProgress
    }}

    {{#rsa-data-table lazy=true items=allIncidents.results columnsConfig=availableColumnsConfig}}
      {{#rsa-data-table/header enableColumnSelector=true as |column|}}
        <span class="title rsa-data-table-title" title="{{if column.title (t column.title) column.field}}">
          {{#if column.headerComponentClass}}
            {{component column.headerComponentClass
              'rsa-data-table/body-cell'
              item=item index=index column=column
              checked=allIncidentsSelected
              change=(action 'toggleAllIncidents' allIncidents.results)
              class="js-respond-listview-checkbox-header"
            }}
          {{else}}
            <span class="js-move-handle js-header-cell-{{column.class}}">{{if column.title (t column.title) column.field}}</span>
          {{/if}}
        </span>
        {{#unless column.disableSort}}
          <span class="js-header-cell-sort-{{column.class}}">
            <button class={{unless (eq currentSort column.field) "hideSort expand" "expand"}} {{action 'sortListView' column (if column.isDescending 'asc' 'desc')  on='click'}}>
              {{rsa-icon size="small" name=(if column.isDescending "arrow-down-12" "arrow-up-12")}}
            </button>
          </span>
        {{/unless}}
      {{/rsa-data-table/header}}
      {{#if (eq allIncidents.status 'wait')}}
        <div class='respond-loader'>{{rsa-loader size="large"}}</div>
      {{/if}}
      {{#rsa-data-table/body buffer=buffer as |item index column|}}
        {{#rsa-data-table/body-cell item=item column=column index=index click=(action 'handleRowClick' column.dataType item)}}
          <div class="{{column.class}}">
            {{#if column.componentClass}}
              {{#if (eq column.field 'riskScore')}}
                {{component column.componentClass 'rsa-data-table/body-cell' item=item index=index column=column
                score=(get item column.field) isInline=true style=(call-method this 'badgeStyle' (get item column.field))}}
              {{else if (eq column.dataType 'date-time')}}
                {{component column.componentClass 'rsa-data-table/body-cell' item=item index=index column=column  timestamp=(get item column.field)}}
              {{else}}
                {{component
                  column.componentClass 'rsa-data-table/body-cell'
                  item=item
                  index=index
                  column=column
                  checked=item.checked
                  change=(action 'toggleCheckBox' item.id)
                  class=(concat 'js-respond-listview-checkbox js-respond-listview-' item.id)
                }}
              {{/if}}
            {{else}}
              {{#if (eq column.field 'statusSort')}}
                {{t (concat 'incident.status.' (get item column.field))}}
              {{else if (eq column.field 'prioritySort')}}
                {{t (concat 'incident.priority.' (get item column.field))}}
              {{else if (eq column.field 'assigneeName')}}
                {{get item 'assignee.name'}}
              {{else if (eq column.field 'sources')}}
                {{#each (get item column.field) as |source|}}
                  {{rsa-content-label label=(call-method this 'sourceShortName' source)}}
                {{/each}}
              {{else if (or (eq column.field 'groupBySourceIp') (eq column.field 'groupByDestinationIp'))}}
                {{call-method this 'groupByIp' (get item column.field)}}
              {{else}}
                {{get item column.field}}
              {{/if}}
            {{/if}}
          </div>
        {{/rsa-data-table/body-cell}}
      {{/rsa-data-table/body}}
    {{/rsa-data-table}}
  {{/rsa-application-layout-panel}}
{{/rsa-application-layout-manager}}
