<hbox class="rsa-button-group">
  {{#rsa-form-button
     title=(if isDisabled (t 'investigateShared.endpoint.fileActions.pivotToInvestigateDisableToolTip' label=label))
     class="event-analysis"
     defaultAction=(action 'processEventAnalysis')
     isDisabled=isDisabled}}
    {{rsa-icon name='expand-6' size='small' title=(t 'investigateShared.endpoint.fileActions.pivotToInvestigate')}}
    {{t 'investigateShared.endpoint.fileActions.pivotToInvestigate'}}
  {{/rsa-form-button}}
  {{#click-outside action=(action "clickOutside")}}
    {{#rsa-form-button class="rsa-split-dropdown" isDisabled=isDisabled isActive=isExpanded defaultAction=(action 'toggleExpand')}}
      {{rsa-icon name="arrow-down-12"}}
    {{/rsa-form-button}}
    {{#button-menu isExpanded=isExpanded style=offsetsStyle}}
      {{#each categories as |category|}}
        <li>
          <a {{action 'processMenuItem' category.category}}>
            {{t category.label}}
          </a>
        </li>
      {{/each}}
    {{/button-menu}}
  {{/click-outside}}
</hbox>

