<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="Generic Layouts with Flexi"}}
      {{#spec-member title="Header with scrollable content"}}
        <vbox class="layout-demo">
          <vbox fit>
            <h1>Header Text</h1>
          </vbox>
          <vbox>
            <div class="scroll-box">
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
            </div>
          </vbox>
        </vbox>
        {{!-- BEGIN-SNIPPET layout1
        <vbox class="layout-demo">
          <vbox fit>
            <h1>Header Text</h1>
          </vbox>
          <vbox>
            <div class="scroll-box">
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
              <p>Text</p>
            </div>
          </vbox>
        </vbox>
        END-SNIPPET --}}
        {{code-snippet name="layout1.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Header spanning panels with scrollable content"}}
        <vbox class="layout-demo">
          <vbox fit>
            <h1>Header Text</h1>
          </vbox>
          <hbox>
            <vbox sm="4">
              <div class="scroll-box">
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
              </div>
            </vbox>

            <vbox sm="4">
              <div class="scroll-box">
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
              </div>
            </vbox>

            <vbox sm="4">
              <div class="scroll-box">
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
              </div>
            </vbox>
          </hbox>
        </vbox>
        {{!-- BEGIN-SNIPPET layout2
        <vbox class="layout-demo">
          <vbox fit>
            <h1>Header Text</h1>
          </vbox>
          <hbox>
            <vbox sm="4">
              <div class="scroll-box">
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
              </div>
            </vbox>

            <vbox sm="4">
              <div class="scroll-box">
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
              </div>
            </vbox>

            <vbox sm="4">
              <div class="scroll-box">
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
              </div>
            </vbox>
          </hbox>
        </vbox>
        END-SNIPPET --}}
        {{code-snippet name="layout2.hbs"}}
      {{/spec-member}}
    {{/spec-category}}

    {{#spec-category}}
      {{#spec-member
        title="Generic Transition"
        subtitle="PANEL SIZE OPTIONS: 'hidden', 'quarter', 'main', 'full' PANEL CLASS OPTIONS: journal-panel, context-panel, panel-A, panel-B, panel-C, panel-D, panel-E"}}
        {{#rsa-application-layout-manager}}
          {{#rsa-application-layout-panel class="panel-A"}}
            <span {{action 'expandA'}}>
              Expand Panel A
            </span>
          {{/rsa-application-layout-panel}}
          {{#rsa-application-layout-panel class="panel-B"}}
            <span {{action 'expandB'}}>
              Expand Panel B
            </span>
          {{/rsa-application-layout-panel}}
        {{/rsa-application-layout-manager}}

        <p>In the Route:</p>
        {{!-- BEGIN-SNIPPET layout3
        actions: {
          expandA() {
            this.set('layoutService.main', 'panelA');
            this.set('layoutService.panelA', 'main');
            this.set('layoutService.panelB', 'quarter');
          },
          expandB() {
            this.set('layoutService.main', 'panelB');
            this.set('layoutService.panelA', 'quarter');
            this.set('layoutService.panelB', 'main');
          }
        }
        END-SNIPPET --}}
        {{code-snippet name="layout3.hbs"}}

        <p>In the Template:</p>
        {{!-- BEGIN-SNIPPET layout4
        {{#rsa-application-layout-manager}}
          {{#rsa-application-layout-panel class="panel-A"}}
            <span {{action 'expandA'}}>
              Expand Panel A
            </span>
          {{/rsa-application-layout-panel}}
          {{#rsa-application-layout-panel class="panel-B"}}
            <span {{action 'expandB'}}>
              Expand Panel B
            </span>
          {{/rsa-application-layout-panel}}
        {{/rsa-application-layout-manager}}
        END-SNIPPET --}}
        {{code-snippet name="layout4.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Toggle Panel Full Width"}}
        {{#rsa-application-layout-manager}}
          {{#rsa-application-layout-panel class="panel-C"}}
            <span {{action 'expandC'}}>
              Expand Panel C
            </span>
          {{/rsa-application-layout-panel}}
          {{#rsa-application-layout-panel class="panel-D"}}
            <span {{action 'expandDFullWidth'}}>
              Toggle Panel D Full Width
            </span>
          {{/rsa-application-layout-panel}}
        {{/rsa-application-layout-manager}}

        <p>In the Route:</p>
        {{!-- BEGIN-SNIPPET layout5
        actions: {
          expandC() {
            this.set('layoutService.main', 'panelC');
            this.set('layoutService.panelC', 'main');
            this.set('layoutService.panelD', 'quarter');
          },
          expandDFullWidth() {
            this.get('layoutService').toggleFullWidthPanel('panelD');
          }
        }
        END-SNIPPET --}}
        {{code-snippet name="layout5.hbs"}}

        <p>In the Template:</p>
        {{!-- BEGIN-SNIPPET layout6
        {{#rsa-application-layout-manager}}
          {{#rsa-application-layout-panel class="panel-C"}}
            <span {{action 'expandC'}}>
              Expand Panel C
            </span>
          {{/rsa-application-layout-panel}}
          {{#rsa-application-layout-panel class="panel-D"}}
            <span {{action 'expandDFullWidth'}}>
              Toggle Panel D Full Width
            </span>
          {{/rsa-application-layout-panel}}
        {{/rsa-application-layout-manager}}
        END-SNIPPET --}}
        {{code-snippet name="layout6.hbs"}}
      {{/spec-member}}

    {{/spec-category}}
  </div>
</hbox>
