<div class='rsa-context-panel__endpoint__machines'>
  {{context-panel/dynamic-grid dSDetails=dataSource.Machines.details}}
</div>
<div class='rsa-context-panel__endpoint__data-table'>
  <div class={{columnLength.Modules}}>
    {{context-panel/data-table dSDetails=dataSource.Modules.details}}
  </div>
  <div class={{columnLength.IOC}}>
    {{context-panel/data-table dSDetails=dataSource.IOC.details}}
  </div>
</div>