<box class='process-tree-table-box'>
  {{#rsa-data-table
    items=visibleItems
    tabName='PROCESS'
    agentCountMapping=agentCountMapping
    selectedIndex=selectedRowIndex
    lazy=true
    onRowClick=(action "handleRowClickAction")
    columnsConfig=columnsConfig}}

    {{#host-detail/utils/file-context-table/header enableColumnFilter=true translateTitles=true enableColumnSelector=true as |column|}}
      {{#if (eq column.dataType "checkbox")}}
        <label class="rsa-form-checkbox-label  {{if areAllSelected 'checked'}}">
          {{rsa-form-checkbox checked=areAllSelected change=(action 'selectAllProcess')}}
        </label>
      {{else}}
        <span class='js-move-handle'>
          {{t column.title}}
        </span>
      {{/if}}
      {{#unless column.disableSort}}
        {{rsa-icon
          click=(action 'sort' column)
          name=(if column.isDescending "arrow-down-7" "arrow-up-7")
          class="sort"}}
      {{/unless}}
    {{/host-detail/utils/file-context-table/header}}
    {{#if isProcessTreeLoading}}
      <centered>
        {{rsa-loader size='larger'}}
      </centered>
    {{else}}
      {{#host-detail/utils/file-context-table-body
        closePropertyPanel=closePropertyPanel
        rowComponentClass=(
          component 'endpoint/file-custom-row'
          serviceList=serviceList
          showProcessAnalysis = true
          showResetRiskScore = false
          selections=selectedProcessList
          beforeContextMenuShow=(action 'beforeContextMenuShow')
          editFileStatus=(action 'showEditFileStatus')
          pivotToInvestigate=(action 'pivotToInvestigate')
          navigateToProcessAnalysis=(action 'navigateToProcessAnalysis')
          isRemediationAllowed=isRemediationAllowed
          restrictedFileList=restrictedFileList
          fileDownloadButtonStatus=fileDownloadButtonStatus
          downloadFiles=downloadFiles
          saveLocalCopy=saveLocalCopy
          serviceId=serviceId
          timeRange=timeRange
          analyzeFile=analyzeFile
          retrieveRemediationStatus=(action 'retrieveRemediationStatus' 'PROCESS')
          onSaveFileStatus = (action 'setFileContextFileStatus' 'PROCESS' selectedFileChecksums)
        )
        noResultsMessage=(t 'investigateHosts.process.message.noResultsMessage') as |item index column|}}
        {{#if column.componentClass}}
          {{#if (eq column.dataType 'tree-column')}}
            {{#rsa-data-table/body-cell item=item column=column}}
              {{host-detail/process/process-tree/process-name
                serviceList=serviceList
                agentId=agentId
                item=item
                index=index
                osType=osType
                onToggleExpand=(action 'handleToggleExpand')}}
            {{/rsa-data-table/body-cell}}
          {{else}}
            {{#rsa-data-table/body-cell item=item column=column}}
              <label class="rsa-form-checkbox-label {{if (is-selected selectedProcessList item) 'checked'}}">
                {{rsa-form-checkbox checked=false change=(action 'toggleProcessSelection' item)}}
              </label>
            {{/rsa-data-table/body-cell}}
          {{/if}}
        {{else}}
          {{#if (eq column.format 'DOWNLOADSTATUS')}}
            {{host-detail/utils/table-cell item=item column=column}}
          {{else if (eq column.field 'fileProperties.score')}}
            {{host-detail/utils/table-cell item=item column=column}}
          {{else if (eq column.field 'machineCount')}}
            {{#rsa-data-table/body-cell item=item column=column}}
              {{endpoint/machine-count item=item machineCountMapping=agentCountMapping}}
            {{/rsa-data-table/body-cell}}
          {{else if (eq column.field 'name')}}
            {{#rsa-data-table/body-cell item=item column=column class='process-name'}}
              {{#link-to (query-params tabName='PROCESS' subTabName='process-details' pid=item.pid )}}
                {{get-field item column timezone dateFormat timeFormat i18n.locale}}
              {{/link-to}}
            {{/rsa-data-table/body-cell}}
          {{else}}
            {{host-detail/utils/table-cell item=item column=column}}
          {{/if}}
        {{/if}}
      {{/host-detail/utils/file-context-table-body}}
    {{/if}}
  {{/rsa-data-table}}
</box>
<box class='process-tree-table-footer'>
  {{host-table-footer total=visibleItems.length index=visibleItems.length label='processes' selectedItems=selectedProcessList.length }}
</box>

{{#if showServiceModal}}
  {{endpoint/pivot-to-investigate/modal
    serviceList=serviceList
    metaName='checksumSha256'
    itemList=itemList
    serviceId=serviceId
    timeRange=timeRange
    label='process'
    closeModal=(action 'onCloseServiceModal')}}
{{/if}}
{{#if showFileStatusModal}}
  {{endpoint/edit-file-status/modal
    itemList=selectedProcessList
    restrictedFileList=restrictedFileList
    onSaveFileStatus=(action 'setFileContextFileStatus' 'PROCESS' selectedFileChecksums selectedProcessList)
    retrieveRemediationStatus=(action 'retrieveRemediationStatus' 'PROCESS')
    data=fileStatus
    isRemediationAllowed=isRemediationAllowed
    closeModal=(action 'onCloseEditFileStatus')}}
{{/if}}
{{#if showResetScoreModal}}
  {{#rsa-application-modal
    autoOpen=true
    label=(t 'investigateFiles.riskScore.label')
    onClose=(action 'onResetScoreModalClose')}}
    <div class='modal-content reset-risk-score'>
      {{t 'investigateFiles.riskScore.confirmMessage'}}
      <div class="confirmationButtons">
        {{#rsa-form-button class="closeReset" click=(action 'onResetScoreModalClose') }}{{t 'investigateFiles.riskScore.cancel'}}{{/rsa-form-button}}
        {{#rsa-form-button class="resetButton" style='primary' click=(action 'resetRiskScoreAction')}}
          {{t 'investigateFiles.riskScore.reset'}}
        {{/rsa-form-button}}
      </div>
    </div>
  {{/rsa-application-modal}}
{{/if}}
