<hbox>
  {{#click-outside action=(action 'collapseManagerList')}}

    {{list-manager/list-manager-container/list-menu-trigger
      stateLocation=stateLocation
      listOpened=(action 'listOpened')
    }}

    {{#rsa-button-menu isExpanded=isExpanded style=offsetsStyle}}
      {{#if isExpanded}}
        {{#if isListView}}
          <div class='list-body'>
            {{yield (hash
                filter=(component 'list-manager/list-manager-container/list-filter'
                  stateLocation=stateLocation
                )
              )
            }}
            {{yield (hash
                itemList=(component 'list-manager/list-manager-container/item-list'
                  stateLocation=stateLocation
                  itemSelection=(action 'handleItemSelection')
                )
              )
            }}
          </div>

          {{list-manager/list-manager-container/list-footer
            stateLocation=stateLocation
          }}
        {{else}}
          {{yield (hash
              details=(component 'list-manager/list-manager-container/item-details'
                stateLocation=stateLocation
                itemSelection=(action 'handleItemSelection')
              )
            )
          }}
        {{/if}}
      {{/if}}
    {{/rsa-button-menu}}
  {{/click-outside}}
</hbox>
