<hbox>
  {{#click-outside action=(action 'collapseManagerList')}}

    <div class='rsa-button-group'>
      {{#rsa-form-button
        class='list-caption'
        defaultAction=(action 'toggleExpandManagerList')
        title=titleTooltip
      }}
        {{caption}}
      {{/rsa-form-button}}
      {{#rsa-form-button
        class='rsa-split-dropdown'
        defaultAction=(action 'toggleExpandManagerList')
      }}
        {{rsa-icon name='arrow-down-12'}}
      {{/rsa-form-button}}
    </div>

    {{#rsa-button-menu isExpanded=isExpanded style=offsetsStyle}}

      {{#if isExpanded}}

        {{#if isListView}}
          <div class='list-body'>

            {{yield (hash
                filter=(component listFilterComponent
                  listLocation=listLocation
                )
              )
            }}
            
            {{yield (hash
                itemList=(component itemListComponent
                  listLocation=listLocation
                  itemSelection=(action 'handleItemSelection')
                  editItem=(action 'editItem')
                )
              )
            }}
          </div>

          {{list-manager/list-manager-container/list-footer
            listLocation=listLocation
            createItem=(action 'editItem')
          }}

        {{else}}

          {{yield (hash
              details=(component itemDetailsComponent
                listLocation=listLocation
                detailsDone=(action 'detailsDone')
                item=itemForEdit
                itemSelection=(action 'handleItemSelection')
              )
            )
          }}

        {{/if}}

      {{/if}}

    {{/rsa-button-menu}}
  {{/click-outside}}
</hbox>
