<label>
  {{t 'investigateHosts.hosts.title'}} {{#if totalItems }} ({{totalItems}}) {{/if}}
</label>
<hbox class='host-table__toolbar-buttons'>
  {{#rsa-form-button click=(action 'openInitiateScanModal') style=warningClass isDisabled=allAreEcatAgents}}
    {{t 'investigateHosts.hosts.button.initiateScan'}}
  {{/rsa-form-button}}
  {{#if tooManyHostsSelected}}
    {{#rsa-content-tethered-panel displayCloseButton=false style='error' position='bottom' panelId=panelId}}
      <p>{{t 'investigateHosts.hosts.initiateScan.modal.error2'}}</p>
    {{/rsa-content-tethered-panel}}
  {{/if}}
  {{#rsa-form-button click=(action 'openCancelScanModal' ) isDisabled=allAreEcatAgents}}
    {{t 'investigateHosts.hosts.moreActions.cancelScan'}}
  {{/rsa-form-button}}

  {{host-list/host-table/action-bar/export-button}}

  {{#rsa-form-button isDisabled=noHostsSelected click=(action 'openThickClient')}}
    {{t 'investigateHosts.hosts.moreActions.openIn'}}
  {{/rsa-form-button}}

  {{#rsa-form-button click=(action 'toggleDeleteHostsModal') isDisabled=noHostsSelected}}
    {{t 'investigateHosts.hosts.button.delete'}}
  {{/rsa-form-button}}
</hbox>


