<hbox class='host-table__toolbar-buttons'>
  <h2 class="title-header">
    {{#rsa-form-button class='close-zone' click=openFilterPanel }}
      {{rsa-icon name='filter-2' size='small'}}
      <span>{{t 'investigateFiles.filter.filter'}}</span>
    {{/rsa-form-button}}
  </h2>
  {{service-selector services=servers serviceId=serverId onServiceSelection=(action 'handleServiceSelection')}}
  <div class="divider"></div>
  {{endpoint/pivot-to-event-analysis selections=selections pivotToInvestigate=pivotToInvestigate}}
  {{#rsa-form-button class='start-scan-button' isDisabled=noHostsSelected click=(action showScanModal 'START_SCAN')}}
    {{t 'investigateHosts.hosts.button.initiateScan'}}
  {{/rsa-form-button}}
  {{#rsa-form-button class='stop-scan-button' isDisabled=noHostsSelected click=(action showScanModal 'STOP_SCAN')}}
    {{t 'investigateHosts.hosts.moreActions.cancelScan'}}
  {{/rsa-form-button}}
  {{#rsa-form-button class='delete-host-button' isDisabled=noHostsSelected click=showConfirmationModal}}
    {{t 'investigateHosts.hosts.button.delete'}}
  {{/rsa-form-button}}
  {{endpoint/reset-risk-score buttonType='button' selectedList=selectedHostList riskType='HOST' resetRiskScore=(action 'resetRiskScore')}}
  {{host-list/host-table/action-bar/export-button}}
</hbox>


