<hbox class='host-table__toolbar-buttons'>
  <h2 class="title-header">
    {{#rsa-form-button class='close-zone' click=openFilterPanel }}
      {{rsa-icon name='filter-2' size='small'}}
      <span>{{t 'investigateFiles.filter.filter'}}</span>
    {{/rsa-form-button}}
  </h2>
  {{service-selector services=servers serviceId=serverId onServiceSelection=(action 'handleServiceSelection')}}
  {{host-scan/scan-command command='START_SCAN'}}
  {{host-scan/scan-command command='STOP_SCAN'}}
  {{#rsa-button-with-confirmation
    isDisabled=noHostsSelected
    class='delete-host-button'
    title=(t 'investigateHosts.hosts.deleteHosts.modal.title' count=selectedHostList.length)
    confirmationMessage=(t 'investigateHosts.hosts.deleteHosts.modal.message')
    onConfirm=( action 'handleDeleteHosts')}}
    {{t 'investigateHosts.hosts.button.delete'}}
  {{/rsa-button-with-confirmation}}
  {{host-list/host-table/action-bar/export-button}}
</hbox>


