<label>
  {{t 'investigateHosts.hosts.title'}} {{#if totalItems }} ({{totalItems}}) {{/if}}
</label>
<hbox class='host-table__toolbar-buttons'>

  {{host-scan/scan-command command='START_SCAN'}}

  {{#rsa-form-button click=(action 'openCancelScanModal' ) isDisabled=allAreEcatAgents}}
    {{t 'investigateHosts.hosts.moreActions.cancelScan'}}
  {{/rsa-form-button}}

  {{host-list/host-table/action-bar/export-button}}

  {{#rsa-form-button isDisabled=noHostsSelected click=(action 'openThickClient')}}
    {{t 'investigateHosts.hosts.moreActions.openIn'}}
  {{/rsa-form-button}}

  {{#rsa-button-with-confirmation
    isDisabled=noHostsSelected
    class='delete-host-button'
    title=(t 'investigateHosts.hosts.deleteHosts.modal.title' count=selectedHostList.length)
    confirmationMessage=(t 'investigateHosts.hosts.deleteHosts.modal.message')
    noteMessage=(t 'investigateHosts.hosts.deleteHosts.modal.note')
    onConfirm=( action 'handleDeleteHosts')}}
    {{t 'investigateHosts.hosts.button.delete'}}
  {{/rsa-button-with-confirmation}}

</hbox>


