{{#rsa-application-layout-manager class="rsa-live-content-layout-manager"}}

  {{#rsa-application-layout-panel class="panel-A rsa-live-search-criteria-panel"}}
    <vbox>
      <vbox fit>
        {{#rsa-content-section-header}}
          <h1>{{t 'live.search.searchCriteria'}}</h1>
          <span class="panel-toggle" {{action 'toggleSearchCriteriaPanel'}}>
            {{#if isCriteriaPanelCollapsed}}
              {{rsa-icon name="search"}}
            {{else}}
              {{rsa-icon name="close"}}
            {{/if}}
          </span>
        {{/rsa-content-section-header}}
      </vbox>

      {{rsa-live/search-criteria
        resourceTypes=(readonly resourceTypes)
        media=(readonly media)
        metaKeys=(readonly metaKeys)
        metaValues=(readonly metaValues)
        categories=(readonly categories)
        searchCriteria=(readonly searchCriteria)
        onchange="search"}}

    </vbox>
  {{/rsa-application-layout-panel}}

  {{#rsa-application-layout-panel class="panel-B rsa-live-search-results-panel"}}
    <vbox>
      <vbox fit>

        {{#rsa-content-section-header}}
          <h1><span class="result-count">{{searchResults.totalItems}}</span>{{t 'live.search.matchingResources'}}</h1>
        {{/rsa-content-section-header}}
      </vbox>

      {{rsa-live/search-results showDetailsPanel=(action 'showDetailsPanel')}}
    </vbox>
  {{/rsa-application-layout-panel}}

  {{#rsa-application-layout-panel class="panel-C rsa-live-search-result-details-panel"}}
    <vbox>
      <vbox fit>
        {{#rsa-content-section-header}}
          <span class="panel-toggle" {{action 'toggleSearchCriteriaPanel'}}>
            {{rsa-icon name="close"}}
          </span>
          <h1>{{t 'live.search.resourceDetailsTitle'}}</h1>
        {{/rsa-content-section-header}}
      </vbox>
      <vbox class="resource-details">
        <div class="scroll-box">
          {{rsa-live/search-result-details}}
        </div>
      </vbox>
    </vbox>
  {{/rsa-application-layout-panel}}
{{/rsa-application-layout-manager}}