{{#rsa-data-table
  lazy=true
  fitToWidth=true
  items=items
  itemsCount=itemsCount
  selectedIndex=selectedIndex
  columnsConfig=extendedColumns
  language=language
  aliases=aliases
  onRowClick=(action 'onRowClick')
  loadLogsAction=(action 'eventsLogsGet')
  scrollToInitialSelectedIndex=true
  enableGrouping=true
  groupingSize=groupingSize
  threshold=threshold
  searchMatches=searchMatches
  searchTerm=searchTerm
  searchScrollIndex=searchScrollIndex
  eventTableFormattingOpts=eventTableFormattingOpts
  visibleColumnsDidChange=(action 'setVisibleColumns')
}}

  {{#rsa-data-table/header
    translateTitles=false
    enableColumnSelector=true as |column|}}
    {{#with (meta-key-alias column.field language) as |names|}}
      {{#if (eq column.field 'checkbox')}}
        {{!-- 'Select All' enabled only once the events are done streaming & query has results --}}
        <label
          class="rsa-form-checkbox-label {{if isSelectAllDisabled 'disabled'}} {{if areAllEventsSelected 'checked'}}"
          title={{if isSelectAllDisabled (t 'investigate.events.selectAllDisabled') (t 'investigate.events.selectAll')}}>
          {{rsa-form-checkbox
            checked=areAllEventsSelected
            change=(action 'toggleSelectAllEvents')
            disabled=isSelectAllDisabled
          }}
        </label>
      {{else}}
        <h2 class="title" title="{{if column.title column.title names.bothNames}}">
          {{#if (and column.field sortableColumns canSort)}}
            {{#if (contains column.field sortableColumns)}}
              {{#if (eq sortField column.field)}}
                {{#if (eq sortDirection 'Ascending')}}
                  <span class="sort-indicator active" {{action 'toggleSort' column.field}}>
                    {{rsa-icon name="arrow-up-7" size="small"}}
                  </span>
                {{else}}
                  <span class="sort-indicator active" {{action 'toggleSort' column.field}}>
                    {{rsa-icon name="arrow-down-7" size="small"}}
                  </span>
                {{/if}}
              {{else}}
                <span class="sort-indicator" {{action 'toggleSort' column.field}}>
                  {{rsa-icon name="arrow-up-7" size="small"}}
                </span>
              {{/if}}
              <span class="js-move-handle">
                {{if column.title column.title names.displayName}}
              </span>
            {{else}}
              {{#rsa-content-tethered-panel-trigger panel=(concat 'columnSortTooltip' column.displayIndex)}}
                <span class="js-move-handle">
                  {{if column.title column.title names.displayName}}
                </span>
              {{/rsa-content-tethered-panel-trigger}}
            {{/if}}
          {{else}}
            {{#rsa-content-tethered-panel-trigger panel=(concat 'columnSortTooltip' column.displayIndex)}}
              <span class="js-move-handle">
                {{if column.title column.title names.displayName}}
              </span>
            {{/rsa-content-tethered-panel-trigger}}
          {{/if}}

          {{#rsa-content-tethered-panel displayCloseButton=false position='top' panelId=(concat 'columnSortTooltip' column.displayIndex)}}
            <section>
              {{events-table-container/events-table/sort-tooltip
                field=column.field
                disableSort=(not canSort)
                notIndexedAtValue=notIndexedAtValue
                notSingleton=notSingleton
                notValid=notValid
              }}
            </section>
          {{/rsa-content-tethered-panel}}
        </h2>
      {{/if}}
    {{/with}}
  {{/rsa-data-table/header}}

  {{events-table-container/body-container
    buffer=5
    selectedItems=selectedEventIds
    allItemsSelected=areAllEventsSelected
    rowComponentClass="events-table-container/row-container"
    noResultsMessage=noResultsMessage
  }}

  {{events-table-container/events-footer}}

{{/rsa-data-table}}
