<header>
    <h2 title="{{if incident (concat incident.id ": " incident.name) ""}}">
        {{#if incident}}
            <span class="rsa-id">{{incident.id}}:</span>
            <span class="rsa-name">{{incident.name}}</span>
        {{else}}
            {{t "respond.incidentDetails.title"}}
        {{/if}}
    </h2>
</header>
<section class="rsa-main">
    {{#if incident}}

        <ul class="rsa-tile-list">

            <!-- Summary section: -->
            <li class="rsa-card rsa-summary">
                <header>
                    <h2>{{t "respond.incidentDetails.summary"}}</h2>
                </header>
                <section>
                    <ul class="rsa-stat-list">

                        {{#rsa-field class="rsa-stat rsa-alertCount" label=(t "incident.fields.alertCount")}}
                            {{incident.alertCount}}
                        {{/rsa-field}}

                        {{#rsa-field class="rsa-stat rsa-quartile" label=(t "incident.fields.averageAlertRiskScore")
                            data-field="averageAlertRiskScore"
                            data-value=(which-quartile incident.averageAlertRiskScore)}}
                            {{incident.averageAlertRiskScore}}
                        {{/rsa-field}}

                        {{#rsa-field class="rsa-stat rsa-quartile" label=(t "incident.fields.riskScore")
                            data-field="riskScore"
                            data-value=(which-quartile incident.riskScore)}}
                            {{incident.riskScore}}
                        {{/rsa-field}}

                        {{#rsa-field class="rsa-stat rsa-quartile" label=(t "incident.fields.priority")
                            data-field="priority"
                            data-value=incident.prioritySort}}
                            {{t (concat "incident.priority." incident.prioritySort)}}
                        {{/rsa-field}}

                    </ul>
                    <ul class="rsa-stat-list">

                        {{#rsa-field class="rsa-stat rsa-description" label=(t "incident.fields.description")}}
                            {{if incident.summary incident.summary (t "incident.description.none")}}
                        {{/rsa-field}}

                    </ul>
                </section>
            </li>

            <!-- Details section: -->
            <li class="rsa-card rsa-details">
                <header>
                    <h2>{{t "respond.incidentDetails.details"}}</h2>
                </header>
                <section>
                    <ul class="rsa-stat-list">

                        {{#rsa-field class="rsa-stat rsa-status" label=(t "incident.fields.status")}}
                            {{t (concat "incident.status." incident.statusSort)}}
                        {{/rsa-field}}

                    </ul>
                    <ul class="rsa-field-list">

                        {{#rsa-field class="rsa-assignee" label=(t "incident.fields.assignee")}}
                            {{if incident.assignee incident.assignee.name (t "incident.assignee.none")}}
                        {{/rsa-field}}

                        {{#rsa-field label=(t "incident.fields.lastUpdated")}}
                            {{format-moment incident.lastUpdated "YYYY/MM/DD H:mm.ss (Z)"}} {{#if incident.lastUpdatedByUser.name}}{{t "respond.incidentDetails.by"}} {{incident.lastUpdatedByUser.name}}{{/if}}
                        {{/rsa-field}}

                        {{#rsa-field label=(t "incident.fields.createdDate")}}
                            {{format-moment incident.created "YYYY/MM/DD H:mm.ss (Z)"}} {{#if incident.createdBy}}{{t "respond.incidentDetails.by"}} {{incident.createdBy}}{{/if}}
                        {{/rsa-field}}

                        {{#rsa-field label=(t "incident.fields.sources")}}
                            <ul class="rsa-csv-list">
                                {{#each incident.sources as |source|}}
                                    <li>{{source}}</li>
                                {{/each}}
                            </ul>
                        {{/rsa-field}}

                        {{#rsa-field label=(t "incident.fields.categories")}}
                            <ul class="rsa-tag-list">
                                {{#each incident.categories as |category|}}
                                    <li class="rsa-tag"
                                        title="{{category.parent}} - {{category.name}}"
                                            >{{category.parent}} - {{category.name}}</li>
                                {{/each}}
                            </ul>
                        {{/rsa-field}}

                    </ul>
                </section>
            </li>

        </ul>

        <ul class="rsa-tile-list">

            <!-- Journal section: -->
            <li class="rsa-card rsa-journal">
                <header>
                    <h2>{{t "respond.incidentDetails.journal"}}</h2>
                </header>
                <section>
                    <ul class="rsa-journal-entry-list">
                        {{#each incident.notes as |note|}}
                            {{rsa-journal-entry entry=note}}
                        {{/each}}
                    </ul>
                </section>
            </li>

            <!-- Remediation section: -->
            <li class="rsa-card rsa-remediation">
                <header>
                    <h2>{{t "respond.incidentDetails.remediationTasks"}}</h2>
                </header>
                <section>
                </section>
            </li>
        </ul>

    {{else}}
        <p>{{t "respond.incidentDetails.instructions"}}</p>
    {{/if}}
</section>
