<div class="rsa-context-panel__liveconnect__heading">{{t 'context.lc.whois'}}</div>
<hbox>
  <vbox>
    <vbox class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisCreatedDate')}}
      {{#if liveConnectData.whoisCreatedDate}}
        {{rsa-content-datetime timestamp=liveConnectData.whoisCreatedDate}}
      {{else}}
        {{t 'context.lc.blankField'}}
      {{/if}}
    </vbox>
    <vbox class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisUpdatedDate')}}
      {{#if liveConnectData.whoisUpdatedDate}}
        {{rsa-content-datetime timestamp=liveConnectData.whoisUpdatedDate}}
      {{else}}
        {{t 'context.lc.blankField'}}
      {{/if}}
    </vbox>
    <vbox class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisExpiredDate')}}
      {{#if liveConnectData.whoisExpiredDate}}
        {{rsa-content-datetime timestamp=liveConnectData.whoisExpiredDate}}
      {{else}}
        {{t 'context.lc.blankField'}}
      {{/if}}
    </vbox>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisRegType') value=liveConnectData.whoisRegType}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisRegName') value=liveConnectData.whoisRegName}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisRegOrg') value=liveConnectData.whoisRegOrg}}
    </div>
  </vbox>
  <vbox>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisRegStreet') value=liveConnectData.whoisRegStreet}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisRegCity') value=liveConnectData.whoisRegCity}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisRegState') value=liveConnectData.whoisRegState}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisPostalCode') value=liveConnectData.whoisPostalCode}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisCountry') value=liveConnectData.whoisCountry}}
    </div>
  </vbox>
  <vbox>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisPhone') value=liveConnectData.whoisPhone}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisFax') value=liveConnectData.whoisFax}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.whoisEmail') value=liveConnectData.whoisEmail}}
    </div>
  </vbox>
</hbox>