<div class='isolation-modal-content'>
  <div class='isolate-description-text'>
    {{t 'investigateHosts.networkIsolation.isolate.descriptionText'}}
  </div>
  <div class='exclusion-list-wrapper'>
    <label class="rsa-form-checkbox-label {{if isExclusionListEnabled 'checked'}}">
      {{rsa-form-checkbox
        checked=isExclusionListEnabled
        change=(action 'toggleExclusionListEnabled')}}
      {{t 'investigateHosts.networkIsolation.isolate.checkboxLabel'}}
    </label>
    {{# if isExclusionListEnabled}}
      <box class="comment-box">
        <label class="comment-box-label">
          {{t 'investigateHosts.networkIsolation.isolate.checkboxDescription'}}
        </label>
        {{rsa-form-textarea
          value=exclusionList
          maxlength=4500
          placeholder=(t 'investigateHosts.networkIsolation.isolate.exclusionListPlaceholder')
          focusOut=(action 'validate' exclusionList)
        }}
      </box>
    {{/if}}
  </div>

  <div class='comment-wrapper'>
    <box class="comment-box">
      <label class="comment-box-label">
        {{t 'investigateHosts.networkIsolation.isolate.comments'}}
      </label>
      {{rsa-form-textarea
        value=isolationComment
        maxlength=900
        placeholder=(t 'investigateHosts.networkIsolation.isolate.placeholder')
      }}
      {{#if isCharacterLimitReached}}
        <span class='limit-reached'>
          {{t 'investigateFiles.editFileStatus.commentLimitError'}}
        </span>
      {{/if}}
    </box>
  </div>
</div>
<footer>
  <hbox class="modal-footer-buttons">
    {{#rsa-form-button defaultAction=closeConfirmModal}}
      {{t 'investigateHosts.networkIsolation.buttons.cancel'}}
    {{/rsa-form-button}}
    {{#rsa-form-button style='primary' defaultAction=(action 'confirmIsolation')}}
      {{t 'investigateHosts.networkIsolation.buttons.isolateHost'}}
    {{/rsa-form-button}}
  </hbox>
</footer>