<h1> {{t 'configure.logsParser.rules'}} </h1>
{{#if isLoadingRules}}
  <div class='loading'>
    {{rsa-loader size='large'}}
  </div>
{{else if isLoadingRulesError}}
  <div class='loading'>
    {{t 'configure.logsParser.error.generic'}}
  </div>
{{else}}
  <table class='parserTable'>
    {{#each parserRules as |rule index|}}
      <tr><td class='{{if (eq index 0) 'firstItem'}} {{if (eq clickedRuleIndex index) 'active'}}'{{action "selectParserRule" rule.name index}}>
        {{rule.name}}
      </td></tr>
    {{/each}}
  </table>
{{/if}}
