{{#if (is-equal size 'min')}}
  <div class="mask size default" {{action (route-action "metaPanelSize" metaPanelSizes.DEFAULT)}}>{{rsa-icon name="arrow-right-9"}}</div>
{{/if}}
<section class="rsa-investigate-meta__content {{if hideDom 'hidden'}}">
  <header class="rsa-investigate-meta__header">
    <nav class="rsa-investigate-meta__nav">
      <h2>
        <span class="title">{{t "investigate.meta.title"}}</span>
        {{#if group.keys.length}}
          <span class="size js-group-keys-count">({{group.keys.length}})</span>
        {{/if}}
      </h2>
    </nav>
    <span class="rsa-investigate-meta__tools">
      {{#if (is-equal size 'max')}}
        <button class="size default" {{action (route-action "metaPanelSize" metaPanelSizes.DEFAULT)}}>{{rsa-icon name="arrow-left-9"}}</button>
        <button class="size min" {{action (route-action "metaPanelSize" metaPanelSizes.MIN)}}>{{rsa-icon name="close"}}</button>
      {{else}}
        <button class="size max" {{action (route-action "metaPanelSize" metaPanelSizes.MAX)}}>{{rsa-icon name="arrow-right-9"}}</button>
        <button class="size min" {{action (route-action "metaPanelSize" metaPanelSizes.MIN)}}>{{rsa-icon name="close"}}</button>
      {{/if}}
    </span>
  </header>
  <section class="rsa-investigate-meta__body">
    {{meta-view/values-panel
      query=query
      group=group
      metaKeyStates=metaKeyStates
      clickValueAction=(action (route-action "navDrill" queryNode))
      contextLookupAction=(action (route-action "contextPanelOpen"))
      toggleAction=(action (route-action "metaGroupKeyToggle" queryNode))}}
  </section>
</section>
