{{recon-event-detail/single-packet/header
  isSticky=false
  packet=packet
  togglePacketExpansion=(action 'togglePacketExpansion')
}}

{{#if isPacketExpanded}}
  <section class="rsa-packet__body" style="{{calculatedHeight}}">
    {{#if viewportEntered}}
      {{recon-event-detail/single-packet/offset-table
        byteRows=packet.byteRows
      }}
      <section class="rsa-packet__hex">
        {{recon-event-detail/single-packet/byte-table
          byteFormat="hex"
          packet=packet
          packetFields=packetFields
          byteGrouping=byteGrouping
          selection=selection
          onselect=onselect
          tooltipData=tooltipData
        }}
      </section>
      <section class="rsa-packet__ascii">
        {{recon-event-detail/single-packet/byte-table
          byteFormat="ascii"
          packet=packet
          packetFields=packetFields
          byteGrouping=byteGrouping
          selection=selection
          onselect=onselect
          tooltipData=tooltipData
        }}
      </section>
    {{/if}}
  </section>
{{/if}}