{{#if (and isEditing (not isDisabled))}}
  {{#if (eq type 'textarea')}}
    {{textarea value=text focusOut=(action 'focusOut')}}
  {{else}}
    {{input
      type="text"
      value=text
      maxlength=inputMaxlength
      focusOut=(action 'focusOut')
    }}
  {{/if}}
  <span class="action confirm-changes">
    {{#rsa-form-button isDisabled=isInvalid isIconOnly=true title='Confirm edit' defaultAction='confirm'}}
      {{rsa-icon name='check-2'}}
    {{/rsa-form-button}}
  </span>
  <span class="action cancel-changes">
    {{#rsa-form-button isIconOnly=true title='Cancel edit' defaultAction='cancel'}}
      {{rsa-icon name='close'}}
    {{/rsa-form-button}}
  </span>
{{else}}
  <span class="editable-field__value {{unless text 'placeholder'}}" {{action 'edit'}} title="{{text}}">{{or text placeholder}}</span>
  <span class="action edit-field">
    {{#unless isDisabled}}
      {{#rsa-form-button isIconOnly=true isDisabled=isDisabled title='Edit Field' defaultAction='edit'}}
        {{rsa-icon name='pencil-1'}}
      {{/rsa-form-button}}
    {{/unless}}
  </span>
{{/if}}
