{{#rsa-form-select
  class="rsa-investigate-query-bar__service"
  multiple=false
  label='Select a Service'
  prompt=(if selectedService selectedService.displayName 'Select a Service')
  alwaysUsePrompt=true
  onchange=(action 'updateService')
}}
  {{#each services as |service|}}
    <option value={{service.id}}>{{service.displayName}}</option>
  {{/each}}
{{/rsa-form-select}}

{{#rsa-form-select
  class="rsa-investigate-query-bar__time-range"
  multiple=false
  label='Select a Time Range'
  prompt=(if selectedTimeRange selectedTimeRange.name 'Select a Time Range')
  alwaysUsePrompt=true
  onchange=(action 'updateRange')
}}
  {{#each timeRanges as |timeRange|}}
    <option value={{timeRange.id}}>{{timeRange.name}}</option>
  {{/each}}
{{/rsa-form-select}}

{{rsa-investigate/query-input class="rsa-investigate-query-bar__query-input" queryString=queryString}}

{{#rsa-form-button class="rsa-investigate-query-bar__submit" click=(action "submit")
  style="primary" isDisabled=submitDisabled}}
  <span class="js-test-investigate-query-bar__submit">Query Events</span>
{{/rsa-form-button}}
