{{#rsa-form-button
  class="rsa-investigate-query-bar__service"
  dropdown='standard'
  isDisabled=(is-equal servicesStatus 'wait')}}
  {{#if selectedService}}
    {{rsa-icon name='server-3' style='lined'}}
    <span class="js-test-service">{{selectedService.name}}</span>
  {{else}}
    {{rsa-icon name='server-3' style='lined'}} Select a Service
  {{/if}}
  <ul>
    {{#each services as |service|}}
      <li value="{{service.id}}" {{action 'updateService' service}}>{{service.name}}</li>
    {{/each}}
  </ul>
{{/rsa-form-button}}

{{#rsa-form-button
  class="rsa-investigate-query-bar__time-range"
  dropdown='standard'}}
  {{#if selectedTimeRange}}
    {{rsa-icon name='clock-2' style='lined'}}
    <span class="datetime">{{selectedTimeRange.name}}</span>
  {{else}}
   {{rsa-icon name='clock-2' style='lined'}} Select a Time Range
  {{/if}}
  <ul>
    {{#each timeRanges as |timeRange|}}
      <li value="{{timeRange.id}}" {{action 'updateRange' timeRange}}>{{timeRange.name}}</li>
    {{/each}}
  </ul>
{{/rsa-form-button}}

{{rsa-investigate/query-input class="rsa-investigate-query-bar__query-input" queryString=queryString}}

{{#rsa-form-button class="rsa-investigate-query-bar__submit" click=(action "submit")
  style="primary" isDisabled=submitDisabled}}
  <span class="js-test-investigate-query-bar__submit">Query Events</span>
{{/rsa-form-button}}
