{{host-list/content-filter/filter-trigger
  panelId=config.panelId
  propertyName=config.propertyName
  showRemoveButton=config.showRemoveButton
  filterLabel=filterLabel}}
{{#rsa-content-tethered-panel
  anchorWidth=anchorWidth
  isPopover=true
  displayCloseButton=false
  position='bottom-right'
  panelId=config.panelId}}
  <section class="radio-filter__content">
    <hbox class='body'>
      <div class='rsa-form-radio-group body__radio'>
        {{#each signatureOptions as |type|}}
          <label class="rsa-form-radio-label {{if (eq type selectedSignature) 'checked'}}">
            {{radio-button
              value=type
              groupValue=selectedSignature
              changed='setSignature'}}
            {{type}}
          </label>
        {{/each}}
      </div>
    </hbox>
  </section>
  {{#if isSigned}}
    <section class="list-filter__content">
      <ul id="list-filter-content" class="list-filter-lists">
        {{#each checkBoxOptions as |option|}}
          <li>
            <label class="rsa-form-checkbox-label {{if option.selected 'checked'}}">
              {{rsa-form-checkbox
                checked=option.selected
                change=(action 'onSelection' option)}}
              {{option.name}}
            </label>
          </li>
        {{/each}}
      </ul>
    </section>
  {{/if}}
{{/rsa-content-tethered-panel}}

