<hbox class="control">
  <div class="label">
    {{t 'adminUsm.policyWizard.filePolicy.filePolicySettingsHeader'}}
  </div>
</hbox>
<div class="help-title">
  {{t 'adminUsm.policyWizard.filePolicy.helpTitle'}}
</div>
{{!-- event source configuration guide box --}}
<vbox class="event-source-guide-box">
  {{#rsa-content-warn-text-box
    value=(t 'adminUsm.policyWizard.filePolicy.eventSourceConfigGuide')
    isInfo=true
  }}
  {{/rsa-content-warn-text-box}}
</vbox>
<div class="file-source-parent-container">
  <div class="source-container">
    {{#rsa-data-table lazy=true items=sourcesIds columnsConfig=columns}}
      {{!-- note that 'item' below will currently be the source index --}}
      {{#rsa-data-table/body as |item index column|}}
        {{#rsa-data-table/body-cell item=item index=index column=column}}
          {{component column.component
            itemId=item
            index=index
            column=column
          }}
        {{/rsa-data-table/body-cell}}
      {{/rsa-data-table/body}}
    {{/rsa-data-table}}
  </div>

  <h4 class='subheading'>
    {{#rsa-text-with-tooltip
      value=(t 'adminUsm.policyWizard.filePolicy.logFileTypeTooltip')
      style="standard"
      alwaysShow=true
    }}
      {{t 'adminUsm.policyWizard.filePolicy.logFileType'}}
    {{/rsa-text-with-tooltip}}
  </h4>
  <hbox class="file-source-type__list">
    <div class="file-source-type">
      {{#power-select
        placeholder=(t 'adminUsm.policyWizard.filePolicy.fileSourceType.placeholder')
        options=fileSourcesList
        selected=selectedFileSource
        searchField='prettyName'
        searchPlaceholder=(t 'packager.searchPlaceholder')
        onchange=(action 'updatePolicyProperty' 'selectedFileSource') as |option|}}
        {{option.prettyName}}
      {{/power-select}}
    </div>
    <div class="add-row">
      {{#rsa-form-button
        class='add-selected-file-type'
        isDisabled=(eq fileSourcesList.length 0)
        click=(action 'addRowFilter')
      }}
        {{t 'adminUsm.policyWizard.filePolicy.fileSourceType.add'}}
      {{/rsa-form-button}}
    </div>
  </hbox>
</div>
