<td class="reorder-item-cell">
  <centered>
    <span class="handle"></span>
  </centered>
</td>
<td class="group-rank-cell">
  {{add index 1}}
</td>
<td class="group-preview-cell">
  {{x-toggle
    value=item.isChecked
    onToggle=(action 'previewRankingWithFetch' index item.isChecked)
  }}
</td>
<td class="group-name-cell">
  {{item.name}}
</td>
<td class="policy-cell">
  {{#each-in item.assignedPolicies as |policy details|}}
    {{#if (eq policy selectedSourceType)}}
      {{ details.name }}
    {{/if}}
  {{/each-in}}
</td>
<td class="n-sources-cell">
  <div class="table-cell-text">
    {{#if srcCountTooltip}}
      {{#rsa-text-with-tooltip value=srcCountTooltip
        style="standard"
        alwaysShow=true}}
        {{srcCount}}
      {{/rsa-text-with-tooltip}}
    {{else}}
      {{srcCount}}
    {{/if}}
  </div>
</td>