<div class="heading-text" >
  {{title}}
  <span title= {{title}}>{{rsa-icon style='lined' name='information-circle'}}</span>
</div>
{{#if errorMessage}}
  <div class='rsa-context-panel__error-text'>{{errorMessage}}</div>
{{else if data}}
  <hbox class="rsa-context-tree-table__table_header">
    {{#each columnsConfig as |columnHeaders|}}
      <vbox xs="2">
        {{t columnHeaders.title}}
      </vbox>
    {{/each}}
  </hbox>

  {{#each data as |rows|}}
    {{#context-panel/tree-table/header isCollapsed=true label=(accordion-label rows columnsConfig) treeTable=true}}
      <hbox>
        {{#each columnsConfig as |columns|}}
          {{#if (not columns.groupedColumn)}}
            <vbox xs="8">
              {{#each (get rows columns.groupdata) as |resultList|}}
                <hbox>
                  {{#each-in (get resultList columns.content) as |key value|}}
                    <vbox xs="3"  class="rsa-context-tree-table__border" >
                      <hbox>
                        <span class="rsa-context-tree-table__content-header" title= {{key}}>
                          {{key}}
                        </span>
                      </hbox>
                      <hbox>
                        <span  class="rsa-context-tree-table__content-text" title= {{value}}>
                          {{value}}
                        </span>
                      </hbox>
                    </vbox>
                  {{/each-in}}
                </hbox>
              {{/each}}
            </vbox>
          {{else}}
            <vbox xs="2">
            </vbox>
          {{/if}}
        {{/each}}
      </hbox>
    {{/context-panel/tree-table/header}}
  {{/each}}
  {{#if (is-equal tabdata 'overview')}}
    <div class="border"><button class="button" {{action 'activate' }}>{{t 'context.footer.viewAll'}}</button></div>
  {{/if}}
{{else}}
    <div class='rsa-context-panel__error-text'>{{t 'context.error.noData'}}</div>
{{/if}}
