<div class='alerts-tab_body_body-table_body_row'>
  <div class='alerts-tab_body_body-table_body_row_date' {{action 'expandDate' timestamp}}>
    <span class='alerts-tab_body_body-table_body_row_date_icon'>
      {{#if (has-element dateExpended timestamp)}}
        {{rsa-icon size='small' style='filled' name='arrow-down-12'}}
      {{else}}
        {{rsa-icon size='small' style='filled' name='arrow-right-12'}}
      {{/if}}
    </span>
    {{t 'investigateUsers.alerts.startFrom'}} &nbsp; {{timestamp}}
  </div>
  {{#if (has-element dateExpended timestamp)}}
    {{alerts-tab/body/alerts-table/date-row/alert alerts=alerts}}
  {{/if}}
</div>