{{#if showPercentMessage}}
  <div class="header-percent-complete">
    {{t 'recon.textView.headerShowing'}} {{displayedPercent}}%
  </div>
{{/if}}

<div class="{{side}}">
  <span>
    {{rsa-icon name=(concat 'arrow-circle-' arrowDirection '-2')}}
  </span>
  <span class="text">
    {{#if isLog}}
      raw log
    {{else}}
      {{side}}
    {{/if}}
  </span>
</div>


