<span class="context-menu__item__label">
  {{#if item.icon}}
    {{rsa-icon name=item.icon}}
    <span>{{localizedLabel}}</span>
  {{else}}
    {{localizedLabel}}
  {{/if}}
</span>
{{#if item.subActions}}
  {{#unless isDisabled}}
    {{context-menu-item/sub-menu item=item amount=amount itemIsDisabled=itemIsDisabled clickAction=clickAction parentId=elementId}}
  {{/unless}}
{{/if}}
