<ul class="rsa-flash-messages">
  {{#each flashMessages.queue as |flash|}}
    {{#flash-message tagName="li" flash=flash as |component flash|}}
      <hbox align="stretch">
        <centered xs="2">
          {{#if (eq flash.type 'success')}}
            {{rsa-icon name='check-circle-2' style=flash.iconStyle size=flash.iconSize}}
          {{else if (eq flash.type 'warning')}}
            {{rsa-icon name='report-problem-circle' style=flash.iconStyle size=flash.iconSize}}
          {{else if (eq flash.type 'error')}}
            {{rsa-icon name='delete-1' style='filled' size=flash.iconSize}}
          {{else}}
            {{rsa-icon name='information-circle' style=flash.iconStyle size=flash.iconSize}}
          {{/if}}
        </centered>
        <vbox xs="9" justify="center" class="message">
          {{flash.message}}
        </vbox>
        <vbox xs="1" justify="start" align="center">
          {{rsa-icon name="close"}}
        </vbox>
      </hbox>
    {{/flash-message}}
  {{/each}}
</ul>

{{#unless hideAppChrome}}
  {{rsa-application-header displayPreferences=false}}

  {{#rsa-application-content}}
    <hbox>
      <vbox xs="3" class="style-guide-nav">
        <fill block class="scroll-box">
          {{app-nav}}
        </fill>
      </vbox>

      <vbox xs="9" class="style-guide-content">
        {{outlet}}
      </vbox>
    </hbox>
  {{/rsa-application-content}}

  {{#rsa-application-modal
    label="Error"
    style='error'
    eventId='fatalError'
    modalDidClose='clearFatalErrorQueue'}}
    <div class='modal-content'>
      {{#each fatalErrors.queue as |error|}}
        <p>{{error}}</p>
      {{/each}}
    </div>
  {{/rsa-application-modal}}
{{else}}
  {{outlet}}
{{/unless}}

{{ember-load-remover}}
<div id="modalDestination"></div>
