<page class="admin-engine {{routePath}}">
  <div class="rsa-nav-tab-group">
    {{#if accessControl.hasAdminViewAppliancesAccess}}
      {{#rsa-nav-tab align='left' isActive=false click=(action 'controllerRedirectToUrl' '/admin/appliances')}}
        <div class="label">{{t 'admin.navbar.appliances'}}</div>
      {{/rsa-nav-tab}}
    {{/if}}
    {{#if accessControl.hasAdminViewServicesAccess}}
      {{#rsa-nav-tab align='left' isActive=false click=(action 'controllerRedirectToUrl' '/admin/services')}}
        <div class="label">{{t 'admin.navbar.services'}}</div>
      {{/rsa-nav-tab}}
    {{/if}}
    {{#if accessControl.hasAdminViewEventSourcesAccess}}
      {{#rsa-nav-tab align='left' isActive=false click=(action 'controllerRedirectToUrl' '/admin/eventsources')}}
        <div class="label">{{t 'admin.navbar.eventSources'}}</div>
      {{/rsa-nav-tab}}
    {{/if}}
    {{#if hasAdminViewUnifiedSourcesAccess}}
      {{#rsa-nav-tab align='left' class="usmNavTab" isActive=(is-active 'protected.admin.admin-source-management') click=(action 'controllerNavigateToRoute' 'admin-source-management')}}
        <div class="label">{{t 'admin.navbar.unifiedSources'}}</div>
      {{/rsa-nav-tab}}
    {{/if}}
    {{#if accessControl.hasAdminHealthWellnessAccess}}
      {{#rsa-nav-tab align='left' isActive=false click=(action 'controllerRedirectToUrl' '/admin/monitoring')}}
        <div class="label">{{t 'admin.navbar.healthWellness'}}</div>
      {{/rsa-nav-tab}}
    {{/if}}
    {{#if accessControl.hasAdminSystemSettingsAccess}}
      {{#rsa-nav-tab align='left' isActive=false click=(action 'controllerRedirectToUrl' '/admin/system')}}
        <div class="label">{{t 'admin.navbar.system'}}</div>
      {{/rsa-nav-tab}}
    {{/if}}
    {{#if accessControl.hasAdminSASecurityAccess}}
      {{#rsa-nav-tab align='left' isActive=false click=(action 'controllerRedirectToUrl' '/admin/security')}}
        <div class="label">{{t 'admin.navbar.security'}}</div>
      {{/rsa-nav-tab}}
    {{/if}}
  </div>
  {{license-banner}}
  {{outlet}}
</page>
