{{#rsa-data-table/body-cell item=item index=index column=column}}
  {{#if (eq column.dataType 'riskscore')}}
    <span class={{get (risk-score-to-badge-level (get item column.field) dSDetails.dataSourceGroup) 'style'}}>
      {{get item column.field}}
    </span>
  {{else if (eq column.dataType 'riskRating')}}
    <span class={{get column.class (get item  column.field)}}>
      {{get item column.field}}
    </span>
  {{else if (eq column.dataType 'datetime')}}
    <span title={{getDateTime}}>{{getDateTime}}</span>
  {{else if (eq column.dataType 'link')}}
    <div class="rsa-context-panel__context-data-table link">
      <a href={{getLink}} target="_blank">
        <span title={{get item column.field}}>{{get item column.field}}</span>
      </a>
    </div>
  {{else}}
    <span title={{get item column.field}}>
      {{get item column.field}}
    </span>
  {{/if}}
{{/rsa-data-table/body-cell}}