{{#rsa-data-table
  items=processList
  selectedIndex=selectedRowIndex
  lazy=true
  onRowClick=(action "handleRowClickAction")
  columnsConfig=columnsConfig}}
  {{#rsa-data-table/header as |column|}}
    {{#if (eq column.dataType "checkbox")}}
      <label class="rsa-form-checkbox-label  {{if areAllSelected 'checked'}}">
        {{rsa-form-checkbox checked=areAllSelected change=(action 'toggleAllSelection')}}
      </label>
    {{else}}
      <span class='js-move-handle'>
        {{t column.title}}
        {{rsa-icon size="small"
          click=(action 'sort' column)
          class='sort'
          name=(if column.isDescending "arrow-down-7" "arrow-up-7")}}
      </span>
    {{/if}}
  {{/rsa-data-table/header}}
  {{#if isProcessTreeLoading}}
    <centered>
      {{rsa-loader size='medium'}}
    </centered>
  {{else}}
    {{#rsa-data-table/body
      noResultsMessage=(t 'investigateHosts.process.message.noResultsMessage')
    as |item index column|}}
      {{#if column.componentClass}}
        {{#rsa-data-table/body-cell item=item column=column}}
          <label class="rsa-form-checkbox-label {{if (is-selected selectedProcessList item) 'checked'}}">
            {{rsa-form-checkbox checked=false change=(action 'toggleProcessSelection' item)}}
          </label>
        {{/rsa-data-table/body-cell}}

      {{else}}
        {{#if (eq column.format 'DOWNLOADSTATUS')}}
          {{host-detail/utils/table-cell item=item column=column}}
        {{else if (eq column.field 'name')}}
          <label {{action 'toggleProcessDetailsView' item }}>
            {{rsa-data-table/body-cell item=item column=column class='process-name'}}
          </label>
        {{else if (eq column.field 'score')}}
          {{host-detail/utils/table-cell item=item column=column}}
        {{else}}
          {{rsa-data-table/body-cell item=item column=column}}
        {{/if}}
      {{/if}}
    {{/rsa-data-table/body}}
  {{/if}}
{{/rsa-data-table}}
