<span style={{style}}>
  {{#if item.hasChild}}
    <span class="tree-expand-icon {{if isExpanded 'is-expanded'}}" {{action 'toggleExpand' bubbles=false}}>
      {{rsa-icon name="arrow-down-12"}}
    </span>
  {{/if}}
  <span title="{{t 'investigateHosts.process.toolTip.openProcessDetails'}}" class="process-name {{unless item.hasChild 'is-leaf'}}">
    {{#link-to 'hosts' (query-params tabName='PROCESS' subTabName='process-details' pid=item.pid ) }}
      <label >{{item.name}}</label>
    {{/link-to}}
  </span>
</span>
