<span style="{{style}}">
  {{#if item.hasChild}}
    <span class="tree-expand-icon {{if isExpanded 'is-expanded'}}" {{action 'toggleExpand' bubbles=false}}>
      {{rsa-icon name="arrow-down-12"}}
    </span>
  {{/if}}
  {{#rsa-context-menu contextItems=contextItems}}
    <span title="{{item.name}}" class="process-name {{unless item.hasChild 'is-leaf'}}">
      {{item.name}}
    </span>
  {{/rsa-context-menu}}
</span>