<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member title="Absolutes"}}
        {{color-swatch
          title="Black"
          hex="#000000"
          color="rsa-bg-black"
          sass="rsa-color(white)"}}

        {{color-swatch
          title="White"
          hex="#FFFFFF"
          color="rsa-bg-white"
          sass="rsa-color(black)"}}
      {{/spec-member}}

      {{#spec-member title="Neutrals"}}
        {{color-swatch
          title="Lightest Gray"
          hex="#FAFAFA"
          color="rsa-bg-gray-lightest"
          sass="rsa-color(gray, lightest)"}}

        {{color-swatch
          title="Lighter Gray"
          hex="#EEEEEE"
          color="rsa-bg-gray-lighter"
          sass="rsa-color(gray, lighter)"}}

        {{color-swatch
          title="Light Gray"
          hex="#BDBDBD"
          color="rsa-bg-gray-light"
          sass="rsa-color(gray, light)"}}

        {{color-swatch
          title="Gray"
          hex="#757575"
          color="rsa-bg-gray"
          sass="rsa-color(gray)"}}

        {{color-swatch
          title="Dark Gray"
          hex="#424242"
          color="rsa-bg-gray-dark"
          sass="rsa-color(gray, dark)"}}

        {{color-swatch
          title="Darker Gray"
          hex="#212121"
          color="rsa-bg-gray-darker"
          sass="rsa-color(gray, darker)"}}

        {{color-swatch
          title="Darkest Gray"
          hex="#161616"
          color="rsa-bg-gray-darkest"
          sass="rsa-color(gray, darkest)"}}
      {{/spec-member}}

      {{#spec-member title="Blues"}}
        {{color-swatch
          title="Lighter Blue"
          hex="#B3E5FC"
          color="rsa-bg-blue-lighter"
          sass="rsa-color(blue, lighter)"}}

        {{color-swatch
          title="Light Blue"
          hex="#4FC3F7"
          color="rsa-bg-blue-light"
          sass="rsa-color(blue, light)"}}

        {{color-swatch
          title="Blue"
          hex="#03A9F4"
          color="rsa-bg-blue"
          sass="rsa-color(blue)"}}

        {{color-swatch
          title="Dark Blue"
          hex="#0288D1"
          color="rsa-bg-blue-dark"
          sass="rsa-color(blue, dark)"}}

        {{color-swatch
          title="Darker Blue"
          hex="#01579B"
          color="rsa-bg-blue-darker"
          sass="rsa-color(blue, darker)"}}
      {{/spec-member}}

      {{#spec-member title="Reds"}}
        {{color-swatch
          title="Lighter Red"
          hex="#FFCCD1"
          color="rsa-bg-red-lighter"
          sass="rsa-color(red, lighter)"}}

        {{color-swatch
          title="Light Red"
          hex="#E65C5C"
          color="rsa-bg-red-light"
          sass="rsa-color(red, light)"}}

        {{color-swatch
          title="Red"
          hex="#EC2227"
          color="rsa-bg-red"
          sass="rsa-color(red)"}}

        {{color-swatch
          title="Dark Red"
          hex="#C91818"
          color="rsa-bg-red-dark"
          sass="rsa-color(red, dark)"}}

        {{color-swatch
          title="Darker Red"
          hex="#A60808"
          color="rsa-bg-red-darker"
          sass="rsa-color(red, darker)"}}
      {{/spec-member}}

      {{#spec-member title="Oranges"}}
        {{color-swatch
          title="Lighter Orange"
          hex="#FFCCBC"
          color="rsa-bg-orange-lighter"
          sass="rsa-color(orange, lighter)"}}

        {{color-swatch
          title="Light Orange"
          hex="#FF8A65"
          color="rsa-bg-orange-light"
          sass="rsa-color(orange, light)"}}

        {{color-swatch
          title="Orange"
          hex="#FF5722"
          color="rsa-bg-orange"
          sass="rsa-color(orange)"}}

        {{color-swatch
          title="Dark Orange"
          hex="#E64A19"
          color="rsa-bg-orange-dark"
          sass="rsa-color(orange, dark)"}}

        {{color-swatch
          title="Darker Orange"
          hex="#BF360C"
          color="rsa-bg-orange-darker"
          sass="rsa-color(orange, darker)"}}
      {{/spec-member}}

      {{#spec-member title="Ambers"}}
        {{color-swatch
          title="Lighter Amber"
          hex="#FFECB3"
          color="rsa-bg-amber-lighter"
          sass="rsa-color(amber, lighter)"}}

        {{color-swatch
          title="Light Amber"
          hex="#FFD54F"
          color="rsa-bg-amber-light"
          sass="rsa-color(amber, light)"}}

        {{color-swatch
          title="Amber"
          hex="#FFC107"
          color="rsa-bg-amber"
          sass="rsa-color(amber)"}}

        {{color-swatch
          title="Dark Amber"
          hex="#FFA000"
          color="rsa-bg-amber-dark"
          sass="rsa-color(amber, dark)"}}

        {{color-swatch
          title="Darker Amber"
          hex="#FF6F00"
          color="rsa-bg-blue-darker"
          sass="rsa-color(amber, darker)"}}
      {{/spec-member}}

      {{#spec-member title="Greens"}}
        {{color-swatch
          title="Lighter Green"
          hex="#DCEDC8"
          color="rsa-bg-green-lighter"
          sass="rsa-color(green, lighter)"}}

        {{color-swatch
          title="Light Green"
          hex="#AED581"
          color="rsa-bg-green-light"
          sass="rsa-color(green, light)"}}

        {{color-swatch
          title="Green"
          hex="#8BC34A"
          color="rsa-bg-green"
          sass="rsa-color(green)"}}

        {{color-swatch
          title="Dark Green"
          hex="#689F38"
          color="rsa-bg-green-dark"
          sass="rsa-color(green, dark)"}}

        {{color-swatch
          title="Darker Green"
          hex="#33691E"
          color="rsa-bg-green-darker"
          sass="rsa-color(green, darker)"}}
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
