<hbox>
  <vbox xs='7'>
    <div class="rsa-context-panel-header__header-text">
      <span> {{t 'context.title'}} {{t (concat 'context.' entityType) }} :</span>
      {{entityId}}
    </div>
  </vbox>
  <vbox>
    <div xs='1'>
      <button class="rsa-context-panel-header__panel-close" {{action 'closeAction'}} title= {{t 'context.header.closeButton.title'}}>
        {{rsa-icon style='filled' name='close'}}
      </button>
    </div>
  </vbox>
</hbox>

{{#if isReady}}
  {{#if errorMessage}}
    <hbox class='rsa-context-panel__loader'>
      <span class='rsa-context-panel__error-text'>
        {{rsa-icon style='lined' name='report-problem-triangle'}} {{errorMessage}}
      </span>
    </hbox>
  {{else}}
    {{context-panel/tabs model=model }}
    {{context-panel/body contextData=model.contextData model=model }}
  {{/if}}
{{else}}
  <hbox class='rsa-context-panel__loader'>
    <div class="rsa-loader is-largest">
      <div class="rsa-loader__wheel"></div>
      <div class="rsa-loader__text"></div>
    </div>
  </hbox>
{{/if}}
{{context-panel/live-connect/feedback model=model}}