<hbox>
  <vbox xs='7'>
    <div class="rsa-context-panel-header__header-text">
      &#9734; <span> {{t 'context.title'}} {{model.meta}} :</span>
      {{model.lookupKey}}
    </div>
  </vbox>
  <vbox>
    <div xs='1'>
      <button class="rsa-context-panel-header__panel-close" {{action 'closeAction'}}>{{rsa-icon style='filled' name='close'}}</button>
    </div>
  </vbox>
</hbox>

{{#if isReady}}
  {{#if errorMessage}}
    <hbox class='rsa-context-panel__loader'>
      <span class='rsa-context-panel__error-text'>
        {{errorMessage}}
      </span>
    </hbox>
  {{else}}
    {{context-panel/tabs model=model }}
    {{context-panel/body contextData=model.contextData model=model }}
  {{/if}}
{{else}}
  <hbox class='rsa-context-panel__loader'>
    <div class="rsa-loader is-largest">
      <div class="rsa-loader__wheel"></div>
      <div class="rsa-loader__text"></div>
    </div>
  </hbox>
{{/if}}
{{context-panel/live-connect/feedback model=model}}