<h2 class='filter-text'>{{options.label}}</h2>
<hbox>
  {{#power-select
    tagName='div'
    class='operators'
    options=options.operators
    selected=filterValue.operator
    searchEnabled=false
    onchange=(action 'changeOperator') as |option|}}
    {{option.label}}
  {{/power-select}}

  {{#if isOperatorBetween}}
    {{rsa-form-input
      type='number'
      onEnter=(action 'onEnter')
      focusOut=(action 'onInputFocusOut')
      value=filterValue.value.[0]
      class='number-input start'}}
    {{rsa-form-input
      type='number'
      onEnter=(action 'onEnter')
      focusOut=(action 'onInputFocusOut')
      value=filterValue.value.[1]
      class='number-input end'}}
  {{else}}
    {{rsa-form-input
      type='number'
      onEnter=(action 'onEnter')
      focusOut=(action 'onInputFocusOut')
      value=filterValue.value.[0]
      class='number-input'}}
  {{/if}}

  {{#if hasUnits}}
    {{#power-select
      tagName='div'
      class='units'
      options=options.units
      selected=filterValue.unit
      searchEnabled=false
      onchange=(action 'chageUnit') as |option|}}
      {{option.label}}
    {{/power-select}}
  {{/if}}
</hbox>