<h2 class='filter-text'>{{options.label}}</h2>
<hbox>
  {{#power-select
    tagName='div'
    class='operators'
    options=options.operators
    selected=filterValue.operator
    searchEnabled=false
    onchange=(action 'changeOperator') as |option|}}
    {{option.label}}
  {{/power-select}}

  {{#if isOperatorBetween}}
    <div class="number-input start rsa-form-input">
      {{input
        type="number"
        value=(readonly filterValue.value.[0])
        placeholder='Enter Value'
        key-up=(action 'handleKeyUp')}}
    </div>
    <div class="number-input end rsa-form-input">
      {{input
        type="number"
        value=(readonly filterValue.value.[1])
        placeholder='Enter Value'
        key-up=(action 'handleKeyUp')}}
    </div>
  {{else}}
    <div class="number-input rsa-form-input">
      {{input
        type="number"
        value=(readonly filterValue.value.[0])
        placeholder='Enter Value'
        key-up=(action 'handleKeyUp')}}
    </div>
  {{/if}}
  {{#if hasUnits}}
    {{#power-select
      tagName='div'
      class='units'
      options=options.units
      selected=filterValue.unit
      searchEnabled=false
      onchange=(action 'chageUnit') as |option|}}
      {{option.label}}
    {{/power-select}}
  {{/if}}
</hbox>
