<div class="connector">
  <div class="line"></div>
</div>
{{#if item.isEnrichment}}

  {{!Render a row of enrichment text}}
  <div class="enrichment">
    <span class="body" title="{{t item.i18nKey}}">{{t item.i18nKey}}</span>
    {{#if (eq item.key 'whois.age_score')}}
      <span class="suffix">{{t 'respond.enrichment.daysAgo' days=item.allEnrichments.whois.estimated_domain_age_days}}</span>
    {{else if (eq item.key 'whois.validity_score')}}
      <span class="suffix">{{t 'respond.enrichment.days' days=item.allEnrichments.whois.estimated_domain_validity_days}}</span>
    {{/if}}
  </div>

{{else}}

  {{!Render a row of meta values from the event}}
  <div class="event">

    {{!Device info}}
    {{#if (or fromDevice toDevice)}}
      <span class="devices">
        {{rsa-icon class="device" name="computer-imac-1"}}
        {{#with fromDevice as |from|}}
          <span class="from device entity" data-meta-key="{{from.field}}" data-entity-id="{{from.value}}">
            {{from.value}}
          </span>
        {{/with}}
        {{#with (and fromDevice toDevice)}}
          {{rsa-icon class="arrow" name="arrow-right-5" size="smaller"}}
        {{/with}}
        {{#with toDevice as |to|}}
          <span class="to device entity" data-meta-key="{{to.field}}" data-entity-id="{{to.value}}">
            {{to.value}}
          </span>
        {{/with}}
      </span>
    {{/if}}

    {{!User info}}
    {{#if (or fromUser toUser)}}
      <span class="users">
        {{rsa-icon class="user" name="account-circle-1"}}
        {{#with fromUser as |fromUser|}}
          <span class="from user entity" data-meta-key="username" data-entity-id="{{fromUser}}">
            {{fromUser}}
          </span>
        {{/with}}
        {{#with (and fromDevice toDevice)}}
          {{rsa-icon class="arrow" name="arrow-right-5" size="smaller"}}
        {{/with}}
        {{#with toUser as |toUser|}}
          <span class="to user entity" data-meta-key="username" data-entity-id="{{toUser}}">
            {{toUser}}
          </span>
        {{/with}}
      </span>
    {{/if}}

    {{!File info}}
    {{#if fileData}}
      <span class="files">
        {{rsa-icon class="user" name="file-new-1"}}
        {{#with fileData as |fileData|}}
          {{#if fileData.isMultiple}}
            <span class="file">
              {{fileData.value}} {{t 'respond.event.files'}}
            </span>
          {{else}}
            <span class="file entity" data-meta-key="{{fileData.field}}" data-entity-id="{{fileData.value}}">
              {{fileData.value}}
            </span>
          {{/if}}
        {{/with}}
      </span>
    {{/if}}

  </div>
{{/if}}