<div class="rsa-context-panel__grid__heading-text">
  {{t title}}
  <span title={{t 'context.hostSummary.title'}}></span>
  {{#if lastUpdated}}
    <span title={{t 'context.hostSummary.title'}}>
      {{t 'context.timeWindow'}}{{timeWindow}} |
      {{t 'context.lastUpdated'}}{{rsa-content-datetime timestamp=lastUpdated asTimeAgo=true}}
    </span>
  {{/if}}
</div>
{{#if errorMessage}}
  <div class='rsa-context-panel__error-text'>{{rsa-icon style='lined' name='report-problem-triangle'}} {{errorMessage}}</div>
{{else}}
  {{#if (gt array.length 0)}}
    {{#each array as |data|}}
      <hbox>
        <vbox class="rsa-context-panel__grid__host-details__header-data">
          <span title= {{get data columns.firstRow.field}}>{{get data columns.firstRow.field}}</span>
        </vbox>
      </hbox>
      <hbox class={{columns.class}}>
        {{#each columns.columns as |columnsdata|}}
          <vbox class={{columnsdata.class}}>
            {{#each columnsdata.cell as |cellData index|}}
              {{#if (eq cellData.dataType 'link')}}
                <div class="rsa-context-panel__grid__host-details__field-name">{{t cellData.title}}</div>
                <div class="rsa-context-panel__grid__host-details__field-value rsa-context-panel__grid link">
                  <a href={{concat 'ecatui://' (get data cellData.field)  }} target="_blank">{{get data cellData.field}}</a>
                </div>
              {{else if (eq cellData.dataType 'riskScore')}}
                {{rsa-content-badge-score
                  label=(t 'context.iiocScore')
                  class="rsa-context-risk-score"
                  score=(get data cellData.field )
                  size='small'
                  style=badgeLevel
                  invertColor=true
                }}
              {{else if (eq cellData.dataType 'CriticalityScore')}}
                <vbox>
                  {{context-panel/criticality-score
                    label=(t cellData.title)
                    score=(get data cellData.field)
                  }}
                </vbox>
              {{else if (eq cellData.dataType 'group')}}
                <vbox>
                  <div class="rsa-context-panel__grid__host-details__field-name">{{t cellData.title}}</div>
                  {{#rsa-content-tethered-panel-trigger class="rsa-context-panel__grid__host-details__tetheredPanel" panel=(concat cellData.count index) }}
                    <div class="rsa-context-panel__grid__host-details__groupdata">{{get data cellData.count}}</div>
                  {{/rsa-content-tethered-panel-trigger}}
                  {{#rsa-content-tethered-panel panelId=(concat cellData.count index) displayCloseButton=false position='top-left'}}
                    <section>
                      {{#if (gt (get data cellData.count) 1)}}
                        {{#each (get data cellData.field) as |cellData |}}
                          <div class="rsa-context-panel__grid__host-details__field-value">
                            <span title= {{cellData}}>{{cellData}}</span>
                          </div>
                        {{/each}}
                      {{else}}
                        <div class="rsa-context-panel__grid__host-details__field-value">
                          <span title= {{get data cellData.field}}>{{get data cellData.field}}</span>
                        </div>
                      {{/if}}
                    </section>
                  {{/rsa-content-tethered-panel}}
                </vbox>
              {{else}}
                {{#if cellData.displayField}}
                  <vbox></vbox>
                {{else}}
                  <vbox>
                    <div class="rsa-context-panel__grid__host-details__field-name">{{t cellData.title}}</div>
                    <div class="rsa-context-panel__grid__host-details__field-value">
                      <span title= {{get data cellData.field}}>{{get data cellData.field}}</span>
                    </div>
                  </vbox>
                {{/if}}
              {{/if}}
            {{/each}}
          </vbox>
        {{/each}}
      </hbox>
      <div class="rsa-context-panel__grid__border"></div>
    {{/each}}
    {{#if (eq tabdata 'overview')}}
      <div class="rsa-context-panel__context-data-table__border"><button class="rsa-context-panel__context-data-table__button" {{action 'activate'}}>{{t 'context.footer.viewAll'}}</button></div>
    {{/if}}
  {{else}}
    <div class='rsa-context-panel__error-text'><span>{{t 'context.error.noData'}}</span></div>
  {{/if}}
{{/if}}
