<div class="rsa-context-panel__grid__heading-text">
  {{t dSDetails.title}}
  <span title={{t dSDetails.title}}></span>
  {{#if contextData.lastUpdated}}
    <span title={{t dSDetails.title}}>
      {{t 'context.timeWindow'}}{{contextData.timeWindow}} |
      {{t 'context.lastUpdated'}}{{rsa-content-datetime timestamp=contextData.lastUpdated asTimeAgo=true}}
    </span>
  {{/if}}
</div>
{{#if contextData.errorMessage}}
  <div class='rsa-context-panel__error-text'>{{rsa-icon style='lined' name='report-problem-triangle'}} {{contextData.errorMessage}}</div>
{{else}}
  {{#if (gt getDataSourceData.length 0)}}
    {{#each getDataSourceData as |data|}}
      <hbox>
        <vbox class="rsa-context-panel__grid__host-details__header-data">
          <span title= {{get data dSDetails.firstRow.field}}>{{get data dSDetails.firstRow.field}}</span>
        </vbox>
      </hbox>
      <hbox class={{dSDetails.class}}>
        {{#each dSDetails.columns as |columnsdata|}}
          <vbox class={{columnsdata.class}}>
            {{#each columnsdata.cell as |cellData index|}}
              {{#if (eq cellData.dataType 'link')}}
                <vbox>
                  <div class="rsa-context-panel__grid__host-details__field-name">{{t cellData.title}}</div>
                  <div class="rsa-context-panel__grid__host-details__field-value rsa-context-panel__grid link">
                    <a href={{concat 'ecatui://' (get data cellData.field)  }} target="_blank">{{get data cellData.field}}</a>
                  </div>
                </vbox>
              {{else if (eq cellData.dataType 'riskScore')}}
                {{rsa-content-badge-score
                  label=(t 'context.iiocScore')
                  class="rsa-context-risk-score"
                  score=(get data cellData.field )
                  size='small'
                  style=badgeLevel
                  invertColor=true
                }}
              {{else if (eq cellData.dataType 'datetime')}}
                <vbox>
                  <div class="rsa-context-panel__grid__host-details__field-name">{{t cellData.title}}</div>
                  <div class="rsa-context-panel__grid__host-details__field-value">
                    {{#if (get data cellData.field)}}
                      <span>
                        {{rsa-content-datetime timestamp=(get data cellData.field) displayMilliseconds=false withTimeAgo=true}}
                      </span>
                    {{/if}}
                  </div>
                </vbox>
              {{else if (eq cellData.dataType 'group')}}
                {{context-panel/dynamic-grid/group data=(get data cellData.field) title=cellData.title index=index}}
              {{else}}
                {{#if cellData.displayField}}
                  <vbox></vbox>
                {{else}}
                  <vbox>
                    <div class="rsa-context-panel__grid__host-details__field-name">{{t cellData.title}}</div>
                    <div class="rsa-context-panel__grid__host-details__field-value">
                      <span title= {{get data cellData.field}}>{{get data cellData.field}}</span>
                    </div>
                  </vbox>
                {{/if}}
              {{/if}}
            {{/each}}
          </vbox>
        {{/each}}
      </hbox>
      <div class="rsa-context-panel__grid__border"></div>
    {{/each}}
    {{#if showViewAll}}
      <div class="rsa-context-panel__context-data-table__border"><button class="rsa-context-panel__context-data-table__button" {{action 'activate' dSDetails.dataSourceGroup}}>{{t 'context.footer.viewAll'}}</button></div>
    {{/if}}
  {{else}}
    <div class='rsa-context-panel__error-text'><span>{{t 'context.error.noData'}}</span></div>
  {{/if}}
{{/if}}
