{{context-panel/data-source-header contextData=contextData dataSourceDetails=dataSourceDetails}}
{{#if hasDataSourceData}}
  <div class="rsa-context-panel__grid__box">
    {{#each dataSourceData as |data index|}}
      <hbox class={{dataSourceDetails.class}}>
        {{#if dataSourceDetails.riskScore}}
          <vbox xs='2'>
            <div class="rsa-context-panel__grid__risk-badge__default">
              {{rsa-content-badge-score
                label=(t 'context.iiocScore')
                score=(get data dataSourceDetails.riskScore.field)
                style=(get (risk-score-to-badge-level (get data dataSourceDetails.riskScore.field) ddataSourceDetails.dataSourceGroup) 'badgeLevel')
                invertColor=true
              }}
            </div>
          </vbox>
        {{/if}}
        <vbox>
          {{#each dataSourceDetails.rows as |rowsData|}}
            <hbox>
              {{#each rowsData.cell as |cellData|}}
                {{#if (eq cellData.dataType 'link')}}
                  <vbox xs='3'>
                    {{rsa-content-definition label=(t cellData.title)}}
                    <div class="rsa-context-panel__grid__host-details__field-value rsa-context-panel__grid link">
                      <a href={{concat 'ecatui://' (get data cellData.field)  }} target="_blank" title= {{t 'context.hostSummary.endpoint'}}>{{get data cellData.field}}</a>
                    </div>
                  </vbox>
                {{else if (eq cellData.dataType 'datetime')}}
                  <vbox xs='3'>
                    {{rsa-content-definition label=(t cellData.title)}}
                    <div class="rsa-context-panel__grid__host-details__field-value">
                      {{#if (get data cellData.field)}}
                        <span>
                          {{rsa-content-datetime timestamp=(get data cellData.field) displayMilliseconds=false withTimeAgo=true}}
                        </span>
                      {{else}}
                        -
                      {{/if}}
                    </div>
                  </vbox>
                {{else if (eq cellData.dataType 'group')}}
                  <vbox xs='3' class="rsa-context-panel__grid__host-details__group-data-header">
                    {{context-panel/dynamic-grid/group
                      groupData=(get data cellData.field)
                      title=cellData.title
                      index=index
                      displayType=cellData.displayType
                    }}
                  </vbox>
                {{else}}
                  <vbox xs='3'>
                    {{rsa-content-definition label=(t cellData.title) value=(if (get data cellData.field) (get data cellData.field) '-')}}
                  </vbox>
                {{/if}}
              {{/each}}
            </hbox>
          {{/each}}
        </vbox>
      </hbox>
      {{#if (gt dataSourceData.length 1)}}
        <div class="rsa-context-panel__grid__border"></div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}
