{{#each pillsData key="id" as | pillData index |}}
  {{query-container/new-pill-trigger
    sendMessage=(action 'handleMessage')
    newPillPosition=index
    startTriggeredPosition=startTriggeredPosition
  }}
  {{#if pillData.complexFilterText}}
    <span class='complex-pill' style='padding-top:13px; padding-left:5px'>## {{pillData.complexFilterText}} ##</span>
  {{else}}
    {{query-container/query-pill
      pillData=(readonly pillData)
      sendMessage=(action 'handleMessage')
      position=index
      isActive=pillData.isEditing
    }}
  {{/if}}
{{/each}}

{{query-container/query-pill
  classNames='new-pill-template'
  sendMessage=(action 'handleMessage')
  position=newPillPosition
}}
