{{#rsa-data-table
  columnsConfig=certificatesColumns
  items=certificatesItems
  onRowClick=(action 'toggleSelectedRow')}}
  {{#certificates-container/certificates-data-table/header  
    translateTitles=true enableColumnSelector=isCertificateView as |column|}}
    {{#if (not-eq column.dataType "radio")}}
      <span class='js-move-handle'>
        {{t column.title}}
      </span>
    {{/if}}
  {{/certificates-container/certificates-data-table/header}}

  {{#if areCertificatesLoading}}
    <centered>
      {{rsa-loader size='larger'}}
    </centered>
  {{else}}
    {{#rsa-data-table/body
      rowComponentClass=(
        component 'certificates-container/certificates-data-table/table-row'
        selections=selections
        pivotToInvestigate=(action 'pivotToInvestigate')
        beforeContextMenuShow=(action 'beforeContextMenuShow')
        editCertificateStatus=(action 'showStatusWindow')
        closeCertificateModal=(action 'closeModal')
      )
      noResultsMessage=(t 'configure.endpoint.certificates.noResultsMessage') as |item index column|}}
      {{#rsa-data-table/body-cell column=column}}
        {{#if (eq column.dataType "radio")}}
          <label class='rsa-form-radio-label certificate-radio 
          {{if (is-selected selections item) 'checked'}}'>
            {{radio-button
              radioClass='certificate-row-radio'}}
          </label>
        {{else}}
          {{get item column.field}}
        {{/if}}
      {{/rsa-data-table/body-cell}}
    {{/rsa-data-table/body}}
    {{rsa-data-table/load-more 
      status=loadMoreStatus 
      title=(t 'investigateFiles.showNextRecords' count=nextLoadCount label='certificates') 
      click=(action 'getPageOfCertificates')}}
  {{/if}}
{{/rsa-data-table}}
{{#if showModal}}
  {{certificates-container/certificate-status-modal closeCertificateModal=(action 'closeModal')}}
{{/if}}
