<header>
    <h2 class="rsa--nowrap">
        {{#if (is-equal whichQueue "all")}}
            {{t "respond.allIncidents"}}
        {{else}}
            {{t "respond.myQueue"}}
        {{/if}}
    </h2>
    <nav class="rsa-tab-strip">
        <button class="js-test-respond-incs-my-queue-btn"
            {{action "set" "whichQueue" "my"}}
                selected="{{is-equal whichQueue "my"}}"
                >{{t "respond.myQueue"}}</button>
        <button class="js-test-respond-incs-all-inc-btn"
            {{action "set" "whichQueue" "all"}}
                selected="{{is-equal whichQueue "all"}}"
                >{{t "respond.allIncidents"}}</button>
    </nav>
</header>
<section>
    <header class="rsa-toolbar">
        <button class="rsa-incidents-queue__filter-target rsa-dropdown js-test-respond-incs-filter-btn"
                >{{t "respond.filter"}}</button>
        <button class="rsa-incidents-queue__sort-target rsa-dropdown js-test-respond-incs-sort-btn"
                >{{t "respond.sort"}}</button>
        {{#rsa-popover class="rsa-incidents-filter-popover"
            target=".rsa-incidents-queue__filter-target"
            position="bottom left"
            dataSource=null
            openAction=(action "set" "dataSource" cube target=this)
            closeAction=(action "set" "dataSource" null target=this)
            }}
                {{rsa-incidents-filters
                    cube=dataSource
                    includeAssignee=(is-equal whichQueue "all")
                    includeCounts=true
                    timeRangeAction=onSelectTimeRangeUnit
                }}
        {{/rsa-popover}}
        {{#rsa-popover class="rsa-incidents-sort-popover"
            target=".rsa-incidents-queue__sort-target"
            position="bottom left"}}
                {{rsa-incidents-sort cube=cube includeAssignee=(is-equal whichQueue "all")}}
        {{/rsa-popover}}
    </header>
        {{#rsa-paging-list class="js-test-respond-incs-ul" records=cube.results as |item|}}
            {{rsa-incident-li model=item
                selected=(is-equal selectedRecord.id item.id)
                action=(action "selectRecord" item target=this)}}
        {{/rsa-paging-list}}
</section>
<footer class="js-test-respond-incs-footer">
    <span>{{cube.results.length}} {{t "list.items"}}</span>
    {{#unless (is-equal cube.records.progress 100)}}
        <small>({{cube.records.progress}}%)</small>
    {{/unless}}
</footer>

