<div>
  {{#if group.name}}
    {{#rsa-text-with-tooltip value=group.name style="standard"}}
      {{rsa-icon name='network-computers-2' style='lined'}}
      <label class="group-name-label">
        {{group.name}}
      </label>
    {{/rsa-text-with-tooltip}}
  {{else}}
    {{rsa-icon name='network-computers-2' style='lined'}}
    <label class="group-name-label">
      {{t 'adminUsm.groupWizard.newGroup'}}
    </label>
  {{/if}}
</div>
<div>
  {{#rsa-text-with-tooltip value=group.description style="standard"}}
    <label class="group-description-label">
      {{group.description}}
    </label>
  {{/rsa-text-with-tooltip}}
</div>