<div>
  {{rsa-icon name='network-computers-2' style='lined'}}
  <label class="group-name-label" title="{{if group.name group.name ''}}">
    {{#if group.name}}
      {{group.name}}
    {{else}}
      {{t 'adminUsm.groupWizard.newGroup'}}
    {{/if}}
  </label>
</div>
<div>
  <label class="group-description-label" title="{{descriptions.truncatedWithEllipsis}}">
    {{descriptions.truncated}}
  </label>
</div>
