{{#if hasBlock}}
  {{yield (hash closeZone=(action "closeZone"))}}
{{else}}
  <vbox>
    <h3 class='title'>
      {{#if showHeaderIcon}}
        {{rsa-icon name=iconName}}
      {{/if}}
      {{title}}
    </h3>
  </vbox>
  <vbox>
    {{#rsa-form-button class="close-zone" isIconOnly=true defaultAction=(action "closeZone")}}
      {{rsa-icon name='close'}}
    {{/rsa-form-button}}
  </vbox>
{{/if}}
