<h4 class='title'>
  {{#rsa-text-with-tooltip value=tooltip
  style="standard"
  alwaysShow=true}}
    {{t 'adminUsm.policyWizard.edrPolicy.vmMax'}}
  {{/rsa-text-with-tooltip}}
  <span class="remove-setting {{if isDefaultPolicy 'is-greyed-out' 'not-greyed-out'}}"
  {{action 'removeFromSelectedSettings' 'cpuMaxVm'}}>
    {{rsa-icon name="remove-circle-1" style="lined"}}
  </span>
</h4>
{{range-slider
  min=5
  start=[cpuMaxVm]
  format=format
  step=1
  connect=false
  on-change=(action 'updatePolicyProperty' 'cpuMaxVm')
}}
