<table>
  {{#if (eq modelType 'array')}}
    {{!model is an array}}
    {{#each members as |member|}}
      <tr class="key">
        <td class="key-value">
          {{#if member.isNestedValue}}
            {{component nestedValueComponentClass model=member.value modelPath=modelPath}}
          {{else}}
            <span class="scalar-value" data-meta-key="{{modelPath}}" data-entity-id="{{member.value}}">{{member.value}}</span>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  {{else}}
    {{!assume model is an object}}
    {{#each keys as |key|}}
      <tr class="key">
        <td class="key-name">
          {{key.name}}
        </td>
        <td class="key-value">
          {{#if key.isNestedValue}}
            {{component nestedValueComponentClass model=key.value modelPath="{{key.name}}"}}
          {{else}}
            <span class="scalar-value" data-meta-key="{{key.name}}" data-entity-id="{{key.value}}">{{key.value}}</span>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  {{/if}}
</table>
