{{#rsa-data-table
  items=files
  fitToWidth=true
  columnsConfig=columnsConfig}}

  {{rsa-data-table/header translateTitles=true}}

  {{#rsa-data-table/body as |item index column|}}

    {{#rsa-data-table/body-cell columnWidth=column.width}}
      {{#if (eq column.field "")}}
        {{rsa-form-checkbox value=item.selected click=(action "fileSelectionToggled" item.id)}}
      {{else if (eq column.field "hashes")}}
        {{#each item.hashes as |hash|}}
          <span class="recon-file-hash">{{hash.type}}</span>: {{hash.value}} <br>
        {{/each}}
      {{else if (eq column.field "fileSize")}}
        {{rsa-content-memsize size=(get item column.field)}}
      {{else}}
        {{get item column.field}}
      {{/if}}
    {{/rsa-data-table/body-cell}}

  {{/rsa-data-table/body}}

{{/rsa-data-table}}
