{{#if noFiles}}
  <div class="recon-event-detail-feedback">
    {{t 'recon.files.noFiles'}}
  </div>
{{else}}
  {{#rsa-data-table
    items=files
    fitToWidth=true
    columnsConfig=columnsConfig}}

    {{#rsa-data-table/header as |column index|}}
      {{#if column.isCheckboxColumn}}
        {{#if hasMultipleSessionFiles}}
          {{rsa-form-checkbox trackOwnValue=false value=allSelected click=(action "toggleAll")}}
        {{/if}}
      {{else}}
        {{t column.title}}
      {{/if}}
    {{/rsa-data-table/header}}

    {{#rsa-data-table/body as |item index column|}}

      {{#rsa-data-table/body-cell columnWidth=column.width}}
        {{#if column.isCheckboxColumn}}
          {{#unless (eq item.type "link")}}
            {{rsa-form-checkbox trackOwnValue=false value=item.selected click=(action "toggleOne" item.id)}}
          {{/unless}}
        {{else if (eq column.field "hashes")}}
          {{#if (eq item.type "link")}}
            {{t 'recon.files.linkFile'}}
          {{else}}
            {{#each item.hashes as |hash|}}
              <span class="recon-file-hash">{{hash.type}}</span>: {{hash.value}} <br>
            {{/each}}
          {{/if}}
        {{else if (eq column.field "fileSize")}}
          {{#unless (eq item.type "link")}}
            {{rsa-content-memsize size=(get item column.field)}}
          {{/unless}}
        {{else if (eq column.field "fileName")}}
          {{#if (eq item.type "link")}}
            <span class="recon-file-link" {{action "openLinkedFile" item}}>
              {{get item column.field}}
            </span>
          {{else}}
            {{get item column.field}}
          {{/if}}
        {{else}}
          {{get item column.field}}
        {{/if}}
      {{/rsa-data-table/body-cell}}

    {{/rsa-data-table/body}}

  {{/rsa-data-table}}
{{/if}}
