{{#if filePropertiesData}}
  {{#rsa-page-layout showRightZone=true as |layout|}}
    {{#layout.center}}
      <div class='file-analysis-header'>
        {{#rsa-form-button class='close-zone' defaultAction=(action 'closeFileAnalysis')}}
          {{rsa-icon size="small" name="arrow-left-12"}}
          <span class='backButton'>{{activeHostDetailTab}}</span>
        {{/rsa-form-button}}
        <span class='file-analysis-title'>{{t 'investigateShared.endpoint.fileAnalysis.title'}}</span>
        <span class='view-type'>{{t componentConfig.title}}</span>
        <span class='string-filter-wrapper'>
          <h4 class='label'>{{t 'investigateShared.endpoint.fileAnalysis.filter'}}</h4>
          {{rsa-form-input value=searchText placeholder=(t 'investigateShared.endpoint.fileAnalysis.searchPlaceHolder')}}
        </span>

      </div>
      {{component componentConfig.component fileData=fileData searchText=searchText}}
    {{/layout.center}}
    {{#layout.right as |rightPanel|}}
      {{#rightPanel.header  class="host-list-properties"}}
        <h3 class='title'>
          {{filePropertiesData.fileName}}
        </h3>

        {{#rsa-form-button class='close-zone' isIconOnly=true defaultAction=(action 'closeFileAnalysis') }}
          {{rsa-icon class='close-icon' name='close' title=(t 'investigateHosts.context.button.close')}}
        {{/rsa-form-button}}
      {{/rightPanel.header}}
      {{endpoint/file-analysis-properties filePropertiesData=filePropertiesData}}
    {{/layout.right}}
  {{/rsa-page-layout}}
{{/if}}