<hbox class="rsa-wizard__breadcrumb" data-stepcount={{totalSteps}}>
  {{rsa-wizard/progress
    currentStep=currentStep
    steps=registeredSteps
    invalidStepNumbers=invalidStepNumbers
    visitedSteps=visitedSteps}}
</hbox>
<section class="rsa-wizard__step-content">
  {{ yield this}}
</section>
<section class="rsa-wizard__button-bar">
  {{#unless hasNextStep }}
    {{#rsa-form-button class="finish-wizard" isDisabled=isCurrentStepInvalid defaultAction="finish"}}
      {{finishLabel}}
    {{/rsa-form-button}}
  {{/unless}}
  {{#if hasNextStep}}
    {{#rsa-form-button class="next-step" isDisabled=isCurrentStepInvalid defaultAction="next"}}
      {{nextLabel}}
    {{/rsa-form-button}}
  {{/if}}
  {{#if hasPreviousStep}}
    {{#rsa-form-button class="previous-step" defaultAction="previous"}}
      {{previousLabel}}
    {{/rsa-form-button}}
  {{/if}}
  {{#rsa-form-button class="cancel-wizard" defaultAction="cancel"}}
    {{cancelLabel}}
  {{/rsa-form-button}}
</section>
