{{recon-event-detail/single-text/header
  isLog=isLog
  isEndpoint=isEndpoint
  isSticky=isSticky
  side=packet.side
  displayedPercent=displayedPercent
  renderedAll=renderedAll
}}

{{#unless isSticky}}
  <div class="text-container">
    {{#each renderedPortions as |portion|}}
      {{recon-event-detail/single-text/text-portion
        text=portion
        metaToHighlight=metaToHighlight
      }}
    {{/each}}
  </div>

  {{!--
    Many many text components are rendered, do not want to render
    a thether panel unless the user is actually visiting this text component
  --}}

  {{#if userInComponent}}

    {{#rsa-content-tethered-panel
      position='top'
      panelId=(concat 'span' elementId)
      hideOnLeave=false
      displayCloseButton=hasCloseButton
      style='highlighted'
      panelClass="recon-tooltip"
    }}
      <div class="reconTooltip">
        {{#if isActionClicked }}
          <header>{{tooltipHeading}}</header>
          <div class="body">
            <div class='selection-name'>Original Selection</div>
            <div class='selection-value'>{{originalString}}</div>
            <div class='selection-name'>Base64 Format</div>
            <div class='selection-value'>{{encDecStrBase64}}</div>
            <div class='selection-name'>URL Format</div>
            <div class='selection-value'>{{encDecStrUrl}}</div>
          </div>
        {{else}}
          <div class="list-item" {{action 'copyText'}}>Copy Selected Text</div>
          <div class="list-item" {{action 'decodeText'}}>Decode Selected Text</div>
          <div class="list-item" {{action 'encodeText'}}>Encode Selected Text</div>
        {{/if}}
      </div>
    {{/rsa-content-tethered-panel}}
  {{/if}}

  {{#if displayShowAllButton}}
    <div class="load-more-text-entries">
      {{#rsa-form-button
        defaultAction=(action 'showRemainingText')
        isDisabled=renderingRemainingText}}
        {{ remainingTextMessage }}
      {{/rsa-form-button}}
    </div>
  {{/if}}
{{/unless}}
