<div class="request-response justify-{{packet.side}}">
  <span>
    {{rsa-icon name=(concat 'arrow-circle-' arrowDirection '-2')}}
  </span>
  <span class="text">
    {{#if isLog}}
      raw log
    {{else}}
      {{packet.side}}
    {{/if}}
  </span>
</div>
<div class="text-container">
  {{packet.text}}
</div>
