{{#if isLoading}}
  <centered>
    {{rsa-loader size='larger'}}
  </centered>
{{else}}
  <section class="aggregation-rule-form">
    <div class="form">
      <div class="form-row">
        <div class="form-cell group-name">Basic Settings</div>
        <div class="form-cell">
          <div class="rule-control name">
            <label class="rsa-form-checkbox-label {{if ruleInfo.enabled 'checked'}}">
              {{rsa-form-checkbox
                checked=ruleInfo.enabled
                change=(action 'update' 'ruleInfo.enabled' (not ruleInfo.enabled))
              }}
              {{t 'respond.aggregationRules.enabled'}}
            </label>
          </div>

          <div class="rule-control name">
            {{rsa-form-input
              label=(concat (t 'respond.aggregationRules.name') '*')
              value=(readonly ruleInfo.name)
              placeholder=(t 'respond.aggregationRules.namePlaceholder')
              focusOut=(action 'handleNameChange' value='target.value')
              isError=(and (contains 'ruleInfo.name' visited) (not ruleInfo.name))
              errorMessage=(t 'respond.aggregationRules.ruleNameRequired')
            }}
          </div>

          <div class="rule-control description">
            {{rsa-form-textarea
              label=(t 'respond.aggregationRules.description')
              value=(readonly ruleInfo.description)
              placeholder=(t 'respond.aggregationRules.descriptionPlaceholder')
              focusOut=(action 'handleDescriptionChange' value='target.value')
            }}
          </div>
        </div>

      </div>
      <div class="form-row">
        <div class="form-cell group-name">{{t 'respond.aggregationRules.matchConditions'}}*</div>
        <div class="form-cell">
          <div class="rule-control match-conditions">
            <div class='query-type'>
              <label>{{t 'respond.aggregationRules.queryMode'}}</label>
              {{#power-select
                options=queryModes
                selected=queryMode
                searchEnabled=false
                onchange=(action 'handleQueryTypeChange') as |queryMode|}}
                {{t (concat 'respond.aggregationRules.queryModes.' queryMode)}}
              {{/power-select}}
            </div>
            {{#if hasAdvancedQuery}}
              {{rsa-form-textarea
                value=(readonly ruleInfo.uiFilterConditions)
                isError=(and (contains 'ruleInfo.uiFilterConditions' visited) (not ruleInfo.uiFilterConditions))
                focusOut=(action 'handleAdvancedQueryChange' value='target.value')
              }}
            {{else}}
              {{rule-builder}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-cell group-name">{{t 'respond.aggregationRules.action'}}*</div>
        <div class="form-cell">
          <div class="rule-control action">
            <div class='rsa-form-radio-group'>
              <h4 class='rsa-form-radio-group-label'>{{t 'respond.aggregationRules.actionMessage'}}</h4>
              <label class="rsa-form-radio-label {{if (eq ruleInfo.action 'GROUP_INTO_INCIDENT') 'checked'}}">
                {{radio-button
                  value='GROUP_INTO_INCIDENT'
                  groupValue=(readonly ruleInfo.action)
                  changed='handleActionChange'}}
                {{t 'respond.aggregationRules.groupAction'}}
              </label>

              <label class="rsa-form-radio-label {{if (eq ruleInfo.action 'SUPPRESS_ALERT') 'checked'}}">
                {{radio-button
                  value='SUPPRESS_ALERT'
                  groupValue=(readonly ruleInfo.action)
                  changed='handleActionChange'}}
                {{t 'respond.aggregationRules.suppressAction'}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{#if (eq ruleInfo.action 'GROUP_INTO_INCIDENT')}}
      {{rsa-aggregation-rule/grouping-options
        ruleInfo=ruleInfo
        fields=fields
        update=(action 'update')
      }}
    {{/if}}
  </section>
  <footer>
    {{#if isMissingRequiredData}}
      <span class="missing-information-warning">
        {{rsa-icon name='report-problem-triangle'}}
        {{t 'respond.aggregationRules.missingRequiredInfo'}}
      </span>
    {{/if}}

    <hbox class="form-save-controls">
      {{#rsa-form-button class='cancel-button' defaultAction=(route-action 'transitionToRules')}}
        {{t 'forms.cancel'}}
      {{/rsa-form-button}}
      {{#rsa-form-button style='primary' class='confirm-button' defaultAction='save' isDisabled=isMissingRequiredData}}
        {{t 'forms.save'}}
      {{/rsa-form-button}}
    </hbox>
  </footer>
{{/if}}
{{! Overlay to prevent interactions during transactions }}
{{#if isTransactionUnderway}}
  <div class="transaction-overlay">
    <centered>
      {{rsa-loader size="large"}}
    </centered>
  </div>
{{/if}}
{{#if showConfirmationDialog}}
  {{#rsa-application-modal eventId='change-query-type' label=(t "respond.aggregationRules.confirmQueryChange") style="standard respond-confirmation-dialog"}}
    <div class='modal-content'>
      {{#if confirmationData.warning}}
        <p>{{confirmationData.warning}}</p>
      {{/if}}
      <p>{{t 'respond.confirm'}}</p>
    </div>
    <footer>
      <hbox class="modal-footer-buttons">
        {{#rsa-form-button class='cancel-button' defaultAction='cancel'}}
          {{t 'forms.cancel'}}
        {{/rsa-form-button}}
        {{#rsa-form-button style='danger' class='confirm-button' defaultAction='confirm'}}
          {{t 'forms.ok'}}
        {{/rsa-form-button}}
      </hbox>
    </footer>
  {{/rsa-application-modal}}
{{/if}}