<div id="modalDestination"></div>

{{#if session.isAuthenticated}}
  {{#rsa-application-header}}
    {{#link-to "protected.monitor" class="rsa-header-nav-monitor js-test-nav-monitor-link"}}{{t "monitor.title"}}{{/link-to}}
    {{#if features.showRespondRoute}}
      {{#link-to "protected.respond" class="rsa-header-nav-respond js-test-nav-respond-link"}}{{t "respond.title"}}{{/link-to}}
    {{/if}}
    {{#if features.showInvestigateRoute}}
      {{#link-to "protected.investigate" class="rsa-header-nav-investigate js-test-nav-investigate-link"}}{{t "investigate.title"}}{{/link-to}}
    {{/if}}
    {{#link-to "protected.admin" class="rsa-header-nav-admin js-test-nav-admin-link"}}{{t "admin.title"}}{{/link-to}}
  {{/rsa-application-header}}
{{/if}}

{{#if session.isAuthenticated}}
  {{rsa-application-action-bar}}
{{/if}}

{{#rsa-application-content}}
  {{outlet}}
{{/rsa-application-content}}

{{#if session.isAuthenticated}}
  {{rsa-application-footer title=(t 'application.title') version=(t 'application.version')}}
{{/if}}

{{rsa-application-notifications-panel}}
{{rsa-application-incident-queue-panel}}
