<div id="modalDestination"></div>
{{#rsa-application-modal
  label="Critical Error"
  style='error'
  eventId='fatalError'
  modalDidClose='clearFatalErrorQueue'}}
  <div class='modal-content'>
    {{#each fatalErrors.queue as |error|}}
      <p>{{error}}</p>
    {{/each}}
  </div>
{{/rsa-application-modal}}

{{#if session.isAuthenticated}}
  {{#rsa-application-header}}
    {{#if features.showRespondRoute}}
      {{#link-to "protected.respond" class="rsa-header-nav-respond js-test-nav-respond-link"}}{{t "respond.title"}}{{/link-to}}
    {{/if}}
    {{#if features.showInvestigateRoute}}
      {{#link-to "protected.investigate" class="rsa-header-nav-investigate js-test-nav-investigate-link"}}{{t "investigate.title"}}{{/link-to}}
    {{/if}}
    <a href="/unified/dashboard" class="rsa-header-nav-monitor js-test-nav-monitor-link">{{t "monitor.title"}}</a>
    <a href="/live/search" class="rsa-header-nav-configure">{{t "config.title"}}</a>
    <a href="/admin/appliances" class="rsa-header-nav-admin">{{t "admin.title"}}</a>
  {{/rsa-application-header}}
{{/if}}

{{#if session.isAuthenticated}}
  {{rsa-application-action-bar}}
{{/if}}

{{#rsa-application-content}}
  {{outlet}}
{{/rsa-application-content}}

{{#if session.isAuthenticated}}
  {{rsa-application-footer title=(t 'application.title') version=(t 'application.version')}}
{{/if}}

{{rsa-application-notifications-panel}}
{{rsa-application-incident-queue-panel}}
