{{head-layout}}
<ul class="rsa-flash-messages">
  {{#each flashMessages.queue as |flash|}}
    {{#flash-message tagName="li" flash=flash as |component flash|}}
      <hbox align="stretch">
        <centered xs="2">
          {{#if (eq flash.type 'success')}}
            {{rsa-icon name='check-circle-2' style=flash.iconStyle size=flash.iconSize}}
          {{else if (eq flash.type 'warning')}}
            {{rsa-icon name='report-problem-circle' style=flash.iconStyle size=flash.iconSize}}
          {{else if (eq flash.type 'error')}}
            {{rsa-icon name='delete-1' style='filled' size=flash.iconSize}}
          {{else}}
            {{rsa-icon name='information-circle' style=flash.iconStyle size=flash.iconSize}}
          {{/if}}
        </centered>
        <vbox xs="9" justify="center" class="message">
          {{flash.message}}
        </vbox>
        <vbox xs="1" justify="start" align="center">
          {{rsa-icon name="close"}}
        </vbox>
      </hbox>
    {{/flash-message}}
  {{/each}}
</ul>

{{#if authenticatedAndPageFound}}
  {{#rsa-application-header version=version title=title}}
    {{#if accessControl.hasRespondAccess}}
      {{#link-to "protected.respond" class="rsa-header-nav-respond js-test-nav-respond-link"}}
        {{t "respond.title"}}
      {{/link-to}}
    {{/if}}

    {{#if accessControl.hasInvestigateAccess}}
      {{#if accessControl.hasInvestigateEmberAccess}}
        {{#link-to "protected.investigate" class="rsa-header-nav-investigate js-test-nav-investigate-link"}}
          {{t "investigate.title"}}
        {{/link-to}}
      {{else}}
        <a href="{{accessControl.investigateUrl}}" class="rsa-header-nav-investigate js-test-nav-investigate-link">
          {{t "investigate.title"}}
        </a>
      {{/if}}
    {{/if}}

    {{#if accessControl.hasMonitorAccess}}
      <a href="/unified/dashboard" class="rsa-header-nav-monitor js-test-nav-monitor-link">{{t "monitor.title"}}</a>
    {{/if}}

    {{#if accessControl.hasConfigAccess}}
      <a href="{{accessControl.configUrl}}" class="rsa-header-nav-configure js-test-nav-configure-link {{if isConfigureRoute 'active'}}">{{t "config.title"}}</a>
    {{/if}}

    {{#if accessControl.hasAdminAccess}}
      <a href="{{accessControl.adminUrl}}" class="rsa-header-nav-admin js-test-nav-admin-link">{{t "admin.title"}}</a>
    {{/if}}
  {{/rsa-application-header}}

  {{#rsa-application-content}}
    {{outlet}}
  {{/rsa-application-content}}

  {{rsa-application-user-preferences-panel logout=(route-action 'logout')}}

{{else}}
  {{outlet}}
{{/if}}

<div id="modalDestination"></div>
{{#rsa-application-modal
  label="Critical Error"
  style='error'
  eventId='fatalError'
  modalDidClose='clearFatalErrorQueue'}}
  <div class='modal-content'>
    {{#each fatalErrors.queue as |error|}}
      <p>{{error}}</p>
    {{/each}}
  </div>
{{/rsa-application-modal}}

{{ember-load-remover}}
