<div class="server-input-group">
  <div class="field">
    <hbox xs="12">
      <div class="col-xs-5 host-ip-js">
        {{rsa-form-input
          isError=isServerError
          class='server-input-js'
          errorMessage=(t invalidServerMessage)
          label=(t 'packager.server')
          value=configData.packageConfig.server}}
      </div>
      <div class="col-xs-4 host-port-js">
        {{rsa-form-input
          maxLength=10
          class='port-input-js'
          isError=isPortError
          errorMessage=(t invalidPortMessage)
          label=(t 'packager.port')
          value=configData.packageConfig.port}}
      </div>
    </hbox>
  </div>
</div>
<div class="field rsa-form-radio-group agent-certificate-container">
  <h4 class='rsa-form-radio-group-label'>{{t 'packager.certificateValidation'}}</h4>
  <label class="rsa-form-radio-label {{if (eq 'none' configData.packageConfig.certificateValidation) 'checked'}}">
    {{radio-button
      value='none'
      groupValue=configData.packageConfig.certificateValidation}}
    {{t 'packager.none'}}
  </label>
  <label class="rsa-form-radio-label {{if (eq 'thumbprint' configData.packageConfig.certificateValidation) 'checked'}}">
    {{radio-button
      value='thumbprint'
      groupValue=configData.packageConfig.certificateValidation}}
    {{t 'packager.thumbprint'}}
  </label>
</div>
<div class="server-input-group">
  <div class="field">
    <hbox xs="12">
      <div class="col-xs-5">
        {{rsa-form-input
          type="password"
          class='password-input-js'
          isError=isPasswordError
          errorMessage=(t passwordInvalidMessage)
          label=(t 'packager.certificatePassword')
          value=configData.packageConfig.certificatePassword}}
      </div>
    </hbox>
  </div>
</div>
<div class="field col-xs-5 auto-uninstall-container">
  {{rsa-form-datetime
    label=(t 'packager.autoUninstall')
    showTime=true
    timeLabel=(t 'Time')
    incrementMinuteBy=5
    width=100
    minDate=minDate
    static=true
    value=autoUninstall
    yearRange="currentYear, 2050"
    onChange=(action (mut autoUninstall))
    }}
</div>
<div class="field force-overwrite">
  <label class="rsa-form-checkbox-label {{if configData.packageConfig.forceOverwrite 'checked'}}">
    {{rsa-form-checkbox
      checked=configData.packageConfig.forceOverwrite
      change=(action 'onForceOverwiteChange')}}
    {{t 'packager.forceOverwrite'}}
  </label>
</div>
<div class="server-input-group">
  <div class="field">
    <hbox xs="12">
      <div class="col-xs-5 service-name-js">
        {{rsa-form-input
          isError=isServiceNameError
          class='service-name-input-js'
          errorMessage=(t invalidServiceNameMessage)
          maxLength=256
          label=(t 'packager.serviceName')
          value=configData.packageConfig.serviceName}}
      </div>
      <div class="col-xs-5 display-name-js">
        {{rsa-form-input
          isError=isDisplayNameError
          class='display-name-input-js'
          errorMessage=(t invalidDisplayNameMessage)
          maxLength=256
          label=(t 'packager.displayName')
          value=configData.packageConfig.displayName}}
      </div>
    </hbox>
  </div>
</div>
<div class="field">
  <div class="col-xs-10">
    {{rsa-form-input maxLength=256 label=(t 'packager.description') value=configData.packageConfig.description}}
  </div>
</div>
<div class="windows-log-collection">
  <div class="field">
    <label class="rsa-form-checkbox-label {{if isLogCollectionEnabled 'checked'}}">
      {{rsa-form-checkbox
        checked=isLogCollectionEnabled
        change=(action 'enableLogCollection')}}
      {{t 'packager.enableWindowsLogCollection'}}
    </label>
  </div>
  {{#if isLogCollectionEnabled}}
    <div class="log-configuration-container">
      <hbox xs="12">
        <div class="col-xs-8 field">
          {{rsa-form-input
            label=(t 'packager.configurationName')
            value=configData.logCollectionConfig.configName
            isError=isConfigError
            errorMessage=(t errorMessage)}}
        </div>
        <div class="col-xs-4 field fileContainer">
          <label for="file-upload" class="custom-file-upload">
            {{t 'packager.loadExistingLogConfig'}}
          </label>
          <input id="file-upload" type='file' onchange={{action 'uploadConfig'}} accept='.nwelcfg' value='C:\Fakepath'>
        </div>
      </hbox>

      <div class="col-xs-12 field primary-log-decoder-container">
        <label class={{className}}>
          <div class="label-text">
            {{t 'packager.primaryLogDecoder'}}
          </div>
          {{#power-select
            placeholder=(t 'packager.placeholder')
            options=listOfService
            searchField="value"
            triggerClass=errorClass
            dropdownClass=errorClass
            searchPlaceholder=(t 'packager.searchPlaceholder')
            selected=selectedPrimaryDestination
            onchange=(action 'setPrimaryDestination' value="id") as |list|}}
            {{#each list.value as |val|}}
              <span class="device">{{val}}</span>
            {{/each}}
          {{/power-select}}
        </label>
      </div>

      <div class="col-xs-12 field secondary-log-decoder-container">
        <label class="power-select">
          <div class="label-text">
            {{t 'packager.secondaryLogDecoder'}}
          </div>
          {{#power-select
            placeholder=(t 'packager.placeholder')
            options=listOfSecondaryService
            searchField="value"
            searchPlaceholder=(t 'packager.searchPlaceholder')
            selected=selectedSecondaryDestination
            onchange=(action 'setSecondaryDestination' value="id") as |list|}}
            {{#each list.value as |val|}}
              <span class="device">{{val}}</span>
            {{/each}}
          {{/power-select}}
        </label>
      </div>

      <div class="col-xs-12 field channel-filter-container">
        <label class="power-select">
          <div class="label-text">
            {{t 'packager.channelFilter'}}
          </div>
        </label>
        <div class="icon-align-left add-row">
          {{#rsa-content-tethered-panel-trigger panel=panelId model=(t 'packager.channel.add')}}
            {{#rsa-form-button isIconOnly=true click=(action 'addRowFilter')}}
              {{rsa-icon name='add-1' size='small'}}
            {{/rsa-form-button}}
          {{/rsa-content-tethered-panel-trigger}}
          {{#rsa-content-tethered-panel position='top' panelId=panelId as |hide model|}}
            <section>{{model}}</section>
          {{/rsa-content-tethered-panel}}
        </div>
        <div class="channel-container">
          {{#rsa-data-table lazy=true  items=configData.logCollectionConfig.channels columnsConfig=columns}}
            {{#rsa-data-table/header as |column|}}
              {{t column.title}}
            {{/rsa-data-table/header}}
            {{#rsa-data-table/body as |item index column|}}
              {{packager-form/body-cell
                item=item index=index
                column=column
                delete=(action "deleteRow")
                error=invalidTableItem}}
            {{/rsa-data-table/body}}
          {{/rsa-data-table}}
        </div>
      </div>

      <div class="col-xs-5 field protocol-js">
        <label class="power-select">
          <div class="label-text">
            {{t 'packager.protocol'}}
          </div>
          {{#power-select
            classNames='protocol-dropdown'
            placeholder=(t 'packager.placeholder')
            options=protocolOptions
            selected=selectedProtocol
            searchEnabled=false
            searchPlaceholder=(t 'packager.searchPlaceholder')
            onchange=(action 'setSelect' 'protocol' 'selectedProtocol') as |option|}}
            {{option}}
          {{/power-select}}
        </label>
      </div>

      <div class="field testLog">
        <label class="rsa-form-checkbox-label {{if testLog 'checked'}}">
          {{rsa-form-checkbox
            checked=testLog
            change=(action 'toggleProperty' "testLog")}}
          {{t 'packager.testLog'}}
        </label>
      </div>
    </div>
  {{/if}}
</div>

<div class="field buttons">
  <hbox class="rsa-button-group">
    {{#rsa-form-button class="reset-button" isDisabled=isResetDisabled defaultAction=(action 'reset')}}
      {{t 'packager.reset'}}
    {{/rsa-form-button}}
    {{#rsa-form-button
      style='primary'
      class="generate-button-js"
      isDisabled=isDisabled
      defaultAction=(action 'generateAgent')}}
      {{t 'packager.generateAgent'}}
    {{/rsa-form-button}}
    {{#rsa-form-button
      class="generate-log-button-js"
      isDisabled=isGenerateLogDisabled
      defaultAction=(action 'generateLogConfig')}}
      {{t 'packager.generateLogConfig'}}
    {{/rsa-form-button}}
  </hbox>
</div>
