<input
  autocomplete="off"
  class="ember-power-select-typeahead-input ember-power-select-search-input"
  disabled={{select.disabled}}
  id="ember-power-select-typeahead-input-{{select.uniqueId}}"
  onblur={{action "handleBlur"}}
  onfocus={{action "handleFocus"}}
  oninput={{action "handleInput"}}
  onkeydown={{action "handleKeydown"}}
  onmousedown={{action "stopPropagation"}}
  placeholder={{placeholder}}
  role="combobox"
  size={{size}}
  type="text"
  value={{text}}>
{{#if select.loading}}
  <span class="ember-power-select-typeahead-loading-indicator"></span>
{{/if}}