<hbox class='heading'>
  {{#unless isLogEvent}}
    <div class="heading-select">
      {{#power-select
        triggerClass='recon-view-selector'
        onchange=(action 'findNewReconstructionView')
        options=reconViewsConfig
        placeholder=currentReconView.label
        searchEnabled=false as |option|}}
        {{option.label}}
      {{/power-select}}
    </div>
    <div class="rsa-nav-tab-group heading-tabs">
      {{#each reconViewsConfigFull as |viewConfig|}}
        {{#rsa-nav-tab
          align='left'
          isActive=viewConfig.selected
          click=(action 'findNewReconstructionView' viewConfig)
        }}
          <div class="label">{{viewConfig.label}}</div>
        {{/rsa-nav-tab}}
      {{/each}}
    </div>
  {{else}}
    <div class="tview-heading">
      <div class="tview-label">{{currentReconView.label}}</div>
    </div>
  {{/unless}}
</hbox>


{{rsa-icon
  active=isHeaderOpen
  class='toggle-header header-toggle'
  click=(action "toggleHeader")
  name='layout-6'
  title=(t 'recon.toggles.header')
}}

{{rsa-icon
  active=isRequestShown
  class='toggle-request header-toggle'
  click=(action "toggleRequest")
  disabled=disableRequestResponseToggles
  name='arrow-circle-right-2'
  title=(t 'recon.toggles.request')}}

{{rsa-icon
  active=isResponseShown
  class='toggle-response header-toggle'
  click=(action "toggleResponse")
  disabled=disableRequestResponseToggles
  name='arrow-circle-left-2'
  title=(t 'recon.toggles.response')}}

{{rsa-icon
  active=true
  class='header-toggle'
  disabled=lacksPackets
  name='view-agenda'
  title=(t 'recon.toggles.topBottom')}}

{{rsa-icon
  class='header-toggle'
  disabled=lacksPackets
  name='layout-4'
  title=(t 'recon.toggles.sideBySide')}}

{{rsa-icon
  active=isMetaShown
  class='toggle-meta header-toggle'
  click=(action 'toggleMeta')
  name='layout-2'
  title=(t 'recon.toggles.meta')}}

<div class="divider"></div>

{{rsa-icon
  class='header-toggle'
  name='cog'
  title=(t 'recon.toggles.settings')}}

{{rsa-icon
  class='header-toggle'
  click=(action 'toggleExpanded')
  name=(concat 'arrow-' arrowDirection '-9')
  title=(t 'recon.toggles.expand')}}

{{rsa-icon
  class='header-toggle'
  click=(action 'closeRecon')
  name='close'
  title=(t 'recon.toggles.close')}}
