<hbox class='heading'>
  {{#rsa-form-select
      multiple=false
      prompt=displayTitle
      alwaysUsePrompt=true
      onchange=(action 'findNewReconstructionView')}}
    {{#each reconViewsConfig as |item|}}
      <option value={{item.code}} selected={{item.selected}}>{{item.label}}</option>
    {{/each}}
  {{/rsa-form-select}}
</hbox>

{{rsa-icon
  active=showHeaderData
  class='toggle-header header-toggle'
  click=toggleHeaderData
  name='layout-6'
  size='large'}}

{{rsa-icon
  active=showResponseData
  class='header-toggle'
  name='arrow-circle-right-2'
  size='large'}}

{{rsa-icon
  active=showRequestData
  class='header-toggle'
  name='arrow-circle-left-2'
  size='large'}}

{{rsa-icon
  active=true
  class='header-toggle'
  name='view-agenda'
  size='large'}}

{{rsa-icon
  class='header-toggle'
  name='layout-4'
  size='large'}}

{{rsa-icon
  active=showMetaDetails
  class='toggle-meta header-toggle'
  click=(action 'toggleMetaDetails')
  name='layout-2'
  size='large'}}

<div class="divider"></div>

{{rsa-icon
  class='header-toggle'
  name='cog'
  size='large'}}

{{rsa-icon
  class='header-toggle'
  click=(action 'toggleExpanded')
  name=(concat 'arrow-' arrowDirection '-9')
  size='large'}}

{{rsa-icon
  class='header-toggle'
  click=closeRecon
  name='close'
  size='large'}}
