<hbox class='heading'>
  {{#rsa-form-select
      multiple=false
      prompt=displayTitle
      alwaysUsePrompt=true
      onchange=(action 'findNewReconstructionView')}}
    {{#each reconViewsConfig as |item|}}
      <option value={{item.code}} selected={{item.selected}}>{{item.label}}</option>
    {{/each}}
  {{/rsa-form-select}}
</hbox>

{{#rsa-form-button active=showHeaderData isIconOnly=true}}
  {{rsa-icon class='toggle-header' name='layout-6' click=toggleHeaderData}}
{{/rsa-form-button}}

{{#rsa-form-button isIconOnly=true}}
  {{rsa-icon class='toggle-meta' name='layout-12' click=(action 'toggleMetaDetails')}}
{{/rsa-form-button}}

{{#rsa-form-button isIconOnly=true}}
  {{rsa-icon name='information-circle' style='lined'}}
{{/rsa-form-button}}

<div class="divider"></div>

{{#rsa-form-button isIconOnly=true}}
  {{rsa-icon name='cog'}}
{{/rsa-form-button}}

{{#rsa-form-button isIconOnly=true}}
  {{rsa-icon name=(concat 'arrow-' arrowDirection '-9') click=(action 'toggleExpanded')}}
{{/rsa-form-button}}

{{#rsa-form-button isIconOnly=true}}
  {{rsa-icon name='close' click=closeRecon}}
{{/rsa-form-button}}
