<hbox class='heading'>
  {{#rsa-form-select
      multiple=false
      prompt=displayTitle
      alwaysUsePrompt=true
      onchange=(action 'findNewReconstructionView')}}
    {{#each reconViewsConfig as |item|}}
      <option value={{item.code}} selected={{item.selected}}>{{item.label}}</option>
    {{/each}}
  {{/rsa-form-select}}
</hbox>

{{rsa-icon
  active=isHeaderOpen
  class='toggle-header header-toggle'
  click=(action "toggleHeader")
  name='layout-6'}}

{{rsa-icon
  active=isRequestShown
  class='header-toggle'
  click=(action "toggleRequest")
  disabled=disablePacketIcons
  name='arrow-circle-right-2'}}

{{rsa-icon
  active=isResponseShown
  class='header-toggle'
  click=(action "toggleResponse")
  disabled=disablePacketIcons
  name='arrow-circle-left-2'}}

{{rsa-icon
  active=true
  class='header-toggle'
  disabled=disablePacketIcons
  name='view-agenda'}}

{{rsa-icon
  class='header-toggle'
  disabled=disablePacketIcons
  name='layout-4'}}

{{rsa-icon
  active=isMetaShown
  class='toggle-meta header-toggle'
  click=(action 'toggleMeta')
  name='layout-2'}}

<div class="divider"></div>

{{rsa-icon
  class='header-toggle'
  name='cog'}}

{{rsa-icon
  class='header-toggle'
  click=(action 'toggleExpanded')
  name=(concat 'arrow-' arrowDirection '-9')}}

{{rsa-icon
  class='header-toggle'
  click=(action 'closeRecon')
  name='close'}}
