<hbox class='heading'>
  <h2>
    {{displayTitle}}
  </h2>
</hbox>
<grid class='action-buttons'>
  <centered xs="2">{{rsa-icon name='window-1' size='large'}}</centered>
  <centered xs="2">{{rsa-icon name='window-2' size='large'}}</centered>
  <centered xs="2">{{rsa-icon name='cog' size='large'}}</centered>
  <centered xs="2">{{rsa-icon name='arrow-left-9' size='large'}}</centered>
</grid>
