<h4 class='title'>
  {{#rsa-text-with-tooltip value=tooltip
  style="standard"
  alwaysShow=true}}
    {{t (concat 'adminUsm.policyWizard.edrPolicy.' selectedSettingId)}}
  {{/rsa-text-with-tooltip}}
  <span class="remove-setting"{{action 'removeFromSelectedSettings' selectedSettingId}}>
    {{rsa-icon name="remove-circle-1" style="lined"}}
  </span>
</h4>
<hbox>
  {{rsa-form-input
    class='beacon-interval-value'
    value=(readonly beaconIntervalValue)
    isError=beaconIntervalValueValidator.showError
    errorMessage=(t beaconIntervalValueValidator.errorMessage)
    focusOut=(action 'handleBeaconIntervalValueChange')
  }}
  <div class="beacon-interval-unit">
    {{#power-select
      class='beacon-interval-unit'
      options=beaconIntervalUnits
      selected=selectedBeaconIntervalUnit
      searchField='label'
      onchange=(action 'handleBeaconIntervalUnitChange') as |option|
    }}
      {{option.label}}
    {{/power-select}}
  </div>
</hbox>
