{{endpoint/edit-file-status
  isDisabled=isEditStatusButtonDisabled
  itemList=itemList
  fileStatusData=fileStatusData
  getSavedFileStatus=getSavedFileStatus
  showOnlyIcons=showOnlyIcons
  onSaveFileStatus=onSaveFileStatus
  restrictedFileList=restrictedFileList
  retrieveRemediationStatus=retrieveRemediationStatus
  isRemediationAllowed=isRemediationAllowed
  isFloatingOrMemoryDll=isFloatingOrMemoryDll}}

{{endpoint/pivot-to-event-analysis selections=itemList pivotToInvestigate=(action 'pivotToInvestigate')}}

{{#rsa-content-tethered-panel-trigger
  panel=(if isEditStatusButtonDisabled 'file-status-more-actions disabled' 'file-status-more-actions')
  triggerEvent='click'
}}
  {{#rsa-form-button
    isIconOnly=false
    title=(t 'investigateShared.endpoint.fileActions.moreActions')
    withDropdown=true
    isDisabled=isEditStatusButtonDisabled
    class='watch-button more-action-button'}}
    {{rsa-icon name='navigation-show-more-2' size='small'}}
    {{#unless showOnlyIcons}}
      {{t 'investigateShared.endpoint.fileActions.moreActions'}}
    {{/unless}}
  {{/rsa-form-button}}
{{/rsa-content-tethered-panel-trigger}}
{{#rsa-content-tethered-panel
  panelClass="file-action-selector-panel"
  displayCloseButton=false
  isPopover=true
  panelId='file-status-more-actions'
  position='bottom-right'
  as |hideTooltip|
}}
  <ul class="rsa-dropdown-action-list" {{action hideTooltip}}>
    {{#each fileActionOptions as |fileAction|}}
      {{#if fileAction.subItems}}
        <li class="{{if isEditStatusButtonDisabled 'disabled'}}">
          {{#rsa-content-tethered-panel-trigger
            panel=fileAction.panelId
            displayDelay=200
            hideDelay=100
            isDisabled=isEditStatusButtonDisabled
          }}
            <div>
              {{fileAction.title}}
              {{rsa-icon name='arrow-right-12'}}
            </div>
          {{/rsa-content-tethered-panel-trigger}}

          {{#rsa-content-tethered-panel
            panelClass="file-action-selector-panel"
            displayCloseButton=false
            isPopover=true
            panelId=fileAction.panelId
            position='right-bottom'
            as |hideTooltip|
          }}
            <ul class="rsa-dropdown-action-list" {{action hideTooltip}}>
              {{#each fileAction.subItems as |subItem|}}
                <li {{action 'onFileAction' subItem}}>{{subItem.title}}</li>
              {{/each}}
            </ul>
          {{/rsa-content-tethered-panel}}
        </li>
      {{else if (eq fileAction.name 'resetRiskScore')}}
        <hr class="divider actionSeperator">
        <li class="{{if isEditStatusButtonDisabled 'disabled'}}" {{action 'onResetAction'}}>{{fileAction.title}}</li>
      {{else}}
        {{#if (eq fileAction.name 'downloadToServer')}}
          <hr class="divider actionSeperator">
        {{/if}}
        <li title="{{if fileAction.disabled fileAction.disabledTooltip}}" 
        class="{{fileAction.panelId}}{{if fileAction.disabled ' disabled'}}" 
        {{action 'onFileDownloadOptions' fileAction.name fileAction.disabled}}>
          {{fileAction.title}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
{{/rsa-content-tethered-panel}}

{{#if showResetScoreModal}}
  {{#rsa-application-modal
    class="reset-risk-score"
    autoOpen=true
    label=(t 'investigateFiles.riskScore.label')
    onClose=(action 'onResetScoreModalClose')}}
    <div class='modal-content reset-risk-score'>
      {{#if isMaxResetRiskScoreLimit}}
        <span class='max-limit-info'>
          {{rsa-icon class='rsa-icon-information-circle-filled'}}
          <p>
            {{t 'investigateFiles.riskScore.limitInfo'}}
          </p>
        </span>
      {{/if}}
      {{t 'investigateFiles.riskScore.confirmMessage'}}
      <div class="confirmationButtons">
        {{#rsa-form-button class="closeReset" click=(action 'onResetScoreModalClose') }}{{t 'investigateFiles.riskScore.cancel'}}{{/rsa-form-button}}
        {{#rsa-form-button class="resetButton" style='primary' click=(action 'resetRiskScoreAction')}}
          {{t 'investigateFiles.riskScore.reset'}}
        {{/rsa-form-button}}
      </div>
    </div>
  {{/rsa-application-modal}}
{{/if}}

