<h1 class="large centered">Session Database</h1>
{{#rsa-chart data=graphAdapter as |params|}}
  {{#each params.data as |series index|}}
    {{rsa-line-series
      data=params.data
      dataIndex=index
      xScale=params.xScale
      yScale=params.yScale
      height=params.graphHeight}}
  {{/each}}
  {{rsa-y-axis scale=params.yScale tickCount=3}}
{{/rsa-chart}}
<h1 class="large centered">{{ngcoreui-formatted-number size=valuesAdapter.session_rate}} Sessions/Second</h1>
{{#dashboard-properties-grid}}
  {{dashboard-property-item propertyName='Total Session Count' propertyValue=valuesAdapter.session_total type='numeric'}}
  {{dashboard-property-item propertyName='Total Session Bytes' propertyValue=valuesAdapter.session_bytes type='bytes'}}
  {{dashboard-property-item propertyName='Oldest Session File' propertyValue=valuesAdapter.session_oldest_file_time}}
  {{dashboard-property-item propertyName='Free Session Space' propertyValue=valuesAdapter.session_free_space type='bytes'}}
  {{dashboard-property-item propertyName='Session Volume Size' propertyValue=valuesAdapter.session_volume_bytes type='bytes'}}
{{/dashboard-properties-grid}}
