<hbox class='heading col-xs-8'>
  <div class="host-title">
    {{rsa-icon  disabled=false  class='host-title-icon'  name='computer-notebook-2'}}
    {{hostName}}
  </div>
  <hr class="host-title seperator">
  {{#host-detail/utils/host-title-bar tabs=hostDetailTabs defaultAction=(action 'setNewTabView') as |tab|}}
    {{#link-to 'hosts' (query-params tabName=tab.name)}}
      <div class="label">{{t tab.label}}</div>
    {{/link-to}}
  {{/host-detail/utils/host-title-bar}}
</hbox>
<hbox class="col-xs-4">
  {{host-detail/header/titlebar/explore}}
  <hbox class="titlebar__buttons-holder flexi-fit">
    <hr class="host-title seperator">

    {{rsa-icon click=(action 'toggleOverviewPanel')
               class='toggle-overview header-toggle'
               name=expandContract
               title=(t 'investigateHosts.hosts.button.overview')}}

    {{#link-to 'hosts' (query-params machineId=null tabName=null)}}
      {{rsa-icon class='header-button' name='close' title=(t 'investigateHosts.hosts.button.close')}}
    {{/link-to}}
  </hbox>
</hbox>

