<hbox class="host-title" fit>
  {{rsa-icon  disabled=false  class='host-title-icon'  name='computer-notebook-2'}}
  <div class="host-name">{{hostName}}</div>
  <div class='divider'/>
</hbox>

{{#host-detail/utils/host-title-bar tabs=hostDetailTabs defaultAction=(action 'setNewTabView') as |tab|}}
  {{#link-to 'hosts' (query-params tabName=tab.name)}}
    <div class="label">{{t tab.label}}</div>
  {{/link-to}}
{{/host-detail/utils/host-title-bar}}
{{host-detail/header/titlebar/explore}}
<hbox class="titlebar__buttons-holder flexi-fit">
  <div class='divider'/>
  {{rsa-icon
    click=(action 'toggleOverviewPanel')
    class='toggle-overview header-toggle'
    name=expandContract
    title=(t 'investigateHosts.hosts.button.overview')}}
  {{#link-to 'hosts' (query-params machineId=null tabName=null)}}
    {{rsa-icon class='header-button' name='close' title=(t 'investigateHosts.hosts.button.close')}}
  {{/link-to}}
</hbox>

