<h2> {{t 'configure.logsParser.values'}} </h2> 
<div class='vSpacer vSpacerFirst ruleValues'> 
  <label class="rsa-form-label power-select">
    {{#power-select
      placeholder="Make a selection"
      options=parserRuleFormatNames
      selected=selectedParserRuleFormat.name
      allowClear=true
      searchPlaceholder="Type to filter options"      
      onchange=(action 'selectFormatValue') as |option|}}
      {{option}}
    {{/power-select}}
  </label>
</div>

<div class='vSpacer ruleType'>
  {{rsa-form-input label=(t 'configure.logsParser.type') value=selectedParserRuleFormat.type isReadOnly=true isInline=true}}
</div>

<div class='vSpacer ruleMatches'>
  {{rsa-form-input label=(t 'configure.logsParser.valueMatching') value=selectedParserRuleFormat.matches isReadOnly=true isInline=true}}
</div>
{{#if (eq selectedParserRuleFormat.type 'regex')}}
  <div class='vSpacer ruleRegex'>
    {{rsa-form-textarea label=(t 'configure.logsParser.pattern') value=parserRuleRegex isInline=true isReadOnly=true}}
  </div>
{{/if}}

