<div class='vSpacer vSpacerFirst ruleValues'> 
  <label class="rsa-form-label power-select">
    {{#power-select
      placeholder="Make a selection"
      options=formatOptions
      selected=selectedFormat
      searchPlaceholder="Type to filter options"
      disabled=rule.outOfBox
      onchange=(action 'handleFormatChange') as |option|}}
      {{option.name}}
    {{/power-select}}
  </label>
</div>

<div class='vSpacer ruleType'>
  {{rsa-form-input label=(t 'configure.logsParser.type') value=selectedFormat.type isReadOnly=true isInline=true}}
</div>

<div class='vSpacer ruleMatches'>
  {{rsa-form-input label=(t 'configure.logsParser.valueMatching') value=selectedFormat.matches isReadOnly=true isInline=true}}
</div>
{{#if isRegex}}
  <div class='vSpacer ruleRegex'>
    {{log rule}}
    {{rsa-form-textarea label=(t 'configure.logsParser.pattern') value=regex isInline=true isDisabled=rule.outOfBox}}
  </div>
{{/if}}

