<vbox>
  <span class="help-title">{{t 'adminUsm.groupWizard.applyPolicy.helpTitle.label1'}}</span>
  <span class="help-title">{{t 'adminUsm.groupWizard.applyPolicy.helpTitle.label2'}}</span>

  <vbox class="source-type-wrapper">
    {{#if hasAssignments}}
      {{#each assignedPolicyList as |policy|}}
        {{#if (eq policy.id 'placeholder') }}
          {{usm-groups/group-wizard/apply-policy-step/source-type
            selectedSourceType=policy.policyType
            selectedPolicy=null}}
        {{else}}
          {{usm-groups/group-wizard/apply-policy-step/source-type
            selectedSourceType=policy.policyType
            selectedPolicy=policy}}
        {{/if}}
      {{/each}}
    {{else}}
      {{usm-groups/group-wizard/apply-policy-step/source-type}}
    {{/if}}
  </vbox>

  <vbox>
    {{#rsa-form-button
      class='add-source-type-button'
      style='standard'
      defaultAction='addSourceType'
      isDisabled=(not isStepValid)
    }}
      {{t 'adminUsm.groupWizard.applyPolicy.addSourceType'}}
    {{/rsa-form-button}}
  </vbox>

</vbox>