<div class="rsa-context-panel__context-data-table__heading-text">
  {{t dSDetails.title}}{{dsData.header}}
</div>
{{#if (not dsData)}}
  <hbox class='rsa-context-panel__loader'>
    <div class="rsa-loader is-largest">
      <div class="rsa-loader__wheel"></div>
      <div class="rsa-loader__text"></div>
    </div>
  </hbox>
{{else if headerData.errorMessage}}
  <div class='rsa-context-panel__error-text'>{{rsa-icon style='lined' name='report-problem-triangle'}} {{headerData.errorMessage}}</div>
{{/if}}
