<div class='alerts-tab_body_body-table_body_row_alerts'>
  {{#each alerts as |alertList|}}
    {{#each alertList as |alert|}}
      <div class='alerts-tab_body_body-table_body_row_alerts_alert' {{action 'expandAlert' alert.id}}>
        <div class='severity' title='{{t 'investigateUsers.alerts.score'}}: {{alert.score}}'>
          <span class='alerts-tab_body_body-table_body_row_date_icon'>
            {{#if (eq alertClicked  alert.id)}}
              {{rsa-icon size='small' style='lined' name='arrow-down-12'}}
            {{else}}
              {{rsa-icon size='small' style='lined' name='arrow-right-12'}}
            {{/if}}  
          </span>
          <div class={{alert.severity}}>
          </div>
          {{alert.severity}}
        </div>
        <div class='alertName'>
          <span {{action 'initiateUser' (hash userId=alert.entityId alertId=alert.id)}}>
            {{t (concat 'investigateUsers.alerts.alertNames.' alert.name '.name')}}
          </span>
          <span class='lighter'> | {{alert.timeframe}} </span>
        </div>
        <div class='entityName'>
          {{alert.entityName}}
        </div>
        <div class='startTime'>
          {{rsa-content-datetime timestamp=alert.startDate displayMilliseconds=false}}
        </div>
        <div class='indicatorCount'>
          {{alert.evidenceSize}}
        </div>
        <div class='status'>
          {{if (eq alert.status 'Open') (t 'investigateUsers.feedback.none') (t 'investigateUsers.feedback.rejected')}}
        </div>
      </div>
      {{#if (eq alertClicked  alert.id)}}
        {{alerts-tab/body/alerts-table/date-row/alert/indicators alert=alert}}
      {{/if}}
    {{/each}}
  {{/each}}
</div>