{{#rsa-application-modal eventId='bulk-edit-delete' label=(t "incident.bulkEdit.deleteConfirmation") }}
  <div class='modal-content rsa-respond-bulk-edit-delete-confirm'>
    <p>{{ t "incident.bulkEdit.areYouSureConfirmation" count=totalIncidentsDeleted }}</p>
    {{#rsa-form-button isFullWidth=true style='danger' defaultAction=(action 'confirmDelete')}}
      {{t 'forms.delete'}}
    {{/rsa-form-button}}

    {{#rsa-form-button isFullWidth=true defaultAction=(action 'closeDeleteConfirmModal')}}
      {{t 'forms.cancel'}}
    {{/rsa-form-button}}
  </div>
{{/rsa-application-modal}}

{{#rsa-content-section-header}}
  <div class="rsa-bulk-edit-options-group">

    {{#power-select
      class='rsa-form-status-select'
      tagName='div'
      options=statusList
      selected=selected.statusSort
      disabled=isStatusSelectorDisabled
      placeholder=(t 'incident.bulkEdit.statusSelectListLabel')
      allowClear=true
      searchEnabled=false
      onchange=(action 'selectElement' 'statusSort' statusList)
      as |status|}}
      {{t (concat 'incident.status.' status.id)}}
    {{/power-select}}

    {{#power-select
      class='rsa-form-assignee-select'
      tagName='div'
      options=usersList
      selected=selected.assignee
      disabled=isSelectAvailable
      placeholder=(t 'incident.bulkEdit.assigneeSelectListLabel')
      searchField="firstName"
      allowClear=true
      searchEnabled=false
      onchange=(action 'selectElement' 'assignee' usersList)
      as |user|}}
      {{#if (eq user.id -1)}}
        {{t 'incident.assignee.none'}}
      {{else}}
        {{user.name}}
      {{/if}}
    {{/power-select}}

    {{#power-select
      class='rsa-form-priority-select'
      tagName='div'
      options=priorityList
      selected=selected.prioritySort
      disabled=isSelectAvailable
      placeholder=(t 'incident.bulkEdit.prioritySelectListLabel')
      allowClear=true
      searchEnabled=false
      onchange=(action 'selectElement' 'prioritySort' priorityList)
      as |priority|}}
      {{t (concat 'incident.priority.' priority.id)}}
    {{/power-select}}

  </div>

  <div class="rsa-bulk-edit-button-group">
    {{#rsa-form-button style='danger' class=(concat 'rsa-bulk-edit-button-group__delete-btn') isDisabled=isDeleteDisabled defaultAction=(action 'showBulkDeleteModal')}}
      {{t 'forms.delete'}}
    {{/rsa-form-button}}

    {{#rsa-form-button class=(concat 'rsa-bulk-edit-button-group__cancel-btn' (unless isBulkEditInProgress " is-hidden")) defaultAction=(action 'cancelEdit')}}
      {{t 'incident.bulkEdit.cancelButton'}}
    {{/rsa-form-button}}

    {{#rsa-form-button style='primary' class=(concat 'rsa-bulk-edit-button-group__save-btn' (unless isBulkEditInProgress " is-hidden")) defaultAction=(action 'validateBulkSave')}}
      {{t 'incident.bulkEdit.saveButton'}}
    {{/rsa-form-button}}

    <span class="rsa-bulk-edit-message {{if showMessage 'is-shown'}}">
      {{rsa-icon name='check-2'}}
      {{t (if (eq showMessage 'delete') 'incident.bulkEdit.successfulDeleteMessage' 'incident.bulkEdit.successfulUpdateMessage') totalFields=affectedIncidents count=affectedIncidents }}
    </span>

  </div>

{{/rsa-content-section-header}}
