<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="States"}}
      {{#spec-member title="Default"}}
        {{rsa-form-checkbox label='Input Label'}}
        {{!-- BEGIN-SNIPPET checkbox1
        {{rsa-form-checkbox label='Input Label'}}
        END-SNIPPET --}}
        {{code-snippet name="checkbox1.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Read Only"}}
        {{rsa-form-checkbox label='Input Label' isReadOnly=true}}
        {{!-- BEGIN-SNIPPET checkbox2
        {{rsa-form-checkbox label='Input Label' isReadOnly=true}}
        END-SNIPPET --}}
        {{code-snippet name="checkbox2.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Disabled"}}
        {{rsa-form-checkbox label='Input Label' isDisabled=true}}
        {{!-- BEGIN-SNIPPET checkbox3
        {{rsa-form-checkbox label='Input Label' isDisabled=true}}
        END-SNIPPET --}}
        {{code-snippet name="checkbox3.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Error"}}
        {{rsa-form-checkbox label='Input Label' isError=true}}
        {{!-- BEGIN-SNIPPET checkbox4
        {{rsa-form-checkbox label='Input Label' isError=true}}
        END-SNIPPET --}}
        {{code-snippet name="checkbox4.hbs"}}
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
