<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="States"}}
      {{#spec-member title="Default"}}
        {{rsa-form-checkbox label='Input Label'}}

        <code>
          &#123;{rsa-form-checkbox label='Input Label'}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Read Only"}}
        {{rsa-form-checkbox label='Input Label' isReadOnly=true}}

        <code>
          &#123;{rsa-form-checkbox label='Input Label' isReadOnly=true}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Disabled"}}
        {{rsa-form-checkbox label='Input Label' isDisabled=true}}

        <code>
          &#123;{rsa-form-checkbox label='Input Label' isDisabled=true}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Error"}}
        {{rsa-form-checkbox label='Input Label' isError=true}}

        <code>
          &#123;{rsa-form-checkbox label='Input Label' isError=true}}
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
