<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="States"}}
      {{#spec-member title="Default"}}
        <label class="rsa-form-checkbox-2">
          {{rsa-form-checkbox-2
          checked=isChecked
          change=(action 'toggleIsChecked')}}
          Input Label
        </label>

        {{!-- BEGIN-SNIPPET checkbox1
        <label class="rsa-form-checkbox-2">
          {{rsa-form-checkbox-2
          checked=isChecked
          change=(action 'toggleIsChecked')}}
          Input Label
        </label>
        END-SNIPPET --}}
        {{code-snippet name="checkbox1.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Disabled"}}
        <label class="rsa-form-checkbox-2 {{if true 'disabled'}}">
          {{rsa-form-checkbox-2
          checked=isChecked
          disabled=true
          change=(action 'toggleIsChecked')}}
          Input Label
        </label>
        {{!-- BEGIN-SNIPPET checkbox3
        <label class="rsa-form-checkbox-2 {{if true 'disabled'}}">
          {{rsa-form-checkbox-2
          checked=isChecked
          disabled=true
          change=(action 'toggleIsChecked')}}
          Input Label
        </label>
        END-SNIPPET --}}
        {{code-snippet name="checkbox3.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Error"}}
        <label class="rsa-form-checkbox-2 {{if true 'error'}}">
          {{rsa-form-checkbox-2
          checked=isChecked
          change=(action 'toggleIsChecked')}}
          Input Label
        </label>
        {{!-- BEGIN-SNIPPET checkbox4
        <label class="rsa-form-checkbox-2 {{if true 'error'}}">
          {{rsa-form-checkbox-2
          checked=isChecked
          change=(action 'toggleIsChecked')}}
          Input Label
        </label>
        END-SNIPPET --}}
        {{code-snippet name="checkbox4.hbs"}}
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
