{{#rsa-data-table items=nodeListCopy columnsConfig=columnsConfig enableResizeColumn=false}}
  {{#rsa-data-table/header currentSort=currentSort as |column|}}
    {{#if column.headerComponentClass}}
      <label class="rsa-form-checkbox-label {{if allItemsChecked 'checked'}}">
        {{rsa-form-checkbox checked=allItemsChecked change=(action 'toggleAllSelection' nodeListCopy)}}
      </label>
    {{else}}
      {{t column.title}}
      {{#unless column.disableSort}}
        {{rsa-icon
          click=(action 'sort' column)
          name="arrow-down-7"
          class="sort"}}
      {{/unless}}
    {{/if}}
  {{/rsa-data-table/header}}
  {{#rsa-data-table/body as |item index column|}}
    {{#if column.componentClass}}
      {{#rsa-data-table/body-cell item=item column=column}}
        <label class="rsa-form-checkbox-label {{if item.selected 'checked'}}">
          {{rsa-form-checkbox checked=item.selected change=(action 'toggleSelection' item)}}
        </label>
      {{/rsa-data-table/body-cell}}
    {{else if (eq column.field 'data.riskScore')}}
      {{#rsa-data-table/body-cell item=item column=column}}
        <centered>
          {{#if (get item column.field)}}
            {{rsa-risk-score score=(get item column.field) size='small'}}
          {{else}}
            {{rsa-risk-score score='0' size='small'}}
          {{/if}}
        </centered>
      {{/rsa-data-table/body-cell}}
    {{else}}
      {{rsa-data-table/body-cell item=item column=column}}
    {{/if}}
  {{/rsa-data-table/body}}
{{/rsa-data-table}}