<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="Multiple Triggers One Tooltip"}}
      {{#spec-member title="Example"}}
        {{#rsa-content-help-trigger tooltip='tooltip1'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}

        {{#rsa-content-help-trigger tooltip='tooltip1'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}

        {{#rsa-content-tooltip position='top' tooltipId='tooltip1'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip1
        {{#rsa-content-help-trigger tooltip='tooltip1'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}

        {{#rsa-content-help-trigger tooltip='tooltip1'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}

        {{#rsa-content-tooltip position='top' tooltipId='tooltip1'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip1.hbs"}}
      {{/spec-member}}
    {{/spec-category}}

    {{#spec-category title="Events"}}
      {{#spec-member title="Hover"}}
        {{#rsa-content-help-trigger tooltip='tooltip2'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top' tooltipId='tooltip2'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip2
        {{#rsa-content-help-trigger tooltip='tooltip2'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top' tooltipId='tooltip2'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip2.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Click"}}
        {{#rsa-content-help-trigger triggerEvent="click" tooltip='tooltip3'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top' tooltipId='tooltip3'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip3
        {{#rsa-content-help-trigger triggerEvent="click" tooltip='tooltip3'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top' tooltipId='tooltip3'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip3.hbs"}}
      {{/spec-member}}
    {{/spec-category}}

    {{#spec-category title="Styles"}}
      {{#spec-member title="Default"}}
        {{#rsa-content-help-trigger tooltip='tooltip4'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top' tooltipId='tooltip4'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip4
        {{#rsa-content-help-trigger tooltip='tooltip4'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top' tooltipId='tooltip4'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip4.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Primary"}}
        {{#rsa-content-help-trigger tooltip='tooltip5'}}
          {{#rsa-form-button style='primary'}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip style="primary" position='top' tooltipId='tooltip5'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip5
        {{#rsa-content-help-trigger tooltip='tooltip5'}}
          {{#rsa-form-button style='primary'}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip style="primary" position='top' tooltipId='tooltip5'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip5.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Danger"}}
        {{#rsa-content-help-trigger tooltip='tooltip6'}}
          {{#rsa-form-button style='danger'}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip style="error" position='top' tooltipId='tooltip6'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip6
        {{#rsa-content-help-trigger tooltip='tooltip6'}}
          {{#rsa-form-button style='danger'}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip style="error" position='top' tooltipId='tooltip6'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip6.hbs"}}
      {{/spec-member}}
    {{/spec-category}}

    {{#spec-category title="Misc Configuration"}}
      {{#spec-member title="Hiding the Tooltip Close Button"}}
        {{#rsa-content-help-trigger tooltip='tooltip7'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip displayCloseButton=false position='top' tooltipId='tooltip7'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip7
        {{#rsa-content-help-trigger tooltip='tooltip7'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip displayCloseButton=false position='top' tooltipId='tooltip7'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip7.hbs"}}
      {{/spec-member}}
    {{/spec-category}}

    {{#spec-category title="Content Types"}}
      {{#spec-member title="Tooltip Style with Header"}}
        {{#rsa-content-help-trigger tooltip='tooltip8'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='right' tooltipId='tooltip8'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip8
        {{#rsa-content-help-trigger tooltip='tooltip8'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='right' tooltipId='tooltip8'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip8.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Tooltip Style without Header"}}
        {{#rsa-content-help-trigger tooltip='tooltip9'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='right' tooltipId='tooltip9'}}
          <p>Here is the info! With significantly more content to render into the tooltip. Let's see how the longer content responds.</p>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip9
        {{#rsa-content-help-trigger tooltip='tooltip9'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='right' tooltipId='tooltip9'}}
          <p>Here is the info! With significantly more content to render into the tooltip. Let's see how the longer content responds.</p>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip9.hbs"}}
      {{/spec-member}}

      {{#spec-member title="A list of actions"}}
        {{#rsa-content-help-trigger triggerEvent="click" tooltip='tooltip10'}}
          {{#rsa-form-button allowToggleActive=true withDropdown=true}}
            Click to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true displayCloseButton=false position='bottom-right' tooltipId='tooltip10'}}
          <ul class="rsa-dropdown-action-list">
            <li>Clicking this would trigger an action.</li>
            <li>Clicking this would trigger an action.</li>
            <li>Clicking this would trigger an action.</li>
            <li>Clicking this would trigger an action.</li>
            <li>Clicking this would trigger an action.</li>
          </ul>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip10
        {{#rsa-content-help-trigger triggerEvent="click" tooltip='tooltip10'}}
          {{#rsa-form-button allowToggleActive=true withDropdown=true}}
            Click to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true displayCloseButton=false position='bottom-right' tooltipId='tooltip10'}}
          <ul class="rsa-dropdown-action-list">
            <li>Clicking this would trigger an action.</li>
            <li>Clicking this would trigger an action.</li>
            <li>Clicking this would trigger an action.</li>
            <li>Clicking this would trigger an action.</li>
            <li>Clicking this would trigger an action.</li>
          </ul>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip10.hbs"}}
      {{/spec-member}}

      {{#spec-member title="A list of links"}}
        {{#rsa-content-help-trigger triggerEvent="click" tooltip='tooltip11'}}
          {{#rsa-form-button allowToggleActive=true withDropdown=true}}
            Click to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true displayCloseButton=false position='bottom-right' tooltipId='tooltip11'}}
          <ul class="rsa-dropdown-link-list">
            <li>
              {{#link-to 'index'}}Go to the homepage{{/link-to}}
            </li>
            <li>
              {{#link-to 'index'}}Go to the homepage{{/link-to}}
            </li>
            <li>
              {{#link-to 'index'}}Go to the homepage{{/link-to}}
            </li>
            <li>
              {{#link-to 'index'}}Go to the homepage{{/link-to}}
            </li>
            <li>
              {{#link-to 'index'}}Go to the homepage{{/link-to}}
            </li>
          </ul>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip11
        {{#rsa-content-help-trigger triggerEvent="click" tooltip='tooltip11'}}
          {{#rsa-form-button allowToggleActive=true withDropdown=true}}
            Click to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true displayCloseButton=false position='bottom-right' tooltipId='tooltip11'}}
          <ul class="rsa-dropdown-link-list">
            <li>
              {{#link-to 'index'}}Go to the homepage{{/link-to}}
            </li>
            <li>
              {{#link-to 'index'}}Go to the homepage{{/link-to}}
            </li>
            <li>
              {{#link-to 'index'}}Go to the homepage{{/link-to}}
            </li>
            <li>
              {{#link-to 'index'}}Go to the homepage{{/link-to}}
            </li>
            <li>
              {{#link-to 'index'}}Go to the homepage{{/link-to}}
            </li>
          </ul>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip11.hbs"}}
      {{/spec-member}}
    {{/spec-category}}

    {{#spec-category title="Position as a Tooltip"}}
      {{#spec-member title="Left"}}
        {{#rsa-content-help-trigger tooltip='tooltip12'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='left' tooltipId='tooltip12'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip12
        {{#rsa-content-help-trigger tooltip='tooltip12'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='left' tooltipId='tooltip12'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip12.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Left Top"}}
        {{#rsa-content-help-trigger tooltip='tooltip13'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='left-top' tooltipId='tooltip13'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip13
        {{#rsa-content-help-trigger tooltip='tooltip13'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='left-top' tooltipId='tooltip13'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip13.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Left Bottom"}}
        {{#rsa-content-help-trigger tooltip='tooltip14'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='left-bottom' tooltipId='tooltip14'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip14
        {{#rsa-content-help-trigger tooltip='tooltip14'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='left-bottom' tooltipId='tooltip14'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip14.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Right"}}
        {{#rsa-content-help-trigger tooltip='tooltip15'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='right' tooltipId='tooltip15'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip15
        {{#rsa-content-help-trigger tooltip='tooltip15'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='right' tooltipId='tooltip15'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip15.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Right Top"}}
        {{#rsa-content-help-trigger tooltip='tooltip16'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='right-top' tooltipId='tooltip16'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip16
        {{#rsa-content-help-trigger tooltip='tooltip16'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='right-top' tooltipId='tooltip16'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip16.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Right Bottom"}}
        {{#rsa-content-help-trigger tooltip='tooltip17'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='right-bottom' tooltipId='tooltip17'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip17
        {{#rsa-content-help-trigger tooltip='tooltip17'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='right-bottom' tooltipId='tooltip17'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip17.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Top"}}
        {{#rsa-content-help-trigger tooltip='tooltip18'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top' tooltipId='tooltip18'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip18
        {{#rsa-content-help-trigger tooltip='tooltip18'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top' tooltipId='tooltip18'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip18.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Top Left"}}
        {{#rsa-content-help-trigger tooltip='tooltip19'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top-left' tooltipId='tooltip19'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip19
        {{#rsa-content-help-trigger tooltip='tooltip19'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top-left' tooltipId='tooltip19'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip19.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Top Right"}}
        {{#rsa-content-help-trigger tooltip='tooltip20'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top-right' tooltipId='tooltip20'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip20
        {{#rsa-content-help-trigger tooltip='tooltip20'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='top-right' tooltipId='tooltip20'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip20.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Bottom"}}
        {{#rsa-content-help-trigger tooltip='tooltip21'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='bottom' tooltipId='tooltip21'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip21
        {{#rsa-content-help-trigger tooltip='tooltip21'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='bottom' tooltipId='tooltip21'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip21.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Bottom Left"}}
        {{#rsa-content-help-trigger tooltip='tooltip22'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='bottom-left' tooltipId='tooltip22'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip22
        {{#rsa-content-help-trigger tooltip='tooltip22'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='bottom-left' tooltipId='tooltip22'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip22.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Bottom Right"}}
        {{#rsa-content-help-trigger tooltip='tooltip23'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='bottom-right' tooltipId='tooltip23'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip23
        {{#rsa-content-help-trigger tooltip='tooltip23'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip position='bottom-right' tooltipId='tooltip23'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip23.hbs"}}
      {{/spec-member}}
    {{/spec-category}}

    {{#spec-category title="Position As a Popover"}}
      {{#spec-member title="Left"}}
        {{#rsa-content-help-trigger tooltip='tooltip24'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='left' tooltipId='tooltip24'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip24
        {{#rsa-content-help-trigger tooltip='tooltip24'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='left' tooltipId='tooltip24'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip24.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Left Top"}}
        {{#rsa-content-help-trigger tooltip='tooltip25'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='left-top' tooltipId='tooltip25'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip25
        {{#rsa-content-help-trigger tooltip='tooltip25'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='left-top' tooltipId='tooltip25'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip25.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Left Bottom"}}
        {{#rsa-content-help-trigger tooltip='tooltip26'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='left-bottom' tooltipId='tooltip26'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip27
        {{#rsa-content-help-trigger tooltip='tooltip26'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='left-bottom' tooltipId='tooltip26'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip27.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Right"}}
        {{#rsa-content-help-trigger tooltip='tooltip27'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='right' tooltipId='tooltip27'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip28
        {{#rsa-content-help-trigger tooltip='tooltip27'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='right' tooltipId='tooltip27'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip28.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Right Top"}}
        {{#rsa-content-help-trigger tooltip='tooltip28'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='right-top' tooltipId='tooltip28'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip29
        {{#rsa-content-help-trigger tooltip='tooltip28'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='right-top' tooltipId='tooltip28'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip29.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Right Bottom"}}
        {{#rsa-content-help-trigger tooltip='tooltip29'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='right-bottom' tooltipId='tooltip29'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip30
        {{#rsa-content-help-trigger tooltip='tooltip29'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='right-bottom' tooltipId='tooltip29'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip30.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Top"}}
        {{#rsa-content-help-trigger tooltip='tooltip30'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='top' tooltipId='tooltip30'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip31
        {{#rsa-content-help-trigger tooltip='tooltip30'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='top' tooltipId='tooltip30'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip31.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Top Left"}}
        {{#rsa-content-help-trigger tooltip='tooltip31'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='top-left' tooltipId='tooltip31'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip32
        {{#rsa-content-help-trigger tooltip='tooltip31'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='top-left' tooltipId='tooltip31'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip32.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Top Right"}}
        {{#rsa-content-help-trigger tooltip='tooltip32'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='top-right' tooltipId='tooltip32'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip33
        {{#rsa-content-help-trigger tooltip='tooltip32'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='top-right' tooltipId='tooltip32'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip33.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Bottom"}}
        {{#rsa-content-help-trigger tooltip='tooltip33'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='bottom' tooltipId='tooltip33'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip34
        {{#rsa-content-help-trigger tooltip='tooltip33'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='bottom' tooltipId='tooltip33'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip34.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Bottom Left"}}
        {{#rsa-content-help-trigger tooltip='tooltip34'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='bottom-left' tooltipId='tooltip34'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip35
        {{#rsa-content-help-trigger tooltip='tooltip34'}}
        {{#rsa-form-button}}
          Hover to Trigger
        {{/rsa-form-button}}

        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='bottom-left' tooltipId='tooltip34'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip35.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Bottom Right"}}
        {{#rsa-content-help-trigger tooltip='tooltip35'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='bottom-right' tooltipId='tooltip35'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        {{!-- BEGIN-SNIPPET tooltip36
        {{#rsa-content-help-trigger tooltip='tooltip35'}}
          {{#rsa-form-button}}
            Hover to Trigger
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip isPopover=true position='bottom-right' tooltipId='tooltip35'}}
          <header>Tooltip Header</header>
          <section>Here is the info!</section>
        {{/rsa-content-tooltip}}
        END-SNIPPET --}}
        {{code-snippet name="tooltip36.hbs"}}
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
