<aside>
  {{#if (eq sampleLogsStatus 'error')}}
    <div class="error">
      {{rsa-icon name='report-problem-triangle'}} {{t 'configure.logsParser.sampleLogsError'}}
    </div>
  {{else}}
    {{t 'configure.logsParser.sampleLogs'}}
  {{/if}}
  {{#if isHighlighting}}
    {{rsa-loader size='small'}}
  {{/if}}
</aside>
{{#if isHighlighting}}
  {{!-- To prevent glimmer render errors, swap in the temporary log text while the highlight process is underway and
  completely replace the contenteditable element --}}
  <pre class="sample-log-text">{{_tempLogs}}</pre>
{{else}}
  <pre class="sample-log-text" contenteditable="true">{{highlightedLogs}}</pre>
{{/if}}
