{{#if hasChildren}}
  <div class="toggle" {{action "toggleExpand"}}>
    <span class="toggle-control"></span>
  </div>
{{/if}}

<span class="node-name" {{action "select"}}>{{get node nodeDisplayNameProperty}}</span>
{{#if hasChildren}}
  {{rsa-tree
    nodes=(unbound children)
    expandAll=(readonly expandAll)
    parentNode=(unbound this)
    selectedNode=(readonly selectedNode)
    hasSelectableNodes=(readonly hasSelectableNodes)
    nodeComponentName=(readonly nodeComponentName)
    nodeChildrenProperty=(readonly nodeChildrenProperty)
    nodeDisplayNameProperty=(readonly nodeDisplayNameProperty)
    nodeValueProperty=(readonly nodeValueProperty)
    onNodeSelection=(action onNodeSelection)
  }}
{{/if}}
{{yield}}


