<div class='entity-details-container-body-alert-details_header_details'>
  <div class='entity-details-container-body-alert-details_header_details_name'>
    {{t (concat 'investigateUsers.alerts.alertNames.' alertDetails.name '.name')}}
  </div>
  <div class='entity-details-container-body-alert-details_header_details_timeframe'>
    | {{alertDetails.timeframe}}
  </div>
  <div class='entity-details-container-body-alert-details_header_details_severity {{alertDetails.severity}}'>
    
  </div>
  <div class='entity-details-container-body-alert-details_header_details_severity-name'>
    {{alertDetails.severity}}
  </div>
  <div class='entity-details-container-body-alert-details_header_details_risk'>
    {{#rsa-form-button click=(action 'updateRisk')}}
      {{#if (eq alertDetails.userScoreContribution 0)}}
        {{rsa-icon size='medium' style='lined' name='binoculars'}} {{t 'investigateUsers.alerts.risk'}}
      {{else}}
        {{rsa-icon size='medium' style='filled' name='binoculars'}} {{t 'investigateUsers.alerts.notARisk'}}
      {{/if}}
    {{/rsa-form-button}}
  </div>
</div>
<div class='entity-details-container-body-alert-details_header_control'>
  {{entity-details-container/body/indicator-navigator}}
</div>