{{#rsa-events-sheet items=items totalCount=totalCount throttleInterval=throttleInterval as |sheet|}}
  {{#sheet.tableHeader as |tableHeader|}}
    <span class="event-count-and-label">
      <span class="event-count">
        {{items.length}}
      </span>
      <span class="event-label">
        {{t 'respond.eventDetails.events'}}
      </span>
    </span>
    {{#if (and selection.ids.length (eq selection.type 'storyPoint'))}}
      <span class="indicator-label" test-id="indicatorLabel">
        <span class="in">
          {{t 'respond.eventDetails.in'}}
        </span>
        {{#if (eq selection.ids.length 1)}}
          <span class="indicator">
            {{selectedIndicatorName}}
          </span>
        {{else}}
          <span class="indicator-count">
            {{selection.ids.length}}
          </span>
          <span class="indicators">
            {{t 'respond.eventDetails.indicators'}}
          </span>
        {{/if}}
      </span>
    {{/if}}
  {{/sheet.tableHeader}}
{{/rsa-events-sheet}}
