<div class="rsa-context-panel__context-data-table__heading-text rsa-context-panel__footer">
  {{#if length}}
    <span class="rsa-context-panel__footer__text">
      {{t 'context.total'}}: {{length}}
    </span>
  {{/if}}
  {{#if headerData.lastUpdated}}
    <span title= {{t dSDetails.title}}>
      {{t 'context.timeWindow'}}{{headerData.timeWindow}} |
      {{t 'context.lastUpdated'}}{{rsa-content-datetime timestamp=headerData.lastUpdated asTimeAgo=true}}
    </span>
  {{/if}}
</div>
