<hbox class="directory-item" align="center" nowrap>

  <box fit>
    {{#link-to "tree" urlSegment activeClass="ember-active"}}
      <a class="large{{if requiresRestart ' error-text-hover'}}">
        {{#if node.display}}
          <span title={{node.name}}>{{node.display}}</span>
        {{else}}
          {{node.name}}{{unless isStatOrConfigNode '/'}}
        {{/if}}
      </a>
    {{/link-to}}
  </box>

  {{#if isStatOrConfigNode}}
    <box fill class="dotted-line"></box>

    <box fit>
      {{tree-view-value node=node}}
    </box>
  {{/if}}

</hbox>
