{{#if hasError}}
  {{rsa-panel-message title=(t 'investigateShared.endpoint.errorTitle') message=errorMessage}}
{{else}}
  {{query-container}}
  <div class="process-list-box processTreeBox {{unless isEventPanelExpanded 'collapse-event-panel' ''}} {{if isEventsSelected 'collapse' 'expand'}}">
    {{process-tree queryInput=queryInput}}
  </div>

  <div class="process-list-box processDetailsBox {{unless isEventPanelExpanded 'collapse-event-panel' ''}} {{unless isEventsSelected 'collapse' 'expand'}}">
   {{process-details}}
  </div>
{{/if}}
