{{#if (and (not isRiskScoringServerNotConfigured) (not isRiskScoringServerOffline))}}
  {{#if riskScoringServerError}}
    <box class='alert-error-message'>
      {{rsa-panel-message message=(t riskScoringServerError)}}
    </box>
  {{else}}
    {{#if riskScoreContext}}
      <box>
        <h1 class="alert-heading">{{t 'investigateShared.endpoint.riskProperties.alerts.heading'}}</h1>
      </box>
      <box class="rsa-nav-tab-group">
        {{#endpoint/risk-properties/alert-tab tabs=tabs defaultAction=defaultAction as |tab|}}
          <div class="alert-count">{{tab.count}}</div>
          <div class="label">
            {{#if tab.color}}
              <span class="risk-color-indicator {{tab.color}}"></span>
            {{/if}}
            <span class="tab-text">{{t tab.label}}</span>
          </div>
        {{/endpoint/risk-properties/alert-tab}}
      </box>
      {{#if isRiskScoreContextEmpty}}
        <box class='alert-error-message'>
          {{rsa-panel-message message=(t 'investigateShared.endpoint.riskProperties.error.emptyContext')}}
        </box>
      {{else}}
        {{#endpoint/risk-properties/alert-context
          contexts=contexts
          setAlertAction=setSelectedAlert
          selectedAlert=selectedAlert as |context|}}
          <div class="alert-context__name">{{context.alertName}} ({{context.alertCount}})</div>
          <div class="alert-context__event">
            <span>{{t 'investigateShared.endpoint.riskProperties.alerts.events' count=context.eventCount}}</span>
            {{#if (eq riskType 'HOST')}}
              <span class="alert-context__files">{{t 'investigateShared.endpoint.riskProperties.alerts.files' count=context.filesCount}}</span>
              <span>{{t 'investigateShared.endpoint.riskProperties.alerts.users' count=context.usersCount}}</span>
            {{/if}}
          </div>
        {{/endpoint/risk-properties/alert-context}}
      {{/if}}
    {{else}}
      <centered>
        {{rsa-loader size='larger'}}
      </centered>
    {{/if}}
  {{/if}}
{{else if isRiskScoringServerNotConfigured}}
  {{error-page
    errorDescription=(t 'investigateShared.endpoint.riskProperties.errorPage.notConfiguredDescription')
    title=(t 'investigateShared.endpoint.riskProperties.errorPage.notConfigured')}}
{{else}}
  {{error-page
  errorDescription=(t 'investigateShared.endpoint.riskProperties.errorPage.serviceDownDescription')
  title=(t 'investigateShared.endpoint.riskProperties.errorPage.serviceDown')}}
{{/if}}
