<box>
  <h1 class="alert-heading">{{t 'investigateShared.endpoint.riskProperties.alerts.heading' count=60}}</h1>
</box>
<box class="rsa-nav-tab-group">
  {{#endpoint/risk-properties/alert-tab tabs=tabs defaultAction=defaultAction as |tab|}}
    <div class="alert-count">{{tab.count}}</div>
    <div class="label">
      {{endpoint/color-indicator color=tab.color size='medium'}}
      <span class="tab-text">{{t tab.label}}</span>
    </div>
  {{/endpoint/risk-properties/alert-tab}}
</box>
<box>
  <h1>{{activeAlertTab}}</h1>
</box>
