{{#rsa-form-button
  defaultAction=(action 'deleteAction')
  style=style
  isActive=isActive
  isDisabled=isDisabled
  isIconOnly=isIconOnly}}
  {{yield}}
{{/rsa-form-button}}
{{#if _showConfirmationModal}}
  {{#rsa-application-modal
    style='standard confirmation-modal'
    eventId='confirm-modal'
    label=title
    onClose=(action 'onModalClose')}}
    <div class='modal-content'>
      <p>{{confirmationMessage}}</p>
      {{#if noteMessage}}
        <div class='modal-content__note'>
          {{noteMessage}}
        </div>
      {{/if}}
    </div>
    <footer>
      <hbox class="modal-footer-buttons">
        {{#rsa-form-button defaultAction='closeConfirmModal'}}
          {{t 'forms.no'}}
        {{/rsa-form-button}}
        {{#rsa-form-button style='primary' click=(action 'confirmAction')}}
          {{t 'forms.yes'}}
        {{/rsa-form-button}}
      </hbox>
    </footer>
  {{/rsa-application-modal}}
{{/if}}