<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="Styles"}}
      {{#spec-member title="Filled"}}
        {{rsa-icon name='account-circle-1'}}
        {{!-- BEGIN-SNIPPET filled
        {{rsa-icon name='account-circle-1'}}
        END-SNIPPET --}}
        {{code-snippet name="filled.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Lined"}}
        {{rsa-icon style='lined' name='account-circle-1'}}
        {{!-- BEGIN-SNIPPET lined
        {{rsa-icon style='lined' name='account-circle-1'}}
        END-SNIPPET --}}
        {{code-snippet name="lined.hbs"}}
      {{/spec-member}}
    {{/spec-category}}

    {{#spec-category title="Sizes"}}
      {{#spec-member title="Small"}}
        {{rsa-icon size='small' name='account-circle-1'}}
        {{!-- BEGIN-SNIPPET small
        {{rsa-icon size='small' name='account-circle-1'}}
        END-SNIPPET --}}
        {{code-snippet name="small.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Large"}}
        {{rsa-icon size='large' name='account-circle-1'}}
        {{!-- BEGIN-SNIPPET large
        {{rsa-icon size='large' name='account-circle-1'}}
        END-SNIPPET --}}
        {{code-snippet name="large.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Larger"}}
        {{rsa-icon size='larger' name='account-circle-1'}}
        {{!-- BEGIN-SNIPPET larger
        {{rsa-icon size='larger' name='account-circle-1'}}
        END-SNIPPET --}}
        {{code-snippet name="larger.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Largest"}}
        {{rsa-icon size='largest' name='account-circle-1'}}
        {{!-- BEGIN-SNIPPET largest
        {{rsa-icon size='largest' name='account-circle-1'}}
        END-SNIPPET --}}
        {{code-snippet name="largest.hbs"}}
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
