<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="Styles"}}
      {{#spec-member title="Filled"}}
        {{rsa-icon name='account-circle-1'}}
        <code>
          &#123;{rsa-icon name='account-circle-1'}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Lined"}}
        {{rsa-icon style='lined' name='account-circle-1'}}
        <code>
          &#123;{rsa-icon style='lined' name='account-circle-1'}}
        </code>
      {{/spec-member}}
    {{/spec-category}}

    {{#spec-category title="Sizes"}}
      {{#spec-member title="Large"}}
        {{rsa-icon size='large' name='account-circle-1'}}
        <code>
          &#123;{rsa-icon size='large' name='account-circle-1'}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Larger"}}
        {{rsa-icon size='larger' name='account-circle-1'}}
        <code>
          &#123;{rsa-icon size='larger' name='account-circle-1'}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Largest"}}
        {{rsa-icon size='largest' name='account-circle-1'}}
        <code>
          &#123;{rsa-icon size='largest' name='account-circle-1'}}
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
