<vbox class='rsa-form-radio-group'>
  <vbox class="radio-buttons">
    {{#each radioButtonConfig.items as |item|}}
      {{#radio-button
        classNames='rsa-form-radio-wrapper'
        radioClass='recurrence-type'
        value=item.name
        groupValue=(readonly intervalType)
        name='radio-recurrence-type'
        changed=(action 'updatePolicyProperty' 'recurrenceUnit' item.name)
      }}
        <span>{{t item.label}}</span>
      {{/radio-button}}
    {{/each}}
  </vbox>
</vbox>

<hbox class="recurrence-run-interval">
  <span class='text'>{{t 'adminUsm.policyWizard.edrPolicy.recurrenceIntervalOptions.every'}}</span>
  <div class="recurrence-run-interval__list">
    <label class="rsa-form-label power-select">
      {{#power-select
        triggerClass="inline"
        options=runIntervalConfig.options
        selected=interval
        onchange=(action 'updatePolicyProperty' 'recurrenceInterval') as |selectedDays|}}
        {{selectedDays}}
      {{/power-select}}
    </label>
  </div>
  <span class="text">
    {{t runIntervalConfig.runLabel}}
    {{#if isWeeklyInterval}}
      {{t 'adminUsm.policyWizard.edrPolicy.recurrenceIntervalOptions.on'}}
    {{/if}}
  </span>
</hbox>

{{#if isWeeklyInterval}}
  <hbox class="recurrence-run-interval__week-options">
    {{#each weekOptions as |option|}}
      {{#rsa-form-button class='week-button' click=(action 'selectWeek' option.week) isPrimary=option.isActive }}
        {{t option.label}}
      {{/rsa-form-button}}
    {{/each}}
  </hbox>
{{/if}}