<article class="rsa-investigate-query">
  <header class="rsa-investigate-query__header">
    <div class="rsa-investigate-query__summary">
      {{rsa-investigate/breadcrumb
        query=model.queryNode.value.definition
        services=model.services.data}}
      <aside class="rsa-investigate-query__stats">
        {{rsa-investigate/time-range
          startTime=model.queryNode.value.definition.startTime
          endTime=model.queryNode.value.definition.endTime}}
      </aside>
    </div>
  </header>
  <section class="rsa-investigate-query__body recon-is-{{model.recon.display}} meta-panel-size-{{model.meta.panelSize}}">
    <section class="rsa-investigate-query__body-master">
      <aside class="rsa-investigate-query__body-master-aside">
        {{rsa-investigate/meta
          size=model.meta.panelSize
          group=model.queryNode.value.defaultMetaGroup
          language=model.queryNode.value.language.data
          aliases=model.queryNode.value.aliases.data
          metaKeyStates=model.queryNode.value.results.metaKeyStates
          query=model.queryNode.value.definition
          minSizeAction=(route-action "metaPanelSize" 'min')
          maxSizeAction=(route-action "metaPanelSize" 'max')
          defaultSizeAction=(route-action "metaPanelSize" 'default')
          onBack=(route-action "metaGroupSet" model.queryNode)
          onFwd=(route-action "metaGroupSet" model.queryNode)
          toggleAction=(route-action "metaGroupKeyToggle" model.queryNode)}}
      </aside>
      <section class="rsa-investigate-query__body-master-main">
        {{rsa-investigate/timeline
          chartData=model.resolvedEventTimelineData
          startTime=model.queryNode.value.definition.startTime
          endTime=model.queryNode.value.definition.endTime}}
        {{rsa-investigate/events-table
          items=model.queryNode.value.results.events.data
          columnsConfig=model.eventColumnGroups.selected.columns
          language=model.queryNode.value.language.data
          aliases=model.queryNode.value.aliases
          status=model.queryNode.value.results.events.status
          percent=model.queryNode.value.results.events.percent
          rowClickAction=(route-action "reconOpen" model.queryNode.value.definition.serviceId)
          loadMoreAction=(route-action "eventsGetMore" model.queryNode)
          stopAction=(route-action "eventsStop" model.queryNode)
          retryAction=(route-action "eventsGetMore" model.queryNode)
          totalCount=model.queryNode.value.results.eventCount.data
          totalThreshold=model.queryNode.value.results.eventCount.threshold
          totalStatus=model.queryNode.value.results.eventCount.status
          totalRetryAction=(route-action "eventCountGet" model.queryNode)
        }}
        {{#if (is-equal model.queryNode.value.results.eventCount.data 0)}}
          <div class="rsa-investigate-query__empty">
            <h2>{{t "investigate.empty.title"}}</h2>
            <p>{{t "investigate.empty.description"}}</p>
          </div>
        {{/if}}
      </section>
    </section>
    <aside class="rsa-investigate-query__body-slave">
      {{#if model.recon.item}}
        {{recon-container
          endpointId=model.recon.endpointId
          eventId=model.recon.item.sessionId
          meta=model.recon.item.metas
          index=model.recon.index
          total=model.recon.total
          closeAction=(route-action 'reconClose')
          expandAction=(route-action 'reconExpand')
          shrinkAction=(route-action 'reconShrink')
          language=model.queryNode.value.language
          aliases=model.queryNode.value.aliases}}
      {{/if}}
    </aside>
  </section>
  <footer class="rsa-investigate-query__footer">
    {{!rsa-investigate/flowchart coming soon!}}
  </footer>
</article>
