<article class="rsa-investigate-query">
  <header class="rsa-investigate-query__header">
    <div class="rsa-investigate-query__summary">
      {{rsa-investigate/breadcrumb
        query=model.query.value
        services=model.services.data}}
      <aside class="rsa-investigate-query__stats">
        {{rsa-investigate/time-range
          startTime=model.query.value.startTime
          endTime=model.query.value.endTime}}
        <span class="rsa-investigate-query__sums">
          {{rsa-investigate/event-counter
            class="rsa-investigate-query__sums-count"
            count=model.events.data.length
            status=model.events.status
            goAction=(route-action "eventsGetMore")
            stopAction=(route-action "eventsStop")
            retryAction=(route-action "eventsGetMore")}}
          {{#if model.eventCount.data}}
            <span class="rsa-investigate-query__sums-of">{{t 'list.of'}}</span>
            {{rsa-investigate/event-counter
              class="rsa-investigate-query__sums-total"
              count=model.eventCount.data
              status=model.eventCount.status
              retryAction=(route-action "eventCountGet")}}
          {{/if}}
        </span>
      </aside>
    </div>
    {{rsa-progress-bar
      percent=model.events.percent
      enabled=(is-equal model.events.status 'streaming')}}
  </header>
  <section class="rsa-investigate-query__body">
    <header class="rsa-investigate-query__body-header">
    </header>
    <section class="rsa-investigate-query__body-main">
      {{!rsa-investigate/timeline coming soon!}}
      {{#rsa-data-table lazy=true items=model.events.data columnsConfig=model.eventColumns}}
        {{rsa-data-table/header}}
        {{#rsa-data-table/body buffer=25 as |item index column|}}
          {{#rsa-data-table/body-cell item=item index=index column=column}}
            {{#if (is-equal column.field "time")}}
              {{rsa-content-datetime timestamp=item.time}}
            {{else if (is-equal column.field "size")}}
              {{rsa-content-memsize size=item.size}}
            {{else}}
              {{event-meta-value item column.field}}
            {{/if}}
          {{/rsa-data-table/body-cell}}
        {{/rsa-data-table/body}}
        {{rsa-data-table/load-more
          status=model.events.status
          clickAction=(route-action "eventsGetMore")}}
      {{/rsa-data-table}}
      {{#if (is-equal model.eventCount.data 0)}}
        <div class="rsa-investigate-query__empty">
          <h2>{{t "investigate.empty.title"}}</h2>
          <p>{{t "investigate.empty.description"}}</p>
        </div>
      {{/if}}
    </section>
    <aside class="rsa-investigate-query__body-aside">
      {{!rsa-investigate/facets coming soon!}}
    </aside>
  </section>
  <aside class="rsa-investigate-query__aside">
    {{!rsa-investigate/event-recon coming soon!}}
  </aside>
  <footer class="rsa-investigate-query__footer">
    {{!rsa-investigate/flowchart coming soon!}}
  </footer>
</article>