<article class="rsa-investigate-query">
  <header class="rsa-investigate-query__header">
    <div class="rsa-investigate-query__summary">
      {{rsa-investigate/breadcrumb
        query=model.queryNode.value.definition
        services=model.services.data}}
      <aside class="rsa-investigate-query__stats">
        {{rsa-investigate/time-range
          startTime=model.queryNode.value.definition.startTime
          endTime=model.queryNode.value.definition.endTime}}
        <span class="rsa-investigate-query__sums">
          {{rsa-investigate/event-counter
            class="rsa-investigate-query__sums-count"
            count=model.queryNode.value.results.events.data.length
            status=model.queryNode.value.results.events.status
            goAction=(route-action "eventsGetMore" model.queryNode)
            stopAction=(route-action "eventsStop" model.queryNode)
            retryAction=(route-action "eventsGetMore" model.queryNode)}}
          {{#if model.queryNode.value.results.eventCount.data}}
            <span class="rsa-investigate-query__sums-of">{{t 'list.of'}}</span>
            {{rsa-investigate/event-counter
              class="rsa-investigate-query__sums-total"
              count=model.queryNode.value.results.eventCount.data
              status=model.queryNode.value.results.eventCount.status
              retryAction=(route-action "eventCountGet" model.queryNode)}}
          {{/if}}
        </span>
      </aside>
    </div>
    {{rsa-progress-bar
      percent=model.queryNode.value.results.events.percent
      enabled=(is-equal model.queryNode.value.results.events.status 'streaming')}}
  </header>
  <section class="rsa-investigate-query__body {{if model.recon.isOpen 'recon-is-open' 'recon-is-closed'}} meta-panel-size-{{model.meta.panelSize}}">
    <section class="rsa-investigate-query__body-master">
      <aside class="rsa-investigate-query__body-master-aside">
        {{rsa-investigate/meta
        size=model.meta.panelSize
        groups=model.meta.groups
        language=model.queryNode.value.language.data
        aliases=model.queryNode.value.aliases.data
        metaKeyStates=model.queryNode.value.results.metaKeyStates
        query=model.queryNode.value.definition
        minSizeAction=(route-action "metaPanelSize" 'min')
        maxSizeAction=(route-action "metaPanelSize" 'max')
        defaultSizeAction=(route-action "metaPanelSize" 'default')
        onBack=(route-action "metaGroupSet" model.queryNode)
        onFwd=(route-action "metaGroupSet" model.queryNode)
        toggleAction=(route-action "metaGroupKeyToggle" model.queryNode)}}
      </aside>
      <section class="rsa-investigate-query__body-master-main">
        {{rsa-investigate/timeline chartData=model.resolvedEventTimelineData}}
        {{#rsa-data-table
        lazy=true
        items=model.queryNode.value.results.events.data
        columnsConfig=model.eventColumns
        aliases=model.queryNode.value.aliases
        onRowClick=(route-action "reconOpen" model.queryNode.value.definition.serviceId)}}
          {{#rsa-data-table/header as |column index|}}
            {{#with (meta-key-alias column.field model.queryNode.value.language.data) as |names|}}
              <h2 class="title" title="{{if column.title column.title names.bothNames}}">
                <span class="js-move-handle">{{if column.title column.title names.displayName}}</span>
              </h2>
            {{/with}}
          {{/rsa-data-table/header}}
          {{rsa-data-table/body buffer=5 rowComponentClass="rsa-investigate/events-table-row"}}
          {{rsa-data-table/load-more
          status=model.queryNode.value.results.events.status
          clickAction=(route-action "eventsGetMore" model.queryNode)}}
        {{/rsa-data-table}}
        {{#if (is-equal model.queryNode.value.results.eventCount.data 0)}}
          <div class="rsa-investigate-query__empty">
            <h2>{{t "investigate.empty.title"}}</h2>
            <p>{{t "investigate.empty.description"}}</p>
          </div>
        {{/if}}
      </section>
    </section>
    <aside class="rsa-investigate-query__body-slave">
      {{#if model.recon.item}}
        {{recon-container
          endpointId=model.recon.endpointId
          eventId=model.recon.item.sessionId
          meta=model.recon.item.metas
          title=model.recon.title
          closeAction=(route-action 'reconClose')
          language=model.queryNode.value.language
          aliases=model.queryNode.value.aliases}}
      {{/if}}
    </aside>
  </section>
  <footer class="rsa-investigate-query__footer">
    {{!rsa-investigate/flowchart coming soon!}}
  </footer>
</article>
