<article class="rsa-investigate-query">
  <header class="rsa-investigate-query__header">
    <div class="rsa-investigate-query__summary">
      {{rsa-investigate/breadcrumb
        query=model.queryNode.value.definition
        services=model.services.data}}
      <aside class="rsa-investigate-query__stats">
        {{rsa-investigate/time-range
          startTime=model.queryNode.value.definition.startTime
          endTime=model.queryNode.value.definition.endTime}}
        <span class="rsa-investigate-query__sums">
          {{rsa-investigate/event-counter
            class="rsa-investigate-query__sums-count"
            count=model.queryNode.value.results.events.data.length
            status=model.queryNode.value.results.events.status
            goAction=(route-action "eventsGetMore" model.queryNode)
            stopAction=(route-action "eventsStop" model.queryNode)
            retryAction=(route-action "eventsGetMore" model.queryNode)}}
          {{#if model.queryNode.value.results.eventCount.data}}
            <span class="rsa-investigate-query__sums-of">{{t 'list.of'}}</span>
            {{rsa-investigate/event-counter
              class="rsa-investigate-query__sums-total"
              count=model.queryNode.value.results.eventCount.data
              status=model.queryNode.value.results.eventCount.status
              retryAction=(route-action "eventCountGet" model.queryNode)}}
          {{/if}}
        </span>
      </aside>
    </div>
    {{rsa-progress-bar
      percent=model.queryNode.value.results.events.percent
      enabled=(is-equal model.queryNode.value.results.events.status 'streaming')}}
  </header>
  <section class="rsa-investigate-query__body meta-panel-size-{{model.meta.panelSize}}">
    <aside class="rsa-investigate-query__body-aside">
      {{rsa-investigate/meta
        size=model.meta.panelSize
        groups=model.meta.groups
        minSizeAction=(route-action "metaPanelSize" 'min')
        maxSizeAction=(route-action "metaPanelSize" 'max')
        defaultSizeAction=(route-action "metaPanelSize" 'default')}}
    </aside>
    <section class="rsa-investigate-query__body-main">
      {{rsa-investigate/timeline chartData=model.resolvedEventTimelineData}}
      {{#rsa-data-table lazy=true items=model.queryNode.value.results.events.data columnsConfig=model.eventColumns}}
        {{rsa-data-table/header}}
        {{rsa-data-table/body buffer=5 rowComponentClass="rsa-investigate/events-table-row"}}
        {{rsa-data-table/load-more
          status=model.queryNode.value.results.events.status
          clickAction=(route-action "eventsGetMore" model.queryNode)}}
      {{/rsa-data-table}}
      {{#if (is-equal model.queryNode.value.results.eventCount.data 0)}}
        <div class="rsa-investigate-query__empty">
          <h2>{{t "investigate.empty.title"}}</h2>
          <p>{{t "investigate.empty.description"}}</p>
        </div>
      {{/if}}
    </section>
  </section>
  <aside class="rsa-investigate-query__aside">
    {{!rsa-investigate/event-recon coming soon!}}
  </aside>
  <footer class="rsa-investigate-query__footer">
    {{!rsa-investigate/flowchart coming soon!}}
  </footer>
</article>