{{#if noLogs}}
  {{#if logsLoading}}
    <centered align="center" class="max-height">
      {{rsa-loader size='largest'}}
    </centered>
  {{else}}
    {{#rsa-panel-message}}
      <div>No logs found matching query</div>
    {{/rsa-panel-message}}
  {{/if}}
{{else}}
  {{#if logsLoading}}<div>{{rsa-loader}}</div>{{/if}}
  {{#each logs key="id" as |log|}}
    <div>
      {{log-item log=log}}
    </div>
  {{/each}}
{{/if}}
