{{endpoint/risk-panel/header activeDataSourceTab=activeDataSourceTab data=data}}
<box class="risk-properties-panel__content">
  {{#if errorMessage}}
    {{rsa-panel-message message=(t errorMessage)}}
  {{else}}
    <section class="filter-option">
      <h2>{{ t 'investigateHosts.context.score'}}</h2>
      {{range-slider
        start=filterRange
        step=1
        on-change='updateFilter'}}
      <div class="filter-message">
        {{t 'investigateHosts.context.filterMessage' filterCount=filteredData.length totalCount=data.resultList.length}}
      </div>
    </section>
    <box>
      {{#if filteredData}}
        {{#each filteredData as |entry|}}
          {{#rsa-content-accordion animate=true isCollapsed=true class='risk-properties-panel__content__title' label=entry.name}}
            {{endpoint/risk-panel/entry entry=entry type=activeDataSourceTab}}
          {{/rsa-content-accordion}}
        {{/each}}
      {{else}}
        {{rsa-panel-message message=(t 'investigateHosts.common.emptyMessage')}}
      {{/if}}
    </box>
  {{/if}}

</box>
{{endpoint/risk-panel/footer data=data activeDataSourceTab=activeDataSourceTab}}

