<box fit class="rsa-incident-explorer__header">
  <box fit class="rsa-incident-explorer__banner-wrap">
    {{#if (eq infoStatus 'wait')}}
      <centered class="rsa-incident-explorer__status wait">
        {{rsa-loader size="large" label=(concat 'Loading summary for: ' incidentId)}}
      </centered>
    {{else if (eq infoStatus 'error')}}
      <centered vertical class="rsa-incident-explorer__status error">
        {{rsa-icon name="signal-warning" size="large"}}
        <h3>Unable to load summary for: {{incidentId}}</h3>
        <p>{{#link-to 'incidents'}}Back to Incidents{{/link-to}}</p>
      </centered>
    {{else}}
      {{rsa-incident-banner}}
    {{/if}}
  </box>
  <hbox fit class="rsa-incident-explorer__title-and-tools">
    <vbox fill nowrap class="rsa-incident-explorer__title">
      <h2>Indicators</h2>
    </vbox>
    <hbox fit align="center" nowrap class="rsa-incident-explorer__tools">
      {{#if features.showIncidentEntitiesPanel}}
        {{rsa-icon
          name="flow-chart-3"
          title="Show Entities Graph"
          active=isEntitiesPanelOpen
          click=(action "toggleEntitiesPanel")
        }}
      {{/if}}
      {{#if features.showIncidentEventsPanel}}
        {{rsa-icon
          name="view-list"
          title="Show Events Table"
          active=isEventsPanelOpen
          click=(action "toggleEventsPanel")
        }}
      {{/if}}
      {{#if features.showIncidentJournalPanel}}
        {{rsa-icon
          name="bubble-chat-2"
          title="Show Journal"
          active=isJournalPanelOpen
          click=(action "toggleJournalPanel")
        }}
      {{/if}}
    </hbox>
  </hbox>
</box>
<box class="rsa-incident-explorer__main" >
  {{#if (eq storylineStatus 'wait')}}
    <centered class="rsa-incident-explorer__status wait">
      {{rsa-loader size="larger" label=(concat 'Loading storyline for: ' incidentId)}}
    </centered>
  {{else if (eq storylineStatus 'error')}}
    <centered vertical class="rsa-incident-explorer__status error">
      {{rsa-icon name="signal-warning" size="larger"}}
      <h3>Unable to load storyline for: {{incidentId}}</h3>
      <p>{{#link-to 'incidents'}}Back to Incidents{{/link-to}}</p>
    </centered>
  {{else}}
    <div class="rsa-incident-explorer__storyline-wrap">
      {{rsa-storyline}}
    </div>
    <vbox class="rsa-incident-explorer__aside">
      <box class="rsa-portlet entities {{if isEntitiesPanelOpen 'isOpen'}}">
        {{#if isEntitiesPanelOpen}}
          {{rsa-entity-graph}}
        {{/if}}
      </box>
      <box class="rsa-portlet events {{if isEventsPanelOpen 'isOpen'}}">Events</box>
      <box class="rsa-portlet journal {{if isJournalPanelOpen 'isOpen'}}">Journal</box>
    </vbox>
  {{/if}}
</box>


