{{#rsa-explorer class="usm-policies"
  columns=columns
  reduxSpace='usm.policies'
  creators=creators as |explorer|}}

  {{#explorer.toolbar toolbarControlsComponent='usm-policies/policies/toolbar' as |toolbar|}}
    {{toolbar.toolbarControls}}
  {{/explorer.toolbar}}

  {{#explorer.filters filterControlsComponent='usm-policies/policies/filters' hasTimeFilter=false as |filters|}}
    {{filters.filterControls}}
  {{/explorer.filters}}

  {{#explorer.table as |row|}}
    {{#row.cell as |item index column|}}
      <span class={{concat 'usm-policy-column-' column.field}}>
      {{#if (eq column.dataType 'checkbox') }}
        <label class="rsa-form-checkbox-label {{if (contains item.id explorer.instance.itemsSelected) 'checked'}}">
          {{rsa-form-checkbox checked=(contains item.id explorer.instance.itemsSelected) change=(action explorer.select item)}}
        </label>
      {{else if (eq column.field "name")}}
        {{#if item.dirty}}
          <p class="publish-icon">{{rsa-icon name="synchronize-3"}}</p>   
        {{/if}}
          {{get item column.field}}
      {{!-- {{else if (eq column.field "polices")}}
        {{#each item.policies as |policy index|}}
          {{#if (not-eq index 0)}},  {{/if}}{{policy.name}}
        {{/each}}
      {{else if (eq column.field "sourceTypes")}}
        {{#each item.policies as |policy index|}}
          {{#if (not-eq index 0)}},  {{/if}}{{policy.type}}
        {{/each}} --}}
      {{else if (eq column.field "numSources")}}
          <span>----</span>
      {{else}}
        {{get item column.field}}
      {{/if}}
      </span>
    {{/row.cell}}
  {{/explorer.table}}

 {{#explorer.inspector
    inspectorHeaderComponent='usm-policies/policies/inspector/header'
    inspectorContentComponent='usm-policies/policies/inspector'
    hasInspectorToolbar=false as |inspector|}}
    {{inspector.inspectorHeader}}
    {{inspector.inspectorContent}}
  {{/explorer.inspector}}

{{/rsa-explorer}}
