{{#rsa-explorer class="usm-policies"
  columns=columns
  reduxSpace='usm.policies'
  creators=creators as |explorer|}}

  {{#explorer.toolbar toolbarControlsComponent='usm-policies/policies/toolbar' as |toolbar|}}
    {{toolbar.toolbarControls}}
  {{/explorer.toolbar}}

  {{#explorer.filters filterControlsComponent='usm-policies/policies/filters' hasTimeFilter=false as |filters|}}
    {{filters.filterControls}}
  {{/explorer.filters}}

  {{#explorer.table as |row|}}
    {{#row.cell as |item index column|}}
      <span class="{{concat 'usm-policy-column-' column.field}} {{if item.defaultPolicy 'usm-default-policy-row'}}">
      {{#if (eq column.dataType 'checkbox') }}
        {{#if (not item.defaultPolicy) }}
          <label class="rsa-form-checkbox-label {{if (contains item.id explorer.instance.itemsSelected) 'checked'}}">
            {{rsa-form-checkbox checked=(contains item.id explorer.instance.itemsSelected) change=(action explorer.select item)}}
          </label>
        {{/if}}
      {{else if (eq column.field "sourceType")}}
        {{t (concat 'adminUsm.policyTypes.' item.policyType)}}
      {{else if (eq column.field "name")}}
          {{get item column.field}}
        {{else if (eq column.field "published")}}
          {{#if (eq item.lastPublishedOn 0)}}
            <p class="status-unpublished">{{t 'adminUsm.publishStatus.unpublished'}}</p>
          {{else}}
            {{#if item.dirty}}
              <p class="status-unpublished-edits">{{t 'adminUsm.publishStatus.unpublishedEdits'}}</p> 
            {{else}}
              {{t 'adminUsm.publishStatus.published'}}
            {{/if}}
          {{/if}}
      {{else if (eq column.field "groups")}}
        {{#each item.associatedGroups as |group index|}}
          {{#if (not-eq index 0)}},  {{/if}}{{group.name}}
        {{/each}}
      {{else if (eq column.field "numSources")}}
          <span>----</span>
      {{else}}
        {{get item column.field}}
      {{/if}}
      </span>
    {{/row.cell}}
  {{/explorer.table}}

 {{#explorer.inspector
    inspectorHeaderComponent='usm-policies/policies/inspector/header'
    inspectorContentComponent='usm-policies/policies/inspector'
    hasInspectorToolbar=false as |inspector|}}
    {{inspector.inspectorHeader}}
    {{inspector.inspectorContent}}
  {{/explorer.inspector}}

{{/rsa-explorer}}
