<hbox>
  <vbox xs="10">
    {{#if selectedNode.display}}
      <span class="larger">{{selectedNode.display}}</span>
      <span class="rsa-font-default property-name">{{selectedNode.name}}</span>
    {{else}}
      <span class="larger">{{selectedNode.name}}</span>
    {{/if}}
    <div class="thin-horizontal-scroll">
      {{#if liveSelectedNode.value}}
        <p class="top-margin large">{{tree-view-value node=liveSelectedNode}}</p>
      {{else}}
        <p class="top-margin large description-nonexistent">No value</p>
      {{/if}}
    </div>
    {{#if selectedIsConfigNode}}
      {{#if selectedNodeRequiresRestart}}
        <p class="top-margin error-text bold">Config change requires restart</p>
      {{/if}}
      <div class="border-panel">
        <box fill class="bottom-padding">
          {{rsa-form-input value=configValue placeholder="New value" isSuccess=configSetSuccess isError=configSetError errorMessage=configSetResult}}
        </box>
        <box fit class="bottom-padding">
          {{#rsa-form-button style='primary' defaultAction=(action 'setConfigValue' configValue)}}Set{{/rsa-form-button}}
        </box>
      </div>
    {{/if}}
    {{#if selectedNode.description}}
      <p class="top-margin description">{{selectedNode.description}}</p>
    {{/if}}
  </vbox>
  <vbox xs="2">
    <a {{action 'deselectStat'}} class="blue-hover">{{rsa-icon name="close" size="large"}}</a>
  </vbox>
</hbox>
