<div class="rsa-arrow-button__children" disabled={{disabled}} data-status={{status}}>
    <div class="rsa-arrow-button__content rsa-arrow-button__content--disabled">
        {{rsa-arrow class="rsa-arrow-button__svg-disabled" classExtra="rsa-arrow--disabled"}}
    </div>
    <div class="rsa-arrow-button__content rsa-arrow-button__content--enabled">
        {{rsa-arrow class="rsa-arrow-button__svg-enabled" classExtra="rsa-arrow--enabled"}}
    </div>
    <div class="rsa-arrow-button__content rsa-arrow-button__content--waiting">
        {{rsa-spinner class="rsa-arrow-button__svg-waiting" status=status }}
    </div>
</div>
