
<nav class="rsa-investigate__nav">
  <div class="rsa-nav-tab-group">
    {{#each tabs as |tab|}}
      {{#rsa-nav-tab align='left' isActive=tab.isActive}}
        {{#if tab.isActive}}
          <a href='#'>{{tab.label}}</a>
        {{else if tab.isClassic}}
          <a href={{tab.url}} class={{concat 'js-test-investigate-' tab.label '-classic'}}>{{tab.label}}</a>
        {{else}}
          {{#link-to-external tab.name class=(concat 'js-test-investigate-' tab.name '-classic')}}
            {{tab.label}}
          {{/link-to-external}}
        {{/if}}
      {{/rsa-nav-tab}}
    {{/each}}
  </div>

  <div class="investigate-controls">
    {{yield iconBar}}
  </div>
</nav>
{{yield main}}
