<!-- template-lint triple-curlies=false -->
{{#unless session.isAuthenticated}}
  <div class="login-wrapper {{if hasError 'has-error'}}">
    <header>
      {{rsa-logo title=(t 'appTitle')}}

      {{#if displayEula}}
        <h3>{{t 'login.eula.title'}}</h3>
      {{else if displaySecurityBanner}}
        <h3>{{{securityBannerTitle}}}</h3>
      {{/if}}
    </header>

    {{#if displayEula}}
      <form class="eula" {{action "acceptEula" on="submit"}}>
        <div class="eula-content">
          {{{eulaContent}}}
        </div>

        {{#rsa-form-button
          type="submit"
          style="primary"
          isFullWidth=true
          testId="btnAcceptEula"
          isDisabled=eulaContentPending}}
          {{t 'login.eula.agree'}}
        {{/rsa-form-button}}
      </form>
    {{else if displaySecurityBanner}}
      <form class="eula" {{action "acceptSecurityBanner" on="submit"}}>
        <div class="banner-content">
          {{{securityBannerText}}}
        </div>

        {{#rsa-form-button
          type="submit"
          style="primary"
          isFullWidth=true}}
          {{t 'login.eula.agree'}}
        {{/rsa-form-button}}
      </form>
    {{else if mustChangePassword}}
      <grid class="{{if displayPolicies 'display-policies'}}">
        <vbox xs="6">
          <h4>Password Format Rules</h4>
          <ul>
            {{#if passwordPolicyMinChars}}
              <li>{{t 'passwordPolicy.passwordPolicyMinChars' passwordPolicyMinChars=passwordPolicyMinChars}}</li>
            {{/if}}

            {{#if passwordPolicyMinNumericChars}}
              <li>{{t 'passwordPolicy.passwordPolicyMinNumericChars' passwordPolicyMinNumericChars=passwordPolicyMinNumericChars}}</li>
            {{/if}}

            {{#if passwordPolicyMinUpperChars}}
              <li>{{t 'passwordPolicy.passwordPolicyMinUpperChars' passwordPolicyMinUpperChars=passwordPolicyMinUpperChars}}</li>
            {{/if}}

            {{#if passwordPolicyMinLowerChars}}
              <li>{{t 'passwordPolicy.passwordPolicyMinLowerChars' passwordPolicyMinLowerChars=passwordPolicyMinLowerChars}}</li>
            {{/if}}

            {{#if passwordPolicyMinNonLatinChars}}
              <li>{{t 'passwordPolicy.passwordPolicyMinNonLatinChars' passwordPolicyMinNonLatinChars=passwordPolicyMinNonLatinChars}}</li>
            {{/if}}

            {{#if passwordPolicyMinSpecialChars}}
              <li>{{t 'passwordPolicy.passwordPolicyMinSpecialChars' passwordPolicyMinSpecialChars=passwordPolicyMinSpecialChars}}</li>
            {{/if}}

            {{#if passwordPolicyCannotIncludeId}}
              <li>{{t 'passwordPolicy.passwordPolicyCannotIncludeId'}}</li>
            {{/if}}
          </ul>
        </vbox>
        <vbox xs="6">
          <form class="change-password" {{action "changePassword" on="submit"}}>
            <p>
              {{t 'login.forcePassword.warning'}}
            </p>

            {{rsa-form-input
              class="js-test-login-old-password-input"
              type="password"
              autocomplete="current-password"
              label=(t 'login.oldPassword')
              isError=hasError
              value=password}}

            {{rsa-form-input
              class="js-test-login-new-password-input"
              type="password"
              autocomplete="new-password"
              label=(t 'login.newPassword')
              isError=hasError
              value=newPassword}}

            {{rsa-form-input
              class="js-test-login-confirm-new-password-input"
              type="password"
              autocomplete="new-password"
              label=(t 'login.confirmPassword')
              isError=hasError
              value=newPasswordConfirm}}

            {{#if errorMessage}}
              <div class="form-error-message">
                {{t errorMessage}}
              </div>
            {{/if}}

            {{#rsa-form-button
              type="submit"
              style="primary"
              isFullWidth=true
              isDisabled=changePasswordDisabled}}
              {{t 'login.forcePassword.changePassword'}}
            {{/rsa-form-button}}
          </form>
        </vbox>
      </grid>
    {{else}}
      <form class="login" autocomplete="on" {{action "authenticate" on="submit"}}>
        {{rsa-form-input
          autocomplete="username"
          class="js-test-login-username-input"
          label=(t 'login.username')
          testId="loginUsername"
          isError=hasError
          value=username}}

        {{rsa-form-input
          class="js-test-login-password-input"
          type="password"
          autocomplete="current-password"
          label=(t 'login.password')
          testId="loginPassword"
          isError=hasError
          value=password}}

        {{#if errorMessage}}
          <div class="form-error-message">
            {{t errorMessage}}
          </div>
        {{/if}}

        {{#rsa-form-button
          testId="loginButton"
          type="submit"
          class="js-test-login-submit-button"
          isDisabled=isLoginDisabled
          isFullWidth=true
          style="primary"}}
          {{#if isAuthenticating}}
            {{t 'login.loggingIn'}}
          {{else}}
            {{t "login.login"}}
          {{/if}}
        {{/rsa-form-button}}

        <span class="version">{{marketingVersion}}</span>
      </form>
    {{/if}}
  </div>
{{else}}
  {{rsa-loader size="largest"}}
{{/unless}}
