<!-- template-lint triple-curlies=false -->
{{#unless session.isAuthenticated}}
  <div class="login-wrapper {{if hasError 'has-error'}}">
    <header>
      {{rsa-logo title=(t 'application.title')}}

      {{#if displayEula}}
        <h3>End User License Agreement</h3>
      {{/if}}
    </header>

    {{#if displayEula}}
      <form class="eula" {{action "acceptEula" on="submit"}}>
        <div class="eula-content">
          {{{eulaContent}}}
        </div>

        {{#rsa-form-button
          type="submit"
          style="primary"
          isFullWidth=true}}
          Agree
        {{/rsa-form-button}}
      </form>

    {{else}}
      <form class="login" autocomplete="off" {{action "authenticate" on="submit"}}>
        {{rsa-form-input
          class="js-test-login-username-input"
          label=(t 'login.username')
          isError=hasError
          value=username}}

        {{rsa-form-input
          class="js-test-login-password-input"
          type="password"
          label=(t 'login.password')
          isError=hasError
          value=password}}

        {{#if errorMessage}}
          <div class="form-error-message">
            {{t errorMessage}}
          </div>
        {{/if}}

        {{#rsa-form-button
          type="submit"
          class="js-test-login-submit-button"
          isDisabled=isLoginDisabled
          isFullWidth=true
          style="primary"}}
          {{#if isAuthenticating}}
            {{t 'login.loggingIn'}}
          {{else}}
            {{t "login.login"}}
          {{/if}}
        {{/rsa-form-button}}

        <span class="version">{{version}}</span>
      </form>
    {{/if}}
  </div>
{{else}}
  {{rsa-loader size="largest"}}
{{/unless}}
