{{#if entry}}
    {{#if entry.milestone}}
        <header>
            <h2>{{entry.milestone}}</h2>
        </header>
    {{/if}}
    <section>
        <p>{{entry.notes}}</p>
    </section>
    <footer>
        <p>{{format-moment entry.created "YYYY/M/D H:mm"}} {{t "respond.incidentDetails.by"}} {{entry.author}}</p>
    </footer>
{{/if}}
