<h2 class="title-header">
  {{#rsa-form-button class='close-zone' click=openFilterPanel }}
    {{rsa-icon name='filter-2' size='small'}}
    <span>{{t 'investigateFiles.filter.filter'}}</span>
  {{/rsa-form-button}}
</h2>
<div class="toolbar-actions">
  {{service-selector services=servers serviceId=serverId onServiceSelection=(action 'handleServiceSelection')}}
  {{#rsa-form-button
     isDisabled=isCertificateViewDisabled
     title=isCertificateViewDisabledTitle
     class="view-certificate-button" click=(action 'toggleCertificateView')}}
    {{#if (and (eq certificateLoadStatus 'wait') (not-eq servers.isSummaryRetrieveError true))}}
      {{rsa-loader size='small'}}
    {{/if}}
    {{t 'investigateFiles.button.viewCertificates'}}
  {{/rsa-form-button}}
  <div class="divider"/>
  {{endpoint/file-actionbar
    onSaveFileStatus = (action 'saveFileStatus' checksums)
    getSavedFileStatus = (action 'getSavedFileStatus')
    resetRiskScore = (action 'resetRiskScoreAction')
    serviceList=serviceList
    metaName='checksumSha256'
    itemList=itemList
    serviceId=serviceId
    timeRange=timeRange
    fileStatusData=data
    showResetRiskScore=true
    selectedFileCount=selectedFileCount
    getAllServices=(action 'getAllServices')
    restrictedFileList=restrictedFileList
    isRemediationAllowed=remediationStatus
    isFloatingOrMemoryDll=isFloatingOrMemoryDll
    retrieveRemediationStatus=(action 'retrieveRemediationStatus')
    fileDownloadButtonStatus=fileDownloadButtonStatus
    downloadFiles=downloadFiles
    saveLocalCopy=saveLocalCopy
    analyzeFile=analyzeFile}}
  {{files-toolbar/export-button}}
</div>
