{{#if (and eventIndex eventTotal)}}
  <div class="event-info">
    <span class="lighter">{{eventIndex}} of {{eventTotal}}</span>
    events
  </div>
{{/if}}

{{#if isPacket}}
  <div class="packets-per-page">
    <input type="number" min="10" max="200" step="10" class="input-packets-per-page" value="{{packetsPageSize}}" onChange={{action 'setPacketsPerPage' value="target.value"}}>
    <label for="">packets per page</label>
  </div>
  {{recon-pager/data-pagination}} 
{{/if}}

{{#if (and isText maxPacketMessaging)}}
  <div class="packet-info">
    {{#rsa-content-tethered-panel-trigger panel='packetDisclaimerInfo'}}
      <div class="disclaimer">
        {{rsa-icon name='report-problem-triangle'}} {{maxPacketMessaging.message}}
      </div>
    {{/rsa-content-tethered-panel-trigger}}
    {{#rsa-content-tethered-panel
      displayCloseButton=false
      panelId='packetDisclaimerInfo'
      position='top'}}
      <p>{{maxPacketMessaging.disclaimer}}</p>
    {{/rsa-content-tethered-panel}}
  </div>
{{/if}} 

