<div class="event-info">
  <span class="lighter">{{eventIndex}} of {{eventTotal}}</span>
  events
</div>
{{#if isPacket}}
  <div class="packet-info">
    Rendered
    <span class="lighter">{{packetCount}} of {{packetTotal}}</span>
    packets
    {{unless isHidden 'to improve performance'}}
  </div>
{{/if}}
