{{#if (and eventIndex eventTotal)}}
  <div class="event-info">
    <span class="lighter">{{eventIndex}} of {{eventTotal}}</span>
    events
  </div>
{{/if}}


{{#if isPacket}}
  <hbox class="packet-pagination">
    {{recon-pager/data-pagination}}
  </hbox>
{{/if}}


{{#if (and isText maxPacketMessaging)}}
  <div class="packet-info">
    {{#rsa-content-tethered-panel-trigger panel='packetDisclaimerInfo'}}
      <div class="disclaimer">
        {{rsa-icon name='report-problem-triangle'}} {{maxPacketMessaging.message}}
      </div>
    {{/rsa-content-tethered-panel-trigger}}
    {{#rsa-content-tethered-panel
      displayCloseButton=false
      panelId='packetDisclaimerInfo'
      position='top'}}
      <p>{{maxPacketMessaging.disclaimer}}</p>
    {{/rsa-content-tethered-panel}}
  </div>
{{/if}} 

