{{rsa-logo animated=false}}

<hbox align="center" justify="end" class="header-content">
  <box fit class="{{if isDevelopmentBuild 'build-warning'}}">
    {{#if isDevelopmentBuild}}
      <box fit xs="visible" sm="hidden" title="Development Build">
        <p>{{rsa-icon name="report-problem-triangle" size="larger"}}</p>
      </box>
    {{/if}}
    <box fit xs="hidden" sm="visible">
      <p>
        {{#if isDevelopmentBuild}}
          <span>{{rsa-icon name="report-problem-triangle"}} Development Build | </span>
        {{/if}}
        <span>Device: {{deviceInfo.module}} v{{deviceInfo.version}}</span>
        <span>| Host: {{deviceInfo.hostname}}</span>
        <span>| Connection Status: <span class="{{if wsConnected 'connected' 'disconnected'}}">&#9679;</span> {{connectionString}}</span>
      </p>
    </box>
  </box>
</hbox>
