{{#if enableColumnSelector}}

  {{#rsa-content-tethered-panel-trigger
    panel='columnSelectorpanel'
    triggerEvent='click'
    class='rsa-data-table-header__column-selector'}}
    {{rsa-icon name='cog' style='filled' click=(action 'clearSearchTerm') }}
  {{/rsa-content-tethered-panel-trigger}}

  {{#rsa-content-tethered-panel displayCloseButton=false position='left-bottom' panelClass="rsa-data-table-column-selector-panel" panelId='columnSelectorpanel'}}
    <section>
      {{#if enableColumnSearch}}
        <section class='search-text-field'>
          {{rsa-form-input value=searchTerm placeholder=(t 'tables.columnChooser.filterPlaceHolder')}}
        </section>
      {{/if}}
      <ul>
        {{#each filterColumnChooser as |column|}}
          {{#if (not-eq column.dataType "checkbox")}}
            <li>
              <label class="rsa-form-checkbox-label {{concat 'column-selection-' column.field}} {{if column.selected 'checked'}}">
                {{rsa-form-checkbox
                  checked=column.selected
                  change=(action 'toggleColumn' column)}}
                {{#if translateTitles}}
                  {{t column.title}}
                {{else}}
                  {{column.title}}
                {{/if}}
              </label>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </section>
  {{/rsa-content-tethered-panel}}

{{/if}}

{{#sortable-group
  tagName="div" class="rsa-data-table-header-row js-header-row" direction="x"
  onChange=(action "reorderColumns" target=table) as |group|}}

  {{#if table.columnsDefinedDeclaratively}}

    {{!assume the consumer provided a block that includes an individual table cell for each column; no need to iterate}}
    {{yield this}}

  {{else}}
    {{!for each column model, render a header-cell, wrapped in sortable-item so it can be drag-moved}}
    {{#each table.visibleColumns as |column index|}}

      {{!check if the consumer provided a block for the header-cell contents}}
      {{#if hasBlock}}
        {{#rsa-data-table/header-cell
          column=column
          index=index
          model=column
          group=group
          spacing=3
          currentSort=currentSort
          handle=moveHandleSelector
          translateTitle=translateTitles}}
          {{yield column index}}
        {{/rsa-data-table/header-cell}}

      {{else}}
        {{rsa-data-table/header-cell
          column=column
          index=index
          model=column
          group=group
          spacing=3
          currentSort=currentSort
          handle=moveHandleSelector
          translateTitle=translateTitles}}

      {{/if}}

    {{/each}}

  {{/if}}

{{/sortable-group}}
