{{#if enableColumnSelector}}

  {{#rsa-content-help-trigger tooltip='columnSelectorTooltip' class='rsa-data-table-header__column-selector'}}
    {{rsa-icon name='cog' style='filled'}}
  {{/rsa-content-help-trigger}}

  {{#rsa-content-tooltip position='bottom' tooltipId='columnSelectorTooltip'}}
    <section>
      {{#each table.sortedColumns as |column|}}
        {{rsa-form-checkbox
          class=(concat 'column-selection-' column.field)
          value=column.selected
          label=(t column.title)}}
      {{/each}}
    </section>
  {{/rsa-content-tooltip}}

{{/if}}

{{#sortable-group
  tagName="div" class="rsa-data-table-header-row js-header-row" direction="x"
  onChange=(action "reorderColumns" target=table) as |group|}}

  {{#if table.columnsDefinedDeclaratively}}

    {{!assume the consumer provided a block that includes an individual table cell for each column; no need to iterate}}
    {{yield this}}

  {{else}}

    {{!for each column model, render a header-cell, wrapped in sortable-item so it can be drag-moved}}
    {{#each table.visibleColumns as |column index|}}

      {{!check if the consumer provided a block for the header-cell contents}}
      {{#if hasBlock}}

        {{#rsa-data-table/header-cell
          column=column
          index=index
          model=column
          group=group
          spacing=3
          handle=moveHandleSelector
          translateTitle=translateTitles}}
          {{yield column index}}
        {{/rsa-data-table/header-cell}}

      {{else}}

        {{rsa-data-table/header-cell
          column=column
          index=index
          model=column
          group=group
          spacing=3
          handle=moveHandleSelector
          translateTitle=translateTitles}}

      {{/if}}

    {{/each}}

  {{/if}}

{{/sortable-group}}