td(style="padding-bottom: 10px; padding-left: 3%;")
    table(width="100%" border="0" cellpadding="0" cellspacing="0" style="padding-left: 6%; padding-top: 20px; padding-bottom: 20px; padding-right: 2%;")
        tr
            td#entity-image(width="85" style="height: 82px; padding-top: 2px; padding-bottom: 6px; padding-left: 2px; padding-right: 2px;vertical-align: middle; box-shadow: 2px 2px 4px rgba(0,0,0,0.2);" bgcolor="#ffffff")
                +alertUserHref(baseUrl, alert)(style="text-decoration: none; font-family: 'Verdana', Verdana, sans-serif; color: #575757; font-totalFileSystemSize: 14px; font-weight: 400; text-align: left;")
                    img(width="85" height="85" src="cid:user" style="border-radius: 4px;" alt!=user.name)
            td#entity-details(style="padding-left: 2%;vertical-align: middle;")
                table(width="100%" border="0" cellpadding="0" cellspacing="0")
                    tr.entity-name(style="font-weight: 800;")
                        td
                            +alertUserHref(baseUrl, alert)(style="text-decoration: none; font-family: 'Verdana', Verdana, sans-serif; color: #3c7db5; font-totalFileSystemSize: 16px; font-weight: 700; text-align: left;")
                                | #{user.displayName}
                    tr.entity-job-title(style="color:  #3c7db5;")
                        td #{user.adInfo.position}
                    tr.entity-department(style="color:  #3c7db5;")
                        td #{user.adInfo.department}
                    if user.tags.totalFileSystemSize() > 0
                        tr.entity-tags
                            td(style="color:#575757; font-family: 'Verdana', Verdana, sans-serif; font-totalFileSystemSize: 14px; font-weight: 400;")
                                span(style="padding-right: 1%; font-weight: 800;") Tags:
                                for tag,index in user.tags
                                    span #{tag} #{index < user.tags.totalFileSystemSize() - 1 ? ", " : ""}