<article class="rsa-investigate-query">
  <header class="rsa-investigate-query__header">
    {{bread-crumb
      query=model.queryNode.value.definition
      language=model.queryNode.value.language.data
      aliases=model.queryNode.value.aliases.data
      submitQuery=(route-action 'submitQuery')}}

    {{#if (is-equal model.queryNode.value.results.events.status 'error')}}
      {{#rsa-panel-message messageType='query-error'}}
        <div class="capitalize">{{or model.queryNode.value.results.events.message (t 'investigate.events.error')}}</div>
      {{/rsa-panel-message}}
    {{else}}
      {{time-line
        data=model.queryNode.value.results.eventTimeline.data
        status=model.queryNode.value.results.eventTimeline.status
        retryAction=(route-action "eventTimelineGet" model.queryNode true)
        startTime=model.queryNode.value.definition.startTime
        endTime=model.queryNode.value.definition.endTime}}
    {{/if}}
  </header>
  <section class="{{queryBodyClass}}">
    <section class="rsa-investigate-query__body-master">
      <aside class="rsa-investigate-query__body-master-aside">
        {{meta-view
          size=model.meta.panelSize
          group=model.queryNode.value.language.defaultMetaGroup
          language=model.queryNode.value.language.data
          aliases=model.queryNode.value.aliases.data
          metaKeyStates=model.queryNode.value.results.metaKeyStates
          query=model.queryNode.value.definition
          minSizeAction=(route-action "metaPanelSize" 'min')
          maxSizeAction=(route-action "metaPanelSize" 'max')
          defaultSizeAction=(route-action "metaPanelSize" 'default')
          onBack=(route-action "metaGroupSet" model.queryNode)
          onFwd=(route-action "metaGroupSet" model.queryNode)
          clickValueAction=(route-action "navDrill" model.queryNode)
          contextLookupAction=(route-action "contextPanelOpen")
          toggleAction=(route-action "metaGroupKeyToggle" model.queryNode)}}
      </aside>
      <section class="rsa-investigate-query__body-master-main">
        {{events-table
          items=model.queryNode.value.results.events.data
          selectedIndex=selectedIndex
          columnsConfig=model.eventColumnGroups.selected.columns
          language=model.queryNode.value.language.data
          aliases=model.queryNode.value.aliases
          status=model.queryNode.value.results.events.status
          percent=model.queryNode.value.results.events.percent
          rowClickAction=(route-action "selectEvent")
          loadMoreAction=(route-action "eventsGetMore" model.queryNode)
          loadLogsAction=(route-action "eventsLogsGet" model.queryNode)
          stopAction=(route-action "eventsStop" model.queryNode)
          retryAction=(route-action "eventsGetMore" model.queryNode)
          totalCount=model.queryNode.value.results.eventCount.data
          totalThreshold=model.queryNode.value.results.eventCount.threshold
          totalStatus=model.queryNode.value.results.eventCount.status
          totalRetryAction=(route-action "eventCountGet" model.queryNode)
          isOpen=model.recon.isOpen
          reconSize=model.recon.size
        }}
      </section>
    </section>
    <vbox class="rsa-investigate-query__body-slave">
      {{#if (and model.recon.serviceId model.recon.eventId)}}
        {{recon-container
          serviceId=model.recon.serviceId
          eventId=model.recon.eventId
          meta=model.recon.metas
          index=model.recon.index
          total=model.recon.total
          size=(readonly model.recon.size)
          closeAction=(route-action 'reconClose')
          expandAction=(route-action 'reconExpand')
          shrinkAction=(route-action 'reconShrink')
          linkToFileAction=(route-action 'reconLinkToFile')
          language=model.queryNode.value.language
          aliases=model.queryNode.value.aliases}}
      {{/if}}
    </vbox>
  </section>
  <footer class="rsa-investigate-query__footer">
  </footer>
</article>
