{{#investigate-header activeTab='investigate.investigate-users' as |section| }}
  {{#if section.isMain}}
    {{outlet}}
  {{/if}}
{{/investigate-header}}
<div class="rsa-nav-tab-group user-header">
  {{#rsa-nav-tab align='left' compact=true isActive=(eq routePath "overview")  click=(action 'controllerNavigateTo' 'index')}}
    <div class="label">{{t 'investigateUsers.overview.title'}}</div>
  {{/rsa-nav-tab}}

  {{#rsa-nav-tab align='left' compact=true isActive=(eq routePath "users")  click=(action 'controllerNavigateTo' 'users')}}
    <div class="label">{{t 'investigateUsers.users.title'}}</div>
  {{/rsa-nav-tab}}

  {{#rsa-nav-tab align='left' compact=true isActive=(eq routePath "alerts")  click=(action 'controllerNavigateTo' 'alerts')}}
    <div class="label">{{t 'investigateUsers.alerts.title'}}</div>
  {{/rsa-nav-tab}}
</div> 
{{user-container applyUserFilter=(action 'controllerApplyUserFilter') applyAlertsFilter=(action 'controllerApplyAlertsFilter')}}