<div class="rsa-investigate-events-table__header__container">
  <div class="rsa-investigate-events-table__header__content">
    <div class="rsa-investigate-events-table__header__eventLabel">
      <h2>
        {{#if isAtThreshold}}
          {{t "investigate.events.titleThreshold" age=eventResultSetStart count=count sort=eventTimeSortOrder}}
          {{rsa-icon
            class="at-threshold"
            style="lined"
            name='report-problem-triangle'
            title=(t 'investigate.events.titleThresholdTooltip' age=eventResultSetStart sort=eventTimeSortOrder count=eventCount)}}
        {{else}}
          {{t "investigate.events.title" count=count sort=eventTimeSortOrder}}
        {{/if}}
      </h2>
    </div>
    <div class="rsa-investigate-events-table__header__columnGroup">
      <label class="is-small power-select">
        {{#power-select
          options=localizedColumnGroups
          selected=selectedColumnGroup
          triggerClass='is-small'
          searchEnabled=true
          searchPlaceholder=(t 'investigate.events.columnGroups.searchPlaceholder')
          searchField='name'
          onopen=(action 'attachTooltip')
          onchange=(action 'setColumnGroup') as |option|}}
          <span title="{{option.name}}">{{option.name}}</span>
        {{/power-select}}
      </label>
    </div>

    {{!--TODO bring download back--}}
    {{!--{{events-table-container/header-container/download-dropdown}}--}}
  </div>
  <div class="events-table-control">
    {{rsa-icon
      disabled=(not isReconOpen)
      click=toggleReconSize
      name=toggleEvents.class
      title=(t toggleEvents.title)}}
    {{rsa-icon
      disabled=(not isReconOpen)
      click=toggleSlaveFullScreen
      name='close'
      title=(t 'investigate.events.close')}}
  </div>
</div>
