<div class="rsa-investigate-events-table__header__container">
  <div class="rsa-investigate-events-table__header__content">
    <div class="rsa-investigate-events-table__header__eventLabel">
      <h2>
        {{#if isAtThreshold}}
          {{t "investigate.events.titleThreshold" age=eventResultSetStart count=actualEventCount sort=abbreviatedSortOrder}}
          {{rsa-icon
            class="at-threshold"
            name='report-problem-triangle'
            title=(t 'investigate.events.titleThresholdTooltip' age=eventResultSetStart count=count actualEventCount=actualEventCount)}}
        {{else}}
          {{t "investigate.events.title" count=actualEventCount sort=abbreviatedSortOrder}}
        {{/if}}
      </h2>
    </div>
    <div class="rsa-investigate-events-table__header__columnGroup">
      <label class="is-small power-select">
        {{#power-select
          options=localizedColumnGroups
          selected=selectedColumnGroup
          triggerClass='is-small'
          searchEnabled=true
          searchPlaceholder=(t 'investigate.events.columnGroups.searchPlaceholder')
          searchField='name'
          onopen=(action 'attachTooltip')
          onchange=(action 'setColumnGroup') as |option|}}
          <span title="{{option.name}}">{{option.name}}</span>
        {{/power-select}}
      </label>
    </div>

    {{events-table-container/header-container/download-dropdown}}
    {{#if permissionAllowsIncidentManagement}}
      {{incident-toolbar isDisabled=isIncidentButtonsDisabled}}
    {{/if}}
  </div>
  <div class="events-table-control">
    {{#rsa-content-tethered-panel-trigger
      panel='tableSearchPanel'
      triggerEvent='click'
      class='rsa-data-table-header__search-selector'}}
      {{rsa-icon
        name='search'
        title=(t 'investigate.events.search')}}
    {{/rsa-content-tethered-panel-trigger}}

    {{#rsa-content-tethered-panel
      displayCloseButton=false
      position='left'
      panelClass="rsa-data-table-search-panel"
      panelId='tableSearchPanel'
      panelDidOpen=searchPanelDidOpen}}
      <section>
        {{rsa-form-input value=readOnlySearchTerm onKeyUp=(action 'debouncedSearchForTerm') label=(t 'investigate.events.search') placeholder=(t 'investigate.events.searchPlaceholder')}}
        {{#if searchMatchesCount}}
          <p>{{searchMatchesCount}} match(es) found.</p>
        {{/if}}
      </section>
    {{/rsa-content-tethered-panel}}

    {{rsa-icon
      disabled=(not isReconOpen)
      click=toggleReconSize
      name=toggleEvents.class
      title=(t toggleEvents.title)}}
    {{rsa-icon
      disabled=(not isReconOpen)
      click=toggleSlaveFullScreen
      name='close'
      title=(t 'investigate.events.close')}}
  </div>
</div>
