<ul class="rsa-field-list" title="{{unbound model.name}}">
    <li class="rsa-field rsa-created">
        <label>{{t "incident.fields.createdDate"}}</label>
        <span>{{unbound (format-moment model.created "YYYY/M/D H:mm.ss (Z)")}}</span>
    </li>

    <li class="rsa-field rsa-id">
        <label>{{t "incident.fields.id"}}</label>
        <span>{{unbound model.id}}</span>
    </li>

    <li class="rsa-field rsa-name">
        <label>{{t "incident.fields.name"}}</label>
        <span>{{unbound model.name}}</span>
    </li>

    <li class="rsa-field rsa-status">
        <label>{{t "incident.fields.status"}}</label>
        <span>{{t (concat "incident.status." model.statusSort)}}</span>
    </li>

    <li class="rsa-field rsa-priority">
        <label>{{t "incident.fields.priority"}}</label>
        <span>{{t (concat "incident.priority." model.prioritySort)}}</span>
    </li>

    <li class="rsa-field rsa-risk-score">
        <label>{{t "incident.fields.riskScore"}}</label>
        <span>{{unbound model.riskScore}}</span>
    </li>

    <li class="rsa-field rsa-assignee">
        <label>{{t "incident.fields.assignee"}}</label>
        <span>{{if model.assignee model.assignee.name (t "incident.assignee.none")}}</span>
    </li>
</ul>
