<vbox class='rsa-respond-incident'>
  <hbox class='rsa-respond-incident__top-panel'>
    <vbox xs="12">
      {{rsa-respond/incident-detail/detail-header model=model users=users}}
    </vbox>
  </hbox>

  <hbox class='rsa-response-detail__bottom-header'>
    <vbox xs="3">
      {{#if showJournal}}
        {{t 'journal.title'}}
      {{else}}
        {{t 'incident.details.overview.title'}}
      {{/if}}
    </vbox>
    <vbox xs="9">
      <div>
        Storyline {{rsa-content-datetime timestamp=model.alerts.firstObject.alert.timestamp}} to
        {{rsa-content-datetime timestamp=model.alerts.lastObject.alert.timestamp}}
      </div>
    </vbox>
  </hbox>

  <hbox>
    <vbox xs="3" class="rsa-response-detail__bottom-overview">
      {{#if showJournal}}
        {{rsa-respond/incident-detail/journal-wrapper model=model addJournalAction=addJournalAction editJournalAction=editJournalAction deleteJournalAction=deleteJournalAction}}
      {{else}}
        {{rsa-respond/incident-detail/detail-overview saveAction=(route-action 'saveAction') model=model}}
      {{/if}}
    </vbox>
    <vbox xs="9">
      {{rsa-respond/incident-detail/detail-storyline journalAction=(action 'journalAction') entityAction=(action 'showEntity') model=model}}
    </vbox>
  </hbox>
</vbox>
