<hbox class='rsa-respond-incident__top-panel' fit>
  <vbox xs="12">
    {{rsa-respond/incident-detail/detail-header incident=model users=users saveIncidentAction=(route-action 'saveAction')}}
  </vbox>
</hbox>

{{#rsa-application-layout-manager class="rsa-respond-detail-layout-manager"}}
  {{#rsa-application-layout-panel class="journal-panel"}}
    {{rsa-respond/incident-detail/journal-wrapper incident=model}}
  {{/rsa-application-layout-panel}}

  {{#rsa-application-layout-panel class="panel-A rsa-respond-detail-overview"}}
    {{#rsa-content-section-header}}
      <h1>{{t 'incident.details.overview.title'}}</h1>
    {{/rsa-content-section-header}}
    <div class="rsa-respond-detail-overview-wrapper">
      {{#rsa-content-accordion class='rsa-respond-detail-overview__accordion' label=(t 'incident.details.overview.about')}}
        {{rsa-respond/incident-detail/detail-overview saveAction=(route-action 'saveAction') model=model}}
      {{/rsa-content-accordion}}

      {{#rsa-content-accordion isCollapsed=true label=(t 'incident.details.overview.categoryTags') class="rsa-category-tags-panel spacer"}}
        {{rsa-form-tag-manager selectedTags=chosenIncidentTags availableTags=normalizedTreeData addTagsLabel=(t 'incident.details.overview.addCategoryTags')}}
      {{/rsa-content-accordion}}
    </div>
  {{/rsa-application-layout-panel}}

  {{#rsa-application-layout-panel class="panel-B rsa-respond-storyline-wrapper"}}
    {{rsa-respond/incident-detail/detail-storyline model=storyline}}
  {{/rsa-application-layout-panel}}

  {{#rsa-application-layout-panel class="panel-C rsa-respond-detail-wrapper"}}
    {{outlet 'indicator'}}
  {{/rsa-application-layout-panel}}

  {{#rsa-application-layout-panel class="context-panel"}}
    {{outlet}}
  {{/rsa-application-layout-panel}}
{{/rsa-application-layout-manager}}
