<hbox class='rsa-respond-incident__top-panel' fit>
  <vbox xs="12">
    {{rsa-respond/incident-detail/detail-header incident=model users=users saveAction=(route-action 'saveAction')}}
  </vbox>
</hbox>

{{#rsa-application-layout-manager}}
  {{#rsa-application-layout-panel class="journal-panel"}}
    {{rsa-respond/incident-detail/journal-wrapper model=model addJournalAction=addJournalAction editJournalAction=editJournalAction deleteJournalAction=deleteJournalAction}}
  {{/rsa-application-layout-panel}}

  {{#rsa-application-layout-panel class="panel-A"}}
    {{rsa-respond/incident-detail/detail-overview saveAction=(route-action 'saveAction') model=model}}
  {{/rsa-application-layout-panel}}

  {{#rsa-application-layout-panel class="panel-B"}}
    {{#rsa-content-section-header}}
      Storyline
      {{rsa-content-datetime timestamp=model.alerts.firstObject.alert.timestamp}}
      to
      {{rsa-content-datetime timestamp=model.alerts.lastObject.alert.timestamp}}
    {{/rsa-content-section-header}}

    {{rsa-respond/incident-detail/detail-storyline model=model}}
  {{/rsa-application-layout-panel}}

  {{#rsa-application-layout-panel class="panel-C"}}
    {{#rsa-content-section-header}}
      <h1>Storyline Details</h1>
    {{/rsa-content-section-header}}
  {{/rsa-application-layout-panel}}

  {{#rsa-application-layout-panel class="context-panel"}}
    {{#rsa-content-section-header}}
      <h1>Context</h1>
    {{/rsa-content-section-header}}
  {{/rsa-application-layout-panel}}
{{/rsa-application-layout-manager}}
