{{!--loop all criterias and nested group criterias--}}
{{#each criterias as |criteria index|}}
  {{!--if criteria is an array, the criteria is a single criteria and not a group of criterias. Need to find the list of 
  attributes, operators, input and validator--}}
  {{#if (is-array criteria)}}
    {{!--find operators in groupAttributesMap--}}
    {{#each groupAttributesMap.map as |attribute|}}
      {{#if (eq criteria.[0] attribute.[0])}}
        {{#each attribute.[1] as |operator|}}
        {{!--then find input field/s and validation in groupAttributesMap--}}
          {{#if (eq criteria.[1] operator.[0])}}
            <div class='group-criteria'>
              <span class="attribute">
                <label class="rsa-form-label power-select">
                  {{#power-select
                    searchEnabled=false
                    options=groupAttributesMap.attribute
                    selected=criteria.[0]
                    onchange=(action 'handleAttributeChange' (concat criteriaPath ',' index)) as |option|}}
                     {{t (concat 'adminUsm.groupCriteria.attribute.' option)}}
                  {{/power-select}}
                </label>
              </span>
              <span class="operator">
                <label class="rsa-form-label power-select">
                  {{#power-select
                    searchEnabled=false
                    options=attribute.[1]
                    selected=operator
                    onchange=(action 'handleOperatorChange' (concat criteriaPath ',' index)) as |option|}}
                     {{t (concat 'adminUsm.groupCriteria.operator.' option.[0])}}
                  {{/power-select}}
                </label>
              </span>
              {{!--go to input field/s and validation. criteriaPath is needed for updating state--}}
              {{#usm-groups/group/group-attributes/attribute-inputs
                inputField=operator.[1] 
                value=criteria.[2]
                value2=criteria.[3]
                validation=operator.[2]
                criteriaPath=(concat criteriaPath ',' index)}}
              {{/usm-groups/group/group-attributes/attribute-inputs}}
            </div>
          {{/if}}
        {{/each}}
      {{/if}}
    {{/each}}
  {{else}}
    {{!--if criteria it's not an array, it is an object. The criteria is a group of criterias. Need to call componenet group-attributes and pass nessted criteria.criteria --}}
    <div class='group-criterias'>
      {{usm-groups/group/group-attributes criterias=criteria.criteria criteriaPath=(concat criteriaPath ',' index)}}
    </div>
  {{/if}}
{{/each}}

{{#rsa-form-button
  class='add-criteria-button'
  style='standard'
  defaultAction='addCriteria'
}}
  {{t 'adminUsm.groupWizard.addCondition'}}
{{/rsa-form-button}}
