<header class="rsa-incident-journal-entry__header">
  <span class="rsa-incident-journal-entry__author">
    {{entry.author}}
  </span>
  <span class="rsa-incident-journal-entry__created">
    {{rsa-content-datetime timestamp=entry.created asTimeAgo=false displayTime=true displayDate=true displayMilliseconds=false}}
  </span>

  <div class="rsa-incident-journal-entry__milestone metadata ">
    {{#if accessControl.respondCanManageJournal}}
      <label>{{t 'respond.journal.milestone'}}<span class="required-field"/></label>
      <div class="edit-button journal-milestone">
        {{#power-select
          options=milestoneTypes
          selected=milestone
          matchTriggerWidth=false
          searchEnabled=false
          triggerComponent=(component "respond-common/button-trigger"
            iconName='arrow-down-12'
            iconPosition='after'
            label=(if entry.milestone (t (concat 'respond.milestones.' entry.milestone)) (t 'respond.none')))
          onchange=(action 'handleMilestoneChange') as |option|}}
          {{t (concat 'respond.milestones.' option)}}
        {{/power-select}}
      </div>
    {{else}}
        {{t 'respond.journal.milestone'}}: {{if entry.milestone (t (concat 'respond.milestones.' entry.milestone)) (t 'respond.none') }}
    {{/if}}
  </div>

  {{#if accessControl.respondCanManageJournal}}
    <div class="delete">
      {{#rsa-form-button isIconOnly=true title=(t 'respond.journal.delete') defaultAction=(action 'handleDelete')}}{{rsa-icon style='lined' name='bin-1'}}{{/rsa-form-button}}
    </div>
  {{/if}}
</header>
<section class="rsa-incident-journal-entry__note">
  {{respond-common/editable-field
    type='textarea'
    allowEmptyValue=false
    value=entry.notes
    isDisabled=(not accessControl.respondCanManageJournal)
    onFieldChange=(action 'handleNoteChange')}}
</section>

{{#if showConfirmationDialog}}
  {{#rsa-application-modal
    eventId='delete-journal-entry'
    onClose=(action 'cancel')
    label=(t "respond.explorer.confirmation.deleteTitle")
    style="standard respond-confirmation-dialog"}}
    <div class='modal-content'>
      <p>{{t 'respond.journal.deleteConfirmation'}}</p>
    </div>
    <footer>
      <hbox class="modal-footer-buttons">
        {{#rsa-form-button defaultAction='cancel'}}
          {{t 'forms.cancel'}}
        {{/rsa-form-button}}
        {{#rsa-form-button style='primary' defaultAction='confirm'}}
          {{t 'forms.ok'}}
        {{/rsa-form-button}}
      </hbox>
    </footer>
  {{/rsa-application-modal}}
{{/if}}