<header class="rsa-incident-journal-entry__header">
  <span class="rsa-incident-journal-entry__author">
    {{entry.author}}
  </span>
  <span class="rsa-incident-journal-entry__created">
    {{rsa-content-datetime timestamp=entry.created asTimeAgo=false displayTime=true displayDate=true displayMilliseconds=false}}
  </span>
  {{#if entry.milestone}}
    <div class="rsa-incident-journal-entry__milestone">
      {{t 'respond.journal.milestone'}}: {{t (concat 'respond.milestones.' entry.milestone)}}
    </div>
  {{/if}}
</header>
<section class="rsa-incident-journal-entry__note">
  {{entry.notes}}
</section>

