<div class='list-body'>
  <div class='details-header'>
    <div class='title'>
      {{heading}}
    </div>

    {{list-manager/list-manager-container/item-details/details-header-icons
      stateLocation=stateLocation
    }}

  </div>
  <div class='details-body'>
    {{yield (hash
      item=item
      itemEdited=(action 'itemEdited')
     )
    }}
  </div>

  {{!-- Overlay with spinner during delete to prevent interactions --}}
  {{#if isItemsLoading}}
    <div class="item-details-loading-overlay">
      <centered>
        {{rsa-loader size="largest"}}
      </centered>
    </div>
  {{/if}}
</div>

{{list-manager/list-manager-container/item-details/details-footer
  stateLocation=stateLocation
  item=item
  editedItem=editedItem
  itemTransform=itemTransform
  itemSelection=itemSelection
}}
