<div class='list-body'>
  {{#if item}}
    <div class='details-header'>
      <div class='title'>
        {{itemType}} details
      </div>

      {{list-manager/list-manager-container/item-details/details-header-icons
        stateLocation=stateLocation
      }}

    </div>
    <div class='details-body'>
      {{yield item}}
    </div>

  {{else}}
    <div class='new-item'>
    </div>
  {{/if}}

  {{!-- Overlay with spinner during delete to prevent interactions --}}
  {{#if isItemsLoading}}
    <div class="item-details-loading-overlay">
      <centered>
        {{rsa-loader size="largest"}}
      </centered>
    </div>
  {{/if}}
</div>

{{list-manager/list-manager-container/item-details/details-footer
  stateLocation=stateLocation
  item=item
  itemSelection=itemSelection
}}
