<div class='list-body'>
  {{#if item}}
    <div class='details-header'>
      <div class='title'>
        {{itemType}} details
      </div>
      {{#if hasContextualHelp}}
        {{#rsa-form-button class='list-help-icon' defaultAction=(action 'goToHelp')}}
          {{rsa-icon name='help-circle' style='lined'}}
        {{/rsa-form-button}}
      {{/if}}
      {{!-- delete component here --}}
    </div>
    <div class='details-body'>
      {{yield item}}
    </div>
    {{! other details of list to follow --}}
  {{else}}
    <div class='new-item'>
    </div>
  {{/if}}
</div>
{{list-manager/list-manager-container/item-details/details-footer
  listLocation=listLocation
  item=item
  detailsDone=detailsDone
  itemSelection=itemSelection
}}
