{{#if column.componentClass}}
  <label class="rsa-form-checkbox-label {{if (is-selected selections item) 'checked'}}">
    {{rsa-form-checkbox checked=(if (is-selected selections item) true false) change=checkBoxAction}}
  </label>
{{else if (eq column.field 'score')}}
  <centered>
    {{#if (eq (get item 'machineIdentity.agentMode') 'insights')}}
      <div title="{{t 'investigateHosts.hosts.insightAgentTooltip'}}" class="insights-host">
        N/A
      </div>
    {{else}}
      {{#if (get item column.field)}}
        {{rsa-risk-score score=(get item column.field) size='small'}}
      {{else}}
        {{rsa-risk-score score='0' size='small'}}
      {{/if}}
    {{/if}}
  </centered>
{{else if (eq column.field 'machineIdentity.machineName')}}
  <hbox class="machine-name-holder">
    <div class="host-name">
      {{#link-to "hosts.details" item.id (query-params machineId=item.id tabName='OVERVIEW' sid=serverId subTabName=null pid=null query=null)}}
        {{get item column.field}}
      {{/link-to}}
    </div>
  </hbox>
{{else if (eq column.field 'agentStatus.lastSeenTime')}}
  <div title="{{get-field item column timezone dateFormat timeFormat i18n.locale}}" class="{{unless item.groupPolicy.managed "host-disable-text"}}">
    {{moment-from-now (get item column.field) locale=i18n.locale timeZone=timezone.selected.zoneId allow-empty=true}}
  </div>
{{else if (eq column.field 'agentStatus.scanStatus')}}
  <div class="{{unless item.groupPolicy.managed "host-disable-text"}}">
    {{host-scan-status agent=item}}
  </div>
{{else if (eq column.field 'machine.scanStartTime')}}
  <div mouseEnter={{onMouseEnter}} mouseLeave={{onMouseLeave}} class="{{unless item.groupPolicy.managed "host-disable-text"}}">
    {{rsa-content-datetime timestamp=(get item column.field) displayMilliseconds=false}}
  </div>
{{else if (eq column.field 'machineIdentity.hardware.totalPhysicalMemory')}}
  <div class="{{unless isManaged "host-disable-text"}}">
    {{rsa-content-memsize size=(get item column.field)}}
  </div>
{{else}}
  <div title="{{get-field item column timezone dateFormat timeFormat i18n.locale}}" class="{{unless item.groupPolicy.managed "host-disable-text"}}">
    {{get-field item column timezone dateFormat timeFormat i18n.locale}}
  </div>
{{/if}}
