{{#if column.componentClass}}
  <label class="rsa-form-checkbox-label {{if item.selected 'checked'}}">
    {{rsa-form-checkbox checked=item.checked change=checkBoxAction}}
  </label>
{{else if (eq column.field 'analysisData.machineRiskScore')}}
  {{host-list/host-table/risk-score-badge score=item.analysisData.machineRiskScore}}
{{else if (eq column.field 'machine.machineName')}}
  <span class="host-name">
    {{#link-to "hosts" (query-params machineId=item.id tabName='OVERVIEW')}}{{get item column.field}}{{/link-to}}
  </span>
  
{{else if (eq column.field 'agentStatus.lastSeenTime')}}
  <span title="{{get-field item column timezone dateFormat timeFormat}}">
    {{moment-from-now (get item column.field) locale=i18n.locale timeZone=timezone.selected.zoneId allow-empty=true}}
  </span>
{{else if (eq column.field 'agentStatus.scanStatus')}}
  <div mouseEnter={{onMouseEnter}} mouseLeave={{onMouseLeave}}>
    {{host-scan-status  agent=item onButtonClick=onButtonClick}}
  </div>
{{else if (eq column.field 'machine.scanStartTime')}}
  <div mouseEnter={{onMouseEnter}} mouseLeave={{onMouseLeave}}>
    {{rsa-content-datetime timestamp=(get item column.field) displayMilliseconds=false}}
  </div>
{{else}}
  <span title="{{get-field item column timezone dateFormat timeFormat}}"> {{get-field item column timezone dateFormat timeFormat}}</span>
{{/if}}
