<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="Sizes"}}
      {{#spec-member title="Default"}}
        {{rsa-loader}}

        <code>
          &#123;{rsa-loader}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Medium"}}
        {{rsa-loader size='medium'}}
        <code>
          &#123;{rsa-loader size='large' label='Gathering Data'}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Large"}}
        {{rsa-loader size='large' label='Gathering Data'}}
        <code>
          &#123;{rsa-loader size='large' label='Gathering Data'}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Larger"}}
        {{rsa-loader size='larger' label='Gathering Data'}}

        <code>
          &#123;{rsa-loader size='larger' label='Gathering Data'}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Largest"}}
        {{rsa-loader size='largest' label='Gathering Data'}}

        <code>
          &#123;{rsa-loader size='largest' label='Gathering Data'}}
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
