<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="Sizes"}}
      {{#spec-member title="Default"}}
        {{rsa-loader}}
        {{!-- BEGIN-SNIPPET default
        {{rsa-loader}}
        END-SNIPPET --}}
        {{code-snippet name="default.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Medium"}}
        {{rsa-loader size='medium'}}
        {{!-- BEGIN-SNIPPET medium
        {{rsa-loader size='medium'}}
        END-SNIPPET --}}
        {{code-snippet name="medium.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Large"}}
        {{rsa-loader size='large' label='Gathering Data'}}
        {{!-- BEGIN-SNIPPET large
        {{rsa-loader size='large' label='Gathering Data'}}
        END-SNIPPET --}}
        {{code-snippet name="large.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Larger"}}
        {{rsa-loader size='larger' label='Gathering Data'}}
        {{!-- BEGIN-SNIPPET larger
        {{rsa-loader size='larger' label='Gathering Data'}}
        END-SNIPPET --}}
        {{code-snippet name="larger.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Largest"}}
        {{rsa-loader size='largest' label='Gathering Data'}}
        {{!-- BEGIN-SNIPPET largest
        {{rsa-loader size='largest' label='Gathering Data'}}
        END-SNIPPET --}}
        {{code-snippet name="largest.hbs"}}
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
