<h1 class="large centered">Log Capture</h1>
{{#rsa-chart data=graphAdapter as |params|}}
  {{#each params.data as |series index|}}
    {{rsa-line-series
      data=params.data
      dataIndex=index
      xScale=params.xScale
      yScale=params.yScale
      height=params.graphHeight}}
  {{/each}}
  {{rsa-y-axis scale=params.yScale tickCount=3}}
{{/rsa-chart}}
<h1 class="large centered">{{ngcoreui-formatted-number size=valuesAdapter.capture_rate}} EPS</h1>
{{#dashboard-properties-grid}}
  {{dashboard-property-item propertyName='Events Captured' propertyValue=valuesAdapter.capture_received type='numeric'}}
  {{dashboard-property-item propertyName='Events Dropped' propertyValue=valuesAdapter.capture_dropped type='numeric'}}
  {{dashboard-property-item propertyName='Capture Status' propertyValue=valuesAdapter.capture_status}}
  {{dashboard-property-item propertyName='Capture Started' propertyValue=valuesAdapter.time_capture.started}}
  {{dashboard-property-item propertyName='Capture Duration' propertyValue=valuesAdapter.time_capture.duration}}
  <div class="property-item">
    {{#if (or (eq valuesAdapter.capture_status 'started') (eq valuesAdapter.capture_status 'stopping'))}}
      <hbox class="rsa-button-with-confirmation">
        {{#rsa-button-with-confirmation
          style="danger"
          title='Confirm Stop Capture'
          confirmationMessage='Are you sure that you want to stop capture?'
          confirmButtonLabel='Yes'
          isDisabled=(not-eq valuesAdapter.capture_status 'started')
          cancelButtonLabel='No'
          onConfirm=(action 'stopCapture')}}
          Stop
        {{/rsa-button-with-confirmation}}
      </hbox>
    {{else}}
      {{#rsa-form-button
        style='primary'
        isDisabled=(not-eq valuesAdapter.capture_status 'stopped')
        defaultAction=(action 'startCapture')}}
        Start
      {{/rsa-form-button}}
    {{/if}}
  </div>
{{/dashboard-properties-grid}}
