{{rsa-data-filters
  config=allFilters
  disableSaveFilterButton=disableSave
  showSaveFilterButton=true
  onSave=(action 'showSaveFilter')
  onFilterChange=(action 'filterChanged')}}

{{#if showSaveFilter}}
  {{#rsa-application-modal eventId='save-search' label=(t decorator.label)}}
    <div class='modal-content rsa-save-search rsa-p-md save-search'>
      <label class="rsa-form-label">
        {{t 'investigateFiles.filter.customFilters.save.description'}}
      </label>
      <div class='rsa-margin name'>
        {{rsa-form-input
          class='custom-filter-name'
          isError=decorator.isError
          maxLength=255
          value=saveFilterName }}
      </div>
      {{#if isNameEmpty}}
        <label class="rsa-form-label rsa-m-t-xs rsa-m-b-xs">
          {{t 'investigateFiles.filter.customFilters.save.emptyMessage'}}
        </label>
      {{/if}}
      {{#if isNameInvalid}}
        <label class="rsa-form-label rsa-m-t-xs rsa-m-b-xs">
          {{t 'investigateFiles.filter.customFilters.save.invalidInput'}}
        </label>
      {{/if}}
      <div class="rsa-btn-group align-right rsa-m-md">
        {{#rsa-form-button style='primary' class= "rsa-m-r-md save-filter" isDisabled=decorator.isError
                           click=(action 'saveFilter')}}
          {{t 'investigateFiles.button.save'}}
        {{/rsa-form-button}}
        {{#rsa-form-button class= "cancel-filter" click=(action 'closeSaveFilterModal')}}
          {{t 'investigateFiles.button.cancel'}}
        {{/rsa-form-button}}
      </div>
    </div>
  {{/rsa-application-modal}}
{{/if}}