{{content-filter/filter-trigger
  panelId=config.panelId
  propertyName=config.propertyName
  showRemoveButton=config.showRemoveButton
  filterLabel=filterLabel}}
{{#rsa-content-tethered-panel
  isPopover=true
  displayCloseButton=true
  position='bottom-right'
  panelId=config.panelId}}
  <section class="number-filter__content">
    <hbox class="number-filter__body">
      <div class="col-xs-5 select-option">
        {{#power-select
          searchEnabled=false
          placeholder="Select"
          options=dropDownValues
          dropdownClass='filter-file-size'
          selected=restrictionType
          triggerClass="is-small"
          onchange=(action (mut restrictionType)) as |option|}}
          {{t option.name}}
        {{/power-select}}
      </div>
      {{#if (eq restrictionType.type 'BETWEEN')}}
        <div class='number-filter__body__input col-xs-3'>
          {{rsa-form-input type='number' value=start keyPress=(action 'keyDown')}}
        </div>
        <div class='number-filter__body__input col-xs-3'>
          {{rsa-form-input type='number' value=end keyPress=(action 'keyDown')}}
        </div>
      {{else}}
        <div class='number-filter__body__input col-xs-6'>
          {{rsa-form-input type='number' value=value keyPress=(action 'keyDown')}}
        </div>
      {{/if}}
    </hbox>
    {{#if config.showMemUnit}}
      <hbox>
        <div class='rsa-form-radio-group body__radio'>
          {{#each units as |type|}}
            <label class="rsa-form-radio-label {{if (eq type selectedUnit) 'checked'}}">
              {{radio-button
                value=type
                groupValue=selectedUnit}}
              {{type}}
            </label>
          {{/each}}
        </div>
      </hbox>
    {{/if}}
    <section class="footer">
      {{#rsa-form-button style='primary' defaultAction=(action 'onFilterUpdate')}}
        Update
      {{/rsa-form-button}}
    </section>
  </section>
{{/rsa-content-tethered-panel}}
