{{#if features.rsaEndpointFusion}}
  {{#rsa-context-menu contextItems=contextItems}}
    <span title="{{get item column.field}}">{{get item column.field}}</span>
  {{/rsa-context-menu}}
{{else}}
  <span title="{{get item column.field}}">{{get item column.field}}</span>
{{/if}}

{{#if showServiceModal}}
  {{#endpoint/core-services-modal
    onClose=(action 'onModalClose')
    modalTitle=(t 'investigateHosts.pivotToInvestigate.title')
    serviceList=serviceList as |selectedService isDisabled|}}

    {{#rsa-form-button defaultAction='onCancel'}}
      {{t 'forms.cancel'}}
    {{/rsa-form-button}}

    {{#rsa-form-button
      isDisabled=isDisabled
      style='primary'
      click=(action 'navigateToProcessAnalysis' selectedService.id)}}
      Process Analysis
    {{/rsa-form-button}}

  {{/endpoint/core-services-modal}}
{{/if}}
