<div class="rsa-nav-tab-group">
  {{#each tabsActive as |tab|}}
    {{#if (data-source-enabled dataSources tab.dataSourceType)}}
      {{#rsa-nav-tab isCompact=true isActive=tab.isActive click=(action 'activate' tab.field)}}
        <div class="label">{{ t tab.title }} {{tab.countText}} </div>
      {{/rsa-nav-tab}}
    {{/if}}
  {{/each}}
</div>
<hbox class="rsa-context-panel-header__tab">
  {{#each toolbar as | buttons | }}
    {{#if (eq buttons.componentName 'add-to-list')}}
      {{context-panel/add-to-list entityId=model.lookupKey entityType=model.meta}}
    {{else}}
      {{#rsa-form-button}}{{t buttons.title}}{{/rsa-form-button}}
    {{/if}}
  {{/each}}
</hbox>

