{{#if hasBlock}}
  {{yield status clickAction}}
{{else}}
  {{#if (is-equal status 'streaming')}}
    {{rsa-loader size="small" label=(t 'investigate.loading')}}
  {{else if (is-equal status 'stopped')}}
    {{#rsa-form-button}}<span {{action "safeCallback" clickAction}}>{{t 'investigate.loadMore'}}</span>{{/rsa-form-button}}
  {{/if}}
{{/if}}