{{#rsa-application-modal
  autoOpen=true
  label=(t 'investigateHosts.hosts.initiateScan.modal.title' count=selectedHostList.length)
  eventId=eventId}}
  <div class='modal-content rsa-initiate-scan-modal'>
    {{#if showScanningMessage}}
      <label class="rsa-form-label">
        {{host-container/host-scan-modal/initiate/host-message-modal
          message=(t 'investigateHosts.hosts.initiateScan.modal.infoMessage')}}
      </label>
    {{/if}}
    {{#if hasEcatAgents}}
      <label class="rsa-form-label">
        {{host-container/host-scan-modal/initiate/host-message-modal
          message=(t 'investigateHosts.hosts.initiateScan.modal.ecatAgentMessage')}}
      </label>
    {{/if}}
    <div class="rsa-initiate-scan-modal__scan-option">
      <p>
        {{t 'investigateHosts.hosts.initiateScan.modal.quickScan.description'}}
      </p>
    </div>
    <div class="rsa-btn-group align-right rsa-m-md">
      {{#rsa-form-button style='primary' class= "rsa-m-r-md" click=(action 'handleInitiateScan')}}
        {{t 'investigateHosts.hosts.button.initiateScan'}}
      {{/rsa-form-button}}
      {{#rsa-form-button click=(action 'closeInitiateScanModal')}}
        {{t 'investigateHosts.hosts.button.cancel'}}
      {{/rsa-form-button}}
    </div>
  </div>
{{/rsa-application-modal}}
