{{#rsa-application-modal
  autoOpen=true
  label=(t 'investigateHosts.hosts.initiateScan.modal.title' count=selectedHostList.length)
  eventId=eventId}}
  <div class='modal-content rsa-initiate-scan-modal'>
    {{#if showScanningMessage}}
      <label class="rsa-form-label">
        {{host-container/host-scan-modal/initiate/host-message-modal
          message=(t 'investigateHosts.hosts.initiateScan.modal.infoMessage')}}
      </label>
    {{/if}}

    <label class="rsa-form-label rsa-initiate-scan-modal__description">
      {{t 'investigateHosts.hosts.initiateScan.modal.description'}}
    </label>

    <div class="rsa-initiate-scan-modal__scan-option">
      <label class="rsa-form-radio-label {{if (eq 'QUICK_SCAN' scanType) 'checked'}}">
        {{radio-button
          value="QUICK_SCAN"
          groupValue=scanType}}
        {{t 'investigateHosts.hosts.initiateScan.modal.quickScan.label'}}
      </label>
      <p>
        {{t 'investigateHosts.hosts.initiateScan.modal.quickScan.description'}}
      </p>
    </div>

    <div class="rsa-initiate-scan-modal__scan-option">
      <label class="rsa-form-radio-label {{if (eq 'FULL_SCAN' scanType) 'checked'}}">
        {{radio-button
          value="FULL_SCAN"
          groupValue=scanType}}
        {{t 'investigateHosts.hosts.initiateScan.modal.fullScan.label'}}
      </label>
      <p>
        {{t 'investigateHosts.hosts.initiateScan.modal.fullScan.description'}}
      </p>
    </div>

    <div class="rsa-btn-group align-right rsa-m-md">
      {{#rsa-form-button style='primary' class= "rsa-m-r-md" click=(action 'handleInitiateScan')}}
        {{t 'investigateHosts.hosts.button.initiateScan'}}
      {{/rsa-form-button}}
      {{#rsa-form-button click=(action 'closeInitiateScanModal')}}
        {{t 'investigateHosts.hosts.button.cancel'}}
      {{/rsa-form-button}}
    </div>
  </div>
{{/rsa-application-modal}}
