<div class="recon-request-response-header {{packet.side}}">
  <span>
    {{rsa-icon name=(concat 'arrow-circle-' arrowDirection '-2')}}
  </span>
  <span class="text">
    {{packet.side}}
  </span>
</div>

{{#unless isPayloadOnly}}
  <hbox class="packet-details">
    <box align="center" horizontal>
      <span class="toggle-icon">
        {{#if (not isSticky)}}
          {{rsa-icon
            click=(action 'togglePacketExpansion')
            name=(concat 'arrow-' collapseArrowDirection '-12')}}
        {{/if}}
      </span>
      <span class="text">
        {{t 'list.packet'}}&nbsp;{{packet.pageRowIndex}}
      </span>
    </box>
    <box align="center" justify="center" xs="4">
      {{rsa-content-datetime timestamp=packet.timestamp}}
    </box>
    <box align="center" justify="end" horizontal>
      <span class="label">ID</span> {{packet.id}}
    </box>
    <box align="center" justify="end" horizontal>
      <span class="label">SEQ</span> {{packet.sequence}}
    </box>
    <box align="center" justify="end" horizontal>
      <span class="label">PAYLOAD</span> {{packet.payloadSize}} bytes
    </box>
  </hbox>
{{/unless}}
