<section class="rsa-investigate-breadcrumb__crumbs rsa-button-group">
  {{#if serviceObject}}
    {{#rsa-content-tethered-panel-trigger
      triggerEvent='click'
      panel=(concat 'breadCrumbServiceTooltip-' elementId)
    }}
      {{#rsa-form-button
        class='rsa-investigate-breadcrumb__crumb'
        allowToggleActive=true
        title=serviceObject.displayName
        withDropdown=true
      }}
        {{rsa-icon style='lined' name='server-3'}}
        <span class='js-test-service'>{{serviceObject.displayName}}</span>
      {{/rsa-form-button}}
    {{/rsa-content-tethered-panel-trigger}}
    {{#rsa-content-tethered-panel
      displayCloseButton=false
      isPopover=true
      position='bottom-right'
      panelId=(concat 'breadCrumbServiceTooltip-' elementId)
      as |hideTooltip|
    }}
      <ul class="rsa-dropdown-link-list" {{action hideTooltip}}>
        {{#each servicesWithURI as |service|}}
          <li>
            {{#link-to 'query' service.queryURI class='goto'}}
              {{service.displayName}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{/rsa-content-tethered-panel}}
  {{/if}}

  {{#rsa-content-tethered-panel-trigger
    triggerEvent='click'
    panel=(concat 'breadCrumbTimeTooltip-' elementId)
  }}
    {{#rsa-form-button
      allowToggleActive=true
      withDropdown=true
      class="rsa-investigate-breadcrumb__crumb"
    }}
      {{rsa-icon style='lined' name='clock-2'}}
      {{bread-crumb/time-range startTime=startTime endTime=endTime}}
    {{/rsa-form-button}}
  {{/rsa-content-tethered-panel-trigger}}
  {{#rsa-content-tethered-panel
    isPopover=false
    displayCloseButton=false
    position='bottom'
    panelId=(concat 'breadCrumbTimeTooltip-' elementId)
    as |hideTooltip|
  }}
    <ul class="rsa-dropdown-link-list" {{action hideTooltip}}>
      {{#if hasDrill}}
        <li>
          {{#link-to 'query' baseUri class='goto'}}
            Navigate Here
          {{/link-to}}
        </li>
      {{/if}}
      <li>
        {{#rsa-link-to-win 'query' baseUri class='goto' target='_blank'}}
          Navigate Here (New Tab)
        {{/rsa-link-to-win}}
      </li>
    </ul>
  {{/rsa-content-tethered-panel}}

  {{#each crumbs as |crumb index|}}
    <span class="rsa-investigate-breadcrumb__crumb">
      {{#link-to 'query' crumb.deleteUri (query-params eventId=undefined) class='delete'}}
        {{rsa-icon name='close' size='small'}}
      {{/link-to}}
      {{#rsa-content-tethered-panel-trigger
        triggerEvent='click'
        panel=(concat 'breadCrumbTooltip-' elementId '-' index)
      }}
        <button class="has-dropdown js-test-value" title={{crumb.tooltip}}>
          {{crumb.text}}
          {{rsa-icon name='arrow-down-12' size='small'}}
        </button>
      {{/rsa-content-tethered-panel-trigger}}
    </span>
    {{#rsa-content-tethered-panel
      isPopover=false
      displayCloseButton=false
      position='bottom'
      panelId=(concat 'breadCrumbTooltip-' elementId '-' index)
      as |hideTooltip|
    }}
      <ul class="rsa-dropdown-link-list" {{action hideTooltip}}>
        {{#unless (is-equal crumb crumbs.lastObject)}}
          <li>
            {{#link-to 'query' crumb.gotoUri class='goto'}}
              Navigate Here
            {{/link-to}}
          </li>
        {{/unless}}
        <li>
          {{#rsa-link-to-win 'query' crumb.gotoUri class='goto' target='_blank'}}
            Navigate Here (New Tab)
          {{/rsa-link-to-win}}
        </li>
      </ul>
    {{/rsa-content-tethered-panel}}
  {{/each}}

  {{#if isAddingMeta}}
    {{events-container/query-input
      class='rsa-investigate-breadcrumb__query-input'
      placeholder='Enter Value'
    }}
    {{#search-link disabled=isInvalidQuery}}
      {{#rsa-form-button
        class='rsa-investigate-breadcrumb__submit'
        style='primary'
        isDisabled=isInvalidQuery
      }}
        Query Events
      {{/rsa-form-button}}
    {{/search-link}}
  {{else}}
    {{#rsa-form-button
      class='rsa-investigate-breadcrumb__more'
      click=(action 'addMeta')
    }}
      {{rsa-icon name='add-1' style='lined'}} More Meta (optional)
    {{/rsa-form-button}}
  {{/if}}
</section>
