{{#each group.keys as |groupKey groupKeyIndex|}}
  {{meta-view/key-values
    groupKey=groupKey
    values=(get (array-lookup metaKeyStates groupKeyIndex) 'values')
    info=(get (array-lookup metaKeyStates groupKeyIndex) 'info')
    options=options
    aliases=aliases
    clickValueAction=clickValueAction
    toggleAction=(action "safeCallback" toggleAction (get (array-lookup metaKeyStates groupKeyIndex) 'info'))}}
{{/each}}

{{#if emptyMetaKeyStates.length}}
  <div class="rsa-investigate-meta-key-values complete {{if isEmptyMetaGroupVisible 'is-open'}}">
    <header class="rsa-investigate-meta-key-values__header js-toggle-open" {{action "toggleEmptyMetaValuesPanel"}}>
      <h2 class="rsa-investigate-meta-key-values__title">
        <span class="toggle-icon">{{rsa-icon name="arrow-right-12" size="smaller"}}</span>
        <span class="meta-name" title="{{emptyMetaGroup.name}}">{{emptyMetaGroup.name}}</span>
        <span class="meta-size">({{emptyMetaKeyStates.length}})</span>
      </h2>
    </header>
    <section class="rsa-investigate-meta-key-values__body">
      <ul class="rsa-investigate-meta-key-values__empties js-content">
        {{#each emptyMetaKeyStates as |keyState|}}
          <li>{{keyState.info.displayName}}</li>
        {{/each}}
      </ul>
    </section>
  </div>
{{/if}}
