<vbox class='risk-properties-panel__entry'>
  {{#each orderedFields as |field|}}
    {{#if (get entry field)}}
      <hbox class='risk-properties-panel__entry__field'>
        <span class='entry-label'>{{t (get-label 'investigateHosts.context' field)}}</span>
        {{#if (or (eq field 'timestamp')(eq field 'created'))}}
          <span class="entry-value">{{parse-timestamp (get entry field) timezone dateFormat timeFormat i18n.locale}}</span>
        {{else if (or (eq field 'incident')(eq field '_id'))}}
          <span>{{endpoint/risk-panel/respond-link entryId=(get entry field)}}</span>
        {{else}}
          <span>{{get entry field}}</span>
        {{/if}}
      </hbox>
    {{/if}}
  {{/each}}
</vbox>