<div class='entity-details-container-body-alert-details_indicators_header'>
  {{t 'investigateUsers.alerts.alertFlow'}}
</div>
<div class='entity-details-container-body-alert-details_indicators_flow'>
  <div>
    {{#rsa-form-button 
      class='entity-details-container-body-alert-details_indicators_flow_button'
      isFullWidth=true 
      click=(action 'moveLeft')}}
      <div>
        {{rsa-icon size='large' style='filled' name='arrow-left-12' }}
      </div>
    {{/rsa-form-button}}
  </div>
  <div class='entity-details-container-body-alert-details_indicators_flow_timeline'>
    {{#each alertDetails.evidences as |indicator index|}}
      <div class='entity-details-container-body-alert-details_indicators_flow_timeline_pill'>
        <div class='entity-details-container-body-alert-details_indicators_flow_timeline_pill_icon-row'>
          <div {{action 'initializeIndicator' indicator.id}}>
            {{rsa-icon size='larger' style='lined' name='add-circle-1' }}
          </div>
          {{#if (not-eq (add index 1)  alertDetails.evidences.length)}}
            <div class='entity-details-container-body-alert-details_indicators_flow_timeline_pill_icon-row_line'>
              <hr>
            </div>
          {{/if}}
        </div>
        <div class='entity-details-container-body-alert-details_indicators_flow_timeline_pill_desc'>
          {{t (concat 'investigateUsers.alerts.indicator.indicatorNames.' indicator.anomalyTypeFieldName '.name')}}
        </div>
        <div class='entity-details-container-body-alert-details_indicators_flow_timeline_pill_time'>
          {{rsa-content-datetime timestamp=(get indicator 'startTime') displayMilliseconds=false}}
        </div>
      </div>
    {{/each}}
  </div>
  <div>
    {{#rsa-form-button 
      class='entity-details-container-body-alert-details_indicators_flow_button' 
      isFullWidth=true
      click=(action 'moveRight')}}
      <div>
        {{rsa-icon size='large' style='filled' name='arrow-right-12' }}
      </div>
    {{/rsa-form-button}}
  </div>
</div>