{{#each loggedInUsers as |user|}}
  <hbox class='host-content__user-details'>
    <hbox xs='3' class='logged-in-user-content'>
      <span class='host-content__user-details__icon'>
        {{rsa-icon style='lined' size='larger' name='account-circle-1'}}
      </span>
      <vbox class='user-info-content' fit>
        <box class='host-content__user-details__name'>
          {{#pivot-to-investigate
            serviceList=serviceList
            metaName='userName'
            metaValue=user.name
            showAsRightClick=true}}
            {{user.name}}
          {{/pivot-to-investigate}}

        </box>
        <box class='host-content__user-details__administrator'>
          {{#if user.administrator}} {{t 'investigateHosts.hosts.summary.body.user.administrator'}} {{/if}}
        </box>
      </vbox>
    </hbox>
    <hbox xs='9' class='user-details'>
      {{#if isMachineWindows}}
        <vbox xs='2'>
          {{#rsa-content-definition class='host-action' label=(t 'investigateHosts.hosts.summary.body.user.sessionId')}}
            {{user.sessionId}}
          {{/rsa-content-definition}}
        </vbox>
        <vbox xs='3'>
          {{#rsa-content-definition class='host-action' label=(t 'investigateHosts.hosts.summary.body.user.sessionType')}}
            {{user.sessionType}}
          {{/rsa-content-definition}}
        </vbox>
        <vbox xs='2'>
          {{#rsa-content-definition class='host-action' label=(t 'investigateHosts.hosts.summary.body.user.groups')}}
            {{user.groups}}
          {{/rsa-content-definition}}
        </vbox>
      {{else if isMachineLinux}}
        <vbox xs='3'>
          {{#rsa-content-definition class='host-action' label=(t 'investigateHosts.hosts.summary.body.user.host')}}
            {{user.host}}
          {{/rsa-content-definition}}
        </vbox>
        <vbox xs='2'>
          {{#rsa-content-definition class='host-action' label=(t 'investigateHosts.hosts.summary.body.user.deviceName')}}
            {{user.deviceName}}
          {{/rsa-content-definition}}
        </vbox>
      {{/if}}
    </hbox>
  </hbox>
{{/each}}