{{#each machine.loggedInUsers as |user|}}
  <hbox class='host-content__user-details'>
    <hbox fit>
      <span class='host-content__user-details__icon'>
        {{rsa-icon style='lined' size='larger' name='account-circle-1'}}
      </span>
      <vbox class="user-info-content" fit>
        <box class='host-content__user-details__name'>
          {{user.name}}
        </box>
        <box class='host-content__user-details__administrator'>
          {{#if user.administrator}} {{t 'investigateHosts.hosts.summary.body.user.administrator'}} {{/if}}
        </box>
      </vbox>
    </hbox>
    <hbox class="user-details">
      <vbox xs='2'>
        <h4 class='label'>{{t 'investigateHosts.hosts.summary.body.user.sessionId'}}</h4>
        {{user.sessionId}}
      </vbox>
      <vbox xs='4'>
        <h4 class='label'>{{t 'investigateHosts.hosts.summary.body.user.sessionType'}}</h4>
        {{user.sessionType}}
      </vbox>
      <vbox xs='6'>
        <h4 class='label'>{{t 'investigateHosts.hosts.summary.body.user.groups'}}</h4>
        {{user.groups}}
      </vbox>
    </hbox>
  </hbox>
{{/each}}