<hbox class="rsa-context-panel-header__tab">
  {{#each headerButtons as | componentName | }} 
    {{#if (eq componentName 'add-to-list')}} 
      {{#rsa-form-button defaultAction=(route-action "openContextAddToList" (hash type=meta id=lookupKey)) }} 
        {{t 'context.addToList.title'}}
      {{/rsa-form-button}} 
    {{else if (eq componentName 'endpoint')}}
      <a href="ecatui://{{lookupKey}}" target="_blank" class='rsa-context-panel__linkButton' title= {{t 'context.hostSummary.endpoint'}}>
        {{t 'context.tooltip.ecat'}}
      </a>
    {{else if (eq componentName 'investigate')}}
      <a href="{{investigateUrl}}" target="_blank" class='rsa-context-panel__linkButton'>
        {{t 'context.tooltip.investigate'}}
      </a>
    {{else if (eq componentName 'archer')}}
      <a class='rsa-context-panel__linkButton' {{action 'pivotToArcher'}}>
        {{t 'context.tooltip.archer'}}
      </a>
    {{/if}}
  {{/each}}
</hbox>