<section class="rsa-investigate-breadcrumb__crumbs rsa-button-group">
  {{#if serviceObject}}
    {{#rsa-content-help-trigger triggerEvent="click" tooltip=(concat 'breadCrumbServiceTooltip-' elementId)}}
      {{#rsa-form-button
        class="rsa-investigate-breadcrumb__crumb"
        allowToggleActive=true
        title=serviceObject.name
        withDropdown=true}}
        <span class="js-test-service">{{serviceObject.name}}</span>
      {{/rsa-form-button}}
    {{/rsa-content-help-trigger}}

    {{#rsa-content-tooltip
      displayCloseButton=false
      isPopover=true
      position='bottom-right'
      tooltipId=(concat 'breadCrumbServiceTooltip-' elementId)
      as |hideTooltip|}}
      <ul class="rsa-dropdown-link-list" {{action hideTooltip}}>
        {{#each servicesWithURI as |service|}}
          <li>
            {{#link-to "protected.investigate.query" service.queryURI class="goto"}}
              {{service.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{/rsa-content-tooltip}}
  {{/if}}

  {{#if hasDrill}}
    {{#rsa-content-help-trigger triggerEvent="click" tooltip=(concat 'breadCrumbTimeTooltip-' elementId)}}
      {{#rsa-form-button allowToggleActive=true withDropdown=true class="rsa-investigate-breadcrumb__crumb"}}
        {{rsa-investigate/time-range startTime=query.startTime endTime=query.endTime}}
      {{/rsa-form-button}}
    {{/rsa-content-help-trigger}}

    {{#rsa-content-tooltip isPopover=true displayCloseButton=false position='bottom-right' tooltipId=(concat 'breadCrumbTimeTooltip-' elementId)}}
      <ul class="rsa-dropdown-link-list">
        <li>
          {{#link-to "protected.investigate.query" baseUri class="goto"}}
            Navigate Here
          {{/link-to}}
        </li>
      </ul>
    {{/rsa-content-tooltip}}
  {{else}}
    {{#rsa-form-button class="rsa-investigate-breadcrumb__crumb"}}
      {{rsa-investigate/time-range startTime=query.startTime endTime=query.endTime}}
    {{/rsa-form-button}}
  {{/if}}

  {{#each crumbs as |crumb index|}}
    {{#rsa-content-help-trigger triggerEvent="click" tooltip=(concat 'breadCrumbTooltip-' elementId '-' index)}}
      {{#rsa-form-button
        allowToggleActive=true
        withDropdown=true
        class="rsa-investigate-breadcrumb__crumb"}}
        {{#if crumb.isKeyValuePair}}
          <span
            class="js-test-value"
            title={{concat crumb.keyFormat.bothNames ": " crumb.valueFormat.tooltip}}>
            {{crumb.queryString}}
          </span>
        {{else}}
          <span
            class="js-test-value"
            title={{crumb.queryString}}>
            {{crumb.queryString}}
          </span>
        {{/if}}
      {{/rsa-form-button}}
    {{/rsa-content-help-trigger}}

    {{#rsa-content-tooltip isPopover=true displayCloseButton=false position='bottom-right' tooltipId=(concat 'breadCrumbTooltip-' elementId '-' index)}}
      <ul class="rsa-dropdown-link-list">
        {{#unless (is-equal crumb crumbs.lastObject)}}
          <li>
            {{#link-to "protected.investigate.query" crumb.gotoUri class="goto"}}
              Navigate Here
            {{/link-to}}
          </li>
        {{/unless}}
        <li>
          {{#link-to "protected.investigate.query" crumb.deleteUri class="delete"}}
            Remove
          {{/link-to}}
        </li>
      </ul>
    {{/rsa-content-tooltip}}
  {{/each}}
  {{#if isAddingMeta}}
    {{rsa-investigate/query-input class='rsa-investigate-breadcrumb__query-input' queryString=queryString placeholder='Enter Value'}}
    {{#rsa-form-button class='rsa-investigate-breadcrumb__submit' style='primary' click=(action 'submit' queryString)}}
      Query Events
    {{/rsa-form-button}}
  {{else}}
    {{#rsa-form-button class='rsa-investigate-breadcrumb__more' click=(action 'addMeta')}}
      {{rsa-icon name='add-1' style='lined'}} More Meta (optional)
    {{/rsa-form-button}}
  {{/if}}
</section>
