{{#if stickyContent}}
  <div class="recon-packet-stuck-header">
    {{recon-event-detail/single-text
      isLog=isLogEvent
      isSticky=true
      packet=stickyContent
      renderedAll=hideStickyShowMore
    }}
  </div>
{{/if}}

{{#if metaToHighlight}}
  {{recon-event-detail/text-content/meta-highlight-scroller
    metaToHighlight=metaToHighlight
  }}
{{/if}}

{{!-- Do not do anything if content isn't retrieved--}}
{{#if contentRetrieved}}

  {{!-- if content is retrieved, and there is no content, show error --}}
  {{#if hasTextContent}}
    <div class="scroll-box">

      {{!-- if we have content, but no visible text, show spinner, working on chewing on data --}}
      {{#if visibleText}}
        {{#each visibleText as |text|}}
          {{recon-event-detail/single-text
            isLog=isLogEvent
            isSticky=false
            metaToHighlight=metaToHighlight
            packet=text
            showMoreClicked=(action 'showMoreClicked')
          }}
        {{/each}}
      {{else}}
        <div class="recon-loader">
          {{rsa-loader size='larger'}}
        </div>
      {{/if}}
    </div>

    {{recon-pager
      eventIndex=eventIndex
      eventTotal=eventTotal
    }}
  {{else}}
    {{rsa-panel-message message=(t 'recon.error.noTextContentData')}}
  {{/if}}
{{/if}}
