{{#if stickyContent}}
  <div class="recon-packet-stuck-header">
    {{recon-event-detail/single-text
      isLog=isLogEvent
      isSticky=true
      packet=stickyContent
      renderedAll=hideStickyShowMore
    }}
  </div>
{{/if}}

{{#if metaToHighlight}}
  {{recon-event-detail/text-content/meta-highlight-scroller
    metaToHighlight=metaToHighlight
  }}
{{/if}}

{{#if textContent}}
  <div class="scroll-box">
    {{#each visibleText as |text|}}
      {{recon-event-detail/single-text
        isLog=isLogEvent
        isSticky=false
        metaToHighlight=metaToHighlight
        packet=text
        showMoreClicked=(action 'showMoreClicked')
      }}
    {{/each}}
  </div>
  {{recon-pager
    eventIndex=eventIndex
    eventTotal=eventTotal
  }}
{{else}}
  {{rsa-panel-message message=(t 'recon.error.noTextContentData')}}
{{/if}}
