<hbox class="action-control add-new-parser-rule">
  {{#rsa-application-modal
    label=(t 'configure.logsParser.modals.addRule.title')
    eventId='addNewRule'
    onClose=(action 'handleCloseAddRule')}}
    <div class='modal-trigger'>
      {{#rsa-form-button
        isDisabled=(not accessControl.canManageLogParsers)}}
        {{t 'configure.logsParser.buttons.addRule'}}
      {{/rsa-form-button}}
    </div>
    <div class='modal-content add-new-parser-rule'>
      {{rsa-form-input
        label=(t 'configure.logsParser.modals.addRule.ruleName') 
        isError=matchesExistingRuleName
        errorMessage=(t 'configure.logsParser.modals.addRule.matchesExistingRuleName')
        value=newRuleName
        placeholder=(t 'configure.logsParser.modals.addRule.pleaseEnterRuleName')
      }}
      {{#rsa-form-button 
        style='primary' 
        isDisabled=inValidRuleName
        click=(action 'addNewParserRule' newRuleName)}} 
        {{t 'configure.logsParser.modals.addRule.title'}}
      {{/rsa-form-button}}{{ruleName}}
    </div>
  {{/rsa-application-modal}}
</hbox>

<hbox class="rsa-button-with-confirmation action-control deleteRule">
  {{#rsa-button-with-confirmation
    title=(t 'configure.logsParser.modals.deleteRule.title')
    confirmationMessage=(t 'configure.logsParser.modals.deleteRule.confirm' ruleName=selectedParserRuleName)
    confirmButtonLabel=(t 'configure.logsParser.modals.deleteRule.ok')
    isDisabled=cannotDeleteRule
    cancelButtonLabel=(t 'configure.logsParser.modals.cancel')
    onConfirm=( action 'deleteParserRule')}}
    {{t 'configure.logsParser.buttons.delete'}}
  {{/rsa-button-with-confirmation}}
</hbox>
