<div class="scroll-box">
  {{#if contentLoading}}
    <div class="recon-loader">
      {{rsa-loader size='larger'}}
    </div>
  {{else}}
    {{#if contentError}}
      <div class="recon-error">
        {{errorMessage}}
      </div>
    {{else}}
      {{component currentReconView.component}}
    {{/if}}
  {{/if}}
</div>
