{{#if missingPermissions}}
  {{rsa-panel-message message=(t 'recon.fatalError.permissions')}}
{{else}}
  {{#if isLoading}}
    <div class="recon-loader">
      {{rsa-loader size='larger'}}
    </div>
  {{else}}
    {{#if isContentError}}
      {{rsa-panel-message message=errorMessage}}
    {{else}}
      {{component currentReconView.component}}
    {{/if}}
  {{/if}}
{{/if}}
