{{#unless filterOptions.hideLabel}}
  <h2 class='filter-text'>{{filterOptions.label}}</h2>
{{/unless}}

<vbox class='list-filter-content'>
  {{#each filterValue as |option|}}
    <a href="#" onclick={{action 'toggleSelected' option}} onkeypress={{action 'toggleSelected' option}} class="rsa-form-checkbox-label {{if option.selected 'checked'}} list-filter-option">
      {{rsa-form-checkbox
        checked=option.selected
        change=(action 'toggleSelected' option)}}
      {{t option.label}}
    </a>
  {{/each}}
</vbox>
