<div class='alerts-tab_filter_filters'>
  <div class='alerts-tab_filter_filters_title'>
    {{t 'investigateUsers.alerts.filters.title'}}
  </div>
  <label class="rsa-form-label power-select users-tab_filter_filter_select">
    <div class="label-text">
      {{t 'investigateUsers.alerts.filters.severity'}}
    </div>
    {{#power-select-multiple
      options=severityFilter
      selected=selectedSeverity
      onchange=(action 'updateSeverityFilter') as |option|}}
      {{option}}
    {{/power-select-multiple}}
  </label>
  <label class="rsa-form-label power-select users-tab_filter_filter_select">
    <div class="label-text">
      {{t 'investigateUsers.alerts.filters.feedback'}}
    </div>
    {{#power-select
      options=feedbackFilter
      selected=selectedFeedBack
      searchEnabled=false
      onchange=(action 'updateFeedBackFilter') as |option|}}
      {{option}}
    {{/power-select}}
  </label>
  <label class="rsa-form-label power-select users-tab_filter_filter_select">
    <div class="label-text">
      {{t 'investigateUsers.alerts.filters.indicators'}}
    </div>
    {{#power-select-multiple
      options=existAnomalyTypes
      selected=selectedAnomalyTypes
      searchPlaceholder="Type to filter options"
      onchange=(action 'updateAnomalyFilter') as |option|}}
      {{option.name}}
    {{/power-select-multiple}}
  </label>
  <div class="label-text">
    {{t 'investigateUsers.alerts.filters.dateRange'}}
    {{time-selector startTime=startTime endTime=endTime }}
  </div>

</div>
<div class='alerts-tab_filter_control'>
  {{#rsa-form-button isFullWidth=true click=(action 'updateFilter' initialFilterState)}}{{t 'investigateUsers.resetFilters'}}{{/rsa-form-button}}
</div>