<div class="rsa-context-panel__context-data-table__heading-text" >
  {{t dSDetails.title}}{{contextData.header}}
  {{#if contextData.lastUpdated}}
    <span title= {{t dSDetails.title}}>
      {{t 'context.timeWindow'}}{{contextData.timeWindow}} |
      {{t 'context.lastUpdated'}}{{rsa-content-datetime timestamp=contextData.lastUpdated asTimeAgo=true}}
    </span>
  {{/if}}
</div>
{{#if contextData.errorMessage}}
  <div class='rsa-context-panel__error-text'>{{rsa-icon style='lined' name='report-problem-triangle'}} {{contextData.errorMessage}}</div>
{{else}}
  <div class="rsa-context-panel__context-data-table__panel">
    {{#rsa-data-table lazy=true items=getDataSourceData columnsConfig=dSDetails.columns}}
      {{#rsa-data-table/header as |column|}}
        <span class="js-move-handle js-header-cell {{column.class}} title rsa-data-table-title" title="{{if column.title (t column.title) column.field}}">{{if column.title (t column.title) column.field}}</span>
      {{/rsa-data-table/header}}
      {{#rsa-data-table/body as |item index column|}}
        {{#if (eq column.dataType 'riskscore')}}
          {{#rsa-data-table/body-cell item=item index=index column=column}}
            <span class={{get (risk-score-to-badge-level (get item column.nested) dSDetails.dataSourceGroup) 'style'}}>
              {{get item column.nested}}
            </span>
          {{/rsa-data-table/body-cell}}
        {{else if (eq column.dataType 'riskRating')}}
          {{#rsa-data-table/body-cell item=item index=index column=column}}
            <span class={{get column.class (get item  column.field)}}>{{get item column.field}}</span>
          {{/rsa-data-table/body-cell}}
        {{else if (eq column.dataType 'datetime')}}
          {{#rsa-data-table/body-cell item=item index=index column=column}}
            {{#if (eq column.nested '')}}
              {{rsa-content-datetime timestamp=(get item column.field) displayMilliseconds=false withTimeAgo=true}}
            {{else}}
              {{rsa-content-datetime timestamp=(get item column.nested) displayMilliseconds=false withTimeAgo=true}}
            {{/if}}
          {{/rsa-data-table/body-cell}}
        {{else if (eq column.dataType 'link')}}
          <div class="rsa-context-panel__context-data-table__itemsContainer">
            <a href={{call-method this 'constructPath' (get item column.nested)  column.path}} target="_blank">
              {{#rsa-data-table/body-cell  item=item index=index column=column isInline=true }}
                <span class="rsa-context-panel__context-data-table link" title={{get item column.field}}>{{get item column.field}}</span>
              {{/rsa-data-table/body-cell}}
            </a>
            <span class="rsa-context-panel__context-data-table__iconlink">{{rsa-icon style='lined' name='information-circle'}}</span>
          </div>

        {{else}}
          {{#if (eq column.nested '')}}
            {{#rsa-data-table/body-cell item=item index=index column=column isInline=true }}
              <span class={{column.className}} title={{get item column.field}}>{{get item column.field}}</span>
            {{/rsa-data-table/body-cell}}
          {{else}}
            {{rsa-data-table/body-cell item=(get item column.nested) column=column isInline=true }}
          {{/if}}
        {{/if}}
      {{/rsa-data-table/body}}
    {{/rsa-data-table}}
  </div>
  {{#if (eq activeTabName 'overview')}}
    <div class="rsa-context-panel__context-data-table__border"><button class="rsa-context-panel__context-data-table__button" {{action 'viewAll' dSDetails.dataSourceGroup}}>{{t 'context.footer.viewAll'}}</button></div>
  {{/if}}
{{/if}}