{{context-panel/data-source-header contextData=contextData dataSourceDetails=dataSourceDetails}}
{{#if (gt dataSourceData.length 0)}}
  {{#rsa-data-table lazy=true items=dataSourceSortedData columnsConfig=columnsData}}
    {{#rsa-data-table/header as |column|}}
      <span class="js-move-handle js-header-cell {{column.class}} title rsa-data-table-title" title={{t column.title}}>{{t column.title}}</span>
      {{rsa-icon
        click=(action 'sort' column)
        name=column.icon
        class=column.className}}
    {{/rsa-data-table/header}}
    {{#rsa-data-table/body as |item index column|}}
      {{context-panel/data-table/body-cell item=item index=index column=column dataSourceGroup=dataSourceDetails.dataSourceGroup}}
    {{/rsa-data-table/body}}
  {{/rsa-data-table}}
{{/if}}
