{{#rsa-data-table
  lazy=true
  items=files
  agentCountMapping=agentCountMapping
  columnsConfig=updatedColumns
  onRowClick=(action 'toggleSelectedRow')}}
  {{#file-list/header enableColumnFilter=true translateTitles=true enableColumnSelector=true as |column|}}
     {{#if (eq column.dataType "checkbox")}}
       <label class="rsa-form-checkbox-label {{concat 'column-selection-' column.field}} {{if isAllSelected 'checked'}}">
          {{rsa-form-checkbox
            checked=isALlSelected
            change=(action 'toggleAllSelection')}}
        </label>
     {{else}}
      <span class='js-move-handle'>
        {{t column.title}}
      </span>
     {{/if}}
    {{! COLUMN SORT }}
    {{#unless column.disableSort}}
      {{file-list/sort-button sortField=sortField column=column isSortDescending=isSortDescending sortBy=(action 'sortBy')}}
    {{/unless}}
  {{/file-list/header}}
  {{#if (eq areFilesLoading 'sorting')}}
    <centered>
      {{rsa-loader size='larger'}}
    </centered>
  {{else}}
    {{#file-list/body
      rowComponentClass=(
        component 'endpoint/file-custom-row'
        serviceList=serviceList
        selections=selections
        beforeContextMenuShow=(action 'beforeContextMenuShow')
        editFileStatus=(action 'showEditFileStatus')
        resetRiskScore=(action 'showRiskScoreModal')
        pivotToInvestigate=(action 'showServiceList')
        onSaveFileStatus = (action 'saveFileStatus' checksums)
        retrieveRemediationStatus=(action 'retrieveRemediationStatus')
      )
      noResultsMessage=(t 'investigateFiles.message.noResultsMessage')
      as |item index column|}}
      {{#if column.componentClass}}
        {{#file-list/body-cell item=item column=column}}
          <label class="rsa-form-checkbox-label {{if (is-selected selections item) 'checked'}}">
            {{rsa-form-checkbox checked=(is-selected selections item) change=(action 'toggleItemSelection' item)}}
          </label>
        {{/file-list/body-cell}}
      {{else}}
        {{#file-list/body-cell column=column}}
          {{#if (eq column.field 'firstFileName')}}
            <div class="file-name">
              {{#link-to 'file' (get item 'checksumSha256')}}{{get item column.field}}{{/link-to}}
            </div>
          {{else if (eq column.field 'size')}}
            {{rsa-content-memsize size=(get item column.field)}}
          {{else if (eq column.field 'machineCount')}}
            {{file-list/machine-count item=item machineCountMapping=agentCountMapping}}
          {{else if (eq column.field 'pe.imageSize')}}
            {{rsa-content-memsize size=(get item column.field)}}
          {{else if (eq column.field 'signature.features')}}
            {{#if (get item column.field)}}
              {{get item column.field}}
            {{else}}
              unsigned
            {{/if}}
          {{else if (eq column.dataType 'DATE')}}
            {{#if (get item column.field)}}
              {{rsa-content-datetime timestamp=(get item column.field)}}
            {{else}}
              N/A
            {{/if}}
          {{else if (eq column.field 'signature.timeStamp')}}
            {{rsa-content-datetime timestamp=(get item column.field)}}
          {{else if (eq column.field 'fileStatus')}}
            {{t (concat 'investigateFiles.fileStatus.' (get item column.field))}}
          {{else if (eq column.field 'score')}}
            <centered>
              {{rsa-risk-score score=(get item column.field) size='small'}}
            </centered>
          {{else}}
            {{get item column.field}}
          {{/if}}
        {{/file-list/body-cell}}
      {{/if}}
    {{/file-list/body}}
      {{rsa-data-table/load-more status=loadMoreStatus click=(action 'getPageOfFiles')}}
  {{/if}}
{{/rsa-data-table}}


{{#if showServiceModal}}
  {{endpoint/pivot-to-investigate/modal
    serviceList=serviceList
    metaName='checksumSha256'
    itemList=itemList
    closeModal=(action 'onCloseServiceModal')}}
{{/if}}

{{#if showFileStatusModal}}
  {{endpoint/edit-file-status/modal
    itemList=selections
    isRemediationAllowed=remediationStatus
    onSaveFileStatus=(action 'saveFileStatus' checksums)
    data=data
    closeModal=(action 'onCloseEditFileStatus')}}
{{/if}}

{{#if showResetScoreModal}}
  {{#rsa-application-modal
    autoOpen=true
    label=(t 'investigateFiles.riskScore.label')
    onClose=(action 'onResetScoreModalClose')}}
    <div class='modal-content reset-risk-score'>
      <p>{{t 'investigateFiles.riskScore.confirmMessage'}}</p>
      <hbox>
        <vbox>
          {{#rsa-form-button class="closeReset" click=(action 'onResetScoreModalClose') }}{{t 'investigateFiles.riskScore.cancel'}}{{/rsa-form-button}}
        </vbox>
        <vbox>
          {{#rsa-form-button class="resetButton" style='primary' isFullWidth=true click=(action 'resetRiskScoreAction')}}
            {{t 'investigateFiles.riskScore.reset'}}
          {{/rsa-form-button}}
        </vbox>
      </hbox>
    </div>
  {{/rsa-application-modal}}
{{/if}}
