<section class="body">
  <section class="filter-option created-filter">
    <hbox class="time-range-label">
      <h2>{{ t 'respond.incidents.filters.timeRange'}}</h2>
      <label class="rsa-form-switch" {{action 'toggleCustomDate' }}>
        {{x-toggle value=hasCustomDate onToggle=(action 'toggleCustomDate')}}
        {{t 'respond.incidents.filters.customDateRange'}}
      </label>
    </hbox>
    {{#liquid-bind hasCustomDate use=(if hasCustomDate "toUp" "toDown") as |currentIsCustomRange|}}
      {{#if currentIsCustomRange}}
        {{rsa-form-datetime
          label=(t 'respond.incidents.filters.customStartDate')
          showTime=true
          isError=hasCustomDateError
          value=(readonly customDateRangeStart)
          onDateClose=(action 'customStartDateChanged')
          errorMessage=customDateErrorMessage}}

        {{rsa-form-datetime
          label=(t 'respond.incidents.filters.customEndDate')
          showTime=true
          value=(readonly customDateRangeEnd)
          onDateClose=(action 'customEndDateChanged')}}
      {{else}}
        {{#power-select
          options=timeframes
          selected=selectedTimeframe
          searchEnabled=false
          onchange=(action "onChangeTimeframe") as |time|}}
          {{t (concat 'respond.timeframeOptions.' time.name) }}
        {{/power-select}}
      {{/if}}
    {{/liquid-bind}}
  </section>
  <section class="filter-option priority-filter">
    <h2>{{ t 'respond.incident.priority'}}</h2>
    {{#each priorityTypes as |priorityType|}}
      <label class="rsa-form-checkbox-label {{if (contains priorityType.name priorityFilters) 'checked'}}">
        {{rsa-form-checkbox
          checked=(contains priorityType.name priorityFilters )
          change=(action 'togglePriorityFilter' priorityType.name)}}
        <span>{{t priorityType.labelKey}}</span>
      </label>
    {{/each}}
  </section>
  <section class="filter-option status-filter">
    <h2>{{ t 'respond.incident.status'}}</h2>
    {{#each statusTypes as |statusType|}}
      <label class="rsa-form-checkbox-label {{if (contains statusType.name statusFilters) 'checked'}}">
        {{rsa-form-checkbox
          checked=(contains statusType.name statusFilters )
          change=(action 'toggleStatusFilter' statusType.name)}}
        <span>{{t statusType.labelKey}}</span>
      </label>
    {{/each}}
  </section>
  <section class="filter-option assignee-filter">
    <h2>{{ t 'respond.incident.assignee'}}</h2>
    {{#power-select-multiple
      options=(readonly users)
      selected=selectedAssignees
      searchField="name"
      onchange=(action "assigneeChanged") as |users|}}
      {{users.name}}
    {{/power-select-multiple}}
  </section>
  <section class="filter-option category-filter">
    <h2>{{ t 'respond.incident.categories'}}</h2>
    {{#power-select-multiple
      options=categoryTags
      searchField='name'
      selected=selectedCategories
      onchange=(action "categoryChanged") as |category|}}
      {{category}}
    {{/power-select-multiple}}
  </section>
</section>
<footer>
  {{#rsa-form-button
    isFullWidth=true
    defaultAction='reset'}}
    {{t 'respond.incidents.filters.reset'}}
  {{/rsa-form-button}}
</footer>