<article class="rsa-investigate-query">
  <header class="rsa-investigate-query__header">
    {{bread-crumb submitQuery=(route-action 'submitQuery')}}

    {{#if (is-equal model.queryNode.value.results.events.status 'error')}}
      {{#rsa-panel-message messageType='query-error'}}
        <div class="capitalize">{{or model.queryNode.value.results.events.message (t 'investigate.events.error')}}</div>
      {{/rsa-panel-message}}
    {{else}}
      {{time-line
        data=model.queryNode.value.results.eventTimeline.data
        status=model.queryNode.value.results.eventTimeline.status
        retryAction=(route-action "eventTimelineGet" model.queryNode true)
        startTime=model.queryNode.value.definition.startTime
        endTime=model.queryNode.value.definition.endTime}}
    {{/if}}
  </header>
  <section class="{{queryBodyClass}}">
    <section class="rsa-investigate-query__body-master">
      <aside class="rsa-investigate-query__body-master-aside">
        {{meta-view
          group=defaultMetaGroup
          metaKeyStates=model.queryNode.value.results.metaKeyStates
          query=model.queryNode.value.definition
          minSizeAction=(route-action "metaPanelSize" 'min')
          maxSizeAction=(route-action "metaPanelSize" 'max')
          defaultSizeAction=(route-action "metaPanelSize" 'default')
          onBack=(route-action "metaGroupSet" model.queryNode)
          onFwd=(route-action "metaGroupSet" model.queryNode)
          clickValueAction=(route-action "navDrill" model.queryNode)
          contextLookupAction=(route-action "contextPanelOpen")
          toggleAction=(route-action "metaGroupKeyToggle" model.queryNode)}}
      </aside>
      <section class="rsa-investigate-query__body-master-main">
        {{events-table
          items=model.queryNode.value.results.events.data
          selectedIndex=selectedIndex
          columnsConfig=model.eventColumnGroups.selected.columns
          status=model.queryNode.value.results.events.status
          percent=model.queryNode.value.results.events.percent
          rowClickAction=(route-action "selectEvent")
          loadMoreAction=(route-action "eventsGetMore" model.queryNode)
          loadLogsAction=(route-action "eventsLogsGet" model.queryNode)
          stopAction=(route-action "eventsStop" model.queryNode)
          retryAction=(route-action "eventsGetMore" model.queryNode)
          totalCount=model.queryNode.value.results.eventCount.data
          totalThreshold=model.queryNode.value.results.eventCount.threshold
          totalStatus=model.queryNode.value.results.eventCount.status
          totalRetryAction=(route-action "eventCountGet" model.queryNode)
          isOpen=isReconOpen
        }}
      </section>
    </section>
    <vbox class="rsa-investigate-query__body-slave">
      {{#if (and serviceId sessionId)}}
        {{recon-container
          aliases=(readonly aliases)
          endpointId=(readonly serviceId)
          eventId=(readonly sessionId)
          index=(readonly eventIndex)
          language=(readonly language)
          meta=(readonly eventMetas)
          size=(readonly reconSize)
          total=(readonly eventCount)
          closeAction=(route-action 'reconClose')
          expandAction=(route-action 'reconSize' 'max')
          linkToFileAction=(route-action 'reconLinkToFile')
          shrinkAction=(route-action 'reconSize' 'min')
        }}
      {{/if}}
    </vbox>
  </section>
  <footer class="rsa-investigate-query__footer">
  </footer>
</article>