{{query-container/service-selector}}

{{query-container/time-selector}}

<div class='query-bar-selection'>
  <div class='query-bar-options'>
    {{query-filters filters=filters executeQuery=(route-action 'executeQuery')}}
    {{!-- filters - to transform them to text in free-form --}}
    {{query-container/free-form filters=filters executeQuery=(route-action 'executeQuery')}}
    {{query-container/query-pills filters=(readonly filters) executeQuery=(route-action 'executeQuery')}}
  </div>
  <div class='query-bar-select-actions'>
    <a class='guided-link' title={{t 'investigate.guided.linkTitle'}} href='' {{action 'changeView' 'guided'}}>Guided Mode</a>
    <div class='divider'></div>
    <a class='freeForm-link' title={{t 'investigate.freeForm.linkTitle'}} href='' {{action 'changeView' 'freeForm'}}>Free-Form Mode</a>
    <div class='divider'></div>
    <a class='nextGen-link' title={{t 'investigate.nextGen.linkTitle'}} href='' {{action 'changeView' 'nextGen'}}>Next Gen Mode</a>
  </div>
</div>

{{#rsa-form-button
  class='execute-query-button'
  defaultAction=(route-action 'executeQuery' criteria)
  isDisabled=(not hasRequiredValuesToQuery)
  style='primary'}}
  Query Events
{{/rsa-form-button}}