<article class="rsa-investigate-query">
  <header class="rsa-investigate-query__header">
    {{bread-crumb}}

    {{#if (is-equal eventResults.status 'error')}}
      {{#rsa-panel-message messageType='query-error'}}
        <div class="capitalize">{{or eventResults.message (t 'investigate.events.error')}}</div>
      {{/rsa-panel-message}}
    {{else}}
      {{time-line
        data=eventTimeline.data
        status=eventTimeline.status
        retryAction=(route-action "eventTimelineGet" queryNode true)
        startTime=queryNode.startTime
        endTime=queryNode.endTime}}
    {{/if}}
  </header>
  <section class="{{queryBodyClass}}">
    <section class="rsa-investigate-query__body-master">
      <aside class="rsa-investigate-query__body-master-aside">
        {{meta-view
          group=defaultMetaGroup
          metaKeyStates=eventResults.metaKeyStates
          query=queryNode
          minSizeAction=(route-action "metaPanelSize" 'min')
          maxSizeAction=(route-action "metaPanelSize" 'max')
          defaultSizeAction=(route-action "metaPanelSize" 'default')
          onBack=(route-action "metaGroupSet" queryNode)
          onFwd=(route-action "metaGroupSet" queryNode)
          clickValueAction=(route-action "navDrill" queryNode)
          contextLookupAction=(route-action "contextPanelOpen")
          toggleAction=(route-action "metaGroupKeyToggle" queryNode)}}
      </aside>
      <section class="rsa-investigate-query__body-master-main">
        {{events-table
          items=eventResults.data
          selectedIndex=selectedIndex
          columnsConfig=model.eventColumnGroups.selected.columns
          status=eventResults.status
          percent=percentReturned
          rowClickAction=(route-action 'selectEvent')
          loadMoreAction=(action 'eventsGetMore')
          loadLogsAction=(action 'eventsLogsGet')
          stopAction=(route-action 'eventsStop' queryNode)
          retryAction=(route-action 'eventsGetMore' queryNode)
          totalCount=eventCount.data
          totalThreshold=eventCount.threshold
          totalStatus=eventCount.status
          totalRetryAction=(route-action 'eventCountGet' queryNode)
          isOpen=isReconOpen
        }}
      </section>
    </section>
    <vbox class="rsa-investigate-query__body-slave">
      {{#if (and queryNode.serviceId queryNode.sessionId)}}
        {{recon-container
          aliases=(readonly aliases)
          endpointId=(readonly queryNode.serviceId)
          eventId=(readonly queryNode.sessionId)
          index=(readonly queryNode.eventIndex)
          language=(readonly language)
          meta=(readonly queryNode.eventMetas)
          size=(readonly reconSize)
          total=(readonly eventCount.data)
          closeAction=(route-action 'reconClose')
          expandAction=(route-action 'reconSize' 'max')
          linkToFileAction=(route-action 'reconLinkToFile')
          shrinkAction=(route-action 'reconSize' 'min')
        }}
      {{/if}}
    </vbox>
  </section>
  <footer class="rsa-investigate-query__footer">
  </footer>
</article>