{{query-container/service-selector}}

{{query-container/time-selector}}

<div class='query-bar-selection'>
  <div class='query-bar-options'>
    {{#if (eq queryView 'guided')}}
      {{!-- guidedHasFocus - to add focus on query-filter-fragment when true --}}
      {{!-- toggleFocusFlag - to reset the flag to false, after setting focus on same component--}}
      {{query-filters filters=filters guidedHasFocus=guidedHasFocus toggleFocusFlag=(action 'toggleFocusFlag') executeQuery=(route-action 'executeQuery')}}
    {{else if (eq queryView 'freeForm')}}
      {{query-container/free-form freeFormText=freeFormText executeQuery=(route-action 'executeQuery')}}
    {{else if (eq queryView 'nextGen')}}
      {{query-container/query-pills filters=(readonly filters) executeQuery=(route-action 'executeQuery')}}
    {{/if}}
  </div>
  <div class='query-bar-select-actions'>
    <a class='guided-link' title={{t 'investigate.guided.linkTitle'}} href='' {{action (mut queryView) 'guided'}}>Guided Mode</a>
    <div class='divider'></div>
    <a class='freeForm-link' title={{t 'investigate.freeForm.linkTitle'}} href='' {{action (mut queryView) 'freeForm'}}>Free-Form Mode</a>
    <div class='divider'></div>
    <a class='nextGen-link' title={{t 'investigate.nextGen.linkTitle'}} href='' {{action (mut queryView) 'nextGen'}}>Next Gen Mode</a>
  </div>
</div>

{{#rsa-form-button
  class='execute-query-button'
  defaultAction=(route-action 'executeQuery' criteria)
  isDisabled=(not hasRequiredValuesToQuery)
  style='primary'}}
  Query Events
{{/rsa-form-button}}