{{query-container/service-selector}}

{{query-container/time-selector}}

<div class='query-bar-selection'>
  <div class='query-bar-options'>
    {{#if (eq queryView 'guided')}}
      {{query-filters filters=filters executeQuery=(route-action 'executeQuery')}}
    {{else if (eq queryView 'freeForm')}}
      {{query-container/free-form}}
    {{else if (eq queryView 'nextGen')}}
      {{query-container/next-gen}}
    {{/if}}
  </div>
  <div class='query-bar-select-actions'>
    <a class='guided-link' href='' {{action (mut queryView) 'guided'}}>Guided Mode</a>
    <div class='divider'></div>
    <a class='freeForm-link' href='' {{action (mut queryView) 'freeForm'}}>Free-Form Mode</a>
    <div class='divider'></div>
    <a class='nextGen-link' href='' {{action (mut queryView) 'nextGen'}}>Next Gen Mode</a>
  </div>
</div>
{{#rsa-form-button
  class='execute-query-button'
  defaultAction=(route-action 'executeQuery' filters)
  isDisabled=(not hasRequiredValuesToQuery)
  style='primary'}}
  Query Events
{{/rsa-form-button}}