{{#if ruleRegex}}
  <h2> {{t 'configure.logsParser.values'}} </h2> 
  <div class='vSpacer vSpacerFirst ruleValues'> 
    <label class="rsa-form-label power-select">
      {{#power-select
        placeholder="Make a selection"
        options=ruleValues
        selected=itemSelected
        allowClear=true
        searchPlaceholder="Type to filter options"      
        onchange=(action 'setSelect') as |option|}}
        {{option}}
      {{/power-select}}
    </label>
  </div>

  {{#if ruleType}}
    <div class='vSpacer ruleType'>
      {{rsa-form-input label=(t 'configure.logsParser.type') value=ruleType isReadOnly=true isInline=true}}
    </div>
  {{/if}}
  {{#if ruleMatches}}
    <div class='vSpacer ruleMatches'>
      {{rsa-form-input label=(t 'configure.logsParser.valueMatching') value=ruleMatches isReadOnly=true isInline=true}}
    </div>
  {{/if}}
  {{#if ruleRegex}}
    <div class='vSpacer ruleRegex'>
      {{rsa-form-input label=(t 'configure.logsParser.pattern') value=ruleRegex isInline=true isReadOnly=isRegexSelected}}
    </div>
  {{/if}}
{{/if}}
