<vbox class="process-list-box">
  <div class="process-list-header">
    <span class="title">{{t 'investigateHosts.process.title'}}</span>
    {{#if (not isNavigatedFromExplore)}}
      <span class="toggle-icon" {{action 'toggleProcessView'}}>
        {{rsa-icon active=isTreeView class="tree-icon" name='flow-chart-3' is-filled=true}}
      </span>
    {{/if}}
  </div>
  {{#if isTreeView}}
    {{host-detail/process/process-tree}}
  {{else}}
    {{host-detail/process/process-list}}
  {{/if}}
</vbox>





