{{#if (eq inputField 'textInput')}}
  <span class='text-input-field'>
    {{rsa-form-input class='operator-input'
      maxLength=64
      value=(readonly value.[0])
      focusOut=(action 'handleInputChange' value.[0])
    }}
  </span>
{{else if (eq inputField 'osSelector')}}
  <div class="osSelector">
    {{#usm-groups/group/group-attributes/attribute-inputs/os-selector
      selectedValues=value
      criteriaPath=criteriaPath}}
    {{/usm-groups/group/group-attributes/attribute-inputs/os-selector}}
  </div>
{{else if (eq inputField '2textInputs')}}
  <div class="between-inputs">
    {{rsa-form-input class='operator-input'
      value=(readonly value.[0])
      maxLength=64
      focusOut=(action 'firstBetweenInput' value.[0])
    }}
    <span>and</span>
    {{rsa-form-input class='operator-input'
      value=(readonly value.[1])
      maxLength=64
      focusOut=(action 'secondBetweenInput' value.[1])
    }}
  </div>
{{else if (eq inputField 'textarea')}}
  <div class="textarea-input">
    {{rsa-form-textarea
      value=(readonly value.[0])
      isInline=true
      focusOut=(action 'handleInputChange' value.[0])
    }}
  </div>
{{/if}}