<!-- side wizard nav -->
<vbox xs="4" class="sidebar">
  <centered fit>
    <h2>Wizard Nav...</h2>
  </centered>
</vbox>

<!-- form -->
<box class="form">
  <hbox class="toolbar">
    {{#rsa-form-button style='primary' class='confirm-button' 
      tabIndex="3"
      defaultAction="save"
      isDisabled=hasMissingRequiredData
    }}
      {{t 'adminUsm.button.save'}}
    {{/rsa-form-button}}
    {{#rsa-form-button class='cancel-button' defaultAction=(route-action 'transitionToGroups')}}
      {{t 'adminUsm.button.cancel'}}
    {{/rsa-form-button}}
  </hbox>

  <label class="control-label">Identify</label>
  <div class="control">
    {{rsa-form-input
      tabIndex="1"
      label=(t 'adminUsm.group.name')
      placeholder=(t 'adminUsm.group.namePlaceholder')
      value=(readonly group.name)
      maxLength=256
      focusOut=(action "handleNameChange" value="target.value")
    }}
  </div>
  <div class="control">
    {{rsa-form-textarea
      tabIndex="2"
      label=(t 'adminUsm.group.description')
      placeholder=(t 'adminUsm.group.descPlaceholder')
      value=(readonly group.description)
      maxLength=8000
      focusOut=(action 'handleDescriptionChange' value='target.value')
    }}
  </div>
</box>

{{!-- Overlay to prevent interactions while loading --}}
{{#if isGroupLoading}}
  <div class="loading-overlay">
    <centered>
      {{rsa-loader size="large"}}
    </centered>
  </div>
{{/if}}
