<span>{{dSResultCount}}</span>
{{#if footerTimeStamp.lastUpdated}}
  <span>
    {{t 'context.timeWindow'}}{{footerTimeStamp.timeWindow}} |
    {{t 'context.lastUpdated'}}{{rsa-content-datetime timestamp=footerTimeStamp.lastUpdated asTimeAgo=true}}
  </span>
{{/if}}
