{{#if showPercentMessage}}
  <div class="rendered-email-percent">
    {{t 'recon.emailView.renderedEmailPercent'}} {{percentText}}%
  </div>
{{/if}}
<div class="email-body-text">
  <div class="emailContent">
    <iframe id="{{emailRenderId}}"
      srcdoc="{{renderEmailBodyContent}}"
      width="100%"
      height="100%"
      sandbox="allow-same-origin">
    </iframe>
  </div>
  {{#if displayShowRemainingButton}}
    <div class="email-show-remaining">
      {{#rsa-form-button defaultAction= (action 'showRemainingEmailContent')}}
        {{ remainingEmailContentLabel }}
      {{/rsa-form-button}}
    </div>
  {{/if}}
</div>
