<section class="resource-title {{resourceTypeClass}}">
  <h1>{{resource.title}}</h1>
</section>
<section class="meta-data">
  <ul>
    <li>
      <span class="name">Type</span>
      <span class="value">{{resource.resourceType.title}}</span>
    </li>
    <li>
      <span class="name">Created</span>
      <span class="value">
        {{rsa-content-datetime timestamp=resource.created displayTime=false}}
      </span>
    </li>
    <li>
      <span class="name">Updated</span>
      <span class="value">
        {{rsa-content-datetime timestamp=resource.updated displayTime=false}}
      </span>
    </li>
    <li>
      <span class="name">Size</span>
      <span class="value">{{rsa-content-memsize size=resource.size}}</span>
    </li>
    <li>
      <span class="name">Medium</span>
      <span class="value">
        {{#each resource.medium as |medius|}}
          {{rsa-content-label label=medius}}
        {{/each}}
      </span>
    </li>
    <li>
      <span class="name">Tags</span>
      <span class="value">
        {{#each resource.tags as |tag|}}
          {{rsa-content-label label=tag}}
        {{/each}}
      </span>
    </li>
    <li>
      <span class="name">Meta Keys</span>
      <span class="value">
        {{#each resource.metaKeys as |key|}}
          {{rsa-content-label label=key}}
        {{/each}}
      </span>
    </li>
    <li>
      <span class="name">Meta Values</span>
      <span class="value">
        {{#each resource.metaValues as |val|}}
          {{rsa-content-label label=val}}
        {{/each}}
      </span>
    </li>
    {{#if resource.dependencies}}
      <li class="resource-dependencies">
        <span class="name">Dependencies</span>
        <div class="value">
          <ul>
            {{#each resource.dependencies as |dependency|}}
              <li>{{dependency.contentName}}</li>
            {{/each}}
          </ul>
        </div>
      </li>
    {{/if}}
  </ul>
</section>

<section class="resource-summary">
  <h4>Summary</h4>
  <p>{{resource.summary}}</p>
</section>
{{yield}}
