<vbox nowrap class="rsa-incident-inspector__wrap">
  <box fit class="rsa-incident-inspector__header">
    <vbox justify="center" class="back">
      {{#link-to 'incidents'}}
        {{rsa-icon name="arrow-left-12" title=(t 'respond.incident.backToIncidents')}}
      {{/link-to}}
    </vbox>
    <h2>
      {{#if (eq infoStatus 'wait')}}
        {{rsa-loader size="large" label=(t 'respond.details.loading')}}
      {{else if (eq infoStatus 'error')}}
        <div class="error">
          {{rsa-icon name="signal-warning" size="large"}}
          <div>{{t 'respond.details.error'}}</div>
        </div>
      {{else}}
        {{rsa-incidents/inspector-header info=info updateItem=(action 'updateItem')}}
      {{/if}}
    </h2>
  </box>
  <hbox fit justify="center" nowrap class="rsa-incident-inspector__toolbar">
    <span
      class="rsa-tab text-only {{if (eq viewMode 'overview') 'is-active' ''}}"
      {{action (action "setViewModeAction" "overview")}}>
      {{t 'respond.incident.overview'}}
    </span>
    <span
      class="rsa-tab text-only {{if (eq viewMode 'storyline') 'is-active' ''}}"
      title="{{if isStorylineCutoff (t 'respond.incident.indicatorsCutoff' limit=storyPointCount expected=storyPointCountExpected)}}"
      {{action (action "setViewModeAction" "storyline")}}>
      {{t 'respond.incident.indicators'}} {{#with storyPointCount as |count|}}({{count}}{{if isStorylineCutoff '+'}}){{/with}}
    </span>
  </hbox>
  <box fill class="rsa-incident-inspector__body">
    {{#if (eq viewMode 'events')}}
      {{rsa-incident/events-table}}
    {{else if (eq viewMode 'storyline')}}
      {{rsa-incident/alerts-table}}
    {{else}}
      {{rsa-incident/overview
        info=info
        infoStatus=infoStatus
        updateItem=(action 'updateItem')
      }}
    {{/if}}
  </box>
</vbox>
<div class="rsa-incident-inspector__resizer js-incident-inspector-resizer">
  <div class="rsa-incident-inspector__resize-cover"></div>
</div>
