<box fit class="rsa-incident-inspector__header">
  <vbox justify="center" class="back">
    {{#link-to 'incidents'}}
      {{rsa-icon name="arrow-left-12" title=(t 'respond.incident.backToIncidents')}}
    {{/link-to}}
  </vbox>
  <h2>
    <div class="id">{{incidentId}}</div>
    {{#if (eq infoStatus 'wait')}}
      {{rsa-loader size="large" label=(t 'respond.details.loading')}}
    {{else if (eq infoStatus 'error')}}
      <div class="error">
        {{rsa-icon name="signal-warning" size="large"}}
        <div>{{t 'respond.details.error'}}</div>
      </div>
    {{else}}
      <div class="name">{{info.name}}</div>
      <div class="risk-score">
        <label>{{t 'respond.incident.riskScore'}}</label>
        <span>{{info.riskScore}}</span>
      </div>
    {{/if}}
  </h2>
</box>
<hbox fit justify="center" nowrap class="rsa-incident-inspector__toolbar">
  {{rsa-icon
    name="information-circle"
    title=(t 'respond.incident.showOverview')
    active=(eq viewMode 'overview')
    class="js-test-view-mode"
    click=(action "setViewModeAction" "overview")
  }}
  {{rsa-icon
    name="view-list"
  title=(t 'respond.incident.showStoryline')
    active=(eq viewMode 'storyline')
    class="js-test-view-mode"
    click=(action "setViewModeAction" "storyline")
  }}
  {{rsa-icon
    name="layout-9"
    title=(t 'respond.incident.showEventsTable')
    active=(eq viewMode 'events')
    class="js-test-view-mode"
    click=(action "setViewModeAction" "events")
  }}
</hbox>
<box fill class="rsa-incident-inspector__body">
  {{#if (eq viewMode 'events')}}
    {{rsa-incident/events-table}}
  {{else if (eq viewMode 'storyline')}}
    {{rsa-incident/storyline}}
  {{else}}
    {{rsa-incident/overview}}
  {{/if}}
</box>