<hbox fit class="col-md-12 col-xs-12 col-sm-12">
  <hbox class="col-md-1 col-xs-1 col-sm-1 group-rank-cell">
    <p>{{add index 1}}</p>
  </hbox>
  <hbox class="col-md-2 col-xs-2 col-sm-2 group-preview-cell">
    <p>
      <div class="float-toggle simulate-{{item.isChecked}}">
        <div class="float-ball"></div>
      </div>
    </p>
  </hbox>
  <hbox class="col-md-3 col-xs-3 col-sm-3 group-name-cell">
    <div class="tooltip-text" title="{{item.name}}">
      {{item.name}}
    </div>
  </hbox>
  <hbox class="col-md-3 col-xs-3 col-sm-3 policy-cell">
    {{#each-in item.assignedPolicies as |policy details|}}
      {{#if (eq policy selectedSourceType)}}
        <div class="tooltip-text" title="{{details.name}}">
          {{details.name}}
        </div>
      {{/if}}
    {{/each-in}}
  </hbox>
  <hbox class="col-md-2 col-xs-2 col-sm-2 n-sources-cell">
    <p>
      <div class="table-cell-text" {{on "mouseleave" (fn this.hideTip index)}}>
        {{#if srcCountTooltip}}
          <div class="src-count-text src-count" {{on "mouseenter" (fn this.showTip index)}}>{{srcCount}}</div>
          <div class="tip">
            <svg>
              <polygon class="poly-line-1" points="0,7 7,0 14,7"/>
              <polygon class="poly-line-2" points="2,7 7,2 12,7"/>
            </svg>
            <p class="src-count-tip">{{srcCountTooltip}}</p>
          </div>
        {{else}}
          <div class="src-count">{{srcCount}}</div>
          <div class="tip"></div>
        {{/if}}
      </div>
    </p>
  </hbox>
</hbox>