{{#if hasBlock}}
  {{yield (hash title=(component 'widget.widget-title' title=config.title))}}
  <div class='top-alert-items' test-id='top-alert-items'>
    {{#each config.data as |data|}}
      {{yield (hash content=(component 'widget.top-alerts.top-item' config=config data=data))}}
    {{/each}}
  </div>
{{else}}
  {{#widget/widget-title}}
    {{config.title}}
  {{/widget/widget-title}}
  <div class='top-alert-items'>
    {{#each config.data as |data|}}
      {{widget/top-alerts/top-item config=config data=data}}
    {{/each}}
  </div>
{{/if}}
