{{#unless isHidden}}
  <hbox class="rsa-button-group">
    {{#rsa-form-button
      class="export-packet-button"
      defaultAction=(action 'processDefault' defaultPacketFormat)
      isDisabled=isDisabled
    }}
      {{#if isDownloading}}
        {{rsa-loader}}
      {{/if}}
      {{caption}}
    {{/rsa-form-button}}
    {{#click-outside action=(action 'clickOutside')}}
      {{#rsa-form-button
        class="rsa-split-dropdown"
        defaultAction=(action 'toggleExpand')
      }}
        {{rsa-icon name="arrow-down-12"}}
      {{/rsa-form-button}}
      {{#recon-button-menu isExpanded=isExpanded currentIndex=-1 style=offsetsStyle items=downloadFormats menuStyle='export-packet-menu' tabindex=0}}
        {{#each downloadFormats as |download|}}
          <li tabindex='-1' onkeydown={{action 'handleKeydown' download.key}}>
            <a {{action 'processMenuItem' download.key}}>{{t (concat 'recon.packetView.' (get download 'value'))}}</a>
          </li>
        {{/each}}
      {{/recon-button-menu}}
    {{/click-outside}}
  </hbox>
  {{rsa-download-export
    extractLink=extractLink
    isAutoDownloadFile=isAutoDownloadFile
    iframeClass='export-packet-iframe js-export-packet-iframe'
    sendMessage=(action 'didDownloadFiles')
  }}
{{/unless}}
