<hbox class="rsa-button-group">
  {{#rsa-form-button
    class="export-packet-button"
    defaultAction=(action 'processDefault' defaultPacketFormat)
  }}
    {{#if isDownloading}}
      {{rsa-loader}}
    {{/if}}
    {{caption}}
  {{/rsa-form-button}}
  {{#click-outside action=(action 'clickOutside')}}
    {{#rsa-form-button
      class="rsa-split-dropdown"
      defaultAction=(action 'toggleExpand')
    }}
      {{rsa-icon name="arrow-down-12"}}
    {{/rsa-form-button}}
    {{#recon-button-menu isExpanded=isExpanded style=offsetsStyle menuStyle='export-packet-menu'}}
      {{#each downloadFormats as |download|}}
        <li>
          <a {{action 'processMenuItem' download.key}}>{{t (concat 'recon.packetView.' (get download 'value'))}}</a>
        </li>
      {{/each}}
    {{/recon-button-menu}}
  {{/click-outside}}
</hbox>
<iframe src="{{iframeSrc}}" class="export-packet-iframe js-export-packet-iframe"></iframe>