<page class="respond-engine {{routePath}}">
  {{#if respondServerOffline}}
    {{error-page
      errorDescription=(t 'respond.errorPage.serviceDownDescription')
      title=(t 'respond.errorPage.serviceDown')}}
  {{else}}
      <div class="rsa-nav-tab-group">
        {{#if accessControl.hasRespondIncidentsAccess}}
          {{#rsa-nav-tab  align='left' isActive=(eq routePath 'incidents') click=(action 'navigateTo' 'incidents')}}
            <div class="label">{{t "respond.entities.incidents"}}</div>
          {{/rsa-nav-tab}}
        {{/if}}
        {{#if accessControl.hasRespondAlertsAccess}}
          {{#rsa-nav-tab  align='left' isActive=(eq routePath 'alerts') click=(action 'navigateTo' 'alerts')}}
            <div class="label">{{t "respond.entities.alerts"}}</div>
          {{/rsa-nav-tab}}
        {{/if}}
        {{#if accessControl.hasRespondRemediationAccess}}
          {{#rsa-nav-tab  align='left' isActive=(eq routePath 'tasks') click=(action 'navigateTo' 'tasks')}}
            <div class="label">{{t "respond.entities.remediationTasks"}}</div>
          {{/rsa-nav-tab}}
        {{/if}}
        {{#if accessControl.hasRespondConfigureAccess}}
          {{! Only show this tab when the user is in the aggregation-rule-related routes. Temporary until we know where these routes will ultimately live}}
          {{#if (or (eq routePath 'aggregation-rules') (eq routePath 'aggregation-rule'))}}
            {{#rsa-nav-tab  align='left' isActive=(or (eq routePath 'aggregation-rules') (eq routePath 'aggregation-rule')) click=(action 'navigateTo' 'aggregation-rules')}}
              <div class="label">{{t "respond.configure"}}</div>
            {{/rsa-nav-tab}}
          {{/if}}
        {{/if}}
      </div>
      {{outlet}}
  {{/if}}
</page>