{{#if editActive}}
  {{#power-select-typeahead
    searchMessage=null
    placeholder=placeholder
    allowClear=false
    options=options
    selected=filter
    closeOnSelect=false
    defaultHighlighted=null
    dropdownClass=dropdownClass
    search=(action "lookup")
    onfocus=(action 'onfocus')
    onblur=(action 'onblur')
    onkeydown=(action 'parseInput')
    onchange=(action 'updateFilter') as |option|}}

    {{#if (eq type 'operator')}}
      {{rsa-icon name="stopwatch"
        style="lined"
        class=(if option.isExpensive "is-expensive expensive-operator-indicator" "expensive-operator-indicator")
        title=(if option.isExpensive (t 'queryBuilder.expensive') '')
      }}
    {{/if}}

    {{#if option.metaName}}
      {{option.metaName}}
      {{#if option.displayName}}
        ({{option.displayName}})
      {{/if}}
    {{else}}
      {{option.displayName}}
    {{/if}}
  {{/power-select-typeahead}}
{{else}}
  <div class="meta" title={{apiMetaMessage}} {{action 'toggleSelect'}}>
    {{#if isExpensive}}
      {{rsa-icon name="stopwatch"
        style="lined"
        class="expensive-operator-indicator"
        title=(t 'queryBuilder.expensive')
      }}
    {{/if}}
    {{#rsa-context-menu contextItems=contextItems}}
      {{#if complexFilter}}
        <span title={{t 'queryBuilder.notEditable'}}>{{complexFilter}}</span>
      {{else}}
          {{filter}}
      {{/if}}
    {{/rsa-context-menu}}
  </div>

  {{rsa-icon
    name="close"
    title=(t 'queryBuilder.deleteFilter')
    size="smaller"
    class="delete-filter-fragment"
    click=(action 'deleteFilter')}}
{{/if}}

{{yield}}
