{{#rsa-content-tethered-panel-trigger
  panel=panelId
  triggerEvent='click'
}}
  {{#rsa-form-button
    allowToggleActive=true
    class='rsa-investigate-breadcrumb__crumb'
    title=title
    withDropdown=true
  }}
    {{#if isLoading}}
      {{rsa-loader size='small'}}
    {{else}}
      {{rsa-icon class=iconDetails.class style='lined' name=iconDetails.name}}
    {{/if}}
    <span class='js-test-service'>{{selectedServiceName}}</span>
  {{/rsa-form-button}}
{{/rsa-content-tethered-panel-trigger}}
{{#rsa-content-tethered-panel
  displayCloseButton=false
  isPopover=true
  panelId=panelId
  position='bottom-right'
  as |hideTooltip|
}}
  <ul class="rsa-dropdown-action-list" {{action hideTooltip}}>
    {{#each services as |service|}}
      <li {{action 'setService' service}}>{{service.displayName}}</li>
    {{/each}}
  </ul>
{{/rsa-content-tethered-panel}}