<h4 class='title'>
  {{t 'adminUsm.policyWizard.edrPolicy.primaryAddress'}}
  <span class="remove-setting"{{action 'removeFromSelectedSettings' 'primaryAddress'}}>
    {{rsa-icon name="remove-circle-1" style="lined"}}
  </span>
</h4>

<div class="primary-address__list">
  {{#power-select
    placeholder=(t 'packager.placeholder')
    options=endpointsList
    searchField="name"
    triggerClass=(if primaryAddressValidator.showError 'selector-error')
    dropdownClass=errorClass
    searchPlaceholder=(t 'packager.searchPlaceholder')
    selected=selectedEndpointSever    
    onchange=(action 'updatePolicyProperty' 'primaryAddress') as |list|
  }}
    {{list.name}}
  {{/power-select}}  
</div>

<div class="input-error">
  {{#if primaryAddressValidator.showError}}
    {{t primaryAddressValidator.errorMessage}}
  {{/if}}
</div>

<vbox class="primary-address__alias">
  <span class="text">
    {{t 'adminUsm.policyWizard.edrPolicy.primaryAlias'}}
  </span>
  <span class="rsa-form-input">
    {{rsa-form-input
      class='primary-alias'
      value=(readonly primaryAlias)
      isError=isPrimaryAliasValid.showError
      errorMessage=(t isPrimaryAliasValid.errorMessage)
      focusOut=(action 'updatePolicyProperty' 'primaryAlias')
    }}
  </span>
</vbox>