<vbox>
  <div class="scroll-box">
    {{#rsa-data-table
      items=searchResults.items
      lazy=false
      onRowClick=(action "rowClick")
      columnsConfig=columnsConfig}}

      {{#rsa-data-table/header translateTitles=true as |column|}}
        {{#if column.headerComponentClass}}
          {{component column.headerComponentClass
            item=item
            index=index
            column=column}}
        {{else}}
          {{t column.title}}
        {{/if}}

        {{! COLUMN SORT }}
        {{#unless column.disableSort}}
          <button class={{unless (eq currentSort column.field) "column-sort hideSort expand" "column-sort expand"}} {{action 'sortByColumn' column (if column.isDescending 'asc' 'desc')  on='click'}}>
            {{rsa-icon size="small" name=(if column.isDescending "arrow-down-12" "arrow-up-12")}}
          </button>
        {{/unless}}
      {{/rsa-data-table/header}}

      {{#if isLoading}}
        <vbox class="resource-details-loader">
          {{rsa-loader size='large'}}
        </vbox>

      {{else}}

        {{#rsa-data-table/body
          focusItem=focusItem
          rowComponentClass="rsa-live/search-results/row" as |item index column|}}

          {{#if column.componentClass}}
            {{#rsa-data-table/body-cell item=item column=column}}
              {{component column.componentClass
                item=item
                checked=(contains item.id selections)
                change=(action 'toggleSelect' item)}}
            {{/rsa-data-table/body-cell}}
          {{else}}
            {{#rsa-data-table/body-cell item=item column=column columnWidth=column.width}}
              {{#if (eq column.dataType "date")}}
                {{rsa-content-datetime timestamp=item.created displayTime=false}}
              {{else}}
                {{get item column.field}}
              {{/if}}
            {{/rsa-data-table/body-cell}}
          {{/if}}

        {{/rsa-data-table/body}}
      {{/if}}
    {{/rsa-data-table}}
  </div>
</vbox>

<section class="live-search-pagination">
  {{#rsa-form-button class="go-to-beginning" isIconOnly=true isDisabled=(not searchResults.hasPrevious) defaultAction=(action 'goToBeginning')}}
    {{rsa-icon name='arrow-previous'}}
  {{/rsa-form-button}}
  {{#rsa-form-button class="go-to-previous" isIconOnly=true isDisabled=(not searchResults.hasPrevious) defaultAction=(action 'goToPrevious')}}
    {{rsa-icon name='arrow-left'}}
  {{/rsa-form-button}}

  <span class="live-pagination-showing-message">
    {{#if hasResults}}
      Showing results {{resultRangeLow}} - {{resultRangeHigh}} of {{searchResults.totalItems}}
    {{/if}}
  </span>

  {{#rsa-form-button class="go-to-end" isIconOnly=true isDisabled=(not searchResults.hasNext) defaultAction=(action 'goToEnd')}}
    {{rsa-icon name='arrow-next'}}
  {{/rsa-form-button}}
  {{#rsa-form-button class="go-to-next" isIconOnly=true isDisabled=(not searchResults.hasNext) defaultAction=(action 'goToNext')}}
    {{rsa-icon name='arrow-right'}}
  {{/rsa-form-button}}
</section>