<hbox class='process-filter-popup__header'>
  <box class='rsa-nav-tab-group'>
    {{#each tabs as |tab|}}
      {{#rsa-nav-tab align='center' align='left' compact=true isActive=tab.selected click=(action 'activate' tab.name)}}
        <div class="label">
          {{#if tab.label}}
            <span class="tab-text">{{t tab.label}}</span>
          {{else}}
            {{rsa-icon class=tab.icon}}
          {{/if}}
        </div>
      {{/rsa-nav-tab}}
    {{/each}}
  </box>
  <box class='process-filter-popup__search'>
  </box>
</hbox>
<box class='process-filter-popup__content'>
  {{process-node-list
    nodeList=model.children
    onRowSelection=(action 'getSelectedItems')
  }}
</box>
<box class='process-filter-popup__footer'>
  <hbox>
    <box>
      <span test-id='selected-process-count'>{{t 'investigateProcessAnalysis.buttons.processSelected' processCount=selectedProcessCount}}</span>
    </box>
    <hbox class="buttons">
      {{#rsa-form-button testId='cancel-popup' class='cancel-popup'
                         click=(action 'onCancel' hidePanel)}}
        {{t 'investigateProcessAnalysis.buttons.cancel'}}
      {{/rsa-form-button}}
      {{#rsa-form-button testId='view-all' class='viewAll' click=(action 'onViewAll' model hidePanel)}}
        {{t 'investigateProcessAnalysis.buttons.viewAll'}}
      {{/rsa-form-button}}
      {{#rsa-form-button style='primary' testId='view-selected' class='viewSelected'
                         isDisabled=isViewSelectedDisabled
                         click=(action 'onViewSelected' model hidePanel)}}
        {{t 'investigateProcessAnalysis.buttons.viewSelected'}}
      {{/rsa-form-button}}
    </hbox>
  </hbox>
</box>