<section class={{bodyStyleClass}}>
  {{#if (or contextData.Machines contextData.Machines_ERROR)}}
    {{#if (eq activeTabName 'overview')}}
      {{#each machineData as |columns index|}}
        {{context-panel/dynamic-grid
          array=(parse-host-data contextData.Machines contextData.additionalData)
          columns=columns
          errorMessage=(get contextData 'Machines_ERROR')
          title=columns.title
          lastUpdated=(get contextData 'Machines_LASTUPDATED')
          timeWindow=(get contextData 'Machines_TIMEWINDOW')
        }}
      {{/each}}
    {{/if}}
  {{/if}}
  {{#if (or contextData.Users contextData.Users_ERROR)}}
    {{#if (or (eq activeTabName 'Users')(eq activeTabName 'overview')) }}
      {{#each userData as |columns index|}}
        {{context-panel/dynamic-grid
          array=(parse-addata contextData.Users )
          columns=columns
          errorMessage=(get contextData 'Users_ERROR')
          lastUpdated=(get contextData 'Users_LASTUPDATED')
          timeWindow=(get contextData 'Users_TIMEWINDOW')
          title=columns.title

          activatePanel=(action 'activate' 'Users')
          tabdata=activeTabName
        }}
      {{/each}}
    {{/if}}
  {{/if}}
  {{#each datasourceList as |columns index|}}
    {{#if (or (eq activeTabName columns.dataSourceGroup)(eq activeTabName 'overview')) }}
      {{context-panel/data-table
        data=(top-records (get contextData columns.dataSourceGroup) activeTabName)
        title=(t columns.title )
        errorMessage=(get contextData (concat columns.dataSourceGroup '_ERROR'))
        lastUpdated=(get contextData (concat columns.dataSourceGroup '_LASTUPDATED'))
        timeWindow=(get contextData (concat columns.dataSourceGroup '_TIMEWINDOW'))
        modulesColumnListConfig=columns.columns
        headerdata=(get contextData (concat columns.dataSourceGroup '_HEADER'))
        footerdata=columns.footer
        type=columns.dataSourceType
        sortColumn=columns.sortColumn

        activatePanel=(action 'activate' columns.dataSourceGroup)
        tabdata=activeTabName
      }}
    {{/if}}
  {{/each}}

  {{#if (or (eq activeTabName 'Lists')(eq activeTabName 'overview'))}}
    {{context-panel/tree-table
      data=(top-records contextData.LIST activeTabName)
      type='Lists'
      errorMessage=(get contextData 'LIST_ERROR')

      activatePanel=(action 'activate' 'Lists')
      tabdata=activeTabName
    }}
  {{/if}}

  {{context-panel/live-connect
    model=model
    contextData=contextData

    tabdata=activeTabName
  }}

</section>
