<section class="rsa-context-panel__body">
  {{#if (or contextData.Machines contextData.Machines_ERROR)}}    
    {{#if (eq tabdata 'overview')}}
      {{#each machinedata as |columns index|}}
        {{context-panel/dynamic-grid
          array=(parse-host-data contextData.Machines contextData.additionalData)
          columns=columns
          errorMessage=(get contextData 'Machines_ERROR')
          title=columns.title
          lastUpdated=(get contextData 'Machines_LASTUPDATED')
          timeWindow=(get contextData 'Machines_TIMEWINDOW')
        }}
      {{/each}}
    {{/if}}
  {{/if}} 
  {{#if (or contextData.Users contextData.Users_ERROR)}}      
    {{#if (or (eq tabdata 'Users')(eq tabdata 'overview')) }}
      {{#each userData as |columns index|}}
        {{context-panel/dynamic-grid
          array=(parse-addata contextData.Users )
          columns=columns
          errorMessage=(get contextData 'Machines_ERROR')
          activatePanel=(action 'activate' 'Users')
          tabdata=tabdata title=columns.title
        }}
      {{/each}}
    {{/if}}
  {{/if}}
  {{#each datasourceList as |columns index|}}
    {{#if (or (eq tabdata columns.dataSourceGroup)(eq tabdata 'overview')) }}
      {{context-panel/data-table
        data=(top-records (get contextData columns.dataSourceGroup) tabdata)
        title=(t columns.title )
        errorMessage=(get contextData (concat columns.dataSourceGroup '_ERROR'))
        lastUpdated=(get contextData (concat columns.dataSourceGroup '_LASTUPDATED'))
        timeWindow=(get contextData (concat columns.dataSourceGroup '_TIMEWINDOW'))
        modulesColumnListConfig=columns.columns
        headerdata=(get contextData (concat columns.dataSourceGroup '_HEADER'))
        footerdata=columns.footer
        type=columns.dataSourceType
        activatePanel=(action 'activate' columns.dataSourceGroup)
        tabdata=tabdata}}
    {{/if}}
  {{/each}}

  {{#if (or (eq tabdata 'Lists')(eq tabdata 'overview'))}}
    {{context-panel/tree-table
      data=(top-records contextData.LIST tabdata)
      title=(t multiColumnList.title )
      columnsConfig=multiColumnList.columns
      tabdata=tabdata type='Lists'
      errorMessage=(get contextData 'LIST_ERROR')
      activatePanel=(action 'activate' 'Lists')}}
  {{/if}}

  {{context-panel/live-connect tabdata=tabdata model=model contextData=contextData lcColumnList=lcColumnList}}

</section>
