<section class={{bodyStyleClass}}>
  {{#each dataSourceList as |dataSource|}}
    {{#if (eq dataSource.displayType 'grid')}}
      {{context-panel/dynamic-grid dSDetails=dataSource.details}}
    {{else if (eq dataSource.displayType 'table')}}
      {{context-panel/data-table dSDetails=dataSource.details}}
    {{else if (eq dataSource.displayType 'endpoint')}}
      {{context-panel/endpoint dataSource=dataSource.details}}
    {{else if (eq dataSource.displayType 'liveConnect')}}
      {{context-panel/live-connect
        model=model
        contextData=contextData
        activeTabName=activeTabName
      }}
    {{/if}}
  {{/each}}
</section>
