<section class={{bodyStyleClass}}>
  {{#each dataSourceList as |dataSource|}}
    {{#if (eq dataSource.displayType 'grid')}}
      {{context-panel/dynamic-grid contextData=(get contextData dataSource.dataSourceType) dSDetails=dataSource.details}}
    {{else if (eq dataSource.displayType 'table')}}
      {{context-panel/data-table contextData=(get contextData dataSource.dataSourceType) dSDetails=dataSource.details}}
    {{else if (eq dataSource.displayType 'liveConnect')}}
      {{context-panel/live-connect
        model=model
        contextData=contextData
        tabdata=activeTabName
      }}
    {{/if}}
  {{/each}}
</section>