<section>
    <ul>
        <li class="js-test-respond-incs-sort-id-li" selected="{{is-equal cube.sortField "idNumber"}}"
            {{action "sort" "idNumber" null target=cube}}
                >{{t "incident.fields.id"}}</li>
        <li class="js-test-respond-incs-sort-title-li" selected="{{is-equal cube.sortField "name"}}"
            {{action "sort" "name" null target=cube}}
                >{{t "incident.fields.name"}}</li>
        <li class="js-test-respond-incs-sort-created-li" selected="{{is-equal cube.sortField "created"}}"
            {{action "sort" "created" null target=cube}}
                >{{t "incident.fields.createdDate"}}</li>
        <li class="js-test-respond-incs-sort-priority-li" selected="{{is-equal cube.sortField "priorityRiskScore"}}"
            {{action "sort" "priorityRiskScore" null target=cube}}
                >{{t "incident.fields.priority"}}</li>
        <li class="js-test-respond-incs-sort-status-li" selected="{{is-equal cube.sortField "status"}}"
            {{action "sort" "status" null target=cube}}
                >{{t "incident.fields.status"}}</li>
        {{#if includeAssignee}}
            <li class="js-test-respond-incs-sort-assignee-li" selected="{{is-equal cube.sortField "assignee"}}"
                {{action "sort" "assignee" null target=cube}}
                    >{{t "incident.fields.assignee"}}</li>
        {{/if}}
    </ul>
</section>
<section>
    <ul>
        <li class="js-test-respond-incs-sort-ascending-li" selected="{{is-equal cube.sortDesc false}}"
            {{action "sort" null false target=cube}}
                >{{t "sort.ascending"}}</li>
        <li class="js-test-respond-incs-sort-descending-li" selected="{{is-equal cube.sortDesc true}}"
            {{action "sort" null true target=cube}}
                >{{t "sort.descending"}}</li>
    </ul>
</section>
