<div>
  {{#rsa-form-button 
    class='entity-details-container-body-indicator-navigator_button' 
    isDisabled=(eq incidentNavDetails.currentPosition 0)
    click=(action 'initializeIndicator' incidentNavDetails.previousIndicatorId)
    isFullWidth=true}}
    <div>
      {{rsa-icon size='medium' style='filled' name='arrow-left-12' }}
    </div>
  {{/rsa-form-button}}
</div>
<div>
  {{#if (eq incidentNavDetails.currentPosition 0)}}
    {{t 'investigateUsers.alerts.alertOverview'}}
  {{else}}
    {{t 'investigateUsers.alerts.indicator.title'}} {{incidentNavDetails.currentPosition}} of {{incidentNavDetails.indicatorLength}}
  {{/if}}
</div>
<div>
  {{#rsa-form-button 
    class='entity-details-container-body-indicator-navigator_button' 
    isDisabled=(eq incidentNavDetails.currentPosition incidentNavDetails.indicatorLength)
    click=(action 'initializeIndicator' incidentNavDetails.nextIndicatorId)
    isFullWidth=true}}
    <div>
      {{rsa-icon size='medium' style='filled' name='arrow-right-12' }}
    </div>
  {{/rsa-form-button}}
</div>