
<hbox>
  <vbox xs='7'>
    <div class="rsa-context-panel-header__header-text">
      &#9734; <span> {{t 'context.title'}} {{model.meta}} :</span>
      {{model.lookupKey}}
    </div>
  </vbox>
  <vbox>
    <div xs='1'>
      <button class="rsa-context-panel-header__panel-close" {{action 'closeAction'}}>{{rsa-icon style='filled' name='close'}}</button>
    </div>
  </vbox>
</hbox>
{{#unless hasResponse}}
  <hbox class='rsa-context-panel__loader'>
    <div class="rsa-loader is-largest">
      <div class="rsa-loader__wheel"></div>
      <div class="rsa-loader__text"></div>
    </div>
  </hbox>    
{{/unless}}
{{#if hasResponse}}
  {{#if errorMessage}}
    <hbox class='rsa-context-panel__loader'>
      <span class='rsa-context-panel__error-text'>
        {{errorMessage}}
      </span>  
    </hbox>
  {{else}}
    {{#each dynamictabs.tabs as |tabList|}}
      {{#if (is-equal tabList.tabType model.meta)}}
        <div class="rsa-nav-tab-group">
          {{#each tabList.columns as |tabdetails|}}
            {{#rsa-nav-tab  isCompact=true isActive=(is-equal active tabdetails.field) click=(action 'activate' tabdetails.field)}}
              {{#if (or (eq tabdetails.field 'overview') or (eq tabdetails.field 'liveConnect'))}}
                <div class="label">{{ t tabdetails.title }}  </div>
              {{else}}
                <div class="label">{{ t tabdetails.title }} ({{call-method this 'getDataSourceLength' (get contextData tabdetails.dataSourceType  )}}) </div>
              {{/if}}
            {{/rsa-nav-tab}}
          {{/each}}
        </div>
        <hbox class="rsa-context-panel-header__tab">
          {{#each tabList.toolbar  as | buttons | }}
            {{#rsa-form-button}}{{t buttons.title}}{{/rsa-form-button}}
          {{/each}}
        </hbox>
      {{/if}}
    {{/each}}
    {{rsa-context-panel/body
      contextData=contextData
      datasourceList=contextColumnsConfig
      multiColumnList=multicolumn.multiColumnList
      model=model
      tabdata=active
      activatePanel=(action 'activate')
    }}
  {{/if}}
{{/if}}
