{{rsa-context-panel/header
contextData=contextData
hostCount=(if contextData.Machines 1 0)
model=model
closePanel=(route-action 'closeContextPanel')
}}

 <section class="rsa-context-panel__body">
   {{rsa-context-panel/ecat
     ecatData=contextData.Machines
     ecatAdditionalData=contextData.additionalData
   }}
   {{#each columnHeader.datasourceList as |columns|}}
     {{rsa-context-data-table data=(get contextData columns.dataSourceType)   title=(t columns.title ) modulesColumnListConfig=columns.columns headerdata=(t columns.header) footerdata=columns.footer}}
   {{/each}}
   {{rsa-context-tree-table data=contextData.LIST title=(t multicolumn.multiColumnList.title ) columnsConfig=multicolumn.multiColumnList.columns}}
   {{#if (is-equal model.meta 'IP')}}
     {{rsa-context-panel/lc-community-activity
        liveConnectData=contextData.liveConnectData.IpReputation
        model=model
        allTags=contextData.liveConnectData.allTags
        allReasons=contextData.liveConnectData.allReasons}}
     {{rsa-context-panel/lc-identity liveConnectData=contextData.liveConnectData.IpInfo}}
   {{else if (is-equal model.meta 'FILE')}}
     {{rsa-context-panel/lc-community-activity
        liveConnectData=contextData.liveConnectData.FileReputation
        model=model
        allTags=contextData.liveConnectData.allTags
        allReasons=contextData.liveConnectData.allReasons}}
     {{rsa-context-panel/lc-file-identity liveConnectData=contextData.liveConnectData.FileInfo}}
     {{rsa-context-panel/lc-certificate-info liveConnectData=contextData.liveConnectData.FileInfo}}
   {{else if (is-equal model.meta 'DOMAIN')}}
     {{rsa-context-panel/lc-community-activity
        liveConnectData=contextData.liveConnectData.DomainReputation
        model=model
        allTags=contextData.liveConnectData.allTags
        allReasons=contextData.liveConnectData.allReasons}}
     {{rsa-context-panel/lc-domain-identity liveConnectData=contextData.liveConnectData.DomainInfo}}
     {{rsa-context-panel/lc-domain-whois liveConnectData=contextData.liveConnectData.DomainInfo}}
   {{/if}}
 </section>