<h1> {{t 'configure.logsParser.logParsers'}} </h1>
<div class="buttonsContainer"></div>
<table class='parserTable'>
  {{#each logParsers as |logParser index|}}
    <tr>
      <td class='{{if (eq index 0) 'firstItem'}}
      {{if (eq selectedLogParserIndex index) 'active'}}'{{action "selectLogParser" index}}>
        {{logParser.name}}
      </td>
    </tr>
  {{/each}}
</table>