<h1> {{t 'configure.logsParser.logParsers'}} </h1>

{{content/log-parser-rules/log-parsers/toolbar}} 

<table class='parserTable'>
  {{#each logParsers as |logParser index|}}
    <tr>
      <td class='{{if (eq index 0) 'firstItem'}}
      {{if (eq selectedLogParserIndex index) 'active'}}'{{action "selectLogParser" index}}>
        {{#if logParser.dirty}}
          {{rsa-icon name="synchronize-3" class="deploy-icon"}} {{or logParser.displayName logParser.name}}{{#if (not logParser.deployed)}}-{{/if}}
        {{else}}
          &nbsp;&nbsp;&nbsp;&nbsp; {{or logParser.displayName logParser.name}}{{#if (not logParser.deployed)}}-{{/if}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
</table>