<section>
    <ul>
        {{#each results as |item|}}
            {{yield item}}
        {{/each}}
    </ul>
</section>
{{#if includeFooter}}
<footer>
    <button class="js-test-paging-list-first-btn" {{action "first"}} disabled={{is-equal pageNumber 1}}>&lt;&lt;</button>
    <button {{action "prev"}} disabled={{is-equal pageNumber 1}}>&lt;</button>
    {{#if pages}}
        {{input type=text size=4 maxlength=8 value=pageNumberUserInput enter="updatePageNumberUserInput"}} of {{pages}}
    {{/if}}
    <button {{action "next"}} disabled={{is-equal pageNumber pages}}>&gt;</button>
    <button class="js-test-paging-list-last-btn" {{action "last"}} disabled={{is-equal pageNumber pages}}>&gt;&gt;</button>
</footer>
{{/if}}
