<nav class="rsa-investigate__nav">
  <div class="rsa-nav-tab-group">
    {{#each tabs as |tab|}}
      {{#rsa-nav-tab align='left' compact=true isActive=tab.isActive}}
        {{#if tab.isActive}}
          {{#if (eq tab.name 'investigate.investigate-events')}}
            <a href={{tab.url}}>{{t tab.localeKey}}</a>
          {{else if (eq tab.name 'investigate.investigate-hosts')}}
            {{#link-to 'hosts.index' (query-params machineId=null tabName=null sid=null)}}
              {{t tab.localeKey}}
            {{/link-to}}
          {{else if (eq tab.name 'investigate.investigate-files')}}
            {{#link-to 'files.index' (query-params sid=null checksum=null)}}
              {{t tab.localeKey}}
            {{/link-to}}
          {{else if (eq tab.name 'investigate.investigate-users')}}
            <a href={{tab.url}}>{{t tab.localeKey}}</a>
          {{else}}
            <a href='#'>{{t tab.localeKey}}</a>
          {{/if}}
        {{else if tab.isClassic}}
          <a href={{tab.url}} class={{concat 'js-test-investigate-'tab.label '-classic'}}>{{t tab.localeKey}}</a>
        {{else}}
          {{#link-to-external tab.name class=(concat 'js-test-investigate-' tab.name '-classic')}}
            {{t tab.localeKey}}
          {{/link-to-external}}
        {{/if}}
      {{/rsa-nav-tab}}
    {{/each}}
  </div>

  <div class="investigate-controls">
    {{yield iconBar}}
  </div>
</nav>
{{license-banner}}
{{yield main}}
