<header class="rsa-investigate-timeline__header">
  <h2>{{t "investigate.events.title"}}</h2>
</header>
<section class="rsa-investigate-timeline__body">
  {{#rsa-chart data=chartData margin=chartMargin xProp=xProp yProp=yProp as |data xScale yScale graphWidth graphHeight|}}
    {{rsa-chart-grids xScale=xScale yScale=yScale width=graphWidth height=graphHeight}}
    {{rsa-line-series data=data dataIndex=1 xScale=xScale yScale=yScale xProp=xProp yProp=yProp}}
    {{rsa-line-series data=data dataIndex=0 xScale=xScale yScale=yScale xProp=xProp yProp=yProp}}
    {{rsa-x-axis height=graphHeight scale=xScale}}
    {{rsa-y-axis scale=yScale}}
  {{/rsa-chart}}
</section>
