<header class="rsa-investigate-timeline__header">
  <h2>{{t "investigate.events.title"}}</h2>
</header>
<section class="rsa-investigate-timeline__body">
  {{#rsa-chart
    data=chartData
    margin=chartMargin
    xScaleFn=xScaleFn
    xDomain=xDomain
    xProp=xProp
    yProp=yProp as |params|
  }}
    {{rsa-chart-grids
      xScale=params.xScale
      yScale=params.yScale
      yTickCount=6
      width=params.graphWidth
      height=params.graphHeight
    }}
    {{rsa-line-series
      data=params.data
      dataIndex=0
      xScale=params.xScale
      yScale=params.yScale
      xProp=xProp
      yProp=yProp
      duration=params.duration
    }}
    {{rsa-x-axis
      height=params.graphHeight
      scale=params.xScale
      tickFormat=tickformat
      duration=params.duration
    }}
    {{rsa-y-axis
      scale=params.yScale
      tickCount=6
      duration=params.duration
    }}
  {{/rsa-chart}}
</section>
