{{#rsa-explorer class="usm-groups"
  noResultsMessage=(or noResultsMessage (t 'adminUsm.groups.list.noResultsMessage'))
  columns=columns
  reduxSpace='usm.groups'
  creators=creators as |explorer|}}

  {{#explorer.toolbar toolbarControlsComponent='usm-groups/groups/toolbar' as |toolbar|}}
    {{toolbar.toolbarControls}}
  {{/explorer.toolbar}}

  {{#explorer.filters filterControlsComponent='usm-groups/groups/filters' hasTimeFilter=false as |filters|}}
    {{filters.filterControls}}
  {{/explorer.filters}}

  {{#explorer.table as |row|}}
    {{#row.cell as |item index column|}}
      <span class={{concat 'usm-groups-column-' column.field}}>
        {{#if (eq column.dataType 'checkbox') }}
          <label class="rsa-form-checkbox-label {{if (contains item.id explorer.instance.itemsSelected) 'checked'}}">
            {{rsa-form-checkbox checked=(contains item.id explorer.instance.itemsSelected) change=(action explorer.select item)}}
          </label>
        {{else if (eq column.field "name")}}
          {{#rsa-text-with-tooltip value=(get item column.field) style="standard"}}
            <div class="table-cell-text">{{get item column.field}}</div>
          {{/rsa-text-with-tooltip}}
        {{else if (eq column.field "description")}}
          {{#rsa-text-with-tooltip value=(get item column.field) style="standard"}}
            <div class="table-cell-text">{{get item column.field}}</div>
          {{/rsa-text-with-tooltip}}
        {{else if (eq column.field "publishStatus")}}
          {{#if (eq item.lastPublishedOn 0)}}
            <p class="status-unpublished">{{t 'adminUsm.publishStatus.unpublished'}}</p>
          {{else}}
            {{#if item.dirty}}
              <p class="status-unpublished-edits">{{t 'adminUsm.publishStatus.unpublishedEdits'}}</p>
            {{else}}
              {{t 'adminUsm.publishStatus.published'}}
            {{/if}}
          {{/if}}
        {{else if (eq column.field "assignedPolicies")}}
          <ul class='inline-csv-list'>
            {{#each-in item.assignedPolicies as |policytype policy|}}
              <li>{{policy.name}}</li>
            {{else}}
              <p class="status-noassigned-policies">{{t 'adminUsm.groups.list.noAssignedPolicies'}}</p>
            {{/each-in}}
          </ul>          
        {{else if (eq column.field "sourceType")}}
          <ul class='inline-csv-list'>
            {{#each-in item.assignedPolicies as |policy|}}
              <li>{{t (concat 'adminUsm.policyTypes.' policy)}}</li>
            {{else}}
              <p class="status-noassigned-policies">{{t 'adminUsm.groups.list.noAssignedPolicies'}}</p>
            {{/each-in}}
          </ul>          
        {{else if (eq column.field "sourceCount")}}
          {{#usm-groups/groups/source-count
            item=item}}            
          {{/usm-groups/groups/source-count}}
        {{else}}
          {{get item column.field}}
        {{/if}}
      </span>
    {{/row.cell}}
  {{/explorer.table}}

  {{#explorer.inspector
    inspectorHeaderComponent='usm-groups/groups/inspector/header'
    inspectorContentComponent='usm-groups/groups/inspector'
    hasInspectorToolbar=false as |inspector|}}
    {{inspector.inspectorHeader}}
    {{inspector.inspectorContent}}
  {{/explorer.inspector}}

{{/rsa-explorer}}
