{{#rsa-explorer
  columns=columns
  reduxSpace='usm.groups'
  creators=creators as |explorer|}}

  {{#explorer.toolbar toolbarControlsComponent='usm-groups/groups/toolbar' as |toolbar|}}
    {{toolbar.toolbarControls}}
  {{/explorer.toolbar}}

  {{#explorer.filters filterControlsComponent='usm-groups/groups/filters' hasTimeFilter=false as |filters|}}
    {{filters.filterControls}}
  {{/explorer.filters}}

  {{#explorer.table as |row|}}
    {{#row.cell as |item index column|}}
      {{#if (eq column.dataType 'checkbox') }}
        <label class="rsa-form-checkbox-label {{if (contains item.id explorer.instance.itemsSelected) 'checked'}}">
          {{rsa-form-checkbox checked=(contains item.id explorer.instance.itemsSelected) change=(action explorer.select item)}}
        </label>
      {{else if (eq column.field "polices")}}
        {{#each item.policies as |policy index|}}
          {{#if (not-eq index 0)}},  {{/if}}{{policy.name}}
        {{/each}}
      {{else if (eq column.field "sourceTypes")}}
        {{#each item.policies as |policy index|}}
          {{#if (not-eq index 0)}},  {{/if}}{{policy.type}}
        {{/each}}
      {{else}}
        {{get item column.field}}
      {{/if}}
    {{/row.cell}}
  {{/explorer.table}}

 {{#explorer.inspector
    inspectorHeaderComponent='usm-groups/groups/inspector/header'
    inspectorContentComponent='usm-groups/groups/inspector' as |inspector|}}
  {{/explorer.inspector}}

{{/rsa-explorer}}
