<div class="border-panel top-margin">
  <vbox>
    {{#each visibleParams as |param|}}
      <div class="bottom-margin">
        {{tree-view-operation-parameter param=param paramUpdateAction=(action 'updateParams')}}
      </div>
    {{/each}}
    <hr class="dim-separator">
    {{#power-select
      placeholder="Add a parameter..."
      options=hiddenParamNames
      searchPlaceholder="Type to filter parameters"
      onchange=(action 'newParam') as |option|}}
      {{option}}
    {{/power-select}}
    <div class="bottom-margin">
      {{#if pendingCustomParameter}}
        <div class="border-panel">
          <div class="bottom-margin">
            <label class="rsa-form-label power-select">
              <div class="label-text">
                Custom Operation Type
              </div>

              {{#power-select
                placeholder="Type"
                options=operationTypes
                selected=pendingCustomParameter.type
                searchPlaceholder="Type to filter types"
                onchange=(action 'selectCustomParamType') as |option|}}
                {{option}}
              {{/power-select}}
            </label>
          </div>

          <div class="bottom-margin">
            {{rsa-form-input label="Custom Parameter Name" placeholder="Paramater Name" value=pendingCustomParameter.name focusOut=(action 'updateDisplayName')}}
          </div>

          <hbox class="bottom-margin flex-space-between">
            {{#rsa-form-button defaultAction=(action 'pushAndClearParam' pendingCustomParameter) style='primary'}}Add{{/rsa-form-button}}
            {{#rsa-form-button defaultAction=(action 'cancelCustomParameter')}}Cancel{{/rsa-form-button}}
          </hbox>
        </div>
      {{else}}
      {{/if}}
    </div>
    <hbox class="bottom-margin flex-space-between">
      {{#if doesNotHavePermission}}
        <box title={{operationRoleText}}>
          {{#rsa-form-button defaultAction=(action 'sendOperation' operationMessageObject) isDisabled=true style='primary'}}Send{{/rsa-form-button}}        
        </box>
      {{else}}
        {{#rsa-form-button defaultAction=(action 'sendOperation' operationMessageObject) style='primary'}}Send{{/rsa-form-button}}        
      {{/if}}
      {{#rsa-form-button defaultAction=(action 'cancelOperation') isDisabled=(if hasPendingOperation false true)}}Cancel{{/rsa-form-button}}
    </hbox>
    {{#if operationHelp}}
      <h1 class="small-header">Help for "{{selectedOperation.name}}"</h1>
      <div class="scroll-box border-panel help-box bottom-margin padding">
        <p>{{operationHelpText}}</p>
        {{#if operationManual}}
          <hr>
          {{#if operationManualVisible}}
            <hbox justify="between">
              <a {{action 'toggleOperationManualVisibility'}} class="manual-toggle">Hide manual</a>
              <a {{action 'toggleOperationManualWrap'}} class="manual-toggle">Toggle word wrap</a>
            </hbox>
            <pre class="operation-manual{{if operationManualWrap ' operation-manual-wrap'}}">
              {{operationManual}}
            </pre>
          {{else}}
            <a {{action 'toggleOperationManualVisibility'}} class="manual-toggle">Show extended manual</a>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </vbox>
</div>
