<div class="incident-buttons">
  <div class="create-incident-button">
    {{#rsa-form-button
        isDisabled=isDisabled
        defaultAction=(action 'createIncident')}}
      {{t 'respond.alerts.createIncident'}}
    {{/rsa-form-button}}
  </div>
  <div class="add-to-incident-button">
    {{#rsa-form-button
        isDisabled=isDisabled
        defaultAction=(action 'addToIncident')}}
      {{t 'respond.alerts.addToIncident'}}
    {{/rsa-form-button}}
  </div>
</div>

<div class="incident-dropdown">
  <hbox class="rsa-button-group">
    {{#rsa-form-button isDisabled=isDisabled}}
      <a {{action 'createIncident'}} class="create-incident-list-item">{{t 'respond.alerts.createIncident'}}</a>
    {{/rsa-form-button}}
    {{#click-outside action=(action "clickOutside")}}
      {{#rsa-form-button class="rsa-split-dropdown" isDisabled=isDisabled isActive=isExpanded defaultAction=(action 'toggleExpand')}}
        {{rsa-icon name="arrow-down-12"}}
      {{/rsa-form-button}}
      {{#rsa-button-menu isExpanded=isExpanded style=offsetsStyle}}
        <li><a {{action 'createIncident'}} class="create-incident-list-item">{{t 'respond.alerts.createIncident'}}</a></li>
        <li><a {{action 'addToIncident'}} class="add-to-incident-list-item">{{t 'respond.alerts.addToIncident'}}</a></li>
      {{/rsa-button-menu}}
    {{/click-outside}}
  </hbox>
</div>

{{#if (eq activeModalId 'create-incident')}}
  {{#rsa-application-modal eventId='create-incident' label=(t "respond.alerts.createIncident") style="standard create-incident-modal"}}
    <div class='modal-content'>
      {{incident-toolbar/create-incident
        priorityTypes=priorityTypes
        enabledUsers=enabledUsers
        groupedCategories=groupedCategories
        alertCount=alertIds.length
        createIncident=createIncident
        close=(action 'closeModal' 'create-incident')}}
    </div>
  {{/rsa-application-modal}}
{{/if}}
{{#if (eq activeModalId 'add-to-incident')}}
  {{#rsa-application-modal eventId='add-to-incident' label=(t "respond.alerts.addToIncident") style="standard add-to-incident-modal" onClose=clearResults}}
    <div class='modal-content'>
      {{incident-toolbar/add-to-incident
        sortBy=sortBy
        isSortDescending=isSortDescending
        incidentSearchStatus=incidentSearchStatus
        incidentSearchResults=incidentSearchResults
        selectedIncident=selectedIncident
        hasSearchQuery=hasSearchQuery
        isAddToAlertsUnavailable=isAddToAlertsUnavailable
        searchIncident=searchIncident
        selectIncident=selectIncident
        addtoIncident=addtoIncident
        sortIncident=sortIncident
        finish=(action 'closeModal' 'add-to-incident')}}
    </div>
  {{/rsa-application-modal}}
{{/if}}
