{{#rsa-content-tethered-panel-trigger
  panel=panelId
  triggerEvent='click'
}}
  {{#rsa-form-button
    allowToggleActive=true
    title=selectedTimeRangeName
    class='time-selector'
    withDropdown=true
  }}  
    {{rsa-icon style='lined' name='clock-2'}}
    {{query-container/time-range}}
  {{/rsa-form-button}}
{{/rsa-content-tethered-panel-trigger}}
{{#rsa-content-tethered-panel
  displayCloseButton=false
  isPopover=true
  panelId=panelId
  position='bottom-right'
  as |hideTooltip|
}}
  <ul class="rsa-dropdown-action-list" {{action hideTooltip}}>
    {{#each timeRanges as |range|}}
      <li {{action 'setQueryTimeRange' range}}>{{range.name}}</li>
    {{/each}}
  </ul>
{{/rsa-content-tethered-panel}}
