{{#rsa-content-section-header label='Section Heading'}}{{t 'context.lc.identity'}}{{/rsa-content-section-header}}
<hbox>
  <vbox>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.asn') value=liveConnectData.asnNumber}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.registrant') value=liveConnectData.asnOrganization}}
    </div>
  </vbox>
  <vbox>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.countryCode') value=liveConnectData.countryCode}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.countryName') value=liveConnectData.country}}
    </div>
  </vbox>
</hbox>