{{#rsa-content-section-header label='Section Heading'}}{{t 'context.lc.identity'}}{{/rsa-content-section-header}}
<hbox>
  <vbox>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.asn') value=liveConnectData.asn}}
    </div>
    <vbox class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition class="rsa-context-panel__liveconnect__prefix" label=(t 'context.lc.prefix') value=liveConnectData.prefix}}
    </vbox>
  </vbox>
  <vbox>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.countryCode') value=liveConnectData.countryCode}}
    </div>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.countryName') value=liveConnectData.country}}
    </div>
  </vbox>
  <vbox>
    <div class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.registrant') value=liveConnectData.registrant}}
    </div>
    <vbox class="rsa-context-panel__liveconnect__field">
      {{rsa-content-definition label=(t 'context.lc.fileDate')}}
      {{rsa-content-datetime timestamp=liveConnectData.fileDate}}
    </vbox>
  </vbox>
</hbox>