{{#if (eq hasAlerts true)}}
  {{entity-details-container/body/alert-details/header}}
  {{entity-details-container/body/alert-details/details}}
  {{entity-details-container/body/alert-details/indicators}}
{{else}}
  <div class='entity-details_loader'>
    {{#if (eq alertError true)}}
      {{t 'investigateUsers.alerts.errorDetails'}}
    {{else}}
      {{rsa-loader size="medium" label=(t 'investigate.loading')}}
    {{/if}}
  </div>
{{/if}} 