<div class="property-item">
  <div class="property-name rsa-font-navigation-small">{{propertyName}}</div>
  <div class="property-value">
    {{#if (eq type 'bytes')}}
      {{ngcoreui-memsize size=propertyValue}}
    {{else if (eq type 'numeric')}}
      {{ngcoreui-formatted-number size=propertyValue}}
    {{else}}
      {{propertyValue}}
    {{/if}}
  </div>
</div>
