<div>
  {{! Incident ID}}
  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.incidentId'}}:</label>
    <span>{{#link-to "incident" info.incidentId}}{{info.incidentId}}{{/link-to}}</span>
  </div>

  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.createdDate'}}:</label>
    <span>{{rsa-content-datetime timestamp=info.created displayTime=true displayMilliseconds=false}}</span>
  </div>

  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.lastUpdated'}}:</label>
    <span>{{rsa-content-datetime timestamp=info.lastUpdated displayTime=true displayMilliseconds=false}}</span>
  </div>
  
  {{! Priority}}
  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.priority'}}:</label>
    <div class="edit-button">
      {{#power-select
        options=priorityTypes
        selected=info.priority
        matchTriggerWidth=false
        searchEnabled=false
        triggerComponent=(component "respond-common/button-trigger"
          label=(t (concat 'respond.priority.' info.priority)))
        onchange=(action 'selectionChange' info.id 'priority') as |option|}}
        {{t (concat 'respond.priority.' option)}}
      {{/power-select}}
    </div>
  </div>

  {{! Status}}
  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.status'}}:</label>
    <div class="edit-button">
      {{#power-select
        options=remediationStatusTypes
        selected=info.status
        matchTriggerWidth=false
        searchEnabled=false
        triggerComponent=(component "respond-common/button-trigger"
          label=(t (concat 'respond.status.' info.status)))
        onchange=(action 'selectionChange' info.id 'status') as |option|}}
        {{t (concat 'respond.status.' option)}}
      {{/power-select}}
    </div>
  </div>

  {{! Escalated}}
  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.escalated'}}:</label>
    <span>{{if info.escalated (t 'respond.common.yes') (t 'respond.common.no')}}</span>
  </div>

  {{! Assignee}}
  <div class="metadata assignee">
    <label>{{t 'respond.remediationTasks.list.assignee'}}:</label>
    <span>
      {{respond-common/editable-field
        value=(readonly info.assignee)
        placeholder=(unless info.assignee (t 'respond.assignee.none'))
        onFieldChange=(action 'editableFieldChange' info.id 'assignee')
      }}
    </span>
  </div>

  {{! Description}}
  <div class="text description">
    <label>{{t 'respond.remediationTasks.list.description'}}</label>
    {{respond-common/editable-field
      type='textarea'
      value=(readonly info.description)
      placeholder=(t 'respond.remediationTasks.noDescription')
      onFieldChange=(action 'editableFieldChange' info.id 'description')
    }}
  </div>

</div>
