<div>
  {{! Incident ID}}
  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.incidentId'}}:</label>
    <span>{{#link-to "incident" info.incidentId}}{{info.incidentId}}{{/link-to}}</span>
  </div>

  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.createdDate'}}:</label>
    <span>{{rsa-content-datetime timestamp=info.created displayTime=true displayMilliseconds=false}}</span>
  </div>

  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.lastUpdated'}}:</label>
    <span>{{rsa-content-datetime timestamp=info.lastUpdated displayTime=true displayMilliseconds=false}}</span>
  </div>

  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.targetQueue'}}:</label>
    <span>
      {{if info.targetQueue (t (concat 'respond.remediationTasks.targetQueue.' info.targetQueue)) ''}}
    </span>
  </div>

  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.remediationType'}}:</label>
    {{#if remediationTypeOptions.length}}
      <div class="edit-button">
        {{#power-select
          options=remediationTypeOptions
          selected=info.remediationType
          matchTriggerWidth=false
          searchEnabled=false
          triggerComponent=(component "respond-common/button-trigger"
            label=(t (concat 'respond.remediationTasks.type.' info.remediationType)))
          onchange=(action 'update' info.id 'remediationType') as |option|}}
          {{t (concat 'respond.remediationTasks.type.' option)}}
        {{/power-select}}
      </div>
    {{else}}
      <span>{{info.remediationType}}</span>
    {{/if}}
  </div>

  {{! Priority}}
  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.priority'}}:</label>
    <div class="edit-button">
      {{#power-select
        options=priorityTypes
        selected=info.priority
        matchTriggerWidth=false
        searchEnabled=false
        triggerComponent=(component "respond-common/button-trigger"
          label=(t (concat 'respond.priority.' info.priority)))
        onchange=(action 'update' info.id 'priority') as |option|}}
        {{t (concat 'respond.priority.' option)}}
      {{/power-select}}
    </div>
  </div>

  {{! Status}}
  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.status'}}:</label>
    <div class="edit-button">
      {{#power-select
        options=remediationStatusTypes
        selected=info.status
        matchTriggerWidth=false
        searchEnabled=false
        triggerComponent=(component "respond-common/button-trigger"
          label=(t (concat 'respond.status.' info.status)))
        onchange=(action 'update' info.id 'status') as |option|}}
        {{t (concat 'respond.status.' option)}}
      {{/power-select}}
    </div>
  </div>

  {{! Escalated}}
  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.escalated'}}:</label>
    <span>{{if info.escalated (t 'respond.common.yes') (t 'respond.common.no')}}</span>
  </div>

  {{! Assignee}}
  <div class="metadata">
    <label>{{t 'respond.remediationTasks.list.assignee'}}:</label>
    <span>{{if info.assignee info.assignee (t 'respond.assignee.none')}}</span>
  </div>

  {{! Description}}
  <div class="text">
    <label>{{t 'respond.remediationTasks.list.description'}}</label>
    {{#if info.description}}
      {{info.description}}
    {{else}}
      <i>{{t 'respond.remediationTasks.noDescription'}}</i>
    {{/if}}
  </div>

</div>
