<vbox>
  <div class="scroll-box">
    <form class="live-search" autocomplete="off" {{action "preventDefault" on="submit"}}>

      <hbox>
        <vbox class="col-xs-12">
          <section class="advanced-toggle">

            <label class="switch small">
              <input type="checkbox" checked={{isChecked}} onclick={{action "toggleAdvanced" value="target.checked"}} >
              <div class="slider round"></div>
            </label>
            <span class="advanced-toggle-label">{{t 'live.search.advanced'}}</span>
          </section>
        </vbox>
      </hbox>

      <hbox>
        <vbox class="col-xs-12">
          <label class="rsa-form-input">
            <span class="rsa-form-label">{{t 'live.search.fields.keywords'}}</span>

            {{input
              class="search-box"
              type="input"
              value=selectedKeywords
              change=(action "handleTextChange")
              key-up=(action "handleTextChange" ) }}

            <button class="clear-input-icon" type="reset" {{action "reset"}}></button>
          </label>
        </vbox>
      </hbox>
      <section class="advanced-search">
        <section class="advanced-fields">
          <hbox>
            <vbox class="col-xs-12">
              <label class="rsa-form-label is-small power-select live-search-form-resource-type">
                <div class="label-text">
                  {{t 'live.search.fields.resourceType'}}
                </div>
                {{#power-select-multiple
                  options=(readonly resourceTypes)
                  selected=selectedResourceType
                  searchField="title"
                  onchange=(action "handleSelectionChange" "selectedResourceType") as |resourceType|}}

                  {{resourceType.title}}

                {{/power-select-multiple}}
              </label>
            </vbox>
          </hbox>
          <hbox>
            <vbox class="col-xs-12">
              <label class="rsa-form-label is-small power-select live-search-form-medium">
                <div class="label-text">
                  {{t 'live.search.fields.medium'}}
                </div>
                {{#power-select-multiple
                  options=media
                  selected=selectedMedium
                  onchange=(action "handleSelectionChange" "selectedMedium") as |medium|}}

                  {{medium}}

                {{/power-select-multiple}}
              </label>
            </vbox>
          </hbox>
          <hbox>
            <vbox class="col-xs-12">
              <label class="rsa-form-label is-small power-select live-search-form-meta-keys">
                <div class="label-text">
                  {{t 'live.search.fields.requiredMetaKeys'}}
                </div>
                {{#power-select-multiple
                  options=metaKeys
                  selected=selectedMetaKeys
                  onchange=(action "handleSelectionChange" "selectedMetaKeys") as |key|}}

                  {{key}}

                {{/power-select-multiple}}
              </label>
            </vbox>
          </hbox>

          <hbox>
            <vbox class="col-xs-12">
              <label class="rsa-form-label is-small power-select live-search-form-meta-values">
                <div class="label-text">
                  {{t 'live.search.fields.generatedMetaValues'}}
                </div>
                {{#power-select-multiple
                  options=metaValues
                  selected=selectedMetaValues
                  onchange=(action "handleSelectionChange" "selectedMetaValues") as |value|}}

                  {{value}}

                {{/power-select-multiple}}
              </label>
            </vbox>
          </hbox>
          <hbox>
            <vbox class="col-xs-6">
              {{rsa-form-datetime label='Created From Date' placeholder="Start" }}
            </vbox>
            <vbox class="col-xs-6">
              {{rsa-form-datetime label='Created To Date' placeholder="End" }}
            </vbox>
          </hbox>
          <hbox>
            <vbox class="col-xs-6">
              {{rsa-form-datetime label='Updated From Date' placeholder="Start" }}
            </vbox>
            <vbox class="col-xs-6">
              {{rsa-form-datetime label='Updated To Date' placeholder="End" }}
            </vbox>
          </hbox>
        </section>
      </section>
      <section class="categories">
        <span class="rsa-form-label">{{t 'live.search.fields.categories'}}</span>
        {{rsa-tree
          nodes=categories
          expanded=false
          hasSelectableNodes=true
          nodeChildrenProperty="subCategories"
          nodeDisplayNameProperty="title"
          nodeValueProperty="title"
          onchange="onChangeCategory"}}
      </section>

      {{yield}}
    </form>
  </div>
</vbox>
