<div class="rsa-button-group panel-control-group">
  <label class="rsa-form-label power-select snapshot-select">
    <span class="label-text snap-shot-text">{{t 'investigateHosts.hosts.summary.snapshotTime'}}</span>
    {{#power-select
      searchEnabled=false
      triggerClass="inline"
      options=snapShots
      selected=scanTime
      onchange=(action 'setSelect') as |option|}}
      {{#if option}}
        {{rsa-content-datetime timestamp=option }}
      {{/if}}
    {{/power-select}}
  </label>
</div>
<div class="divider"/>
<hbox class="rsa-button-group host-action-buttons">
  <div class="action-button">
    {{host-scan/scan-command
      modalTitle=(t 'investigateHosts.hosts.initiateScan.modal.modalTitle' name=hostName)
      command='START_SCAN'}}
  </div>
  <div class="action-button ecatUI">
    {{#rsa-form-button
      click=(action 'openInAction')}}
      {{t 'investigateHosts.hosts.moreActions.openIn'}}
    {{/rsa-form-button}}
  </div>
  <div class="action-button">
    {{#if isJsonExportCompleted}}
      <span title="{{t 'investigateHosts.hosts.button.exportTooltip'}}">
        {{#rsa-form-button
          click=(action 'export')
          isDisabled=isExportDisabled}}
          {{t 'investigateHosts.hosts.button.export'}}
        {{/rsa-form-button}}
      </span>
    {{else}}
      {{#rsa-form-button isDisabled=true}}
        {{rsa-loader}} {{t 'investigateHosts.hosts.button.downloading'}}
      {{/rsa-form-button}}
    {{/if}}
  </div>
</hbox>
<iframe src="{{downloadLink}}" class="host_export-files-iframe"></iframe>
