{{#if isActive}}
  {{rsa-form-input
    value=(readonly pillData.searchTerm)
    spellcheck=false
    onKeyDown=(action 'onKeyDown')
  }}
{{else}}
  {{rsa-icon
    name='search'
    class='is-text-pill'
    title='Text Filter'
  }}
  <span class='text-wrapper'>
    {{pillData.searchTerm}}
  </span>
  {{query-container/delete-pill
    sendMessage=(action 'handleMessage')
  }}
  {{#if isFocused}}
    {{query-container/focus-holder
      sendMessage=(action 'handleMessage')
    }}
  {{/if}}
{{/if}}
