{{#if isActive}}
  <span class="shadow-text">{{text}}</span>
  <input
    autocomplete="off"
    oninput={{action "handleInput"}}
    onkeydown={{action "onKeyDown"}}
    role="input"
    type="text"
    value={{text}}>
{{else}}
  {{rsa-icon
    name='search'
    class='is-text-pill'
    title='Text Filter'
  }}
  <span class='text-wrapper'>
    {{pillData.searchTerm}}
  </span>
  {{query-container/delete-pill
    sendMessage=(action 'handleMessage')
  }}
  {{#if isFocused}}
    {{query-container/focus-holder
      sendMessage=(action 'handleMessage')
    }}
  {{/if}}
{{/if}}
