<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category}}
      {{#spec-member title="Default"}}
        {{rsa-content-datetime timestamp=1464108661196}}
        {{!-- BEGIN-SNIPPET datetime1
        {{rsa-content-datetime timestamp=1464108661196}}
        END-SNIPPET --}}
        {{code-snippet name="datetime1.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Date Only"}}
        {{rsa-content-datetime timestamp=1464108661196 displayTime=false}}
        {{!-- BEGIN-SNIPPET datetime2
        {{rsa-content-datetime timestamp=1464108661196 displayTime=false}}
        END-SNIPPET --}}
        {{code-snippet name="datetime2.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Time Only"}}
        {{rsa-content-datetime timestamp=1464108661196 displayDate=false}}
        {{!-- BEGIN-SNIPPET datetime3
        {{rsa-content-datetime timestamp=1464108661196 displayDate=false}}
        END-SNIPPET --}}
        {{code-snippet name="datetime3.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Time Ago"}}
        {{rsa-content-datetime timestamp=1464108661196 asTimeAgo=true}}
        {{!-- BEGIN-SNIPPET datetime4
        {{rsa-content-datetime timestamp=1464108661196 asTimeAgo=true}}
        END-SNIPPET --}}
        {{code-snippet name="datetime4.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Date and Time Ago"}}
        {{rsa-content-datetime timestamp=1464108661196 withTimeAgo=true}}
        {{!-- BEGIN-SNIPPET datetime5
        {{rsa-content-datetime timestamp=1464108661196 withTimeAgo=true}}
        END-SNIPPET --}}
        {{code-snippet name="datetime5.hbs"}}
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
