<div class='user-overview-tab_title'>
  {{t 'investigateUsers.alerts.all'}}
</div>
<div class='user-overview-tab_lower_alerts_graph'>
  {{#if alertsTimeline}}
    <svg width="100%" height="100%" id='alertTimeline'></svg>
  {{else}}
    <center class='center'>
      {{#if alertsForTimelineError}}
        {{t (concat 'investigateUsers.errorMessages.' alertsForTimelineError)}}
      {{else}}
        {{rsa-loader size="medium" label=(t 'investigate.loading')}}
      {{/if}}
    </center>
  {{/if}}
</div>