{{context-panel/ds-header contextData=contextData dSDetails=liveConnectDsDetails}}

{{#if liveConnectError}}
  <div class="rsa-context-panel__liveconnect__field">{{t 'context.lc.errorMsg' error=liveConnectError}}</div>
{{else if showContextPanel}}
  {{#if (eq contextData.liveConnectData null)}}
    <div class="rsa-context-panel__liveconnect__heading">{{t 'context.lc.noDataMsg'}}</div>
  {{else if contextData.liveConnectData.allTags}}
    <div>
      {{#if (is-equal model.meta 'IP')}}
        {{context-panel/live-connect/lc-community-activity
        liveConnectData=contextData.liveConnectData.IpReputation
        model=model
        allTags=contextData.liveConnectData.allTags
        allReasons=contextData.liveConnectData.allReasons}}
        {{context-panel/live-connect/lc-identity liveConnectData=contextData.liveConnectData.IpInfo}}
      {{else if (is-equal model.meta 'FILE_HASH')}}
        {{context-panel/live-connect/lc-community-activity
        liveConnectData=contextData.liveConnectData.FileReputation
        model=model
        allTags=contextData.liveConnectData.allTags
        allReasons=contextData.liveConnectData.allReasons}}
        {{context-panel/live-connect/lc-file-identity liveConnectData=contextData.liveConnectData.FileInfo}}
        {{context-panel/live-connect/lc-certificate-info liveConnectData=contextData.liveConnectData.FileInfo}}
      {{else if (is-equal model.meta 'DOMAIN')}}
        {{context-panel/live-connect/lc-community-activity
        liveConnectData=contextData.liveConnectData.DomainReputation
        model=model
        allTags=contextData.liveConnectData.allTags
        allReasons=contextData.liveConnectData.allReasons}}
        {{context-panel/live-connect/lc-domain-identity liveConnectData=contextData.liveConnectData.DomainInfo}}
        {{context-panel/live-connect/lc-domain-whois liveConnectData=contextData.liveConnectData.DomainInfo}}
      {{/if}}
      {{#each lcColumnList as |columns|}}
        {{#if (get contextData  columns.dataStore)}}
          <div class="rsa-application-layout-panel rsa-context-panel__liveconnect__heading">{{t columns.title}}&#40;{{get contextData columns.header}}&#41;</div>
          {{context-panel/data-table contextData=(get contextData columns.dataStore) dSDetails=columns}}
        {{/if}}
      {{/each}}
      <br><br>
    </div>
  {{/if}}
{{/if}}
