<div class="console-content">
  <div>
    <div class="service">
      <span class="label">{{t 'investigate.queryStats.queried'}}</span>
      <span class="value">{{selectedService.displayName}}</span>
    </div>

    <div class="timerange">
      <span class="label">{{t 'investigate.queryStats.between'}}</span>
      <span class="value">{{formattedStartDate}} - {{formattedEndDate}}</span>
    </div>
  </div>

  {{#if filters.length}}
    <code>{{filters}}</code>
  {{/if}}

  {{#if warnings.length}}
    <ul class="warnings">
      {{#each warnings as |w|}}
        {{query-container/console-panel/warning message=w.warning service=w.serviceName}}
      {{/each}}
    </ul>
  {{/if}}

  <div>
    <div class="progress">
      <span class="label">{{t 'investigate.queryStats.progress'}}</span>
      <span class="value">
        {{#if isComplete}}
          {{t 'investigate.queryStats.complete'}}
        {{else}}
          {{description}}
        {{/if}}
      </span>
    </div>

    {{#unless isComplete}}
      {{query-container/console-panel/progress-bar}}
    {{/unless}}
  </div>

</div>
