<div class="console-content">
  <div>
    <div class="service">
      <span class="label">{{t 'investigate.queryStats.queried'}}</span>
      <span class="value">{{queriedService.displayName}}</span>
    </div>

    <div class="timerange">
      <span class="label">{{t 'investigate.queryStats.between'}}</span>
      <span class="value">
        <span class="start">
          {{moment-format formattedStartDate format
            locale=i18n.locale
            timeZone=timezone.selected.zoneId
          }}
        </span>
        -
        <span class="end">
          {{moment-format formattedEndDate format
            locale=i18n.locale
            timeZone=timezone.selected.zoneId
          }}
        </span>
      </span>
    </div>
  </div>

  {{#if filters.length}}
    <code>{{filters}}</code>
  {{/if}}

  {{#if hasWarning}}
    <ul class="warnings">
      {{#each warnings as |w|}}
        {{query-container/console-panel/warning message=w.warning service=w.serviceName}}
      {{/each}}
    </ul>
  {{/if}}

  <div class="status-summary">
    <div class="progress">
      <span class="label">{{t 'investigate.queryStats.progress'}}</span>
      <span class="value">
        {{#if isComplete}}
          {{t 'investigate.queryStats.complete'}}
        {{else}}
          {{description}}
        {{/if}}
      </span>
    </div>

    {{#unless isComplete}}
      {{query-container/console-panel/progress-bar}}
    {{/unless}}

    {{#if hasError}}
      <ul class="fatal-errors">
        {{#each errors as |error|}}
          <li>
            {{rsa-icon title=(t 'investigate.queryStats.error') name='report-problem-triangle' size="large"}}
            {{#if error.serviceName}}
              <strong>{{error.serviceName}}:</strong>
            {{/if}}
            <span class="error-text">{{error.error}}</span>
          </li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if devices.length}}
      {{query-container/console-panel/devices}}
    {{/if}}
  </div>
</div>
