<form {{action 'saveUserPreferences' on="submit"}}>
  {{#if session.isAuthenticated}}
    <hbox>
      <vbox xs="12">
        {{rsa-form-input
          value=selectedFriendlyName
          label=(t 'userPreferences.friendlyName')
          class="js-test-friendly-username"}}
      </vbox>
    </hbox>

    <hbox>
      <vbox xs="12">
        <label class="rsa-form-label power-select js-test-default-landing-page-select">
          <div class="label-text">
            {{t 'userPreferences.defaultLandingPage.label'}}
          </div>

          {{#power-select
            options=landingPage.options
            selected=(or pendingLandingPage landingPage.selected)
            searchEnabled=false
            onchange=(action 'setDefaultLandingPage') as |option|}}
            {{t option.label}}
          {{/power-select}}
        </label>
      </vbox>
    </hbox>
  {{/if}}

  <hbox>
    <vbox xs="6">
      <label class="rsa-form-label power-select js-test-language-select">
        <div class="label-text">
          {{t 'userPreferences.language'}}
        </div>

        {{#power-select
          options=locales
          selected=(or pendingLocale i18n.locale)
          searchEnabled=false
          onchange=(action 'setLocale') as |option|}}
          {{t (concat 'languages.' option )}}
        {{/power-select}}
      </label>
    </vbox>

    <vbox xs="6">
      <label class="rsa-form-label power-select js-test-time-zone-select">
        <div class="label-text">
          {{t 'userPreferences.timeZone'}}
        </div>

        {{#power-select
          options=timezone.options
          selected=(or pendingTimezone timezone.selected)
          onchange=(action 'setTimezone') as |option|}}
          {{option}}
        {{/power-select}}
      </label>
    </vbox>
  </hbox>

  <hbox>
    <vbox xs="6">
      <label class="rsa-form-label power-select js-test-date-format-select">
        <div class="label-text">
          {{t 'userPreferences.dateFormat.label'}}
        </div>

        {{#power-select
          options=dateFormat.options
          selected=(or pendingDateFormat dateFormat.selected)
          searchEnabled=false
          onchange=(action 'setDateFormat') as |option|}}
          {{t option.label}}
        {{/power-select}}
      </label>
    </vbox>

    <vbox xs="6">
      <div class="rsa-form-radio-group time-format-radio-group">
        <h4 class="rsa-form-radio-group-label">{{t 'userPreferences.timeFormat.label'}}</h4>
        {{#each timeFormat.options as |option|}}
          {{rsa-form-radio
            label=(t option.label)
            model=selectedTimeFormat
            value=option}}
        {{/each}}
      </div>
    </vbox>
  </hbox>

  {{#if session.isAuthenticated}}
    <hbox>
      <vbox xs="12">
        {{rsa-form-checkbox
          class="js-test-notifications-checkbox"
          label=(t 'userPreferences.notifications')
          value=selectedNotifications}}

        {{rsa-form-checkbox
          class="js-test-context-menus-checkbox"
          label=(t 'userPreferences.contextMenus')
          value=selectedContextMenus}}
      </vbox>
    </hbox>
  {{/if}}

  <hbox>
    <vbox xs="6">
      {{#rsa-form-button
        isFullWidth=true
        class="js-test-revert"
        defaultAction=(action 'revertUserPreferences')}}
        {{t 'forms.reset'}}
      {{/rsa-form-button}}
    </vbox>

    <vbox xs="6">
      {{#rsa-form-button
        class="js-test-apply"
        type="submit"
        isDisabled=withoutChanges
        style="primary"
        isFullWidth=true}}
        {{t 'forms.apply'}}
      {{/rsa-form-button}}
    </vbox>
  </hbox>
</form>
