{{#if isSubmit}}
  <button type={{type}} disabled={{isDisabled}} class="rsa-form-button">
    {{yield}}  
  </button>
{{else}}
  {{#if isSplit}}
    <div class="rsa-form-button">
      {{yield}}  
    </div>
    <button class="expand" {{action 'toggleOptions' on='click'}}>
      {{rsa-icon name="arrow-down-12"}}
    </button>
  {{else}}
    <div class="rsa-form-button">
      {{yield}}  
      <button class="expand">
        {{rsa-icon size="small" name="arrow-down-12"}}
      </button>
    </div>
  {{/if}}
{{/if}}
