<span class="outer-wrapper">
  <span class="inner-wrapper">
    <input type='radio' value={{value}} selected={{isSelected}} disabled={{isDisabled}} tabindex="0" name={{name}}>
  </span>
</span>

{{#if label}}
  <span class="rsa-form-label">{{label}}</span>
{{/if}}