{{#if showFromIP}}
  <div class="from-ip">
    {{#if showToIP}}
      <span class="circle" title={{t 'ipConnections.sourceIp'}}></span>
    {{/if}}
    {{#if multipleFromIPs}}
      {{#rsa-content-tethered-panel-trigger triggerEvent="click" panel=fromIpsId}}
        {{#rsa-form-button allowToggleActive=true withDropdown=true}}
          <span class="ip-count">{{t 'ipConnections.ipCount' count=fromIPs.length}}</span>
        {{/rsa-form-button}}
      {{/rsa-content-tethered-panel-trigger}}
      {{#rsa-content-tethered-panel displayCloseButton=false position='bottom' panelId=fromIpsId}}
        <ul title={{t 'ipConnections.clickToCopy'}} class="from-ip rsa-dropdown-action-list">
          {{#each fromIPs as |ip|}}
            <li class="js-clipboard-trigger" data-clipboard-text="{{ip}}">{{ip}}</li>
          {{/each}}
        </ul>
      {{/rsa-content-tethered-panel}}
    {{else}}
      <span class="ip">{{if fromIPs.length fromIPs.firstObject placeHolder}}</span>
    {{/if}}
  </div>
{{/if}}

{{#if showArrow}}
  {{#if isHorizontal}}
    {{rsa-icon size="small" name="arrow-right-7" class="direction"}}
  {{else}}
    {{rsa-icon size="small" name="arrow-down-7" class="direction"}}
  {{/if}}
{{/if}}

{{#if showToIP}}
  <div class="to-ip">
    {{#if showFromIP}}
      <span class="circle with-color" title={{t 'ipConnections.destinationIp'}}></span>
    {{/if}}
    {{#if multipleToIPs}}
      {{#rsa-content-tethered-panel-trigger triggerEvent="click" panel=toIpsId}}
        {{#rsa-form-button allowToggleActive=true withDropdown=true}}
          <span class="ip-count">{{t 'ipConnections.ipCount' count=toIPs.length}}</span>
        {{/rsa-form-button}}
      {{/rsa-content-tethered-panel-trigger}}
      {{#rsa-content-tethered-panel displayCloseButton=false position='bottom' panelId=toIpsId}}
        <ul title={{t 'ipConnections.clickToCopy'}} class='to-ip rsa-dropdown-action-list'>
          {{#each toIPs as |ip|}}
            <li class="js-clipboard-trigger" data-clipboard-text="{{ip}}">{{ip}}</li>
          {{/each}}
        </ul>
      {{/rsa-content-tethered-panel}}
    {{else}}
      <span class="ip">{{if toIPs.length toIPs.firstObject placeHolder}}</span>
    {{/if}}
  </div>
{{/if}}
