<span title={{concat (t 'application.title') ' ' (t 'application.version')}}>
  {{rsa-logo animated=false}}
</span>

{{#if session.isAuthenticated}}
  {{yield}}
{{/if}}

<div class="global">
  {{#if (and session.isAuthenticated displayPreferences)}}
    {{#rsa-form-button
      defaultAction=(action 'toggleUserPreferences')
      class=(if layoutService.userPreferencesActive 'user-preferences-trigger is-active' 'user-preferences-trigger ')}}
      {{rsa-icon name='account-circle-1' style='lined'}}
      {{timezone.selected.offset}}
    {{/rsa-form-button}}
  {{/if}}

  {{#if contextualHelp.module}}
    {{#rsa-form-button
      isIconOnly=true
      class="global-contextual-help"
      defaultAction=(action 'goToGlobalHelp')}}
      {{rsa-icon name="help-circle" style="lined"}}
    {{/rsa-form-button}}
  {{/if}}
</div>
