{{#if withDropdown}}
  <button class="rsa-form-button" disabled={{isDisabled}}>
    {{yield}}
    {{rsa-icon name="arrow-down-12"}}
  </button>
{{else}}
  {{#if isSubmit}}
    <button type={{type}} disabled={{isDisabled}} class="rsa-form-button">
      {{yield}}
    </button>
  {{else}}
    <button disabled={{isDisabled}} class="rsa-form-button" {{action 'defaultAction' on='click'}}>
      {{yield}}
    </button>
  {{/if}}
{{/if}}
