{{#unless noIPs}}
  {{#if fromIPs.length}}
    <div class="from-ip">
      {{#if multipleFromIPs}}
        {{#rsa-content-help-trigger triggerEvent="click" tooltip=fromIpsId}}
          {{#rsa-form-button allowToggleActive=true withDropdown=true}}
            <span class="circle"></span>
            <span class="ip-count">{{t 'ipConnections.ipCount' count=fromIPs.length}}</span>
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip displayCloseButton=false position='bottom' tooltipId=fromIpsId}}
          <ul title={{t 'ipConnections.clickToCopy'}} class="from-ip rsa-dropdown-action-list">
            {{#each fromIPs as |ip|}}
              <li class="js-clipboard-trigger" data-clipboard-text="{{ip}}">{{ip}}</li>
            {{/each}}
          </ul>
        {{/rsa-content-tooltip}}
      {{else}}
        <span class="circle"></span>
        <span class="ip">{{fromIPs.firstObject}}</span>
      {{/if}}
    </div>
  {{/if}}

  {{#if (and fromIPs.length toIPs.length)}}
    {{#if isHorizontal}}
      {{rsa-icon size="small" name="arrow-right-7" class="direction"}}
    {{else}}
      {{rsa-icon size="small" name="arrow-down-7" class="direction"}}
    {{/if}}
  {{/if}}

  {{#if toIPs.length}}
    <div class="to-ip">
      {{#if multipleToIPs}}
        {{#rsa-content-help-trigger triggerEvent="click" tooltip=toIpsId}}
          {{#rsa-form-button allowToggleActive=true withDropdown=true}}
            <span class="circle"></span>
            <span class="ip-count">{{t 'ipConnections.ipCount' count=toIPs.length}}</span>
          {{/rsa-form-button}}
        {{/rsa-content-help-trigger}}
        {{#rsa-content-tooltip displayCloseButton=false position='bottom' tooltipId=toIpsId}}
          <ul title={{t 'ipConnections.clickToCopy'}} class="to-ip rsa-dropdown-action-list">
            {{#each toIPs as |ip|}}
              <li class="js-clipboard-trigger" data-clipboard-text="{{ip}}">{{ip}}</li>
            {{/each}}
          </ul>
        {{/rsa-content-tooltip}}
      {{else}}
        <span class="circle"></span>
        <span class="ip">{{toIPs.firstObject}}</span>
      {{/if}}
    </div>
  {{/if}}
{{/unless}}
