{{yield}}

{{#if isOpen}}
  {{#ember-wormhole to="modalDestination"}}
    <div class="rsa-application-overlay" {{action 'closeModal'}}></div>

    <div class="rsa-application-modal-content {{style}}">
      <div {{action 'closeModal'}} class="close-modal">
        {{rsa-icon name="close" size="small"}}
      </div>
      <h3>{{label}}</h3>
      {{yield}}
    </div>
  {{/ember-wormhole}}
{{/if}}
