<span class="rsa-form-label">{{label}}</span>
<div class="prompt">
  {{#if values.length}}
    {{#if hasMultipleValues}}
      {{#each humanReadableValues as |value|}}
        <span class="option-tag">
          {{value.label}}
          <span class="remove-tag" {{action 'removeSelection' value.value}}>
            {{rsa-icon name='close'}}  
          </span>
        </span>
      {{/each}}
    {{else}}
      <div {{action (if optionsCollapsed 'displayOptions' 'collapseOptions')}}>
        {{humanReadableValues.firstObject.label}}
      </div>
    {{/if}}
  {{else}}
    <div {{action (if optionsCollapsed 'displayOptions' 'collapseOptions')}}>
      {{#if prompt}}
        {{prompt}}
      {{else}}
        Make a Selection
      {{/if}}
    </div>
  {{/if}}
</div>

<span {{action (if optionsCollapsed 'displayOptions' 'collapseOptions')}}>
  {{rsa-icon name="arrow-down-12" size="smaller"}}
</span>

<select multiple={{multiple}} size={{optionMaxVisible}}>
  {{yield}}
</select>
