<span title={{concat (t 'application.title') ' ' (t 'application.version')}}>
  {{rsa-logo animated=false}}
</span>


{{#if session.isAuthenticated}}
  {{yield}}
{{/if}}

<div class="global">
  {{!-- {{#if session.isAuthenticated}}
    {{#rsa-form-button
      isIconOnly=true
      click=(action 'toggleNotifications')
      class=(if layoutService.notificationsActive 'notifications-panel-trigger is-active' 'notifications-panel-trigger ')}}
      {{rsa-icon
        name="alarm"
        style=(if layoutService.notificationsActive 'filled' 'lined')}}
    {{/rsa-form-button}}
  {{/if}} --}}

  {{#rsa-application-modal
    eventId="userPreferences"
    label=(if session.isAuthenticated (t 'userPreferences.preferencesFor'
    user=usernameFormat.username) (t 'userPreferences.preferences'))}}
    <span class="user-preferences-trigger js-test-user-preferences-modal modal-trigger">
      {{#rsa-form-button isIconOnly=true}}
        {{rsa-icon name='settings-2' style='lined'}}
      {{/rsa-form-button}}

    </span>
    <div class="modal-content">
      {{rsa-application-user-preferences}}
    </div>
  {{/rsa-application-modal}}

  {{#if session.isAuthenticated}}
    {{#rsa-form-button
      isIconOnly=true
      click=(action 'logout')}}
      {{rsa-icon name="logout-1" style="lined"}}
    {{/rsa-form-button}}
  {{/if}}
</div>
