<hbox>
  <vbox xs='8'>
    <div>
      {{#if headerTitle}}
        <span> {{headerTitle}} :</span> {{lookupKey}} 
      {{/if}}
    </div>
  </vbox>
  <vbox xs='4' class="rsa-context-panel-header__header-icons">
    <div>
      <span>
        {{#rsa-form-button
          isIconOnly=true
          defaultAction=(action 'goToHelp' helpId.moduleId helpId.topicId)}}
          {{rsa-icon name="help-circle" style="lined"}}
        {{/rsa-form-button}}
      </span>
      <span class="rsa-context-panel-header__close-icon">
        <button class="rsa-context-panel-header__panel-close" {{action 'closeAction'}} title= {{t 'context.header.closeButton.title'}}>
          {{rsa-icon style='filled' name='close'}}
        </button>
      </span>
    </div>
  </vbox>
</hbox>
<hbox class="rsa-context-panel-header__tab">
  {{#each toolbar as | buttons | }} 
    {{#if (eq buttons.componentName 'add-to-list')}} 
      {{#rsa-form-button defaultAction=(route-action "openContextAddToList" (hash type=meta id=lookupKey)) }} 
        {{t 'context.addToList.title'}}
      {{/rsa-form-button}} 
    {{else if (eq buttons.componentName 'endpoint')}}
      <a href="ecatui://{{lookupKey}}" target="_blank" class='rsa-context-panel__linkButton'>
        {{t 'context.tooltip.ecat'}}
      </a>
    {{else if (eq buttons.componentName 'investigate')}}
      <a href="{{pivotToInvestigateUrl}}" class='rsa-context-panel__linkButton'>
        {{t 'context.tooltip.investigate'}}
      </a>
    {{/if}}
  {{/each}}
</hbox>
