<div class='query-bar-options'>

  {{#if isOnGuided}}
    {{query-container/query-pills executeQuery=executeQuery takeFocus=(unbound takeFocus)}}
  {{/if}}

  {{#if isOnFreeForm}}
    {{query-container/free-form executeQuery=executeQuery takeFocus=(unbound takeFocus)}}
  {{/if}}

  {{!-- TODO: add additional disabled states and uncomment --}}
  {{!-- {{query-container/copy-trigger}} --}}
  {{query-container/console-trigger}}

  {{#if isConsoleOpen}}
    {{query-container/console-panel}}
  {{/if}}
</div>
<div class='query-bar-select-actions'>

  <a class='guided-link'
    title={{t 'investigate.guided.linkTitle'}}
    href='#'
    {{action 'changeView' 'guided'}}
  >
    {{t 'investigate.guided.textLabel'}}
  </a>

  <div class='divider'></div>

  <a class='freeForm-link'
    title={{t 'investigate.freeForm.linkTitle'}}
    href='#'
    {{action 'changeView' 'freeForm'}}
  >
    {{t 'investigate.freeForm.textLabel'}}
  </a>

</div>
