<div class="black-list-options">
  <box>
    <h4 class='rsa-form-radio-group-label blacklist-category-title'>
      {{t 'investigateFiles.editFileStatus.blacklistCategory'}}
    </h4>
    {{#power-select
      searchEnabled=false
      triggerClass="inline"
      options=fileCategories
      onchange=(action 'setFileCategory')
      selected=data.category as |option|}}
      {{option}}
    {{/power-select}}
  </box>
  <box class='radio-controls rsa-form-radio-group' fit>
    <h4 class='rsa-form-radio-group-label remediation-action-title'>
      {{t 'investigateFiles.editFileStatus.remediationActionTitle'}}
    </h4>
    <p class='remediation-action-note'>{{t 'investigateFiles.editFileStatus.remediationActionNote'}}</p>
    {{#if errorDecorator.remediationAlert}}
      <span class='remediation-alert'>
        {{rsa-icon class='rsa-icon-report-problem-triangle-filled'}}
        {{errorDecorator.remediationAlert}}
      </span>
    {{/if}}

    <label class="rsa-form-checkbox-label remediation-action-checkbox {{if errorDecorator.disableBlocking 'disabled'}} {{if isChecked 'checked'}}">
      {{rsa-form-checkbox
        checked=isChecked
        disabled=errorDecorator.disableBlocking
        change=(action "toggleBlocking")}}
      {{t 'investigateFiles.editFileStatus.remediationActionOptions.blockFile'}}
    </label>
  </box>
</div>
