<vbox class="rsa-application-layout-panel-content" xs="12" fit>
  {{#each selectedEdrPolicy as |section|}}
    <div class="heading">{{t section.header}}</div>
    {{#each section.props as |prop|}}
      <hbox fit class="col-xs-12">
        <hbox class="title col-xs-6 col-md-5">{{t prop.name}}</hbox>
        {{#if (eq prop.name 'adminUsm.policyWizard.edrPolicy.customConfig') }}
          <hbox class="value col-xs-6 col-md-7">
            {{#rsa-text-with-tooltip value=prop.value.truncatedWithEllipsis
              style="standard"}}
              <div class="table-cell-text">{{prop.value.nonTruncated}}</div>
            {{/rsa-text-with-tooltip}}
          </hbox>
        {{else if prop.defaultEndpointServer }}
          {{#rsa-text-with-tooltip value=prop.tooltip alwaysShow=true
              style="standard"}}
            <hbox class="value default-host-name col-xs-6 col-md-7">{{prop.value}}</hbox>
          {{/rsa-text-with-tooltip}}
        {{else}}
          <hbox class="value col-xs-6 col-md-7">{{prop.value}}</hbox>
        {{/if}}
      </hbox>
    {{/each}}
  {{/each}}
</vbox>
