<div class='user-overview-tab_title'>
  {{t 'investigateUsers.users.all'}}
</div>
<div class='user-overview-tab_lower_users_watched'>
  <div>
    {{#rsa-form-button class='user-overview-tab_lower_users_watched_risk' isFullWidth=true click=(action 'applyFilter' 'risky')}}
      <div>
        {{rsa-icon size='larger' style='filled' name='alarm-check' }}
      </div>
      <div class='count'>
        {{riskyUserCount}}
      </div>
      <div class='text'>
        {{t 'investigateUsers.users.risky'}}
      </div>
    {{/rsa-form-button}}
  </div>
  <div>
    {{#rsa-form-button class='user-overview-tab_lower_users_watched_watched' isFullWidth=true click=(action 'applyFilter' 'watched')}}
      <div>
        {{rsa-icon size='larger' style='filled' name='view-1'}}
      </div>
      <div class='count'>
        {{watchedUserCount}}
      </div>
      <div class='text'>
        {{t 'investigateUsers.users.watched'}}
      </div>
    {{/rsa-form-button}}
  </div>
</div>