
<hbox class="rsa-incident-tile-header">
  {{rsa-update-indicator model=incident isIconOnly=true onTile=true updateKey='asyncUpdate'}}

  {{#if isLargeSize}}
    <vbox class='rsa-incident-tile-header-info' xs='3'>
      {{rsa-content-badge-score label=(t 'incident.fields.riskScore') class="rsa-incident-tile-score" score=incident.riskScore style=badgeStyle}}
    </vbox>

    <vbox class='rsa-incident-tile-header-info' xs='9'>
      <ul class="rsa-incident-top">
        <li class="rsa-incident-tile-id-header">
          <label class="rsa-incident-tile-id">{{unbound incident.id}}</label>
        </li>
        <li class="rsa-incident-tile-name">
          {{incident.name}}
        </li>
        <li class="rsa-incident-tile-status">
          {{#rsa-form-select isInline=true class="rsa-incident-tile-status-selector" label=(t "incident.fields.status") values=selectedStatus isReadOnly=(if editModeActive false true)}}
            {{#each statusList as |status i|}}
              <option value="{{i}}">{{t (concat 'incident.status.' i) }}</option>
            {{/each}}
          {{/rsa-form-select}}
        </li>
      </ul>
    </vbox>
  {{else}}
    <vbox class='rsa-incident-tile-header-info' xs='2'>
      {{rsa-content-badge-score class="rsa-incident-tile-score" score=incident.riskScore size="small" style=badgeStyle}}
    </vbox>

    <vbox class='rsa-incident-tile-header-info' xs='10'>
      <ul class="rsa-incident-top">
        <li class="rsa-incident-tile-id-header">
          <label class="rsa-incident-tile-id">{{unbound incident.id}}</label>
        </li>
        <li class="rsa-incident-tile-name">
          {{incident.name}}
        </li>
      </ul>
    </vbox>
  {{/if}}
</hbox>

{{#if isLargeSize}}
  <hbox class="rsa-incident-tile-section">
    <vbox xs="6">
      {{#rsa-form-select optionMaxVisible=3 label=(t "incident.fields.priority") values=selectedPriority class="rsa-incident-tile-priority-selector" isReadOnly=(if editModeActive false true)}}
        {{#each priorityList as |priority|}}
          <option value="{{priority}}">{{t (concat 'incident.priority.' priority) }}</option>
        {{/each}}
      {{/rsa-form-select}}
    </vbox>

    <vbox xs="6">
      {{#rsa-form-select optionMaxVisible=3 label=(t "incident.fields.assignee") values=selectedAssignee class="rsa-incident-tile-assignee-selector" isReadOnly=(if editModeActive false true)}}
        <option value=-1>{{t 'incident.assignee.none'}}</option>
        {{#each users as |user|}}
          <option value= {{user.id}}>{{user.firstName}}</option>
        {{/each}}
      {{/rsa-form-select}}
    </vbox>
  </hbox>
{{/if}}

<hbox class="rsa-incident-tile-section">
  <vbox xs="6" class="rsa-incident-tile-alert-col">
    <div>
      {{#rsa-content-definition class="rsa-incident-tile-alert-block" label=(t "incident.fields.alertCount")}}
        <label class="rsa-incident-tile-alert-count">{{if incident.alertCount incident.alertCount '-'}}</label>
      {{/rsa-content-definition}}

      {{#rsa-content-definition class="rsa-incident-tile-event-block" label=(t "incident.fields.events")}}
        <label class="rsa-incident-tile-event-count">{{if incident.eventCount incident.eventCount '-'}}</label>
      {{/rsa-content-definition}}
    </div>
  </vbox>

  <vbox xs="6">
    {{#rsa-content-definition label=(t "incident.fields.sources")}}
      <div class='rsa-incident-tile-sources'>
        {{#each incidentSources as |source|}}
          {{rsa-content-label label=source}}
        {{/each}}
      </div>
    {{/rsa-content-definition}}
  </vbox>
</hbox>

{{#if contextualTimestamp}}
  <hbox class="rsa-incident-tile-section">
    <vbox xs="12" class="rsa-incident-tile-created-col">
      <span class="rsa-incident-tile-created-date">{{t (if isIncidentNew 'incident.fields.createdTimestamp' 'incident.fields.updatedTimestamp')}}{{rsa-content-datetime timestamp=contextualTimestamp}}{{rsa-content-datetime timestamp=contextualTimestamp asTimeAgo=true}}</span>
    </vbox>
  </hbox>
{{/if}}

{{#rsa-form-button click=(action 'editButtonClick') isIconOnly=true class='rsa-edit-tool' }}
  {{rsa-icon name=(if editModeActive 'check-1' 'pencil-1')}}
{{/rsa-form-button}}
