<div class="entity-details-container-header_leftArrow">
</div>
<div class="entity-details-container-header_score">
  {{rsa-content-badge-score score=entityScore size="small" style=entitySeverity invertColor=true}}
</div>
<div class="entity-details-container-header_name">
  <div class="entity-details-container-header_name_title">
    {{entityDisplayName}}
  </div>
  <div class="entity-details-container-header_name_type">
    {{#if entityType}}
      {{t (concat "investigateUsers.entityTypes." entityType)}}
    {{/if}}
  </div>
</div>

<div class="entity-details-container-header_watch">
  {{#rsa-form-button click=(action (if (eq isFollowed true) "unfollowUser" "followUser"))}}
    {{#if (eq isFollowed true)}}
      {{rsa-icon size="medium" name="view-1"}} {{t "entityDetails.entity.removeWatch"}}
    {{else}}
      {{rsa-icon size="medium" name="view-1"}} {{t "entityDetails.entity.addWatch"}}
    {{/if}}
  {{/rsa-form-button}}
</div>
<div class="entity-details-container-header_switch">
  {{#rsa-form-button
    isIconOnly=true
    title=(t "context.header.help.title")
    click=(action "goToHelp")
  }}
    {{rsa-icon name="help-circle"}}
  {{/rsa-form-button}}
</div>
