<div class='entity-details-container-header_leftArrow'>
</div>
<div class='entity-details-container-header_avtar'>
  {{rsa-icon size='larger' style='filled' name=enityIcon}}
</div>
<div class='entity-details-container-header_name'>
  {{entityDisplayName}}
</div>
<div class='entity-details-container-header_score'>
  {{rsa-content-badge-score score=entityScore size='small' style=entitySeverity invertColor=true}}
</div>
<div class='entity-details-container-header_watch'>
  {{#rsa-form-button click=(action (if (eq isFollowed true) 'unfollowUser' 'followUser'))}}
    {{#if (eq isFollowed true)}}
      {{rsa-icon size='medium' style='lined' name='binoculars'}} {{t 'entityDetails.entity.removeWatch'}}
    {{else}}
      {{rsa-icon size='medium' style='filled' name='binoculars'}} {{t 'entityDetails.entity.addWatch'}}
    {{/if}}
  {{/rsa-form-button}}
</div>
<div class='entity-details-container-header_switch'>
  {{#rsa-form-button
    isIconOnly=true
    title=(t 'context.header.help.title')
    click=(action 'goToHelp')
  }}
    {{rsa-icon name="help-circle" style="lined" }}
  {{/rsa-form-button}}
</div>