<table>
  <tr>
    <th>
    </th>
    <th>
      {{t 'adminUsm.groupRankingWizard.column.rank'}}
    </th>
    <th>
      {{t 'adminUsm.groupRankingWizard.column.groupNamw'}}
    </th>
    <th>
      {{t 'adminUsm.groupRankingWizard.column.policyApplied'}}
    </th>
    <th>
      {{t 'adminUsm.groupRankingWizard.column.nSources'}}
    </th>
  </tr>
  {{#each groupRanking as |item index|}}
    <tr>
      <td>
      </td>
      <td>
        {{add index 1}}
      </td>
      <td>
        {{item.name}}
      </td>
      <td>
        {{#each-in item.assignedPolicies as |policy details|}}
          {{ details.name }}
        {{/each-in}}
      </td>
      <td>
        'TODO'
      </td>
    </tr>
  {{/each}}
</table>
