{{#if isLoadingGroupRanking}}
  <div class='loading'>
    {{rsa-loader size='large'}}
  </div>
{{else}}
  {{#sortable-group onChange="reorderRanking" as |group|}}
    <div class="source-type-top-text">
      <span>{{t 'adminUsm.groupWizard.applyPolicy.sourceType'}}: </span>{{t (concat 'adminUsm.policyTypes.' selectedSourceType)}}
      <div class="tooltip">
        {{#rsa-text-with-tooltip value=(t 'adminUsm.groupRankingWizard.sourceTooltip')
          style="standard"
          alwaysShow=true}}
          {{rsa-icon size='medium' name="information-circle" style='lined'}}
        {{/rsa-text-with-tooltip}}
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>
          </th>
          <th>
            {{t 'adminUsm.groupRankingWizard.column.rank'}}
          </th>
          <th>
            {{t 'adminUsm.groupRankingWizard.column.groupName'}}
          </th>
          <th>
            {{t 'adminUsm.groupRankingWizard.column.policyApplied'}}
          </th>
          <th>
            {{t 'adminUsm.groupRankingWizard.column.nSources'}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each groupRanking as |item index|}}
          {{#usm-groups/group-ranking/edit-ranking-step/row
            item=item
            group=group
            index=index
            selectedItemId=selectedGroupRanking
            tabindex=0
            selectedSourceType=selectedSourceType
            focusIn=(action 'selectGroupRanking' item.name)
            click=(action 'handleSelectGroupRanking' index)}}
          {{/usm-groups/group-ranking/edit-ranking-step/row}}
        {{/each}}
      </tbody>
    </table>
  {{/sortable-group}}
{{/if}}
