<header class="rsa-incident-container__header">
  {{rsa-incident/toolbar}}
</header>
{{#unless hideViz}}
  <section class="rsa-incident-container__background">
    {{rsa-incident/entities fitToSize=entitiesRectangle}}
  </section>
{{/unless}}
<hbox nowrap class="rsa-incident-container__main">
  <box fit class="rsa-incident-container__main-aside">
    {{rsa-incident/inspector}}
  </box>
  <vbox nowrap fill class="rsa-incident-container__main-body js-entities-rectangle">
    {{#if hideViz}}
      {{rsa-incident/events-sheet}}
    {{/if}}
    <box fill class="rsa-incident-container__main-status">
      {{#if (eq storylineStatus 'streaming')}}
        <fill justify="center" align="center">
          {{rsa-loader size="large" label=(t 'respond.storyline.loading')}}
        </fill>
      {{else if (eq storylineStatus 'error')}}
        <fill justify="center" align="center">
          {{rsa-icon name="warning-signal" size="large"}}
          <h3>{{t 'respond.storyline.error'}}</h3>
        </fill>
      {{else}}
        {{#unless storyline.length}}
          <fill justify="center" align="center">
            <h3 class="rsa-incident-container__no-storyline">No Results</h3>
          </fill>
        {{/unless}}
      {{/if}}
    </box>
  </vbox>
</hbox>
<footer class="rsa-incident-container__footer">
  {{#if isJournalPanelOpen}}
    {{rsa-incident/journal}}
  {{/if}}
</footer>
{{#if isTransactionUnderway}}
  <centered class="rsa-incident-container__transaction-overlay">
    {{rsa-loader size="large"}}
  </centered>
{{/if}}
