{{host-list/content-filter/filter-trigger
  panelId=config.panelId
  propertyName=config.propertyName
  showRemoveButton=config.showRemoveButton
  filterLabel=filterLabel}}
{{#rsa-content-tethered-panel
  isPopover=true
  displayCloseButton=false
  position='bottom-right' panelId=config.panelId}}
  <section class="text-filter__content">
    <div class='body__input body-input-js'>
      {{rsa-form-input
        value=value
        placeholder=(t config.label)
        isError=isError
        errorMessage=(t 'investigateHosts.hosts.filters.invalidFilterInput')}}
    </div>
    {{#if showRestrictionType}}
      <div class='rsa-form-radio-group body__radio'>
        {{#each restrictionTypes as |type|}}
          <label class="rsa-form-radio-label {{if (eq type.type restrictionType) 'checked'}}">
            {{radio-button
              value=type.type
              groupValue=restrictionType}}
            {{t type.label}}
          </label>
        {{/each}}
      </div>
    {{/if}}
    <section class="footer">
      {{#rsa-form-button style='primary' defaultAction=(action 'onUpdate')}}
        {{t 'investigateHosts.hosts.button.update'}}
      {{/rsa-form-button}}
      {{#if (eq restrictionType 'EQUAL')}}
        {{t 'investigateHosts.hosts.filters.mutlipleValuesNote'}}
      {{/if}}
    </section>
  </section>
{{/rsa-content-tethered-panel}}
