<!-- side wizard nav -->
<box xs="4" class="sidebar">
  <centered fit>
    <h2>Wizard Nav...</h2>
  </centered>
</box>

<!-- form -->
<box class="form">
  <hbox class="toolbar">
    {{#rsa-form-button style='primary' class='confirm-button'
                       tabIndex="3"
                       defaultAction="save"
                       isDisabled=hasMissingRequiredData
    }}
      {{t 'adminUsm.button.save'}}
    {{/rsa-form-button}}
    {{#rsa-form-button class='cancel-button' defaultAction='cancel'}}
      {{t 'adminUsm.button.cancel'}}
    {{/rsa-form-button}}
  </hbox>
  <hbox class="control">
    {{rsa-form-input
                label=(t 'adminUsm.policy.name')
                placeholder=(t 'adminUsm.policy.namePlaceholder')
                value=(readonly policy.name)
                maxLength=256
                focusOut=(action "handleNameChange" value="target.value")
     }}
  </hbox>
  <hbox class="control">
    {{rsa-form-textarea
                label=(t 'adminUsm.policy.description')
                placeholder=(t 'adminUsm.policy.descPlaceholder')
                value=(readonly policy.description)
                maxLength=8000
                focusOut=(action 'handleDescriptionChange' value='target.value')
    }}
  </hbox>

  <hbox class="all-settings">
    <vbox xs="5" class="available-settings">
      <div class="control">
        <div class="label">{{t 'adminUsm.policy.availableSettings'}}</div>
        <div class="heading">{{t 'adminUsm.policy.scanSchedule'}}</div>
        {{#each enabledAvailableSettings as |enabledAvailableSetting|}}

          <div class="title available-setting {{enabledAvailableSetting.id}}
            {{if enabledAvailableSetting.isGreyedOut 'is-greyed-out' 'not-greyed-out'}}">
            {{enabledAvailableSetting.label}}
            <span {{action 'addToSelectedSettings' enabledAvailableSetting.id}}>
              {{rsa-icon name="add-circle-1" style="lined"}}
            </span>
          </div>
        {{/each}}
      </div>
    </vbox>
    <vbox xs="4" class="selected-settings">
      <div class="control">
        <div class="label">{{t 'adminUsm.policy.selectedSettings'}}</div>
        <div class="heading">{{t 'adminUsm.policy.scanSchedule'}}</div>
        {{#each sortedSelectedSettings as |sortedSelectedSetting|}}
          <div class="selected-setting">
            {{component sortedSelectedSetting.callback}}
          </div>
        {{/each}}
      </div>
    </vbox>
  </hbox>
  {{usm-policies/policy/schedule-config}}
</box>

{{!-- Overlay to prevent interactions while loading --}}
{{#if isPolicyLoading}}
  <div class="loading-overlay">
    <centered>
      {{rsa-loader size="large"}}
    </centered>
  </div>
{{/if}}
