<div class="recon-email-header">
  {{#each-in headerFields as |headerField headerValue|}}
    <hbox class="recon-meta-content-item">
      <box class="meta-name header-label">{{t (concat 'recon.emailView.' headerField)}}</box>
      <box class="meta-value header-value">{{headerValue}}</box>
    </hbox>
  {{/each-in}}
  {{#if hasEmailAttachments}}
    <hbox class="recon-meta-content-item">
      <box class="meta-name header-label">{{t 'recon.emailView.attachment'}}</box>
      <box>
        <hbox>
          {{#each email.attachments as |attachment index|}}
            <span class="attachment-meta">
              <a href={{ attachment.url }} target="_blank" rel="noopener noreferrer">{{ attachment.filename }}</a>
            </span>
            {{#if (not-eq (add index 1) email.attachments.length)}}
              <span>,&nbsp;</span>
            {{/if}}
          {{/each}}
        </hbox>
      </box>
    </hbox>
  {{/if}}


  <div class="recon-meta-content-item horizontal">
    <span class="toggle-icon additional-header">
      {{rsa-icon
        name=(concat 'arrow-' collapseArrowDirection '-12')
        click=(action 'toggleEmailHeadersExpansion')
      }}
      {{t 'recon.emailView.additionalHeaderDetails'}}
    </span>
  </div>

  {{#if isEmailHeadersExpanded}}
    {{#each-in additionalHeaderFields as |headerField headerValue|}}
      <hbox class="recon-meta-content-item">
        <box class="meta-name header-label">{{ headerField }}</box>
        <box class="meta-value header-value">{{ headerValue }}</box>
      </hbox>
    {{/each-in}}
  {{/if}}
</div>
