{{#if isActive}}
  {{rsa-form-input
    value=(readonly pillData.complexFilterText)
    spellcheck=false
    autofocus=true
    keyDown=(action 'onKeyDown')
  }}
{{else}}
  <span class='text-wrapper'>
    {{pillData.complexFilterText}}
  </span>

  {{query-container/delete-pill
    sendMessage=(action 'handleMessage')
  }}
  {{#if isSelected}}
    {{query-container/focus-holder
      sendMessage=(action 'handleMessage')
    }}
  {{/if}}
{{/if}}
