<section>
    <h2>{{t "respond.incidents"}}:</h2>
    <ul>
        <li class="js-test-respond-incs-filter-hour-btn"
                selected="{{is-equal "H" cube.timeRangeUnit}}"
            {{action "set" "timeRangeUnit" "H" target=cube}}
                >{{t "time.lastHour"}}</li>
        <li class="js-test-respond-incs-filter-day-btn"
                selected="{{is-equal "D" cube.timeRangeUnit}}"
            {{action "set" "timeRangeUnit" "D" target=cube}}
                >{{t "time.last24Hours"}}</li>
        <li class="js-test-respond-incs-filter-week-btn"
                selected="{{is-equal "W" cube.timeRangeUnit}}"
            {{action "set" "timeRangeUnit" "W" target=cube}}
                >{{t "time.last7Days"}}</li>
        <li class="js-test-respond-incs-filter-month-btn"
                selected="{{is-equal "M" cube.timeRangeUnit}}"
            {{action "set" "timeRangeUnit" "M" target=cube}}
                >{{t "time.last30Days"}}</li>
    </ul>
</section>
<section>
    <h2>{{t "incident.fields.priority"}}:</h2>
    <ul>
        <li	class="js-test-respond-incs-filter-li"
               data-field="priority"
               data-group="null"
               data-group-type="null"
               selected="{{is-equal cube.fields.priority.filter.value null}}"
               >
            {{t "list.all"}}
        </li>
        {{! @workaround All the calls below to cube.fields.XXX.filter "includes" are made with an extra argument,
            which is not actually used by the method, but is needed in order to tell Ember when to update those
            bindings. Therefore, for those args, we choose some quantity which will change whenever the bindings need
            to be refreshed. }}
        <li	class="js-test-respond-incs-filter-li"
                data-field="priority"
                data-group="0"
                data-group-type="{{cube.fields.priority.dataType}}"
                selected="{{if
                (is-equal cube.fields.priority.filter.value null)
                "false"
                (call-method cube.fields.priority.filter "includes" 0 cube.fields.priority.filter.value)
                }}"
                >
            {{t "incident.priority.0"}} {{#if includeCounts}}({{if cube.fields.priority.groups.hash.0.value cube.fields.priority.groups.hash.0.value 0}}){{/if}}
        </li>
        <li	class="js-test-respond-incs-filter-li"
               data-field="priority"
               data-group="1"
               data-group-type="{{cube.fields.priority.dataType}}"
               selected="{{if
               (is-equal cube.fields.priority.filter.value null)
               "false"
               (call-method cube.fields.priority.filter "includes" 1 cube.fields.priority.filter.value)
               }}"
                >
            {{t "incident.priority.1"}} {{#if includeCounts}}({{if cube.fields.priority.groups.hash.1.value cube.fields.priority.groups.hash.1.value 0}}){{/if}}
        </li>
        <li	class="js-test-respond-incs-filter-li"
               data-field="priority"
               data-group="2"
               data-group-type="{{cube.fields.priority.dataType}}"
               selected="{{if
               (is-equal cube.fields.priority.filter.value null)
               "false"
               (call-method cube.fields.priority.filter "includes" 2 cube.fields.priority.filter.value)
               }}"
                >
            {{t "incident.priority.2"}} {{#if includeCounts}}({{if cube.fields.priority.groups.hash.2.value cube.fields.priority.groups.hash.2.value 0}}){{/if}}
        </li>
        <li	class="js-test-respond-incs-filter-li"
               data-field="priority"
               data-group="3"
               data-group-type="{{cube.fields.priority.dataType}}"
               selected="{{if
               (is-equal cube.fields.priority.filter.value null)
               "false"
               (call-method cube.fields.priority.filter "includes" 3 cube.fields.priority.filter.value)
               }}"
                >
            {{t "incident.priority.3"}} {{#if includeCounts}}({{if cube.fields.priority.groups.hash.3.value cube.fields.priority.groups.hash.3.value 0}}){{/if}}
        </li>
    </ul>
</section>
<section>
    <h2>{{t "incident.fields.status"}}:</h2>
    <ul>
        <li	class="js-test-respond-incs-filter-li"
               data-field="status"
               data-group="null"
               data-group-type="null"
               selected="{{is-equal cube.fields.status.filter.value null}}"
                >
            {{t "list.all"}}
        </li>
        <li	class="js-test-respond-incs-filter-li"
                data-field="status"
                data-group="0"
                data-group-type="{{cube.fields.status.dataType}}"
                selected="{{if
                (is-equal cube.fields.status.filter.value null)
                "false"
                (call-method cube.fields.status.filter "includes" 0 cube.fields.status.filter.value)
                }}"
                >
            {{t "incident.status.0"}} {{#if includeCounts}}({{if cube.fields.status.groups.hash.0.value cube.fields.status.groups.hash.0.value 0}}){{/if}}
        </li>
        <li	class="js-test-respond-incs-filter-li"
               data-field="status"
               data-group="1"
               data-group-type="{{cube.fields.status.dataType}}"
               selected="{{if
               (is-equal cube.fields.status.filter.value null)
               "false"
               (call-method cube.fields.status.filter "includes" 1 cube.fields.status.filter.value)
               }}"
                >
            {{t "incident.status.1"}} {{#if includeCounts}}({{if cube.fields.status.groups.hash.1.value cube.fields.status.groups.hash.1.value 0}}){{/if}}
        </li>
        <li	class="js-test-respond-incs-filter-li"
               data-field="status"
               data-group="2"
               data-group-type="{{cube.fields.status.dataType}}"
               selected="{{if
               (is-equal cube.fields.status.filter.value null)
               "false"
               (call-method cube.fields.status.filter "includes" 2 cube.fields.status.filter.value)
               }}"
                >
            {{t "incident.status.2"}} {{#if includeCounts}}({{if cube.fields.status.groups.hash.2.value cube.fields.status.groups.hash.2.value 0}}){{/if}}
        </li>
        <li	class="js-test-respond-incs-filter-li"
               data-field="status"
               data-group="3"
               data-group-type="{{cube.fields.status.dataType}}"
               selected="{{if
               (is-equal cube.fields.status.filter.value null)
               "false"
               (call-method cube.fields.status.filter "includes" 3 cube.fields.status.filter.value)
               }}"
                >
            {{t "incident.status.3"}} {{#if includeCounts}}({{if cube.fields.status.groups.hash.3.value cube.fields.status.groups.hash.3.value 0}}){{/if}}
        </li>
        <li	class="js-test-respond-incs-filter-li"
               data-field="status"
               data-group="4"
               data-group-type="{{cube.fields.status.dataType}}"
               selected="{{if
               (is-equal cube.fields.status.filter.value null)
               "false"
               (call-method cube.fields.status.filter "includes" 4 cube.fields.status.filter.value)
               }}"
                >
            {{t "incident.status.4"}} {{#if includeCounts}}({{if cube.fields.status.groups.hash.4.value cube.fields.status.groups.hash.4.value 0}}){{/if}}
        </li>
        <li	class="js-test-respond-incs-filter-li"
               data-field="status"
               data-group="5"
               data-group-type="{{cube.fields.status.dataType}}"
               selected="{{if
               (is-equal cube.fields.status.filter.value null)
               "false"
               (call-method cube.fields.status.filter "includes" 5 cube.fields.status.filter.value)
               }}"
                >
            {{t "incident.status.5"}} {{#if includeCounts}}({{if cube.fields.status.groups.hash.5.value cube.fields.status.groups.hash.5.value 0}}){{/if}}
        </li>
        <li	class="js-test-respond-incs-filter-li"
               data-field="status"
               data-group="6"
               data-group-type="{{cube.fields.status.dataType}}"
               selected="{{if
               (is-equal cube.fields.status.filter.value null)
               "false"
               (call-method cube.fields.status.filter "includes" 6 cube.fields.status.filter.value)
               }}"
                >
            {{t "incident.status.6"}} {{#if includeCounts}}({{if cube.fields.status.groups.hash.6.value cube.fields.status.groups.hash.6.value 0}}){{/if}}
        </li>
    </ul>
</section>
{{#if includeAssignee}}
<section>
    <h2>{{t "incident.fields.assignee"}}:</h2>
    <ul>
        <li	class="js-test-respond-incs-filter-li"
               data-field="assignee"
               data-group="null"
               data-group-type="null"
               selected="{{is-equal cube.fields.assignee.filter.value null}}"
                >
            {{t "list.all"}}
        </li>
        {{#each cube.fields.assignee.groups as |group|}}
            <li	class="js-test-respond-incs-filter-li"
                    data-field="assignee"
                    data-group="{{group.key}}"
                    data-group-type="{{cube.fields.assignee.dataType}}"
                    selected="{{if
                        (is-equal cube.fields.assignee.filter.value null)
                        "false"
                        (call-method cube.fields.assignee.filter "includes" group.key)
                    }}"
                    >
                {{if group.key group.key (t "incident.assignee.none")}} {{#if includeCounts}}({{group.value}}){{/if}}
            </li>
        {{/each}}
    </ul>
</section>
{{/if}}