<header class="header">

  <div class="connector">
    <div class="line"></div>
  </div>

  <hbox class="content">
    <box fill class="p source">
      <span>{{t (concat 'respond.alert.source.' group.indicator.alert.source)}}</span>
    </box>
    <box fit nowrap align="end" class="p time">
      {{rsa-content-datetime
        timestamp=group.indicator.timestamp
        displayAsTimeAgo=false
        displayDate=true
        displayTime=true
        displayMilliseconds=false
      }}
    </box>
  </hbox>

</header>
<section class="main">

  <div class="connector">
    <div class="severity">{{group.indicator.alert.severity}}</div>
    <div class="line"></div>
  </div>

  <div class="content">
    <h3 title="{{group.indicator.alert.name}}">{{group.indicator.alert.name}}</h3>
    <nav>
      {{#if group.events}}
        {{#if group.enrichments.length}}
          <span
            class="rsa-alerts-table-alert-header__enrichments tab {{if isEnrichmentsTabActive 'active'}}"
            {{action "toggleEnrichments" bubbles=false}}>
            {{group.enrichments.length}} enrichments
            {{rsa-icon name="arrow-down-8" size="smaller"}}
          </span>
        {{/if}}
        <span
          class="rsa-alerts-table-alert-header__events tab {{if isEventsTabActive 'active'}}"
          {{action "toggleEvents" bubbles=false}}>
          {{group.events.length}} {{t 'respond.storyline.events'}}
          {{rsa-icon name="arrow-down-8" size="smaller"}}
        </span>
      {{else}}
        {{t 'respond.incident.loadingEvents'}}
      {{/if}}
    </nav>
  </div>
</section>
