<article class="rsa-login rsa-screen rsa--fixed">
    <form autocomplete="off"
        {{action "authenticate" on="submit"}}>

        <header>
            {{rsa-logo delays="200,700,1200" title=(t "sa.title")}}
        </header>
        <section class="rsa-main" data-status="{{status}}">
            <div>
                {{input type="text"
                    class="js-test-username-input "
                    placeholder=(t "login.usernamePrompt")
                    value=username autofocus="true"}}
            </div>
            <div>
                {{input type="password"
                    class="js-test-password-input"
                    placeholder=(t "login.passwordPrompt")
                    value=password}}
            </div>
            {{#if errorMessage}}
                <div class="rsa-login-error">
                    <span class="rsa-login-error-message">
                        {{t errorMessage}}
                    </span>
                </div>
            {{/if}}

        </section>
        <footer>
            <button class="js-test-login-btn"
                type="submit"
                data-status="{{status}}"
                disabled={{isLoginDisabled}}>
                {{t "login.okButton"}}
            </button>
        </footer>
    </form>
    <footer class="rsa-login__footer ">
        <small class="rsa-app-version">
            {{t "sa.title"}} {{t "sa.version"}}
        </small>
        <small class="rsa-copyright">
            {{t "sa.copyright"}}
        </small>
    </footer>
</article>
