{{#rsa-page-layout showRightZone=false as |layout|}}
  {{#layout.left as |leftPanel|}}
    {{leftPanel.header iconName='filter-2' title=(t 'investigateFiles.filter.filter')}}
    {{filters-wrapper}}
  {{/layout.left}}

  {{#layout.center}}
    <hbox class="certificates-action-bar flexi-fit">
      <h2 class="title-header">
        {{#rsa-form-button class='close-zone' isIconOnly=true click=(action layout.open 'left')}}
          {{rsa-icon name='filter-2'}}
        {{/rsa-form-button}}
      </h2>
      {{service-selector services=servers serviceId=serverId onServiceSelection=(action 'setEndpointServer')}}
      {{endpoint/certificates-status}}
    </hbox>
    {{#if isEndpointServerOnline}}
      <box class="certificates-body">
        {{endpoint/certificates-data-table}}
      </box>
      <box class="certificates-footer">
        {{endpoint/certificates-pager}}
      </box>
    {{else}}
      {{error-page
        errorDescription=(t 'investigateFiles.errorPage.serviceDownDescription')
        title=(t 'investigateFiles.errorPage.serviceDown')}}
    {{/if}}
  {{/layout.center}}
{{/rsa-page-layout}}
