{{!-- advanced/uncommon settings --}}
{{#rsa-content-accordion label=(t column.title) isCollapsed=isAdvancedSettingsAccordionCollapsed class="blue" animate=true}}
  {{#each column.config as |column|}}

    {{#if (eq column.displayType 'sourceNameInput') }}
      <div class="{{column.field}}">
        <h4 class='subheading'>
          {{#rsa-text-with-tooltip
            value=(t (concat column.title 'Tooltip'))
            style="standard"
            alwaysShow=true
          }}
            {{t column.title}}
          {{/rsa-text-with-tooltip}}
        </h4>
        <div class="source-name">
          {{rsa-form-input-oneway
            value=item.sourceName
            maxLength=256
            isError=(eq (get item column.field) invalidTableItem)
            errorMessage=(t errorMessage)
            onFocusOut=(action 'handleSourceNameChange' column.field)
          }}
        </div>
      </div>

    {{else if (eq column.displayType 'fileEncoding')}}
      <div class="{{column.field}}">
        <h4 class='subheading'>
          {{#rsa-text-with-tooltip
            value=(t (concat column.title 'Tooltip'))
            style="standard"
            alwaysShow=true
          }}
            {{t column.title}}
          {{/rsa-text-with-tooltip}}
        </h4>
        <div class="file-encoding">
          {{#power-select
            placeholder=(t 'packager.placeholder')
            options=encodingOptions
            selected=item.fileEncoding
            searchPlaceholder=(t 'packager.searchPlaceholder')
            searchEnabled=false
            onchange=(action 'handleSelectionChange' column.field bubbles=false) as |option|}}
            {{option}}
          {{/power-select}}
        </div>
      </div>
    {{/if}}

  {{/each}}
{{/rsa-content-accordion}}
