<div 
  class='entity-details-container-body_alerts_list_content_alert_indicators_pill  {{if (eq selectedIndicator true) 'selectedIndicator'}}' 
  {{action 'initIndicator' indicator.id}} 
  title='{{t (concat 'investigateUsers.alerts.indicator.indicatorNames.' indicator.anomalyTypeFieldName '.name')}} ({{indicator.anomalyValue}})'
>
  <div class='entity-details-container-body_alerts_list_content_alert_indicators_pill_score-contibution'>
    {{semi-circle percentage=indicator.scoreContribution}}
  </div>
  <div class='entity-details-container-body_alerts_list_content_alert_indicators_pill_name'>
    <div class='entity-details-container-body_alerts_list_content_alert_indicators_pill_name_text'>
      {{t (concat 'investigateUsers.alerts.indicator.indicatorNames.' indicator.anomalyTypeFieldName '.name')}} ({{indicator.anomalyValue}})
    </div>
  </div>
</div>