<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="Labels"}}
      {{#spec-member title="With Label"}}
        <div class="score-box">
          {{rsa-content-badge-score score=7.7 label='Risk Score'}}
        </div>

        <code>
          &#123;{rsa-content-badge-score score=7.7 label='Risk Score'}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Without Label"}}
        <div class="score-box">
          {{rsa-content-badge-score score=7.7}}
        </div>

        <code>
          &#123;{rsa-content-badge-score score=7.7}}
        </code>
      {{/spec-member}}
    {{/spec-category}}

    {{#spec-category title="Styles"}}
      {{#spec-member title="Low"}}
        <div class="score-box">
          {{rsa-content-badge-score score=33 label='Risk Score' style='low'}}
        </div>

        <code>
          &#123;{rsa-content-badge-score score=33 label='Risk Score' style='low'}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Medium"}}
        <div class="score-box">
          {{rsa-content-badge-score score=50 label='Risk Score' style='medium'}}
        </div>

        <code>
          &#123;{rsa-content-badge-score score=50 label='Risk Score' style='medium'}}
        </code>
      {{/spec-member}}

      {{#spec-member title="High"}}
        <div class="score-box">
          {{rsa-content-badge-score score=75 label='Risk Score' style='high'}}
        </div>

        <code>
          &#123;{rsa-content-badge-score score=75 label='Risk Score' style='high'}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Danger"}}
        <div class="score-box">
          {{rsa-content-badge-score score=100 label='Risk Score' style='danger'}}
        </div>

        <code>
          &#123;{rsa-content-badge-score score=100 label='Risk Score' style='danger'}}
        </code>
      {{/spec-member}}
    {{/spec-category}}

    {{#spec-category title="Sizes"}}
      {{#spec-member title="Default"}}
        <div class="score-box">
          {{rsa-content-badge-score score=75 label='Risk Score'}}
        </div>

        <code>
          &#123;{rsa-content-badge-score score=75 label='Risk Score'}}
        </code>
      {{/spec-member}}


      {{#spec-member title="Small"}}
        <div class="score-box-small">
          {{rsa-content-badge-score score=75 label='Risk Score' size='small'}}
        </div>

        <code>
          &#123;{rsa-content-badge-score score=75 label='Risk Score' size='small'}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Large"}}
        <div class="score-box-large">
          {{rsa-content-badge-score score=75 label='Risk Score' size='large'}}
        </div>

        <code>
          &#123;{rsa-content-badge-score score=75 label='Risk Score' size='large'}}
        </code>
      {{/spec-member}}

      {{#spec-member}}
        <div class="score-box-large">
          {{rsa-content-badge-score score=75 label='Risk Score' size='larger'}}
        </div>

        <code>
          &#123;{rsa-content-badge-score score=75 label='Risk Score' size='larger'}}
        </code>
      {{/spec-member}}

      {{#spec-member title="Largest"}}
        <div class="score-box-larger">
          {{rsa-content-badge-score score=75 label='Risk Score' size='largest'}}
        </div>

        <code>
          &#123;{rsa-content-badge-score score=75 label='Risk Score' size='largest'}}
        </code>
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
