<section class="filter-option id-filter">
  <label class="rsa-form-input {{unless isIdFilterValid 'is-error'}}">
    <span class="rsa-form-label">
      {{ t 'respond.remediationTasks.filters.taskId'}}
    </span>

    {{input
      type="text"
      value=(readonly idFilter)
      placeholder=(t 'respond.remediationTasks.filters.idFilterPlaceholder')
      key-up="idFilterChanged"}}

    {{#unless isIdFilterValid}}
      <div class="input-error">
        {{t 'respond.remediationTasks.filters.idFilterError'}}
      </div>
    {{/unless}}
  </label>
</section>
<section class="filter-option priority-filter">
  <h2>{{ t 'respond.remediationTasks.list.priority'}}</h2>
  {{#each priorityTypes as |priorityType|}}
    <div>
      <label class="rsa-form-checkbox-label {{if (contains priorityType priorityFilters) 'checked'}}">
        {{rsa-form-checkbox
          checked=(contains priorityType priorityFilters )
          change=(action 'togglePriorityFilter' priorityType)}}
        <span>{{t (concat 'respond.priority.' priorityType)}}</span>
      </label>
    </div>
  {{/each}}
</section>
<section class="filter-option status-filter">
  <h2>{{ t 'respond.remediationTasks.list.status'}}</h2>
  {{#each remediationStatusTypes as |statusType|}}
    <div>
      <label class="rsa-form-checkbox-label {{if (contains statusType statusFilters) 'checked'}}">
        {{rsa-form-checkbox
          checked=(contains statusType statusFilters )
          change=(action 'toggleStatusFilter' statusType)}}
        <span>{{t (concat 'respond.status.' statusType)}}</span>
      </label>
    </div>
  {{/each}}
</section>
<section class="filter-option createdby-filter">
  <h2>{{ t 'respond.remediationTasks.list.createdBy'}}</h2>
  {{#power-select-multiple
    options=(readonly users)
    selected=selectedCreatedBys
    matcher=createdByMatcher
    onchange=(action "createdByChanged") as |users|}}
    {{or users.name users.id}}
  {{/power-select-multiple}}
</section>