{{#each ecatData as |data|}}
  <div class="heading-text">{{t 'context.hostSummary.title'}}</div>
  <hbox class="rsa-context-panel__ecat__host-details">
    <vbox class='rsa-context-panel__ecat__host-details__badge-score' xs='1'>
      {{rsa-content-badge-score
        label=(t 'context.hostSummary.riskScore')
        class="rsa-context-risk-score"
        score=data.IIOCScore
        style=(context/risk-score-to-badge-level data.IIOCScore)
      }}
    </vbox>

    <vbox xs='2'>
      <div class="rsa-context-panel__ecat__host-details_modulesCount_field-name">{{t 'context.hostSummary.modulesCount'}}</div>
      <div class="rsa-context-panel__ecat__host-details__field-value">{{ecatAdditionalData.total_modules_count}}</div>

      <div class="rsa-context-panel__ecat__host-details__field-name">{{t 'context.hostSummary.iioc0'}}</div>
      <div class="rsa-context-panel__ecat__host-details__field-value">{{data.IIOCLevel0}}</div>

      <div class="rsa-context-panel__ecat__host-details__field-name">{{t 'context.hostSummary.iioc1'}}</div>
      <div class="rsa-context-panel__ecat__host-details__field-value">{{data.IIOCLevel1}}</div>
    </vbox>
    <vbox xs='3'>
      <div class="rsa-context-panel__ecat__host-details__field-name">{{t 'context.hostSummary.lastUpdated'}}</div>
      <div class="rsa-context-panel__ecat__host-details__field-value">{{data.LastScan}}</div>

      <div class="rsa-context-panel__ecat__host-details__field-name">{{t 'context.hostSummary.adminStatus'}}</div>
      <div class="rsa-context-panel__ecat__host-details__field-value">{{data.AdminStatus}}</div>

      <div class="rsa-context-panel__ecat__host-details__field-name">{{t 'context.hostSummary.lastLogin'}}</div>
      <div class="rsa-context-panel__ecat__host-details__field-value">{{data.LastSeen}}</div>
    </vbox>
    <vbox xs='3'>
      <div class="rsa-context-panel__ecat__host-details__field-name">{{t 'context.hostSummary.macAddress'}}</div>
      <div class="rsa-context-panel__ecat__host-details__field-value">{{data.MacAddress}}</div>

      <div class="rsa-context-panel__ecat__host-details__field-name">{{t 'context.hostSummary.operatingSystem'}}</div>
      <div class="rsa-context-panel__ecat__host-details__field-value">{{data.OperatingSystem}}</div>
    </vbox>
    <vbox xs='2'>
      <div class="rsa-context-panel__ecat__host-details__field-name">{{t 'context.hostSummary.machineStatus'}}</div>
      <div class="rsa-context-panel__ecat__host-details__field-value">{{data.MachineStatus}}</div>
    </vbox>

  </hbox>
  <div class="rsa-context-panel__sectionEnd"></div>
{{/each}}
