<div class='users-tab_filter_filter_title'>
  {{t 'investigateUsers.users.filters.title'}}
</div>
<div class='users-tab_filter_filter_list'>
  <label class="rsa-form-label power-select users-tab_filter_filter_select">
    <div class="label-text">
      {{t 'investigateUsers.alerts.filters.severity'}}
    </div>
    {{#power-select-multiple
      options=severityFilter
      selected=selectedSeverity
      onchange=(action 'updateSeverityFilter') as |option|}}
      {{t (concat 'investigateUsers.severity.' option)}}
    {{/power-select-multiple}}
  </label>
  <label class="rsa-form-label power-select users-tab_filter_filter_select">
    <div class="label-text">
      {{t 'investigateUsers.alerts.title'}}
    </div>

    {{#power-select-multiple
      options=existAlertTypes
      selected=selectedAlertTypes
      onchange=(action 'updateFilterForAlertTypes') as |option|}}
      {{t (concat 'investigateUsers.alerts.alertNames.' option.name '.name')}} {{option.count}}
    {{/power-select-multiple}}
  </label>
  <label class="rsa-form-label power-select users-tab_filter_filter_select">
    <div class="label-text">
      {{t 'investigateUsers.users.filters.indicators'}}
    </div>

    {{#power-select-multiple
      options=existAnomalyTypes
      selected=selectedAnomalyTypes
      onchange=(action 'updateFilterForAnomalyTypes') as |option|}}
      {{t (concat 'investigateUsers.alerts.indicator.indicatorNames.' option.name '.name')}} {{option.count}}
    {{/power-select-multiple}}
  </label>
</div>