<div class='users-tab_filter_filter_title'>
  {{t 'investigateUsers.users.filters.title'}}
</div>
<div class='users-tab_filter_filter_list'>
  <label class="rsa-form-label power-select users-tab_filter_filter_select">
    <div class="label-text">
      {{t 'investigateUsers.alerts.filters.severity'}}
    </div>
    {{#power-select-multiple
      options=severityFilter
      selected=selectedSeverity
      searchEnabled=false
      onchange=(action 'updateSeverityFilter') as |option|}}
      <span title='{{t (concat 'investigateUsers.severity.' option)}}'>
        {{t (concat 'investigateUsers.severity.' option)}}
      </span>
    {{/power-select-multiple}}
  </label>
  <label class="rsa-form-label power-select users-tab_filter_filter_select">
    <div class="label-text">
      {{t 'investigateUsers.alerts.title'}}
    </div>

    {{#power-select-multiple
      options=existAlertTypes
      selected=selectedAlertTypes
      searchField='displayLabel'
      onchange=(action 'updateFilterForAlertTypes') as |option|}}
      <span title='{{option.displayLabel}}'>
        {{option.displayLabel}}
      </span>
    {{/power-select-multiple}}
  </label>
  <label class="rsa-form-label power-select users-tab_filter_filter_select">
    <div class="label-text">
      {{t 'investigateUsers.users.filters.indicators'}}
    </div>

    {{#power-select-multiple
      options=existAnomalyTypes
      selected=selectedAnomalyTypes
      searchField='displayLabel'
      onchange=(action 'updateFilterForAnomalyTypes') as |option|}}
      <span title='{{option.displayLabel}}'>
        {{option.displayLabel}}
      </span>
    {{/power-select-multiple}}
  </label>
</div>