<h1 class="large centered">Devices</h1>
{{#rsa-chart
  domainExtents=domainExtents
  xProp=xProp
  yProp=yProp
  data=data as |params|}}
  {{rsa-line-series
    data=params.data
    dataIndex=0
    xProp=xProp
    yProp=yProp
    xScale=params.xScale
    yScale=params.yScale
    height=params.graphHeight}}
  {{rsa-line-series
    data=params.data
    dataIndex=1
    xProp=xProp
    yProp=yProp
    xScale=params.xScale
    yScale=params.yScale
    height=params.graphHeight}}
  {{rsa-line-series
    data=params.data
    dataIndex=2
    xProp=xProp
    yProp=yProp
    xScale=params.xScale
    yScale=params.yScale
    height=params.graphHeight}}
  {{rsa-line-series
    data=params.data
    dataIndex=3
    xProp=xProp
    yProp=yProp
    xScale=params.xScale
    yScale=params.yScale
    height=params.graphHeight}}
  {{rsa-line-series
    data=params.data
    dataIndex=4
    xProp=xProp
    yProp=yProp
    xScale=params.xScale
    yScale=params.yScale
    height=params.graphHeight}}
  {{rsa-y-axis scale=params.yScale tickCount=3}}
{{/rsa-chart}}
{{#rsa-data-table
  items=items
  columnsConfig=columns}}

  {{#rsa-data-table/header as |column|}}
    {{#if column.headerComponentClass}}
      <label class="rsa-form-checkbox-label {{if (eq yProp column.field) 'checked'}}">
        {{rsa-form-checkbox checked=(eq yProp column.field) change=(action 'toggleColumnSelection' column.field)}}
      </label>
    {{/if}}
    {{column.title}}
  {{/rsa-data-table/header}}

  {{#rsa-data-table/body noResultsMessage='No Devices Found' as |item index column|}}
    {{#rsa-data-table/body-cell item=item column=column}}
      {{#if (eq column.dataType 'numeric')}}
        {{ngcoreui-formatted-number size=(get item column.field)}}
      {{else}}
        {{get item column.field}}
      {{/if}}
    {{/rsa-data-table/body-cell}}
  {{/rsa-data-table/body}}
{{/rsa-data-table}}
