<li class="action" {{action "openAddToListModal"}}>
  {{rsa-icon name="list-bullets-1" size="small"}}
  <label class="label">
    {{t 'context.addToList.title'}}
  </label>
</li>
{{#if pivotToInvestigateUrl}}
  <a href="{{pivotToInvestigateUrl}}" target="_blank">
    <li class="action js-test-pivot-to-investigate-link">
      {{rsa-icon name="search" size="small"}}
      <span class="label">
        {{t 'context.tooltip.investigate'}}
      </span>
    </li>
  </a>
{{/if}}
{{#if showArcherLink}}
  <span title="{{unless pivotToArcherUrl (t 'context.tooltip.archerToolTip')}}">
    <a href="{{pivotToArcherUrl}}" class="{{unless pivotToArcherUrl "disabled"}}" target="_blank">
      <li class="action js-test-pivot-to-archer-link">
        {{rsa-icon name="search" size="small"}}
        <span class="label">
          {{t 'context.tooltip.archer'}}
        </span>
      </li>
    </a>
  </span>
{{/if}}
{{#if showEndpointLink}}
  <a href="ecatui://{{entityId}}" title="{{t 'context.hostSummary.endpoint'}}" target="_blank">
    <li class="action js-test-endpoint-link">
      {{rsa-icon name="search" size="small"}}
      <span class="label">
        {{t 'context.tooltip.ecat'}}
      </span>
    </li>
  </a>
{{/if}}
