{{#if filePropertiesData}}
  {{#rsa-page-layout showRightZone=true as |layout|}}
    {{#layout.center}}
      <div class='file-analysis-header'>
        <span class='view-type'>{{t componentConfig.title}}</span>

        {{#if isStringsView}}
          <span class='string-filter-wrapper'>
            <h4 class='label'>{{t 'investigateShared.endpoint.fileAnalysis.filter'}}</h4>
            {{rsa-form-input value=searchText placeholder=(t 'investigateShared.endpoint.fileAnalysis.searchPlaceHolder')}}
          </span>
        {{/if}}

      </div>
      {{#if (eq fileDataLoadingStatus 'loading')}}
        {{rsa-loader size="larger" class='file-analysis-loading'}}
      {{else}}
        {{component componentConfig.component fileData=fileData searchText=searchText}}
      {{/if}}
    {{/layout.center}}
    {{#layout.right}}
      <div class="rsa-nav-tab is-active is-left-aligned-primary">
        <div class="label">{{t 'investigateHosts.context.details'}}</div>
      </div>
      {{endpoint/file-analysis-properties filePropertiesData=filePropertiesData}}
    {{/layout.right}}
  {{/rsa-page-layout}}
{{else}}
  {{#if (eq fileDataLoadingStatus 'failed')}}
    <div class='fileNotDownloadedError'>
      {{rsa-icon name="report-problem-triangle"}}<span>{{t 'investigateShared.endpoint.fileActions.tooltips.analyzeFile'}}</span>
    </div>
  {{/if}}
{{/if}}