<iframe src="{{iframeSrc}}" class="download-rar-installer"></iframe>

<div class='endpoint-rar-header'>
  <h1>{{t 'endpointRAR.title'}}</h1>
  <span class='rar-container_description'>{{t 'endpointRAR.description'}}</span>
</div>

{{#rsa-page-layout showRightZone=true as |layout|}}
  {{#layout.center}}

    {{rar-container/rar-installer serverId=serverId}}
    {{rar-container/rar-config}}

  {{/layout.center}}
  {{#layout.right}}

    {{endpoint/help-text-wrapper content=helpText}}

  {{/layout.right}}
{{/rsa-page-layout}}