<div class="events-list-generic-header">
  <vbox>
    <hbox test-id="eventTimeLabel">{{t 'respond.eventsList.generic.time'}}</hbox>
    <hbox test-id="eventTimeValue">{{rsa-content-datetime timestamp=item.timestamp}}</hbox>
  </vbox>
  <vbox>
    <hbox test-id="eventTypeLabel">{{t 'respond.eventsList.generic.type'}}</hbox>
    <hbox test-id="eventTypeValue">{{item.type}}</hbox>
  </vbox>
  <vbox>
    <hbox test-id="eventDetectorIpLabel">{{t 'respond.eventsList.generic.detectorIP'}}</hbox>
    <hbox test-id="eventDetectorIpValue">{{item.detector.ip_address}}</hbox>
  </vbox>
  <vbox>
    <hbox test-id="eventFileNameLabel">{{t 'respond.eventsList.generic.fileName'}}</hbox>
    <hbox test-id="eventFileNameValue">{{item.data.0.filename}}</hbox>
  </vbox>
  <vbox>
    <hbox test-id="eventFileHashLabel">{{t 'respond.eventsList.generic.fileHash'}}</hbox>
    <hbox test-id="eventFileHashValue">{{item.data.0.hash}}</hbox>
  </vbox>
</div>
<div class="events-list-generic-footer">
  <table>
    <tbody>
      <tr>
        <td></td>
        <td test-id="eventTableIpLabel">{{t 'respond.eventsList.generic.tableIP'}}</td>
        <td test-id="eventTablePortLabel">{{t 'respond.eventsList.generic.tablePORT'}}</td>
        <td test-id="eventTableHostLabel">{{t 'respond.eventsList.generic.tableHOST'}}</td>
        <td test-id="eventTableMacLabel">{{t 'respond.eventsList.generic.tableMAC'}}</td>
        <td test-id="eventTableUserLabel">{{t 'respond.eventsList.generic.tableUSER'}}</td>
      </tr>
      <tr>
        <td test-id="eventSourceLabel">{{t 'respond.eventsList.generic.sourceLabel'}}</td>
        <td test-id="eventSourceIpValue">{{item.source.device.ip_address}}</td>
        <td test-id="eventSourcePortValue">{{item.source.device.port}}</td>
        <td test-id="eventSourceHostValue">{{item.source.device.dns_hostname}}</td>
        <td test-id="eventSourceMacValue">{{item.source.device.mac_address}}</td>
        <td test-id="eventSourceUserValue">{{item.source.user.username}}</td>
      </tr>
      <tr>
        <td test-id="eventTargetLabel">{{t 'respond.eventsList.generic.targetLabel'}}</td>
        <td test-id="eventTargetIpValue">{{item.destination.device.ip_address}}</td>
        <td test-id="eventTargetPortValue">{{item.destination.device.port}}</td>
        <td test-id="eventTargetHostValue">{{item.destination.device.dns_hostname}}</td>
        <td test-id="eventTargetMacValue">{{item.destination.device.mac_address}}</td>
        <td test-id="eventTargetUserValue">{{item.destination.user.username}}</td>
      </tr>
    </tbody>
  </table>
</div>
