<article class="rsa-live-content rsa-screen rsa--abs js-test-live-content-root {{if isNavigationCollapsed 'nav-collapsed'}}">
  {{! LIVE CONTENT NAVIGATION PANEL }}
  <nav class="rsa-live-content-navigation-panel">
    <vbox>
      <vbox fit>
        {{#rsa-content-section-header}}
          <h1>&nbsp;</h1>
        {{/rsa-content-section-header}}
      </vbox>
      {{#rsa-nav-secondary}}
        {{#engine-link-to "live.index" current-when="live.index"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="home-1"}}<span>{{t 'live.home'}}</span>
          </section>
        {{/engine-link-to}}
        {{#engine-link-to "live.search" current-when="live.search"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="search"}}<span>{{t 'live.search.title'}}</span>
          </section>
        {{/engine-link-to}}
        {{#engine-link-to "live.deployed" current-when="live.deployed"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="location-map"}}<span>{{t 'live.deployed.title'}}</span>
          </section>
        {{/engine-link-to}}
        {{#engine-link-to "live.jobs" current-when="live.jobs"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="hourglass-1"}}<span>{{t 'live.jobs.title'}}</span>
          </section>
        {{/engine-link-to}}
        {{#engine-link-to "live.updates" current-when="live.updates"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="server-refresh-1"}}<span>{{t 'live.updates.title'}}</span>
          </section>
        {{/engine-link-to}}
        {{#engine-link-to "live.feeds" current-when="live.feeds"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="rss-feed"}}<span>{{t 'live.feeds.title'}}</span>
          </section>
        {{/engine-link-to}}
        {{#engine-link-to "live.custom" current-when="live.custom"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="tools-wrench-screwdriver"}}<span>{{t 'live.custom.title'}}</span>
          </section>
        {{/engine-link-to}}
      {{/rsa-nav-secondary}}
    </vbox>
  </nav>
  {{outlet}}
</article>
