{{#if hasOperations}}
  <label class="rsa-form-label power-select">
    <div class="label-text">
      Operations
    </div>

    {{#power-select
      placeholder="Select operation"
      options=filteredOperationNames
      selected=selectedOperation.name
      searchPlaceholder="Type to filter operations"
      onchange=(action 'selectOperation') as |option|}}
      {{option}}
    {{/power-select}}
  </label>

  {{#if selectedOperation}}
    {{tree-view-operation-panel}}
  {{/if}}

  {{#if responses.error}}
    <br>
    {{rsa-form-textarea value=responses.error label='Error' isError=true isReadOnly=true}}
  {{/if}}

  <div class="small-header top-margin">Response (Click text to select)</div>
  {{#if responses.hasPendingOperation}}
    {{rsa-loader size='medium' label=(concat responses.progress '% ' responses.status)}}
  {{/if}}

  <br>
  <div class="scroll-box response-panel padding" {{action "selectResponseText"}}>
    {{#each responses.raw key="@index" as |response|}}
      {{tree-view-response-item item=response}}
    {{/each}}
  </div>
{{/if}}
