<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <fill block class="scroll-box">
  {{#spec-category title="States"}}
    {{#spec-member title="Default"}}
      {{x-toggle value=toggledA onToggle=(action (mut toggledA))}}

      {{!-- BEGIN-SNIPPET switch1
      {{x-toggle value=toggledA onToggle=(action (mut toggledA))}}
      END-SNIPPET --}}
      {{code-snippet name="switch1.hbs"}}
    {{/spec-member}}

    {{#spec-member title="Disabled"}}
      <label class="rsa-form-switch">
        {{x-toggle disabled=true value=toggledC onToggle=(action (mut toggledC))}}
      </label>

      {{!-- BEGIN-SNIPPET switch3
      <label class="rsa-form-switch">
        {{x-toggle disabled=true value=toggledC onToggle=(action (mut toggledC))}}
      </label>
      END-SNIPPET --}}
      {{code-snippet name="switch3.hbs"}}
    {{/spec-member}}
  {{/spec-category}}

  {{#spec-category title="Presentations"}}
    {{#spec-member title="With Label"}}
      <label class="rsa-form-switch">
        {{x-toggle value=toggledB onToggle=(action (mut toggledB))}}
        Switch Value label
      </label>

      {{!-- BEGIN-SNIPPET switch2
      <label class="rsa-form-switch" {{action 'flipValue' 'toggledB'}}>
        {{x-toggle value=toggledB onToggle=(action (mut toggledB))}}
        Switch Value label
      </label>
      END-SNIPPET --}}
      {{code-snippet name="switch2.hbs"}}
    {{/spec-member}}
  {{/spec-category}}
</fill>
</hbox>
