{{#if parserRuleMetas}}
  <h2> {{t 'configure.logsParser.mapping'}} </h2>
  <table class='parserTable'>
    {{#each parserRuleMetas as |meta index|}}
      <tr class='{{if (eq index 0) 'firstItem'}}'>
        <td class='metaIndex'>
          {{meta.index}}
        </td>
        <td class='metaKey'>
          {{meta.key}}
        </td>
        <td class='metaFormat'>
          {{meta.format}}
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}