<div id="modalDestination"></div>

{{#if session.isAuthenticated}}
  {{#rsa-application-header}}
    {{#link-to "protected.monitor"}}{{t "monitor.title"}}{{/link-to}}
    {{#link-to "protected.respond"}}{{t "respond.title"}}{{/link-to}}
    {{#link-to "protected.explore"}}{{t "explore.title"}}{{/link-to}}
    {{#link-to "protected.admin"}}{{t "admin.title"}}{{/link-to}}
  {{/rsa-application-header}}
{{/if}}

{{#rsa-application-content}}
  {{outlet}}
{{/rsa-application-content}}

{{#if session.isAuthenticated}}
  {{rsa-application-footer title=(t 'application.title') version=(t 'application.version')}}
{{/if}}