<h3 {{action 'toggleContent'}}>
  <hbox>
    {{rsa-icon size="small" name=(concat 'arrow-' arrowDirection '-12')}}
    {{#if treeTable}}
      {{#each label as |labelList|}}
        <vbox xs="2" >
          <span title={{labelList}}> {{labelList}} </span>
        </vbox>
      {{/each}}
    {{else}}
      {{label}}
    {{/if}}
  </hbox>
</h3>

<div class="content">
  {{yield}}
</div>
