{{#if isActiveWithOptions}}
  {{#power-select-typeahead
    afterOptionsComponent=(
      component optionsComponent
      activePillTab=(readonly activePillTab)
      hasTextPill=hasTextPill
      options=(readonly _groomedAfterOptionsMenu.list)
      sendMessage=(action 'handleMessage')
    )
    allowClear=false
    dropdownClass='investigate-query-dropdown'
    calculatePosition=_calculatePosition
    defaultHighlighted=_highlighter
    extra=(hash labelPath='metaName')
    initiallyOpened=false
    matcher=_matcher
    matchTriggerWidth=false
    noMatchesMessage=noMatchesMessage
    onchange=(action 'onChange')
    onfocus=(action 'onFocus')
    oninput=(action 'onInput')
    onkeydown=(action 'onKeyDown')
    options=selectableOptions
    optionsComponent=(
      component 'query-container/power-select-options'
      onmousedown=(action 'onOptionMouseDown')
      onmouseenter=(action 'onOptionMouseEnter')
    )
    placeholder=placeholder
    preventScroll=true
    selected=selection
    triggerComponent='query-container/power-select-resizable-input'
    as |meta|
  }}
    {{#if isMetaTabActive}}
      <span class="value">{{meta.metaName}}</span>
      <span class="description" title="{{meta.displayName}}">{{meta.displayName}}</span>
    {{else}}
      <span class="recent-queries-option meta">{{meta}}</span>
    {{/if}}
  {{/power-select-typeahead}}
{{else}}
  {{selection.metaName}}
{{/if}}