{{#if isActiveWithOptions}}
  {{#power-select-typeahead
    afterOptionsComponent=(
      component optionsComponent
      sendMessage=(action 'handleMessage')
    )
    allowClear=false
    dropdownClass='investigate-query-dropdown'
    calculatePosition=_calculatePosition
    defaultHighlighted=_highlighter
    extra=(hash labelPath='metaName')
    initiallyOpened=false
    matcher=_matcher
    matchTriggerWidth=false
    noMatchesMessage='All meta filtered out'
    onchange=(action 'onChange')
    onfocus=(action 'onFocus')
    oninput=(action 'onInput')
    onkeydown=(action 'onKeyDown')
    options=metaOptions
    optionsComponent=(
      component 'query-container/power-select-options'
      onmousedown=(action 'onOptionMouseDown')
    )
    placeholder=placeholder
    preventScroll=true
    selected=selection
    triggerComponent='query-container/power-select-resizable-input'
    as |meta|
  }}
    <span class="value">{{meta.metaName}}</span>
    <span class="description" title="{{meta.displayName}}">{{meta.displayName}}</span>
  {{/power-select-typeahead}}
{{else}}
  {{selection.metaName}}
{{/if}}