{{content-filter}}
<hbox>
  <box class="filter-zone">
    <h2>{{t 'investigateFiles.filter.filters'}}</h2>
    <section class="favourite-filters">
      {{system-filters}}
      {{custom-filters}}
    </section>
  </box>
  <box class="files-zone">
    <section class="rsa-files-toolbar flexi-fit">
      {{files-toolbar}}
    </section>
    <box class="files-body">
      {{#if (eq areFilesLoading 'wait')}}
        <centered>
          {{rsa-loader size='larger'}}
        </centered>
      {{else}}
        {{#if isSchemaLoaded}}
          {{file-list}}
        {{/if}}
      {{/if}}
    </box>
    <box class="files-footer">
      {{file-pager}}
    </box>
  </box>
</hbox>



