{{#if isActive}}
  {{!--
    initiallyOpened should be set to "true", but if you do that the
    defaultHighlighted property has no effect (first item not highlighted).
    https://github.com/cibernox/ember-power-select-typeahead/issues/71
  --}}
  {{#power-select-typeahead
    afterOptionsComponent=(
      component optionsComponent
      activePillTab=(readonly activePillTab)
      canPerformTextSearch=(readonly canPerformTextSearch)
      hasTextPill=(readonly hasTextPill)
      options=(readonly _groomedAfterOptionsMenu.list)
      sendMessage=(action 'handleMessage')
    )
    dropdownClass='investigate-query-dropdown'
    allowClear=false
    calculatePosition=_calculatePosition
    defaultHighlighted=undefined
    extra=(hash labelPath='displayName')
    initiallyOpened=false
    matcher=_matcher
    matchTriggerWidth=false
    noMatchesMessage=noMatchesMessage
    onchange=(action 'onChange')
    onfocus=(action 'onFocus')
    oninput=(action 'onInput')
    onkeydown=(action 'onKeyDown')
    options=selectableOptions
    optionsComponent=(
      component 'query-container/power-select-options'
      onmousedown=(action 'onOptionMouseDown')
      onmouseenter=(action 'onOptionMouseEnter')
    )
    preventScroll=true
    selected=selection
    triggerComponent='query-container/power-select-resizable-input'
    as |operator|
  }}
    {{#if isMetaTabActive}}
      {{!--
      The icon will be there for inexpensive operators too, but will
      be hidden, styled by class names. This was required to align
      operator display names
      --}}
      {{rsa-icon
        name='stopwatch'
        style='lined'
        class=(if operator.isExpensive 'is-expensive expensive-indicator' 'expensive-indicator')
        title=(if operator.isExpensive (t 'queryBuilder.expensive') '')
      }}
      <span class="value">{{operator.displayName}}</span>
      <span class="description">{{operator.description}}</span>
    {{else}}
      <span class="recent-queries-option operator">{{operator}}</span>
    {{/if}}
  {{/power-select-typeahead}}
{{else}}
  {{selection.displayName}}
{{/if}}