<article class="rsa-protected rsa-screen rsa--abs">
    <header class="rsa-toolbar">
        <nav class="rsa-button-group">
            {{#link-to "protected.monitor" class="js-test-nav-monitor-link"}}{{t "monitor.title"}}{{/link-to}}
            {{#link-to "protected.respond" class="js-test-nav-respond-link"}}{{t "respond.title"}}{{/link-to}}
            {{#link-to "protected.explore" class="js-test-nav-explore-link"}}{{t "explore.title"}}{{/link-to}}
            {{#link-to "protected.admin" class="js-test-nav-admin-link"}}{{t "admin.title"}}{{/link-to}}
        </nav>
        <section class="rsa-button-group">
            <button class="rsa-protected__theme-target rsa-dropdown js-test-nav-theme-btn">{{t "themes.prompt"}}</button>
            {{#rsa-popover class="rsa-theme-popover" target=".rsa-protected__theme-target"}}
                <ul>
                    <li selected="{{is-equal theme.selected "menlo-park"}}"
                        class="js-test-menlo-park-theme-li"
                        {{action "changeTheme" "menlo-park"}}
                            >{{t "themes.menloPark"}}</li>
                </ul>
            {{/rsa-popover}}
            <button class="rsa-protected__locale-target rsa-dropdown js-test-nav-locale-btn">{{t 'languages.prompt'}}</button>
            {{#rsa-popover class="rsa-locale-popover"  target=".rsa-protected__locale-target"}}
                <ul>
                    <li class="js-test-nav-locale-en-li"
                        selected="{{is-equal i18n.locale "en"}}"
                        {{action "changeLocale" "en"}}
                            >{{t 'languages.en'}}</li>
                    <li class="js-test-nav-locale-jp-li"
                        selected="{{is-equal i18n.locale "jp"}}"
                        {{action "changeLocale" "jp"}}
                            >{{t 'languages.jp'}}</li>
                </ul>
            {{/rsa-popover}}
            <button class="js-test-nav-logout-btn"
                {{ action "invalidateSession" }}
                    >{{t "login.logoutTitle"}}</button>
        </section>
    </header>
    <section>
        {{outlet}}
    </section>
</article>
