<div class="id">{{info.id}}</div>
<div class="name">
  {{respond-common/editable-field
    value=info.name
    allowEmptyValue=false
    isDisabled=(not accessControl.respondCanManageIncidents)
    placeholder=(t 'respond.empty')
    onFieldChange=(action 'updateName' info.id 'name')
  }}
</div>
{{#if isSendToArcherAvailable}}
  <div class="action-control send-to-archer">
    {{#if (not info.sentToArcher)}}
      <div class="rsa-button-with-confirmation">
        {{#rsa-button-with-confirmation
          isDisabled=isSendToArcherDisabled
          title=(t 'respond.incidents.actions.actionMessages.confirmSendToArcherTitle')
          cancelButtonLabel=(t 'forms.cancel')
          confirmationMessage=(t 'respond.incidents.actions.actionMessages.confirmSendToArcher')
          onConfirm=(action 'sendToArcher' info.id)}}
          {{t 'respond.incident.sendToArcher'}}
        {{/rsa-button-with-confirmation}}
      </div>
    {{else}}
      {{rsa-icon name='report-problem-triangle'}} {{t 'respond.incident.sentToArcher'}}
    {{/if}}
  </div>
{{/if}}