<div class='alerts-tab_body_header'>
  {{severity-bar data=alertsSeverity}}
  <div class='alerts-tab_body_header_export'>
    <div>
      {{#rsa-form-button click=(action 'exportAlerts')}} 
        {{rsa-icon size='medium' style='lined' name='arrow-up-1'}} {{t 'investigateUsers.export'}}
      {{/rsa-form-button}}
    </div>
  </div>
</div>
<div class='alerts-tab_body_body'>
  {{#if hasAlerts}}
    {{alerts-tab/body/alerts-table}}
  {{else}}
    <center class='center'>
      {{#if alertListError}}
        {{t (concat 'investigateUsers.errorMessages.' alertListError)}}
      {{else}}
        {{rsa-loader size="medium" label=(t 'investigate.loading')}}
      {{/if}}
    </center>
  {{/if}}
</div>