<article class="js-test-find-admin">
    <h2>{{t "admin.title"}}</h2>
    <p>{{t "admin.details"}}</p>
    <section>
        <h3>{{t "about.title"}}</h3>
        <dl>
            <dt>{{t 'about.appName'}}</dt>
            <dd class="aboutDetails">{{name}}</dd>
            <dt>{{t 'about.appVersion'}}</dt>
            <dd class="aboutDetails">{{version}}</dd>
        </dl>
    </section>
</article>
