<vbox>
  <hbox class="control source-type">
    <label class="rsa-form-label power-select">
      <div class="label-text">
        {{t 'adminUsm.policyWizard.sourceType'}}
      </div>
      {{#power-select
        class='source-type'
        tabIndex='1'
        placeholder=(t 'adminUsm.policyWizard.sourceTypePlaceholder')
        options=sourceTypes
        selected=selectedSourceType
        searchField='label'
        disabled=cannotEditSourceType
        onchange=(action 'handleSourceTypeChange') as |option|
      }}
        {{t option.label}}
      {{/power-select}}
    </label>
  </hbox>
  <hbox class="control">
    {{rsa-form-input
      class='policy-name'
      tabIndex='2'
      label=(t 'adminUsm.policyWizard.name')
      placeholder=(t 'adminUsm.policyWizard.namePlaceholder')
      value=name
      maxLength=256
      isError=nameValidator.showError
      errorMessage=(t nameValidator.errorMessage)
      isDisabled=cannotEditPolicyIdentity
      focusOut=(action 'handleNameChange')
      }}
  </hbox>
  <vbox>
    <hbox class="control-with-error">
      {{rsa-form-textarea
        class='policy-description'
        tabIndex='3'
        label=(t 'adminUsm.policyWizard.description')
        placeholder=(t 'adminUsm.policyWizard.descPlaceholder')
        value=description
        maxLength=8000
        isError=descriptionValidator.showError
        isDisabled=cannotEditPolicyIdentity
        focusOut=(action 'handleDescriptionChange' value='target.value')
      }}
    </hbox>
    <div class="control-input-error policy-description-error">
      {{#if descriptionValidator.showError}}
        {{t descriptionValidator.errorMessage}}
      {{/if}}
    </div>
  </vbox>
</vbox>
