{{#each selectedTags as |tag|}}
  {{rsa-content-label label=(concat tag.parent ':' tag.name) size='small' click=(action 'tagSelected' tag)}}
{{/each}}

{{#if contentTreeIsHidden}}
  <div class="rsa-form-tag-manager__tree-toggle" {{action 'toggleTreeVisibility'}}>
    {{rsa-icon class="rsa-form-tag-manager__tree-toggle__icon" size='medium' name='add-circle-1'}}
    <i class="rsa-form-tag-manager__tree-toggle__label">{{addTagsLabel}}</i>
  </div>
{{else}}
  {{rsa-content-tree rawCategoryData=tags tagSelected=(action 'tagSelected') toggleTreeVisibilityAction=(action 'toggleTreeVisibility')}}
{{/if}}
