{{#each selectedTags as |category|}}
  {{rsa-content-label label=category size='small' click=(action 'removeTag' category)}}
{{/each}}

{{#if contentTreeIsHidden}}
  <div class="rsa-form-tag-manager__tree-toggle" {{action 'toggleTreeVisibility'}}>
    {{rsa-icon class="rsa-form-tag-manager__tree-toggle__icon" size='medium' name='add-circle-1'}}
    <i class="rsa-form-tag-manager__tree-toggle__label">{{addTagsLabel}}</i>
  </div>
{{else}}
  {{rsa-content-tree rawCategoryData=availableTags addAction=(action 'addTag') toggleTreeVisibilityAction=(action 'toggleTreeVisibility')}}
{{/if}}
