{{#liquid-bind isInSelectMode use=(if isInSelectMode "toUp" "toDown") as |currentIsInSelectMode|}}
  {{#if currentIsInSelectMode}}
    <section class="rsa-incidents-toolbar__selections-counter">
      <span class="selection-count">{{ t 'respond.incidents.selectionCount' selectionCount=selectionCount}} </span>
      {{#if (not hasNoSelections)}}
        {{#rsa-form-button style='danger' class='deselect-all' defaultAction=(action 'handleDeselectAll')}}
          {{t 'respond.incidents.actions.deselectAll' }}
        {{/rsa-form-button}}
      {{/if}}
    </section>
    <section class="rsa-incidents-toolbar__selections-btns">
      {{rsa-incident/update-action-button
        fieldName='priority'
        options=priorityTypes
        style='primary'
        incidentId=incidentsSelected
        optionLabelProperty='labelKey'
        translateOptionLabel=true
        optionValueProperty='name'
        isDisabled=hasNoSelections
        searchEnabled=false
        iconName="gauge"
        label=(t 'respond.incidents.actions.changePriority')
      }}

      {{rsa-incident/update-action-button
        fieldName='status'
        options=statusTypes
        style='primary'
        incidentId=incidentsSelected
        optionLabelProperty='labelKey'
        translateOptionLabel=true
        optionValueProperty='name'
        isDisabled=hasNoSelections
        searchEnabled=false
        iconName="flag-1"
        label=(t 'respond.incidents.actions.changeStatus')
      }}

      {{rsa-incident/update-action-button
        fieldName='assignee'
        options=users
        style='primary'
        incidentId=incidentsSelected
        searchField='name'
        optionLabelProperty='name'
        isDisabled=hasNoSelections
        iconName='female'
        label=(t 'respond.incidents.actions.changeAssignee')
      }}
      <button class="rsa-button" {{action "handleToggleIsInSelectMode"}}>Done</button>
    </section>
  {{else}}
    <section class="rsa-respond-incidents-toolbar__filters">
      <hbox>
        <div class="toolbar-button more-filters-button" {{action "handleToggleFilterPanel"}}>
          {{rsa-icon name='filter-22'}}
        </div>
      </hbox>
    </section>

    <section class="rsa-respond-incidents-toolbar__views">
      <label class="rsa-power-select-label">{{t 'respond.incidents.sort.label'}}</label>
      {{#power-select
        options=(readonly sortOptions)
        selected=(readonly selectedSortOption)
        onchange=(action "handleSortChange")
        searchEnabled=false
        searchField="label"
        matchTriggerWidth=false
        as |option|}}

        {{option.label}}
      {{/power-select}}
    </section>

    <section class="rsa-respond-incidents-toolbar__btns">
      <button class="rsa-button" {{action "handleToggleIsInSelectMode"}}>Edit</button>
    </section>
  {{/if}}
{{/liquid-bind}}




