{{#rsa-application-modal
  class="reset-risk-score-dialog"
  autoOpen=true
  label=(t 'investigateHosts.hosts.resetHosts.modal.title')
  onClose=onClose}}
  <div class='modal-content reset-risk-score'>
    {{#if isMaxResetRiskScoreLimit}}
      <span class='max-limit-info'>
        {{rsa-icon class='rsa-icon-information-circle-filled'}}
        <p>{{t 'investigateHosts.hosts.resetHosts.limitInfo'}}</p>
      </span>
    {{/if}}
    {{t 'investigateHosts.hosts.resetHosts.modal.message'}}
    <div class="confirmationButtons">
      {{#rsa-form-button class="closeReset" click=onClose}}
        {{t 'investigateHosts.hosts.resetHosts.cancel'}}
      {{/rsa-form-button}}
      {{#rsa-form-button class="resetButton" style='primary' defaultAction=onReset}}
        {{t 'investigateHosts.hosts.resetHosts.reset'}}
      {{/rsa-form-button}}
    </div>
  </div>
{{/rsa-application-modal}}