<box fit class="rsa-explorer-inspector__header">
  <h2>
    {{yield (hash
      inspectorHeader=(component inspectorHeaderComponent
        info=(readonly info)
        deleteItem=deleteItem
        updateItem=updateItem)
    )}}
  </h2>
</box>
<hbox fit justify="center" nowrap class="rsa-explorer-inspector__toolbar">
  <span class="rsa-tab text-only {{if (eq viewMode 'overview') 'is-active' ''}}"
    {{action 'changeViewMode' "overview"}}>
    {{t 'respond.explorer.inspector.overview'}}
  </span>
  {{yield 'inspector-toolbar' (get this 'viewMode')}}
</hbox>
<box class="rsa-explorer-inspector__body">
  {{yield (hash
    viewMode=(get this 'viewMode')
    inspectorContent=(component inspectorContentComponent
      info=(readonly info)
      deleteItem=deleteItem
      updateItem=updateItem)
    )}}
</box>
