<article class="rsa-admin rsa-screen rsa--abs js-test-admin-root">
  <h3>{{t "about.title"}}</h3>
  <p>
    <dl>
      <dt>{{t 'about.appName'}}</dt>
      <dd class="aboutDetails">{{name}}</dd>
      <dt>{{t 'about.appVersion'}}</dt>
      <dd class="aboutDetails">{{version}}</dd>
    </dl>
  </p>
</article>
