<div class="events-list-endpoint-header">
  <vbox>
    <hbox test-id="eventTimeLabel">{{t 'respond.eventsList.endpoint.time'}}</hbox>
    <hbox test-id="eventTimeValue">{{rsa-content-datetime timestamp=item.timestamp}}</hbox>
  </vbox>
  <vbox>
    <hbox test-id="eventTypeLabel">{{t 'respond.eventsList.endpoint.type'}}</hbox>
    <hbox test-id="eventTypeValue">{{item.type}}</hbox>
  </vbox>
  <vbox>
    <hbox test-id="eventCategoryLabel">{{t 'respond.eventsList.endpoint.category'}}</hbox>
    <hbox test-id="eventCategoryValue">{{item.category}}</hbox>
  </vbox>
  <vbox>
    <hbox test-id="eventActionLabel">{{t 'respond.eventsList.endpoint.action'}}</hbox>
    <hbox test-id="eventActionValue">{{item.action}}</hbox>
  </vbox>
  <vbox>
    <hbox test-id="eventHostnameLabel">{{t 'respond.eventsList.endpoint.hostname'}}</hbox>
    <hbox test-id="eventHostnameValue">{{item.hostname}}</hbox>
  </vbox>
  <vbox>
    <hbox test-id="eventUserAccountLabel">{{t 'respond.eventsList.endpoint.userAccount'}}</hbox>
    <hbox test-id="eventUserAccountValue">{{item.user_account}}</hbox>
  </vbox>
  <vbox>
    <hbox test-id="eventOperatingSystemLabel">{{t 'respond.eventsList.endpoint.operatingSystem'}}</hbox>
    <hbox test-id="eventOperatingSystemValue">{{item.operating_system}}</hbox>
  </vbox>
  <vbox>
    <hbox test-id="eventFileHashLabel">{{t 'respond.eventsList.endpoint.fileHash'}}</hbox>
    <hbox test-id="eventFileHashValue">{{item.file_SHA256}}</hbox>
  </vbox>
</div>
<div class="events-list-endpoint-footer">
  <table>
    <tbody>
      <tr>
        <td></td>
        <td test-id="eventTableFileNameLabel">{{t 'respond.eventsList.endpoint.tableFILENAME'}}</td>
        <td test-id="eventTableLaunchLabel">{{t 'respond.eventsList.endpoint.tableLAUNCH'}}</td>
        <td test-id="eventTablePathLabel">{{t 'respond.eventsList.endpoint.tablePATH'}}</td>
        <td test-id="eventTableHashLabel">{{t 'respond.eventsList.endpoint.tableHASH'}}</td>
      </tr>
      <tr>
        <td test-id="eventSourceLabel">{{t 'respond.eventsList.endpoint.sourceLabel'}}</td>
        <td test-id="eventSourceFileNameValue">{{item.source_filename}}</td>
        <td test-id="eventSourceLaunchValue">{{item.source_parameter}}</td>
        <td test-id="eventSourcePathValue">{{item.source_path}}</td>
        <td test-id="eventSourceHashValue">{{item.source_hash}}</td>
      </tr>
      <tr>
        <td test-id="eventTargetLabel">{{t 'respond.eventsList.endpoint.targetLabel'}}</td>
        <td test-id="eventTargetFileNameValue">{{item.target_filename}}</td>
        <td test-id="eventTargetLaunchValue">{{item.target_parameter}}</td>
        <td test-id="eventTargetPathValue">{{item.target_path}}</td>
        <td test-id="eventTargetHashValue">{{item.target_hash}}</td>
      </tr>
    </tbody>
  </table>
</div>
