{{service-selector services=services serviceId=serviceId onServiceSelection=(action 'setSelectedService')}}
{{time-selector
  startTime=startTime
  endTime=endTime
  onTimeRangeError=(action 'timeRangeError')
  onIndividualTimeUnitChange=(action 'customTimeRange')
  timeRangeInvalid=timeRangeInvalid
  onEntireTimeRangeSelection=(action 'timeRangeSelection')}}
{{#rsa-form-button
  class='execute-query-button'
  defaultAction=executeQuery
  style='primary'}}
  Analyze
{{/rsa-form-button}}

<div class="process-detail-navigation">
  <hbox class="rsa-nav-tab-group {{if isTabDisabled 'disabled' }}">
    {{#each tabs as |tab|}}
      {{#rsa-nav-tab align='left' isActive=tab.isActive click=(action 'activate' tab) }}
        <div class="label">
          {{rsa-icon name=tab.icon}}
          {{#if (eq tab.name 'events')}}
            {{t tab.label count=eventsCount}}
          {{else if (eq tab.name 'hosts')}}
            {{t tab.label count=hostCount}}
          {{else}}
            {{t tab.label}}
          {{/if}}
        </div>
      {{/rsa-nav-tab}}
    {{/each}}
    {{#rsa-form-button isIconOnly=true defaultAction=(action 'goToHelp')}}
      {{rsa-icon name="help-circle" style="lined"}}
    {{/rsa-form-button}}
  </hbox>
</div>