{{#if isLoading}}
  <centered>
    {{rsa-loader size='larger'}}
  </centered>
{{else}}
  {{#if error}}
    {{rsa-panel-message message=errorMessage}}
  {{else}}
    <div class="input-content__header">
      {{#rsa-content-section-header}}
        {{t 'packager.packagerTitle'}}
      {{/rsa-content-section-header}}
    </div>
    <div class="input-content__fields col-xs-6">
      {{packager-form}}
    </div>

    <iframe src="{{iframeSrc}}" class="export-files-iframe"></iframe>
  {{/if}}
{{/if}}
