<box>
  {{#rsa-data-table
    lazy=true
    items=listOfFiles
    columnsConfig=columnsConfig
    onRowClick=(action 'onRowClick')}}
    {{#rsa-data-table/header as |column|}}
      {{#if (eq column.dataType "checkbox")}}
        <label class="rsa-form-checkbox-label  {{if isAllSelected 'checked'}}">
          {{rsa-form-checkbox checked=isAllSelected change=(action 'toggleAllSelection' tabName)}}
        </label>
      {{else}}
        <span class='js-move-handle'>
          {{column.title}}
        </span>
      {{/if}}
      {{#unless column.disableSort}}
        {{rsa-icon
          click=(action 'sort' column)
          name=(if column.isDescending "arrow-down-7" "arrow-up-7")
          class="sort"}}
      {{/unless}}
    {{/rsa-data-table/header}}
    {{#if isDataLoading}}
      <centered>
        {{rsa-loader size="larger"}}
      </centered>
    {{else}}
      {{#rsa-data-table/body
        rowComponentClass=(
          component 'endpoint/file-custom-row'
          serviceList=serviceList
          selections=fileContextSelections
          beforeContextMenuShow=(action 'beforeContextMenuShow')
          editFileStatus=(action 'showEditFileStatus')
          pivotToInvestigate=(action 'showServiceList')
          isRemediationAllowed=isRemediationAllowed
          restrictedFileList=restrictedFileList
          fileDownloadButtonStatus=fileDownloadButtonStatus
          downloadFiles=downloadFiles
          saveLocalCopy=saveLocalCopy
          serviceId=serviceId
          timeRange=timeRange
          analyzeFile=analyzeFile
          retrieveRemediationStatus=(action 'retrieveRemediationStatus' tabName)
          onSaveFileStatus = (action 'setFileContextFileStatus' tabName checksums)
        )
        noResultsMessage=(t 'investigateHosts.hosts.list.noResultsMessage') as |item index column|}}
        {{#if column.componentClass}}
          {{#rsa-data-table/body-cell item=item column=column}}
            <label class="rsa-form-checkbox-label {{if (is-selected fileContextSelections item) 'checked'}}">
              {{rsa-form-checkbox checked=false change=(action 'toggleRowSelection' tabName item)}}
            </label>
          {{/rsa-data-table/body-cell}}
        {{else}}
          {{host-detail/utils/table-cell item=item column=column serviceId=serviceId}}
        {{/if}}
      {{/rsa-data-table/body}}
      {{#if isPaginated}}
        {{rsa-data-table/load-more status=contextLoadMoreStatus click=(action 'getPaginatedFileContext' tabName)}}
      {{/if}}
    {{/if}}
  {{/rsa-data-table}}
</box>
<box class="files-footer" fit>
  {{host-table-footer index=listOfFiles.length total=totalItems selectedItems=fileContextSelections.length label=(t (concat 'investigateHosts.hosts.footerLabel.' storeName))}}
</box>
{{#if showServiceModal}}
  {{endpoint/pivot-to-investigate/modal
    serviceList=serviceList
    metaName='checksumSha256'
    itemList=itemList
    serviceId=serviceId
    timeRange=timeRange
    closeModal=(action 'onCloseServiceModal')}}
{{/if}}
{{#if showFileStatusModal}}
  {{endpoint/edit-file-status/modal
    itemList=fileContextSelections
    restrictedFileList=restrictedFileList
    onSaveFileStatus=(action 'setFileContextFileStatus' tabName selectedFileChecksums)
    retrieveRemediationStatus=(action 'retrieveRemediationStatus' tabName)
    data=fileStatus
    isRemediationAllowed=isRemediationAllowed
    closeModal=(action 'onCloseEditFileStatus')}}
{{/if}}
