<box class='process-tree-table-box'>
  {{#rsa-data-table
    lazy=true
    items=listOfFiles
    columnsConfig=columnsConfig
    agentCountMapping=agentCountMapping
    tabName=tabName
    selectedIndex=selectedRowIndex
    onRowClick=(action 'onRowClick')}}
    {{#rsa-data-table/header as |column|}}
      {{#if (eq column.dataType "checkbox")}}
        <label class="rsa-form-checkbox-label  {{if isAllSelected 'checked'}}">
          {{rsa-form-checkbox checked=isAllSelected change=(action 'toggleAllSelection' tabName)}}
        </label>
      {{else}}
        <span class='js-move-handle'>
          {{column.title}}
        </span>
      {{/if}}
      {{#unless column.disableSort}}
        {{rsa-icon
          click=(action 'sort' column)
          name=(if column.isDescending "arrow-down-7" "arrow-up-7")
          class="sort"}}
      {{/unless}}
    {{/rsa-data-table/header}}
    {{#if isDataLoading}}
      <centered>
        {{rsa-loader size="larger"}}
      </centered>
    {{else}}
      {{#host-detail/utils/file-context-table-body
        rowComponentClass=(
          component 'endpoint/file-custom-row'
          serviceList=serviceList
          selections=fileContextSelections
          showResetRiskScore = false
          beforeContextMenuShow=(action 'beforeContextMenuShow')
          editFileStatus=(action 'showEditFileStatus')
          pivotToInvestigate=(action 'pivotToInvestigate')
          isRemediationAllowed=isRemediationAllowed
          restrictedFileList=restrictedFileList
          fileDownloadButtonStatus=fileDownloadButtonStatus
          downloadFiles=downloadFiles
          saveLocalCopy=saveLocalCopy
          serviceId=serviceId
          timeRange=timeRange
          analyzeFile=analyzeFile
          retrieveRemediationStatus=(action 'retrieveRemediationStatus' tabName)
          onSaveFileStatus = (action 'setFileContextFileStatus' tabName checksums fileContextSelections)
        )
        noResultsMessage=(t 'investigateHosts.hosts.list.noResultsMessage') as |item index column|}}
        {{#if column.componentClass}}
          {{#rsa-data-table/body-cell item=item column=column}}
            <label class="rsa-form-checkbox-label {{if (is-selected fileContextSelections item) 'checked'}}">
              {{rsa-form-checkbox checked=false change=(action 'toggleRowSelection' tabName item)}}
            </label>
          {{/rsa-data-table/body-cell}}
        {{else}}
          {{#if (eq column.field 'machineCount')}}
            {{#rsa-data-table/body-cell item=item column=column}}
              {{endpoint/machine-count item=item machineCountMapping=agentCountMapping}}
            {{/rsa-data-table/body-cell}}
          {{else}}
            {{host-detail/utils/table-cell item=item column=column sid=sid}}
          {{/if}}
        {{/if}}
      {{/host-detail/utils/file-context-table-body}}
      {{#if isPaginated}}
        {{rsa-data-table/load-more status=contextLoadMoreStatus}}
      {{/if}}
    {{/if}}
  {{/rsa-data-table}}
</box>
<box class="files-footer" fit>
  {{host-table-footer index=listOfFiles.length total=totalItems selectedItems=fileContextSelections.length label=(t (concat 'investigateHosts.hosts.footerLabel.' storeName))}}
</box>
{{#if showServiceModal}}
  {{endpoint/pivot-to-investigate/modal
    serviceList=serviceList
    metaName='checksumSha256'
    itemList=itemList
    serviceId=serviceId
    timeRange=timeRange
    closeModal=(action 'onCloseServiceModal')}}
{{/if}}
{{#if showFileStatusModal}}
  {{endpoint/edit-file-status/modal
    itemList=fileContextSelections
    restrictedFileList=restrictedFileList
    onSaveFileStatus=(action 'setFileContextFileStatus' tabName selectedFileChecksums fileContextSelections)
    retrieveRemediationStatus=(action 'retrieveRemediationStatus' tabName)
    data=fileStatus
    isRemediationAllowed=isRemediationAllowed
    isFloatingOrMemoryDll=isFloatingOrMemoryDll
    closeModal=(action 'onCloseEditFileStatus')}}
{{/if}}
{{#if showResetScoreModal}}
  {{#rsa-application-modal
    autoOpen=true
    label=(t 'investigateFiles.riskScore.label')
    onClose=(action 'onResetScoreModalClose')}}
    <div class='modal-content reset-risk-score'>
      {{t 'investigateFiles.riskScore.confirmMessage'}}
      <div class="confirmationButtons">
        {{#rsa-form-button class="closeReset" click=(action 'onResetScoreModalClose') }}{{t 'investigateFiles.riskScore.cancel'}}{{/rsa-form-button}}
        {{#rsa-form-button class="resetButton" style='primary' click=(action 'resetRiskScoreAction')}}
          {{t 'investigateFiles.riskScore.reset'}}
        {{/rsa-form-button}}
      </div>
    </div>
  {{/rsa-application-modal}}
{{/if}}
