<hbox class="all-settings">
  <vbox xs="5" class="available-settings">
    <div class="control">
      <div class="label">{{t 'adminUsm.policy.availableSettings'}}</div>
      {{#each enabledAvailableSettings as |enabledAvailableSetting|}}
        {{#if enabledAvailableSetting.isHeader}}
          <div class="heading">{{t enabledAvailableSetting.label}}</div>
        {{else}}
          <div class="title available-setting {{enabledAvailableSetting.id}}
            {{if enabledAvailableSetting.isGreyedOut 'is-greyed-out' 'not-greyed-out'}}">
            {{t enabledAvailableSetting.label}}
            <span {{action 'addToSelectedSettings' enabledAvailableSetting.id}}>
              {{rsa-icon name="add-circle-1" style="lined"}}
            </span>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </vbox>
  <vbox xs="4" class="selected-settings">
    <div class="control">
      <div class="label">{{t 'adminUsm.policy.selectedSettings'}}</div>
      {{#each sortedSelectedSettings as |sortedSelectedSetting|}}
        {{#if sortedSelectedSetting.isHeader}}
          <div class="heading">{{t sortedSelectedSetting.label}}</div>
        {{else}}
          <div class="selected-setting">
            {{component sortedSelectedSetting.component
              selectedSettingId=sortedSelectedSetting.id
            }}
          </div>
        {{/if}}
      {{/each}}
    </div>
  </vbox>
</hbox>
