<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="States"}}
      {{#spec-member title="Default"}}
        <div class='rsa-form-radio-group'>
          <h4 class='rsa-form-radio-group-label'>Radio Group Label</h4>
          {{rsa-form-radio model=baz value='bar' label='Bar'}}
          {{rsa-form-radio model=baz value='foo' label='Foo'}}
        </div>
        {{!-- BEGIN-SNIPPET radios1
        <div class='rsa-form-radio-group'>
          <h4 class='rsa-form-radio-group-label'>Radio Group Label</h4>
          {{rsa-form-radio model=baz value='bar' label='Bar'}}
          {{rsa-form-radio model=baz value='foo' label='Foo'}}
        </div>
        END-SNIPPET --}}
        {{code-snippet name="radios1.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Read Only"}}
        {{rsa-form-radio label='Input Label' isReadOnly=true}}
        {{!-- BEGIN-SNIPPET radios2
        {{rsa-form-radio label='Input Label' isReadOnly=true}}
        END-SNIPPET --}}
        {{code-snippet name="radios2.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Disabled"}}
        {{rsa-form-radio label='Input Label' isDisabled=true}}
        {{!-- BEGIN-SNIPPET radios3
        {{rsa-form-radio label='Input Label' isDisabled=true}}
        END-SNIPPET --}}
        {{code-snippet name="radios3.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Error"}}
        {{rsa-form-radio label='Input Label' isError=true}}
        {{!-- BEGIN-SNIPPET radios4
        {{rsa-form-radio label='Input Label' isError=true}}
        END-SNIPPET --}}
        {{code-snippet name="radios4.hbs"}}
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
