<div class={{concat 'indicator' (unless isCatalyst ' non-catalyst')}}>
  {{t (concat 'incident.details.storyline.' indicatorType '.title')}}

  {{#if (eq indicatorType 'c2')}}
    {{#link-to (query-params entityType='IP' entityId=groupedIps)}}
      {{rsa-content-ip-connections fromIPs=groupedIps flow=horizontal}}
    {{/link-to}}
  {{else}}
    {{#link-to (query-params entityType='USER' entityId=indicator.alert.events.firstObject.user_dst)}}
      {{indicator.alert.events.firstObject.user_dst}}
    {{/link-to}}
  {{/if}}

  {{#unless (eq indicatorType 'vpn')}}
    {{rsa-icon size="small" name="arrow-right-7" class="direction"}}
  {{/unless}}

  {{#if (eq indicatorType 'c2')}}
    {{#link-to (query-params entityType='DOMAIN' entityId=domain)}}
      {{domain}}
    {{/link-to}}
  {{else if (eq indicatorType 'winauth')}}
    {{#link-to (query-params entityType='HOST' entityId=eventComputer)}}
      {{eventComputer}}
    {{/link-to}}
  {{/if}}

  <span class='risk-score'>
    {{t (concat 'incident.details.storyline.' indicatorType '.titleScore')
    score=(call-method this 'getEnrichmentData' 'titleScore')}}
  </span>

  <span class='divider'>|</span>

  {{#each indicator.sourceTypes as |source|}}
    <span class="indicator-source">
      {{rsa-content-label style='neutral' isInverted=true class="rsa-incident-tile-source" label=source}}
    </span>
  {{/each}}

  {{#if isCatalyst}}
    {{#link-to 'protected.responded.incident.details' 'catalyst' class='indicator__icon'}}
      {{rsa-icon name="arrow-right-12" size="smaller"}}
    {{/link-to}}
  {{else}}
    {{#link-to 'protected.responded.incident.details' indicator.id class='indicator__icon'}}
      {{rsa-icon name="arrow-right-12" size="smaller"}}
    {{/link-to}}
  {{/if}}
</div>

{{#each-in badgeScoreConfig as |index value|}}
  <div class={{concat 'sub-indicator' (unless isCatalyst ' non-catalyst')}}>
    {{#if (call-method this 'hasDynamici18nString' index)}}
      {{t (concat 'incident.details.storyline.' indicatorType '.' index) age=value}}
    {{else}}
      {{t (concat 'incident.details.storyline.' indicatorType '.' index)}}
      {{value}}
    {{/if}}
  </div>
{{/each-in}}
