<hbox>
  <div class="action-control policies-create-new-button">
    {{#link-to 'policy-create'}}
      {{#rsa-form-button}}
        {{rsa-icon name='add-1' style='lined'}}{{t 'adminUsm.button.createNew'}}
      {{/rsa-form-button}}
    {{/link-to}}
  </div>
  <div class="action-control polices-delete-button">
    {{#rsa-form-button
      isDisabled=true}}
      {{t 'adminUsm.button.delete'}}
    {{/rsa-form-button}}
  </div>
  <div class="action-control policies-apply-groups-button">
    {{#rsa-form-button
      isDisabled=true}}
      {{t 'adminUsm.button.applyGroups'}}
    {{/rsa-form-button}}
  </div>
  <div class="action-control policies-publish-button">
    {{#rsa-form-button
      isDisabled=true}}
      {{rsa-icon name="synchronize-3"}}{{t 'adminUsm.button.publish'}}
    {{/rsa-form-button}}
  </div>
</hbox>
