<h1 class="large centered">System</h1>
{{#rsa-chart data=graphAdapter as |params|}}
  {{#each params.data as |series index|}}
    {{rsa-line-series
      data=params.data
      dataIndex=index
      xScale=params.xScale
      yScale=params.yScale
      height=params.graphHeight}}
  {{/each}}
  {{rsa-y-axis scale=params.yScale tickCount=3}}
{{/rsa-chart}}
<h1 class="large centered">{{valuesAdapter.cpu_process}}</h1>
{{#dashboard-properties-grid}}
  {{dashboard-property-item propertyName='Process Memory' propertyValue=valuesAdapter.memory_process type='bytes'}}
  {{dashboard-property-item propertyName='Status' propertyValue=valuesAdapter.service_status}}
  {{dashboard-property-item propertyName='Started' propertyValue=valuesAdapter.running_since}}
  {{dashboard-property-item propertyName='Uptime' propertyValue=valuesAdapter.uptime}}
  <div class="property-item rsa-button-with-confirmation">
    {{#rsa-button-with-confirmation
      style="danger"
      title='Confirm Service Shutdown'
      confirmationMessage='Are you sure that you want to shutdown this service?'
      confirmButtonLabel='Yes'
      cancelButtonLabel='No'
      onConfirm=(action 'shutdown')}}
      Shutdown
    {{/rsa-button-with-confirmation}}
  </div>
{{/dashboard-properties-grid}}
