<hbox fit>
  {{spec-masthead model=model}}
</hbox>

<hbox>
  <div class="scroll-box">
    {{#spec-category title="Styles"}}
      {{#spec-member title="Default"}}
        {{rsa-content-badge-icon icon='account-circle-1' label='Badge Label'}}
        {{!-- BEGIN-SNIPPET badgeicon1
        {{rsa-content-badge-icon icon='account-circle-1' label='Badge Label'}}
        END-SNIPPET --}}
        {{code-snippet name="badgeicon1.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Passive"}}
        {{rsa-content-badge-icon isPassive=true icon='account-circle-1' label='Badge Label'}}
        {{!-- BEGIN-SNIPPET badgeicon2
        {{rsa-content-badge-icon isPassive=true icon='account-circle-1' label='Badge Label'}}
        END-SNIPPET --}}
        {{code-snippet name="badgeicon2.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Low"}}
        {{rsa-content-badge-icon isLow=true icon='account-circle-1' label='Badge Label'}}
        {{!-- BEGIN-SNIPPET badgeicon3
        {{rsa-content-badge-icon isLow=true icon='account-circle-1' label='Badge Label'}}
        END-SNIPPET --}}
        {{code-snippet name="badgeicon3.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Medium"}}
        {{rsa-content-badge-icon isMedium=true icon='account-circle-1' label='Badge Label'}}
        {{!-- BEGIN-SNIPPET badgeicon4
        {{rsa-content-badge-icon isMedium=true icon='account-circle-1' label='Badge Label'}}
        END-SNIPPET --}}
        {{code-snippet name="badgeicon4.hbs"}}
      {{/spec-member}}

      {{#spec-member title="High"}}
        {{rsa-content-badge-icon isHigh=true icon='account-circle-1' label='Badge Label'}}
        {{!-- BEGIN-SNIPPET badgeicon5
        {{rsa-content-badge-icon isHigh=true icon='account-circle-1' label='Badge Label'}}
        END-SNIPPET --}}
        {{code-snippet name="badgeicon5.hbs"}}
      {{/spec-member}}

      {{#spec-member title="Danger"}}
        {{rsa-content-badge-icon isDanger=true icon='account-circle-1' label='Badge Label'}}
        {{!-- BEGIN-SNIPPET badgeicon6
        {{rsa-content-badge-icon isDanger=true icon='account-circle-1' label='Badge Label'}}
        END-SNIPPET --}}
        {{code-snippet name="badgeicon6.hbs"}}
      {{/spec-member}}
    {{/spec-category}}
  </div>
</hbox>
