{{#rsa-content-tethered-panel
  position="top"
  panelId=panelId
as |hideAction model|
}}
  <div class="rsa-context-tooltip">
    <h2 class="rsa-context-tooltip__header">{{model.id}}</h2>
    <hbox class="rsa-context-tooltip__body">
      <vbox fill class="rsa-context-tooltip__content">
        {{#unless model.type}}
          <centered class="rsa-context-tooltip__content-error">
            <h3>{{t 'context.tooltip.contextUnavailable'}}</h3>
          </centered>
        {{else}}
          <box fit class="rsa-context-tooltip__content-header">
            {{t 'context.tooltip.contextHighlights'}}
          </box>
          <hbox fill justify="center" class="rsa-context-tooltip__content-body">
            {{context-tooltip/records
              model=model
              clickDataAction=(action "handleClick" hideAction clickDataAction model)
            }}
          </hbox>
          <centered fit class="rsa-context-tooltip__content-footer">
            {{#rsa-form-button
              class="js-open-overview"
              style="primary"
              defaultAction=(action "handleClick" hideAction clickDataAction model)
            }}
              {{t 'context.tooltip.viewOverview'}}
            {{/rsa-form-button}}
          </centered>
        {{/unless}}
      </vbox>
      <vbox fit class="rsa-context-tooltip__aside">
        <h3 class="rsa-context-tooltip__aside-header">
          {{t 'context.tooltip.actions'}}
        </h3>
        {{context-tooltip/actions
          class="rsa-context-tooltip__aside-body"
          entityType=model.type
          entityId=model.id
          addToListAction=(route-action 'openContextAddToList')
          hideAction=hideAction
        }}
      </vbox>
    </hbox>
  </div>
{{/rsa-content-tethered-panel}}