{{#rsa-content-card class='scroll-box'}}
  <div class="packager-information__header">
    {{rsa-icon name="information-circle" size="small"}} {{t 'packager.howToInstall'}}
  </div>
  <div class="packager-information__content">
    <div class="packager-information__content__steps">
      <ol class="packager-information__content__steps__outerList">
        <li>
          {{t 'packager.installStep1'}}
          <ul class="packager-information__content__steps__innerList">
            <li>{{t 'packager.installStep1a'}}</li>
            <li>{{t 'packager.installStep1b'}}</li>
            <li>{{t 'packager.installStep1c'}}</li>
          </ul>
        </li>
        <li>{{t 'packager.installStep2'}}</li>
        <li>{{t 'packager.installStep3'}}</li>
        <li>{{t 'packager.installStep4'}}</li>
      </ol>
    </div>
    <div class="packager-information__content__caution">
      <div class="packager-information__content__caution__title">
        {{t 'packager.installCaution'}}
      </div>
      <div class="packager-information__content__caution__text">
        {{t 'packager.installCautionText'}}
      </div>
    </div>
  </div>
{{/rsa-content-card}}
