<div class="create-incident-form">
  <p>
    {{#if selectedEventIds}}
      {{t 'respond.incidents.actions.actionMessages.createIncidentFromEventsInstruction' alertCount=alertIds.length}}
    {{else}}
      {{t 'respond.incidents.actions.actionMessages.createIncidentInstruction' alertCount=alertIds.length}}
    {{/if}}
  </p>

  {{#if selectedEventIds}}
    <div class="create-incident-alert-summary">
      {{rsa-form-input label=(t 'respond.alerts.alertSummary') value=alertName}}
      <span class="rsa-label">
        <label>{{t 'respond.alerts.severity'}}</label>
      </span>
      {{input type='number' min=1 max=100 name='alertSeverity' class='severity-input' value=alertSeverity}}
    </div>
  {{/if}}

  {{rsa-form-input label=(t 'respond.incidents.incidentName') value=name}}

  <label class="rsa-form-label power-select create-incident-priority">
    <div class="label-text">
      {{t 'respond.incident.priority'}}
    </div>
    {{#power-select
        options=priorityTypes
        selected=priority
        searchEnabled=false
        onchange=(action (mut priority)) as |option|}}
      {{t (concat 'respond.priority.' option)}}
    {{/power-select}}
  </label>
  <label class="rsa-form-label power-select create-incident-assignee">
    <div class="label-text">
      {{t 'respond.incident.assignee'}}
    </div>
    {{#power-select
        options=enabledUsers
        selected=assignee
        searchEnabled=false
        placeholder=(t 'respond.incident.chooseAssignee')
        onchange=(action (mut assignee)) as |option|}}
      {{or option.name option.id}}
    {{/power-select}}
  </label>
  <label class="rsa-form-label power-select create-incident-categories">
    <div class="label-text">
      {{t 'respond.incident.categories'}}
    </div>
    {{#power-select-multiple
        options=groupedCategories
        selected=categories
        searchEnabled=false
        placeholder=(t 'respond.incident.chooseCategory')
        onchange=(action (mut categories)) as |category|}}
      {{category.parent}}: {{category.name}}
    {{/power-select-multiple}}
  </label>
</div>
<footer>
  <hbox class="modal-footer-buttons">
    {{#rsa-form-button defaultAction=(action 'handleCancel') class='cancel'}}
      {{t 'forms.cancel'}}
    {{/rsa-form-button}}
    {{#rsa-form-button
        class="apply"
        isDisabled=isInvalid
        style='primary'
        defaultAction=(action 'handleCreate')
    }}
      {{t 'forms.ok'}}
    {{/rsa-form-button}}
  </hbox>
</footer>