{{#rsa-incident/events-list-row/trigger showDetail=(action "showDetail") ariaControls=ariaControls expanded=ariaExpanded}}
  <div class="events-list-alert-detail">
    {{rsa-risk-score score=associatedAlert.severity size="small" testId="eventsAlertScore"}}
    <h3 class="inline-alert-name" test-id="eventsAlertName">{{associatedAlert.name}}</h3>
    <span class="inline-events-summary" test-id="eventsAlertSummary">({{t 'respond.eventsList.eventOfTotal' eventIndex=eventIndex numEvents=associatedAlert.numEvents}})</span>
  </div>
  {{component componentClass item=item}}
{{/rsa-incident/events-list-row/trigger}}
<div tabIndex="0" id={{ariaControls}} aria-hidden="{{collapsed}}" class="events-list-detail" hidden={{collapsed}}>
  <h4 class="sr-only">{{t 'respond.eventDetails.title'}}</h4>
  {{#if ariaExpanded}}
    {{component detailComponentClass item=item}}
  {{/if}}
</div>
