{{#rsa-data-table columnsConfig=certificatesColumns items=certificatesItems}}
  {{#rsa-data-table/header as |column|}}
    {{#if (eq column.dataType "checkbox")}}
       <label class="rsa-form-checkbox-label {{concat 'column-selection-' column.field}} {{if isAllSelected 'checked'}}">
         {{rsa-form-checkbox
           checked=isAllSelected
           change=(action 'toggleAllCertificateSelection')}}
        </label>
     {{else}}
       <span class='js-move-handle'>
         {{t column.title}}
       </span>
     {{/if}}
  {{/rsa-data-table/header}}

  {{#if areCertificatesLoading}}
    <centered>
      {{rsa-loader size='larger'}}
    </centered>
  {{else}}
    {{#rsa-data-table/body noResultsMessage=(t 'configure.endpoint.certificates.noResultsMessage') as |item index column|}}
      {{#rsa-data-table/body-cell index=index item=item column=column}}
        {{#if column.componentClass}}
          {{#rsa-data-table/body-cell item=item column=column}}
            <label class="rsa-form-checkbox-label {{if (is-selected selectedCertificateList item) 'checked'}}">
              {{rsa-form-checkbox checked=item.checked change=(action 'toggleCertificateSelection' item)}}
            </label>
          {{/rsa-data-table/body-cell}}
        {{else}}
          {{get item column.field}}
        {{/if}}  
      {{/rsa-data-table/body-cell}}
    {{/rsa-data-table/body}}
    {{rsa-data-table/load-more status=loadMoreStatus click=(action 'getPageOfCertificates')}}
  {{/if}}
{{/rsa-data-table}}