<table>
  <caption class="sr-only" test-id="eventTableCaption">{{t 'respond.eventDetails.caption'}}</caption>
  <thead>
    <tr>
      <th></th>
      <th scope="col" test-id="eventTableFileNameLabel">{{t 'respond.eventsList.endpoint.tableFILENAME'}}</th>
      <th scope="col" test-id="eventTableLaunchLabel">{{t 'respond.eventsList.endpoint.tableLAUNCH'}}</th>
      <th scope="col" test-id="eventTablePathLabel">{{t 'respond.eventsList.endpoint.tablePATH'}}</th>
      <th scope="col" test-id="eventTableHashLabel">{{t 'respond.eventsList.endpoint.tableHASH'}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" test-id="eventSourceLabel">{{t 'respond.eventsList.endpoint.sourceLabel'}}</th>
      <td test-id="eventSourceFileNameValue">{{item.source_filename}}</td>
      <td class="launch-args" test-id="eventSourceLaunchValue">{{item.launch_argument_src}}</td>
      <td test-id="eventSourcePathValue">{{item.source_path}}</td>
      <td test-id="eventSourceHashValue">{{item.source_hash}}</td>
    </tr>
    <tr>
      <th scope="row" test-id="eventTargetLabel">{{t 'respond.eventsList.endpoint.targetLabel'}}</th>
      <td test-id="eventTargetFileNameValue">{{item.target_filename}}</td>
      <td class="launch-args" test-id="eventTargetLaunchValue">{{item.launch_argument_dst}}</td>
      <td test-id="eventTargetPathValue">{{item.target_path}}</td>
      <td test-id="eventTargetHashValue">{{item.target_hash}}</td>
    </tr>
  </tbody>
</table>
