<table>
  <caption class="sr-only" test-id="eventTableCaption">{{t 'respond.eventDetails.caption'}}</caption>
  <thead>
    <tr>
      <th></th>
      <th scope="col" test-id="eventTableFileNameLabel">{{t 'respond.eventsList.endpoint.tableFILENAME'}}</th>
      <th scope="col" test-id="eventTableLaunchLabel">{{t 'respond.eventsList.endpoint.tableLAUNCH'}}</th>
      <th scope="col" test-id="eventTablePathLabel">{{t 'respond.eventsList.endpoint.tablePATH'}}</th>
      <th scope="col" test-id="eventTableHashLabel">{{t 'respond.eventsList.endpoint.tableHASH'}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" test-id="eventSourceLabel">{{t 'respond.eventsList.endpoint.sourceLabel'}}</th>
      {{properties-for/meta-value key="filename" value=item.source_filename tagName="td" testId="eventSourceFileNameValue"}}
      <td test-id="eventSourceLaunchValue">{{item.launch_argument_src}}</td>
      <td test-id="eventSourcePathValue">{{item.source_path}}</td>
      {{properties-for/meta-value class="hash" key="hash" value=item.source_hash tagName="td" testId="eventSourceHashValue"}}
    </tr>
    <tr>
      <th scope="row" test-id="eventTargetLabel">{{t 'respond.eventsList.endpoint.targetLabel'}}</th>
      {{properties-for/meta-value key="filename" value=item.target_filename tagName="td" testId="eventTargetFileNameValue"}}
      <td test-id="eventTargetLaunchValue">{{item.launch_argument_dst}}</td>
      <td test-id="eventTargetPathValue">{{item.target_path}}</td>
      {{properties-for/meta-value class="hash" key="hash" value=item.target_hash tagName="td" testId="eventTargetHashValue"}}
    </tr>
  </tbody>
</table>
