 {{rsa-content-definition label=(t title)}}
 <div>
   {{#rsa-content-tethered-panel-trigger class="rsa-context-panel__grid__host-details__tetheredPanel" panel=tetherPanelId}}
     <div class="rsa-context-panel__grid__host-details__groupdata">{{groupSize}}</div>
   {{/rsa-content-tethered-panel-trigger}}
   {{#rsa-content-tethered-panel panelId=tetherPanelId displayCloseButton=false position='top-left'}}
     <section>
       {{#if (gt groupSize 1)}}
         {{#each groupData as |cellData |}}
           <div class="rsa-context-panel__grid__host-details__field-value">
             <span title= {{cellData}}>{{cellData}}</span>
           </div>
         {{/each}}
       {{else}}
         <div class="rsa-context-panel__grid__host-details__field-value">
           <span title= {{groupData}}>{{groupData}}</span>
         </div>
       {{/if}}
     </section>
   {{/rsa-content-tethered-panel}}
 </div>
