<vbox>
  <div class="rsa-context-panel__grid__host-details__field-name">{{t title}}</div>
  {{#rsa-content-tethered-panel-trigger class="rsa-context-panel__grid__host-details__tetheredPanel" panel=tetherPanelId}}
    <div class="rsa-context-panel__grid__host-details__groupdata">{{count}}</div>
  {{/rsa-content-tethered-panel-trigger}}
  {{#rsa-content-tethered-panel panelId=tetherPanelId displayCloseButton=false position='top-left'}}
    <section>
      {{#if (gt count 1)}}
        {{#each data as |cellData |}}
          <div class="rsa-context-panel__grid__host-details__field-value">
            <span title= {{cellData}}>{{cellData}}</span>
          </div>
        {{/each}}
      {{else}}
        <div class="rsa-context-panel__grid__host-details__field-value">
          <span title= {{data}}>{{data}}</span>
        </div>
      {{/if}}
    </section>
  {{/rsa-content-tethered-panel}}
</vbox>
