{{#rsa-items-sheet
  columnsConfig=columnsConfig
  items=itemsThrottled
  totalCount=totalCount
  detailsHeaderComponentClass=detailsHeaderComponentClass
  detailsBodyComponentClass=detailsBodyComponentClass
  as |sheet|
}}
  {{yield sheet}}
  {{#sheet.tableBody
    items=itemsThrottled
    columnsConfig=columnsConfig
    fitToWidth=false
    lazy=true
  }}
    {{rsa-data-table/header enableColumnSelector=true translateTitles=true}}
    {{#rsa-data-table/body showNoResultMessage=false as |item index column|}}
      {{#rsa-events-sheet-cell column=column index=index item=item}}
        {{#if (eq column.field 'timestamp')}}
          {{rsa-content-datetime timestamp=item.timestamp displayDate=true displayTime=true}}
        {{else}}
          <span class="entity" data-meta-key="{{column.fieldSuffix}}" data-entity-id="{{get item column.field}}">
            {{get item column.field}}
          </span>
        {{/if}}
      {{/rsa-events-sheet-cell}}
    {{/rsa-data-table/body}}
  {{/sheet.tableBody}}
  {{sheet.detailsHeader}}
  {{sheet.detailsBody}}
{{/rsa-items-sheet}}
