{{host-list/host-table/action-bar}}
<section class="filters panel-control-group" fit>
  {{host-list/content-filter}}
</section>
<box class='host-table'>
  {{#rsa-data-table lazy=true items=hostList onRowClick=(action 'handleRowClick') columnsConfig=columns}}
    {{host-list/host-table/host-table-header}}
    {{#if (eq hostFetchStatus 'wait')}}
      <centered>
        {{rsa-loader size='larger'}}
      </centered>
    {{else}}
      {{#rsa-data-table/body noResultsMessage=(t 'investigateHosts.hosts.list.noResultsMessage') as |item index column|}}
        {{host-list/host-table/body-cell
          column=column
          item=item
          onButtonClick=(action 'setSelectedHost' item.id)
          checkBoxAction=(action 'toggleMachineSelected' item.id)
          onMouseEnter=(action 'toggleIconVisibility' true item.id)
          onMouseLeave=(action 'toggleIconVisibility' false)}}
      {{/rsa-data-table/body}}
      {{rsa-data-table/load-more status=loadMoreHostStatus click=(action 'getNextMachines') class="rsa-hosts-load-more"}}
    {{/if}}
  {{/rsa-data-table}}
</box>
<box class="host-table__footer">
  {{host-table-footer total=totalItems index=hostList.length label='hosts'}}
</box>
