<h1 class="large centered">Meta Database</h1>
{{#rsa-chart data=graphAdapter as |params|}}
  {{#each params.data as |series index|}}
    {{rsa-line-series
      data=params.data
      dataIndex=index
      xScale=params.xScale
      yScale=params.yScale
      height=params.graphHeight}}
  {{/each}}
  {{rsa-y-axis scale=params.yScale tickCount=3}}
{{/rsa-chart}}
<h1 class="large centered">{{ngcoreui-formatted-number size=valuesAdapter.meta_rate}} Meta/Second</h1>
{{#dashboard-properties-grid}}
  {{dashboard-property-item propertyName='Total Meta Count' propertyValue=valuesAdapter.meta_total type='numeric'}}
  {{dashboard-property-item propertyName='Total Meta Bytes' propertyValue=valuesAdapter.meta_bytes type='bytes'}}
  {{dashboard-property-item propertyName='Oldest Meta File' propertyValue=valuesAdapter.meta_oldest_file_time}}
  {{dashboard-property-item propertyName='Free Meta Space' propertyValue=valuesAdapter.meta_free_space type='bytes'}}
  {{dashboard-property-item propertyName='Meta Volume Size' propertyValue=valuesAdapter.meta_volume_bytes type='bytes'}}
{{/dashboard-properties-grid}}
