{{overview-tab/user/entity-type-selector}}
<div class='user-overview-tab_title'>
  {{t 'investigateUsers.users.highRisk'}} {{t (concat 'investigateUsers.entityTypes.' entityType)}}
</div>
{{overview-tab/watched applyUserFilter=applyUserFilter}}
{{show-trend}}
<div class='user-overview-tab_users_rows'>
  {{#if hasTopRiskyUsers}}
    {{#each topUsers as |user|}}
      <div class='user-overview-tab_users_row'  {{action 'initiateUser' (hash userId=user.id)}}>
        <div class='user-overview-tab_users_row_score'>
          {{rsa-content-badge-score score=user.score size='small' style=(get severityMap user.scoreSeverity) invertColor=true}}
        </div>
        <div class='user-overview-tab_users_row_trend'>
          <span>+{{user.trendingScore}}</span>
          <span>{{t 'investigateUsers.alerts.score'}}</span>
        </div>
        <div class='user-overview-tab_users_row_name'>
          <span>{{user.displayName}}</span>
          <span>
            {{user.alertGroup.Critical}} C |
            {{user.alertGroup.High}} H |
            {{user.alertGroup.Medium}} M |
            {{user.alertGroup.Low}} L  {{t 'investigateUsers.alerts.title'}} 
          </span>
        </div>
        <div class='user-overview-tab_users_row_icon' title='Watched Entity'>
          {{#if (eq user.followed true)}}
            {{rsa-icon size='large' name='view-1'}}
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{else}}
    <center class='center'>
      {{#if topUsersError}}
        {{t (concat 'investigateUsers.errorMessages.' topUsersError)}}
      {{else}}
        {{rsa-loader size="medium" label=(t 'investigate.loading')}}
      {{/if}}
    </center>
  {{/if}}
</div>
