{{rsa-respond/landing-page/respond-header}}
{{#if isCardMode}}
  <article class="rsa-respond-card">
    <section class="rsa-respond-index__main-body">
      <header class="rsa-respond-card__status-header">
        <span class="rsa-respond-card__status-header__item">{{t "incident.status.0"}} ({{model.newIncidents.results.length}}) {{~ rsa-update-indicator model=model.newIncidents.array updateKey='asyncUpdate' ~}}</span>
      </header>
      {{#if model.newIncidents.results.length}}
        <section class='rsa-content-card-group'>
          {{#rsa-carousel class="rsa-incident-carousel" items=model.newIncidents.results as |incident|}}
            {{#rsa-content-card class="rsa-incident-content-card" }}
              {{~rsa-respond/landing-page/incident-tile model=incident users=model.users clickAction=(action "gotoIncidentDetail") saveAction=(action "saveIncident")~}}
            {{/rsa-content-card}}
          {{/rsa-carousel}}
        </section>
      {{else}}
        <div class="rsa-respond-index-empty-incident">{{t "incident.emptyNewMessage"}}</div>
      {{/if}}
      <header class="rsa-respond-card__status-header">
        <span class="rsa-respond-card__status-header__item">{{t "incident.status.2"}} ({{model.inProgressIncidents.results.length}}) {{~ rsa-update-indicator model=model.inProgressIncidents.array updateKey='asyncUpdate' ~}}</span>
      </header>
      {{#if model.inProgressIncidents.results.length}}
        <section class='rsa-content-card-group'>
          {{#rsa-carousel class="rsa-incident-carousel" allowMultipleRows=true items=model.inProgressIncidents.results as |incident|}}
            {{#rsa-content-card class="rsa-incident-content-card small-size" }}
              {{~rsa-respond/landing-page/incident-tile size='small' users=model.users model=incident clickAction=(action "gotoIncidentDetail")~}}
            {{/rsa-content-card}}
          {{/rsa-carousel}}
        </section>
      {{else}}
        <div class="rsa-respond-index-empty-incident">{{t "incident.emptyInProgressMessage"}}</div>
      {{/if}}
    </section>
  </article>
{{else}}
  <div class="rsa-respond-list">
    <vbox class="rsa-respond-list__grid">
      <hbox class='rsa-respond-list__grid__header'>
        <vbox xs="1">
          {{t 'incident.list.riskScore'}}
        </vbox>
        <vbox xs="1">
          {{t 'incident.list.id'}}
        </vbox>
        <vbox xs="4">
          {{t 'incident.list.name'}}
        </vbox>
        <vbox xs="2">
          {{t 'incident.list.createdDate'}}
        </vbox>
        <vbox xs="1">
          {{t 'incident.list.assignee'}}
        </vbox>
        <vbox xs="1">
          {{t 'incident.list.status'}}
        </vbox>
        <vbox xs="1">
          {{t 'incident.list.alertCount'}}
        </vbox>
        <vbox xs="1">
          {{t 'incident.list.sources'}}
        </vbox>
      </hbox>
      {{#each model.allIncidents.results as |incident|}}
        <hbox class='rsa-respond-list__grid__row'>
          <vbox xs="1" class='incident-riskScore'>
            {{rsa-content-badge-score score=incident.riskScore isInline=true style=(call-method this 'badgeStyle' incident.riskScore)}}
          </vbox>
          <vbox xs="1" class='incident-id'>
            <label {{action "gotoIncidentDetail"}}>{{incident.id}}</label>
          </vbox>
          <vbox xs="4" class='incident-name'>
            {{incident.name}}
          </vbox>
          <vbox xs="2" class='incident-created'>
            {{rsa-content-datetime timestamp=incident.created}}
          </vbox>
          <vbox xs="1" class='incident-assignee'>
            {{#if incident.assignee}}
              {{incident.assignee.login}}
            {{else}}
              {{t 'incident.assignee.none'}}
            {{/if}}
          </vbox>
          <vbox xs="1" class='incident-status'>
            {{t (concat 'incident.status.' incident.statusSort)}}
          </vbox>
          <vbox xs="1" class='incident-alertCount'>
            {{incident.alertCount}}
          </vbox>
          <vbox xs="1" class='incident-sources'>
            <div class="source-tags">
              {{#each incident.sources as |source|}}
                {{rsa-content-label label=(call-method this 'sourceShortName' source)}}
              {{/each}}
            </div>
          </vbox>
        </hbox>
      {{/each}}
    </vbox>
  </div>
{{/if}}
