{{rsa-respond/landing-page/respond-header modelCount=(unless isCardMode model.allIncidents.results.length)}}

{{#if isCardMode}}
  <article class="rsa-respond-card">
    <section class="rsa-respond-index__main-body">
      <header class="rsa-respond-card__status-header">
        <span class="rsa-respond-card__status-header__item">
          {{t "incident.status.0"}} ({{model.newIncidents.results.length}})
          {{ rsa-update-indicator model=model.newIncidents.array updateKey='asyncUpdate' }}
        </span>
        {{rsa-respond/landing-page/respond-index/sort-options
          label=(t "incident.sortFields.sortByLabel")
          defaultSortOption=newIncSortOrder
          sortOptions=newIncSortOrderList
          viewType=newIncCardView
          sortAction=(route-action "sortAction")
        }}
      </header>
      {{#if model.newIncidents.results.length}}
        <section class='rsa-content-card-group'>
          {{#rsa-carousel class="rsa-incident-carousel" items=model.newIncidents.results as |incident|}}
            {{#rsa-content-card class="rsa-incident-content-card" }}
              {{rsa-respond/landing-page/incident-tile incident=incident users=model.users
                clickAction=(route-action "gotoIncidentDetail") saveIncidentAction=(route-action "saveIncident")}}
            {{/rsa-content-card}}
          {{/rsa-carousel}}
        </section>
      {{else}}
        <div class="rsa-respond-index-empty-incident">{{t "incident.emptyNewMessage"}}</div>
      {{/if}}
      <header class="rsa-respond-card__status-header">
        {{rsa-respond/landing-page/respond-index/sort-options
          label=(t "incident.sortFields.sortByLabel")
          defaultSortOption=inProgSortOrder
          sortOptions=inProgSortOrderList
          sortAction=(route-action "sortAction")
          viewType=inProgCardView
        }}
        <span class="rsa-respond-card__status-header__item">
          {{t "incident.status.2"}} ({{model.inProgressIncidents.results.length}})
          {{ rsa-update-indicator model=model.inProgressIncidents.array updateKey='asyncUpdate' }}
        </span>
      </header>
      {{#if model.inProgressIncidents.results.length}}
        <section class='rsa-content-card-group'>
          {{#rsa-carousel class="rsa-incident-carousel" allowMultipleRows=true items=model.inProgressIncidents.results as |incident|}}
            {{#rsa-content-card class="rsa-incident-content-card small-size" }}
              {{rsa-respond/landing-page/incident-tile size='small' users=model.users incident=incident clickAction=(route-action "gotoIncidentDetail")}}
            {{/rsa-content-card}}
          {{/rsa-carousel}}
        </section>
      {{else}}
        <div class="rsa-respond-index-empty-incident">{{t "incident.emptyInProgressMessage"}}</div>
      {{/if}}
    </section>
  </article>
{{else}}
  <div class="rsa-respond-list">
    {{#rsa-data-table lazy=true onRowClick=(route-action "gotoIncidentDetail") items=model.allIncidents.results columnsConfig=incidentListConfig}}
      {{#rsa-data-table/header as |column|}}
        <span class="title rsa-data-table-title" title="{{if column.title (t column.title) column.field}}">
          {{#if column.headerComponentClass}}
            {{component column.componentClass 'rsa-data-table/body-cell' item=item index=index column=column
            click=(route-action "multiSelectIncident" 'all') class="js-respond-listview-checkbox-header"}}
          {{else}}
            <span class="js-move-handle js-header-cell-{{column.class}}">{{if column.title (t column.title) column.field}}</span>
          {{/if}}
        </span>
        {{#unless column.disableSort}}
          <span class="js-header-cell-sort-{{column.class}}">
            <button class={{unless (is-equal currentSort column.field) "hideSort expand" "expand"}} {{action 'sortListView' column (if column.isDescending 'asc' 'desc')  on='click'}}>
              {{rsa-icon size="small" name=(if column.isDescending "arrow-down-12" "arrow-up-12")}}
            </button>
          </span>
        {{/unless}}
      {{/rsa-data-table/header}}
      {{#rsa-data-table/body as |item index column|}}
        {{#rsa-data-table/body-cell item=item column=column index=index}}
          <div class="{{column.class}}">
            {{#if column.componentClass}}
              {{#if (is-equal column.field 'riskScore')}}
                {{component column.componentClass 'rsa-data-table/body-cell' item=item index=index column=column
                 score=(get item column.field) isInline=true style=(call-method this 'badgeStyle' (get item column.field))}}
              {{else}}
                {{#if (is-equal column.dataType 'date-time')}}
                  {{component column.componentClass 'rsa-data-table/body-cell' item=item index=index column=column  timestamp=(get item column.field)}}
                {{else}}
                  {{component column.componentClass 'rsa-data-table/body-cell' item=item index=index column=column click=(route-action "multiSelectIncident" item.id)
                   class=(concat 'js-respond-listview-checkbox js-respond-listview-' item.id)}}
                {{/if}}
              {{/if}}
            {{else}}
              {{#if (is-equal column.field 'statusSort')}}
                {{t (concat 'incident.status.' (get item column.field))}}
              {{else}}
                {{#if (is-equal column.field 'assigneeFirstLastName')}}
                  {{get item 'assignee.firstName'}}
                {{else}}
                  {{#if (is-equal column.field 'sources')}}
                    {{#each (get item column.field) as |source|}}
                      {{rsa-content-label label=(call-method this 'sourceShortName' source)}}
                    {{/each}}
                  {{else}}
                    {{get item column.field}}
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/if}}
          </div>
        {{/rsa-data-table/body-cell}}
      {{/rsa-data-table/body}}
    {{/rsa-data-table}}
  </div>
{{/if}}
