<nav class="dropdown">
  <ul>
    <li class="header">{{t 'languages.prompt'}}
      <ul>
        <li><a href {{ action 'changeLocale' 'en' }}>{{t 'languages.en'}}</a></li>
        <li><a href {{ action 'changeLocale' 'jp' }}>{{t 'languages.jp'}}</a></li>
      </ul>
    </li>
  </ul>
</nav>
