<nav class="dropdown">
  <ul>
    <li class="header"><span class="js-test-find-locale-prompt">{{t 'languages.prompt'}}</span>
      <ul>
        <li><a href {{ action 'changeLocale' 'en' }} class="locale_en">{{t 'languages.en'}}</a></li>
        <li><a href {{ action 'changeLocale' 'jp' }} class="locale_jp js-test-click-locale-jp" >{{t 'languages.jp'}}</a></li>
      </ul>
    </li>
  </ul>
</nav>
