<article class="rsa-live-content rsa-screen rsa--abs js-test-live-content-root {{if isNavigationCollapsed 'nav-collapsed'}}">
  {{! LIVE CONTENT NAVIGATION PANEL }}
  <nav class="rsa-live-content-navigation-panel">
    <vbox>
      <vbox fit>
        {{#rsa-content-section-header}}
          <h1>&nbsp;</h1>
        {{/rsa-content-section-header}}
      </vbox>
      {{#rsa-nav-secondary}}
        {{#link-to "protected.configure.live-content" current-when="protected.configure.live-content.index"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="home-1"}}<span>{{t 'live.home'}}</span>
          </section>
        {{/link-to}}
        {{#link-to "protected.configure.live-content.search" current-when="protected.configure.live-content.search"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="search"}}<span>{{t 'live.search.title'}}</span>
          </section>
        {{/link-to}}
        {{#link-to "protected.configure.live-content.deployed" current-when="protected.configure.live-content.deployed"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="location-map"}}<span>{{t 'live.deployed.title'}}</span>
          </section>
        {{/link-to}}
        {{#link-to "protected.configure.live-content.jobs" current-when="protected.configure.live-content.jobs"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="hourglass-1"}}<span>{{t 'live.jobs.title'}}</span>
          </section>
        {{/link-to}}
        {{#link-to "protected.configure.live-content.updates" current-when="protected.configure.live-content.updates"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="server-refresh-1"}}<span>{{t 'live.updates.title'}}</span>
          </section>
        {{/link-to}}
        {{#link-to "protected.configure.live-content.feeds" current-when="protected.configure.live-content.feeds"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="rss-feed"}}<span>{{t 'live.feeds.title'}}</span>
          </section>
        {{/link-to}}
        {{#link-to "protected.configure.live-content.custom" current-when="protected.configure.live-content.custom"}}
          <section class="rsa-nav-secondary__section">
            {{rsa-icon name="tools-wrench-screwdriver"}}<span>{{t 'live.custom.title'}}</span>
          </section>
        {{/link-to}}
      {{/rsa-nav-secondary}}
    </vbox>
  </nav>
  {{outlet}}
</article>
