{{#rsa-content-section-header label='Section Heading'}}
  {{t 'userPreferences.preferences'}}

  <div class="controls">
    {{#rsa-form-button isIconOnly=true defaultAction=(action 'toggleUserPreferences')}}
      {{rsa-icon name="close" size="small"}}
    {{/rsa-form-button}}
  </div>
{{/rsa-content-section-header}}

<form {{action 'saveUserPreferences' on="submit"}}>
  <p>
    {{t 'userPreferences.personalize'}}
  </p>

  {{#if displayLocales}}
    <hbox>
      <vbox xs="12">
        <label class="rsa-form-label power-select js-test-language-select">
          <div class="label-text">
            {{t 'userPreferences.language'}}
          </div>

          {{#power-select
            options=locales
            selected=i18n.locale
            searchEnabled=false
            onchange=(action 'setLocale') as |option|}}
            {{t (concat 'languages.' option )}}
          {{/power-select}}
        </label>
      </vbox>
    </hbox>
  {{/if}}

  <hbox>
    <vbox xs="12">
      <label class="rsa-form-label power-select js-test-time-zone-select">
        <div class="label-text">
          {{t 'userPreferences.timeZone'}}
        </div>

        {{#power-select
          options=timezone.options
          searchField="displayLabel"
          selected=timezone.selected
          onchange=(action 'setTimezone') as |option|}}
          {{option.displayLabel}}
        {{/power-select}}
      </label>
    </vbox>
  </hbox>

  <hbox>
    <vbox xs="6">
      <label class="rsa-form-label power-select js-test-date-format-select">
        <div class="label-text">
          {{t 'userPreferences.dateFormat.label'}}
        </div>

        {{#power-select
          options=dateFormat.options
          selected=dateFormat.selected
          searchEnabled=false
          onchange=(action 'setDateFormat') as |option|}}
          {{t option.label}}
        {{/power-select}}
      </label>
    </vbox>

    <vbox xs="6">
      <div class='rsa-form-radio-group time-format-radio-group'>
        <h4 class='rsa-form-radio-group-label'>{{t 'userPreferences.timeFormat.label'}}</h4>
        {{#each timeFormat.options as |option|}}
          <label class="rsa-form-radio-label {{option.key}} {{if (eq option timeFormat.selected) 'checked'}}">
            {{radio-button
              value=option
              groupValue=timeFormat.selected
              changed="setTimeFormat"}}
            {{t option.label}}
          </label>
        {{/each}}
      </div>
    </vbox>
  </hbox>

  <hbox>
    <vbox xs="12">
      <label class="rsa-form-label power-select js-test-default-landing-page-select">
        <div class="label-text">
          {{t 'userPreferences.defaultLandingPage.label'}}
        </div>

        {{#power-select
          options=landingPage.options
          selected=landingPage.selected
          searchEnabled=false
          onchange=(action 'setDefaultLandingPage') as |option|}}
          {{t option.label}}
        {{/power-select}}
      </label>
    </vbox>
  </hbox>

  <hbox>
    <a class="change-password" href="/profile#preferences">
      {{t 'login.changePasswordLink'}}
    </a>
  </hbox>
</form>

<footer>
  <vbox>
    <p>
      {{t 'userPreferences.version'}} {{version}}
    </p>

    <a {{action 'logout'}}>{{t 'userPreferences.signOut'}}</a>
  </vbox>
</footer>
