{{#if metaLoading}}
  <div class="recon-loader">
    {{rsa-loader size='larger'}}
  </div>
{{else}}
  {{#if metaError}}
    {{rsa-panel-message message=(t 'recon.error.generic')}}
  {{else}}
    {{#if meta}}
      <hbox class="meta-heading">
        <h2>Event Meta</h2>
      </hbox>

      {{#each meta as |item|}}
        {{recon-meta-content-item
          isTextView=isTextView
          item=item
          metaToHighlight=metaToHighlight
          eventHasPayload=eventHasPayload
          contextMenuItems=contextMenuItems
          queryInputs=queryInputs
          language=language
          metaHighlightCount=metaHighlightCount}}
      {{/each}}
    {{/if}}
  {{/if}}
{{/if}}


