{{#if metaLoading}}
  <div class="recon-loader">
    {{rsa-loader size='larger'}}
  </div>
{{else}}
  {{#if metaError}}
    {{rsa-panel-message message=metaError}}
  {{else}}
    {{#if metaItems}}
      <hbox class="meta-heading">
        <h2>{{t 'investigateShared.eventMetaTitle'}}</h2>
      </hbox>

      {{#each metaItems as |item|}}
        {{recon-meta-content-item
          isTextView=isTextView
          item=item
          metaToHighlight=metaToHighlight
          eventHasPayload=eventHasPayload
          queryInputs=queryInputs
          language=language
          metaFormatMap=metaFormatMap
          metaHighlightCount=metaHighlightCount}}
      {{/each}}
    {{/if}}
  {{/if}}
{{/if}}
