<vbox fit class="recon-event-header">
  {{recon-event-titlebar}}
  {{recon-event-actionbar}}

  {{#if headerError}}
    {{rsa-panel-message message=(t 'recon.error.generic')}}
  {{else}}
    {{#if isHeaderOpen}}
      <div class="header-data" test-id="headerData">
        {{#if displayedHeaderItems}}
          <grid responsive>
            {{#each displayedHeaderItems as |item|}}
              {{recon-event-header-item
                name=item.name
                value=item.value
                type=item.type
                key=item.key
                contextMenuItems=contextMenuItems
                queryInputs=queryInputs
                language=language
                hasTooltip=item.hasTooltip
              }}
            {{/each}}
          </grid>
          {{#rsa-content-tethered-panel
            displayCloseButton=false
            panelId='eventHeaderTooltip'
            position='top' as |hide model|}}
            <p>{{model}}</p>
          {{/rsa-content-tethered-panel}}
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
</vbox>
