<vbox fit class="recon-event-header">
  {{recon-event-titlebar}}
  {{recon-event-actionbar}}

  {{#if headerError}}
    <div class="recon-error">
      {{t 'recon.error.generic'}}
    </div>
  {{else}}
    {{#if isHeaderOpen}}
      <div class="header-data">
        {{#if displayedHeaderItems}}
          <grid responsive>
            {{#each displayedHeaderItems as |item|}}
              {{recon-event-header-item name=item.name value=item.value type=item.type}}
            {{/each}}
          </grid>
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
</vbox>
