{{! Toolbar }}
{{respond/incident-rules/toolbar transitionToRule=transitionToRule}}

{{! Table }}
<div class="incident-rule-list">
  {{#sortable-group onChange="reorderRules" as |group|}}

    {{#rsa-data-table
      sortableGroup=group
      selectedItemId=selectedRuleId
      items=(readonly rules)
      lazy=(readonly useLazyRendering)
      fitToWidth=false
      columnsConfig=(readonly columns)
      onRowClick=(action 'handleRowClick')
    }}

      {{#rsa-data-table/header translateTitles=true as |column|}}
        {{#if (eq column.id 'drag')}}
          <span class="move-column">&varr;</span>
        {{else}}
          {{t column.title}}
        {{/if}}
      {{/rsa-data-table/header}}

      {{#if (eq rulesStatus 'wait')}}
        <centered>
          {{rsa-loader size='larger'}}
        </centered>
      {{else if (eq rulesStatus 'error')}}
        <centered class="rules-error">{{t 'respond.aggregationRules.error'}}</centered>
      {{else}}

          {{#rsa-data-table/body
            rowComponentClass='respond/incident-rules/row'
            noResultsMessage=(t 'respond.aggregationRules.noResults') as |item index column|}}
            {{#rsa-data-table/body-cell item=item column=column}}
              {{#if (eq column.id 'select')}}
                <centered>
                  <label class="rsa-form-radio-label {{if (eq item.id selectedRuleId) 'checked'}}">
                    {{radio-button
                      value=item.id
                      groupValue=(readonly selectedRuleId)
                      changed=(action 'selectRule' item)
                    }}
                  </label>
                </centered>
              {{else if (eq column.id 'drag')}}
                <span class="drag-handle"></span>
              {{else if (eq column.field 'enabled')}}
                <centered>
                  <div class="{{if (eq item.enabled true) 'enabled-rule' 'disabled-rule'}}"></div>
                </centered>
              {{else if (eq column.field 'name')}}
                {{#link-to 'respond.incident-rule' item.id}}{{item.name}}{{/link-to}}
              {{else if (eq column.dataType 'date')}}
                {{#if (get item column.field)}}
                  {{rsa-content-datetime timestamp=(get item column.field) displayTime=true displayMilliseconds=false}}
                {{/if}}
              {{else}}
                {{get item column.field}}
              {{/if}}
            {{/rsa-data-table/body-cell}}
          {{/rsa-data-table/body}}
      {{/if}}
    {{/rsa-data-table}}
  {{/sortable-group}}
</div>
{{! Overlay to prevent interactions during transactions }}
{{#if isTransactionUnderway}}
  <div class="transaction-overlay">
    <centered>
      {{rsa-loader size="large"}}
    </centered>
  </div>
{{/if}}