{{! Toolbar }}
{{#if (eq rulesStatus 'complete')}}
  {{respond/incident-rules/toolbar transitionToRule=transitionToRule}}
{{/if}}

{{! Table }}
<div class="incident-rule-list">
  {{#if (eq rulesStatus 'wait')}}
    <centered>
      {{rsa-loader size='larger'}}
    </centered>
  {{else if (eq rulesStatus 'error')}}
    <centered class="rules-error">{{t 'configure.incidentRules.error'}}</centered>
  {{else if (eq rules.length 0)}}
    <centered>
      <div class="no-results-message">
        <span class="message">{{t 'configure.incidentRules.noResults'}}</span>
      </div>
    </centered>
  {{else}}
    {{#sortable-group onChange="reorder" as |group|}}
      <table class="{{if accessControl.respondCanManageAlertRules 'editable' 'not-editable'}}">
        <thead>
          <tr>
            <th class="reorder">&varr;</th>
            <th class="select" {{action 'selectAllRules'}}>
              <centered>
                <label class="rsa-form-checkbox-label {{if isAllSelected 'checked'}}">
                  {{rsa-form-checkbox
                    checked=isAllSelected
                  }}
                </label>
              </centered>
            </th>
            <th class="order" title="{{t 'configure.incidentRules.order'}}">
              {{t 'configure.incidentRules.order'}}
            </th>
            <th class="enabled" title="{{t 'configure.incidentRules.enabled'}}">
              {{t 'configure.incidentRules.enabled'}}
            </th>
            <th class="name" title="{{t 'configure.incidentRules.name'}}">
              {{t 'configure.incidentRules.name'}}
            </th>
            <th class="description" title="{{t 'configure.incidentRules.description'}}">
              <div>{{t 'configure.incidentRules.description'}}</div>
            </th>
            <th class="last-matched" title="{{t 'configure.incidentRules.lastMatched'}}">
              {{t 'configure.incidentRules.lastMatched'}}
            </th>
            <th class="alerts-matched" title="{{t 'configure.incidentRules.alertsMatchedCount'}}">
              {{t 'configure.incidentRules.alertsMatchedCount'}}
            </th>
            <th class="incidents-created" title="{{t 'configure.incidentRules.incidentsCreatedCount'}}">
              {{t 'configure.incidentRules.incidentsCreatedCount'}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each rules as |rule|}}
            {{!-- Only pass along the group if the user has permission to reorder/manage the rules --}}
            {{#respond/incident-rules/row
              rule=rule
              group=(if accessControl.respondCanManageAlertRules group null)
              selectedRules=selectedRules onRowClick=(action 'handleRowClick' rule)}}
              <td class="reorder-rule-cell">
                <centered>
                  <span class="handle"></span>
                </centered>
              </td>
              <td>
                <centered>
                  <label class="rsa-form-checkbox-label {{if (contains rule.id selectedRules) 'checked'}}">
                    {{rsa-form-checkbox
                      checked=(contains rule.id selectedRules)
                    }}
                  </label>
                </centered>
              </td>
              <td>
                <div>{{rule.order}}</div>
              </td>
              <td>
                <centered>
                  <div title={{rule.enabled}} class="{{if (eq rule.enabled true) 'enabled-rule' 'disabled-rule'}}"></div>
                </centered>
              </td>
              <td>
                <div title="{{rule.name}}">{{#link-to 'respond.incident-rule' rule.id test-id="incidentRuleLink"}}{{rule.name}}{{/link-to}}</div>
              </td>
              <td>
                <div title="{{rule.description}}">{{rule.description}}</div>
              </td>
              <td>
                <div>
                  {{#if rule.lastMatched}}
                    {{rsa-content-datetime timestamp=rule.lastMatched displayTime=true displayMilliseconds=false}}
                  {{/if}}
                </div>
              </td>
              <td>
                <div>{{rule.alertsMatchedCount}}</div>
              </td>
              <td>
                <div>{{rule.incidentsCreatedCount}}</div>
              </td>
            {{/respond/incident-rules/row}}
          {{/each}}
        </tbody>
      </table>
    {{/sortable-group}}
  {{/if}}
</div>
{{! Overlay to prevent interactions during transactions }}
{{#if isTransactionUnderway}}
  <div class="transaction-overlay"></div>
{{/if}}
