{{! Toolbar }}
{{respond/incident-rules/toolbar transitionToRule=transitionToRule}}

{{! Table }}
<div class="incident-rule-list">
  {{#if (eq rulesStatus 'wait')}}
    <centered>
      {{rsa-loader size='larger'}}
    </centered>
  {{else if (eq rulesStatus 'error')}}
    <centered class="rules-error">{{t 'configure.incidentRules.error'}}</centered>
  {{else if (eq rules.length 0)}}
    <centered>
      <div class="no-results-message">
        <span class="message">{{t 'configure.incidentRules.noResults'}}</span>
      </div>
    </centered>
  {{else}}
    {{#sortable-group onChange="reorderRules" as |group|}}
      <table>
        <thead>
          <tr>
            <th class="reorder">&varr;</th>
            <th class="select">{{t 'configure.incidentRules.select'}}</th>
            <th class="order">{{t 'configure.incidentRules.order'}}</th>
            <th class="enabled">{{t 'configure.incidentRules.enabled'}}</th>
            <th class="name">{{t 'configure.incidentRules.name'}}</th>
            <th class="description"><div>{{t 'configure.incidentRules.description'}}</div></th>
            <th class="last-matched">{{t 'configure.incidentRules.lastMatched'}}</th>
            <th class="alerts-matched">{{t 'configure.incidentRules.alertsMatchedCount'}}</th>
            <th class="incidents-created">{{t 'configure.incidentRules.incidentsCreatedCount'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each rules as |rule|}}
            {{#respond/incident-rules/row
              rule=rule
              group=group
              selectedItemId=selectedRuleId onRowClick=(action 'handleRowClick' rule)}}
              <td>
                <centered>
                  <span class="handle"></span>
                </centered>
              </td>
              <td>
                <centered>
                  <label class="rsa-form-radio-label {{if (eq rule.id selectedRuleId) 'checked'}}">
                    {{radio-button
                      value=rule.id
                      groupValue=(readonly selectedRuleId)
                      changed=(action 'selectRule' rule)
                    }}
                  </label>
                </centered>
              </td>
              <td>
                <div>{{rule.order}}</div>
              </td>
              <td>
                <centered>
                  <div title={{rule.enabled}} class="{{if (eq rule.enabled true) 'enabled-rule' 'disabled-rule'}}"></div>
                </centered>
              </td>
              <td>
                <div title="{{rule.name}}">{{#link-to 'respond.incident-rule' rule.id}}{{rule.name}}{{/link-to}}</div>
              </td>
              <td>
                <div title="{{rule.description}}">{{rule.description}}</div>
              </td>
              <td>
                <div>
                  {{#if rule.lastMatched}}
                    {{rsa-content-datetime timestamp=rule.lastMatched displayTime=true displayMilliseconds=false}}
                  {{/if}}
                </div>
              </td>
              <td>
                <div>{{rule.alertsMatchedCount}}</div>
              </td>
              <td>
                <div>{{rule.incidentsCreatedCount}}</div>
              </td>
            {{/respond/incident-rules/row}}
          {{/each}}
        </tbody>
      </table>
    {{/sortable-group}}
  {{/if}}
</div>
{{! Overlay to prevent interactions during transactions }}
{{#if isTransactionUnderway}}
  <div class="transaction-overlay"></div>
{{/if}}