{{#rsa-form-button dropdown='standard' isIconOnly=true class="rsa-application-select-locale"}} 
  {{rsa-icon name='translate'}}
  <ul class="rsa-application-locales">
    <li {{action "changeLocale" "en"}}>{{t 'languages.en'}}</li>
    <li {{action "changeLocale" "jp"}}>{{t 'languages.jp'}}</li>
  </ul>
{{/rsa-form-button}}
