<span class="rsa-form-label">{{label}}</span>
<div class="prompt">
  {{#if values.length}}
    {{#if hasMultipleValues}}
      {{#each humanReadableValues as |value|}}
        <span class="option-tag">
          {{value.label}}
          <span class="remove-tag" {{action 'removeSelection' value.value}}>
            {{rsa-icon name='close'}}  
          </span>
        </span>
      {{/each}}
    {{else}}
      {{#if optionsCollapsed}}
        <div {{action 'displayOptions'}}>{{humanReadableValues.firstObject.label}}</div>
      {{else}}
        <div {{action 'collapseOptions'}}>{{humanReadableValues.firstObject.label}}</div>
      {{/if}}
    {{/if}}
  {{else}}
    <div {{action 'displayOptions'}}>
      {{#if prompt}}
        {{prompt}}
      {{else}}
        Make a Selection
      {{/if}}
    </div>
  {{/if}}
</div>

{{#if optionsCollapsed}}
  <span {{action 'displayOptions'}}>
    {{rsa-icon name="arrow-down-12" size="smaller"}}
  </span>
{{else}}
  <span {{action 'collapseOptions'}}>
    {{rsa-icon name="arrow-down-12" size="smaller"}}
  </span>
{{/if}}

<select multiple=true size={{optionMaxVisible}}>
  {{yield}}
</select>
