{{#if session.isAuthenticated}}
  {{yield}}
{{/if}}

<div class="global">
  {{#rsa-form-button dropdown="standard" isIconOnly=true class="user-preferences-trigger"}}
    {{rsa-icon name="account-circle-1" style='lined'}} 
    <span class="username">{{usernameFormat.username}}</span>
    <ul>
      {{#rsa-application-modal eventId="userPreferences" tagName="li"}}
        <span class="js-test-user-preferences-modal modal-trigger">{{rsa-icon name='settings-2' style='lined'}} {{t 'userPreferences.preferences'}}</span>
        <div class="modal-content">
          {{rsa-application-user-preferences}}
        </div>
      {{/rsa-application-modal}}
            
      {{#if session.isAuthenticated}}
        <li {{action 'logout'}}>
          {{rsa-icon name="logout-1" style="lined"}} {{t 'login.logout'}}
        </li>
      {{/if}}
    </ul>
  {{/rsa-form-button}}
</div>
