{{#if isInline}}
  {{#if isError}}
    <span class="rsa-form-error">{{errorMessage}}</span>
  {{/if}}
  <span class="rsa-form-label">{{label}}</span>
{{else}}
  <span class="rsa-form-label">{{label}}</span>
  {{#if isError}}
    <span class="rsa-form-error">{{errorMessage}}</span>
  {{/if}}
{{/if}}

{{input
  type=type
  value=value
  placeholder=placeholder
  disabled=resolvedDisabled}}
