{{#rsa-form-button dropdown='standard' isIconOnly=true class="rsa-application-select-theme"}} 
  {{rsa-icon name='diamond'}}
  <ul class="rsa-application-themes">
    <li {{action "changeTheme" "dark"}}>{{t "themes.dark"}}</li>
    <li {{action "changeTheme" "light"}}>{{t "themes.light"}}</li>
  </ul>
{{/rsa-form-button}}
