{{#rsa-application-modal
  style='standard file-status-modal'
  eventId='file-status'
  onClose=closeModal
  autoOpen=true
  label=(t 'investigateFiles.editFileStatus.title')}}
  <div class="modal-content">
    <box class='radio-controls rsa-form-radio-group' fit>
      <h4 class='rsa-form-radio-group-label file-status-title'>{{t 'investigateFiles.editFileStatus.fileStatusTitle'}}</h4>
      {{#each radioButtons as |radio|}}
        <label class='rsa-form-radio-label file-status-radio {{if (eq radio.value formData.fileStatus) 'checked'}}'>
          {{radio-button
            radioClass='status-type'
            value=radio.value
            groupValue=formData.fileStatus}}
          {{t radio.label}}
        </label>
        {{#if (eq radio.value 'Blacklist')}}
          {{#if (eq formData.fileStatus 'Blacklist')}}
            {{endpoint/edit-file-status/modal/file-remediation
              data=formData
              itemList=itemList
              isRemediationAllowed=isRemediationAllowed}}
          {{/if}}
        {{/if}}
        {{#if (eq radio.value 'Graylist')}}
          {{#if (eq formData.fileStatus 'Graylist')}}
            {{endpoint/edit-file-status/modal/file-remediation
              data=formData
              itemList=itemList
              isRemediationAllowed=isRemediationAllowed}}
          {{/if}}
        {{/if}}
      {{/each}}
    </box>

    <box class="comment-box">
      {{rsa-form-textarea
        label=(t 'investigateFiles.editFileStatus.commentTitle')
        value=formData.comment
        maxlength=1024
      }}
    </box>
  </div>
  <footer>
    <hbox class="modal-footer-buttons">
      {{#rsa-form-button class='close-edit-modal' defaultAction=(action 'onCancel')}}
        {{t 'investigateFiles.editFileStatus.cancelBtn'}}
      {{/rsa-form-button}}
      {{#rsa-form-button style='primary' isDisabled=isSaveButtonDisabled class='save-file-status' defaultAction=(action 'saveFileStatus')}}
        {{t 'investigateFiles.editFileStatus.saveBtn'}}
      {{/rsa-form-button}}
    </hbox>
  </footer>
{{/rsa-application-modal}}
