{{#rsa-content-section-header}}
  {{t 'incident.details.storyline.header'}}
  {{#if firstIndicatorTime}}
    <span class="date">
      {{rsa-content-datetime timestamp=lastIndicatorTime}}
      {{t 'incident.details.storyline.to'}}
      {{rsa-content-datetime timestamp=firstIndicatorTime}}
    </span>
  {{/if}}
{{/rsa-content-section-header}}

<div class='storyline-body'>
  <div class='axis'></div>
  <div class='storyline-scrollbox'>
    <div class='tree'>
      {{#each indicators as |indicator|}}
        <div class='indicator-wrapper'>
          {{#unless indicator.alert.hideDate}}
            <div class={{concat 'date-bar' (unless indicator.catalyst ' non-catalyst')}}>
              {{rsa-content-datetime displayTime=false timestamp=indicator.alert.timestamp}}
            </div>
          {{/unless}}
          <div class='indicators-in-date'>
            <div class='indicators'>
              <div class='info'>
                <div class={{concat 'time' (unless indicator.catalyst ' non-catalyst')}}>
                  {{rsa-content-datetime displayDate=false timestamp=indicator.alert.timestamp}}
                </div>
                <div class='score'>
                  {{#if indicator.catalyst}}
                    <div class='score-circle'>{{indicator.alert.risk_score}}</div>
                  {{else}}
                    <div class='score-circle non-catalyst'>+5</div>
                  {{/if}}
                </div>
                <div class='summary'>
                  {{#if (eq indicator.sourceName 'ATD')}}
                    {{rsa-respond/incident-detail/detail-storyline/esa-indicators indicatorType='c2' groupedIps=groupedIps indicator=indicator}}
                  {{else if (eq indicator.sourceName 'UEBA')}}
                    {{rsa-respond/incident-detail/detail-storyline/esa-indicators indicatorType='winauth' indicator=indicator}}
                  {{else if (eq indicator.sourceName 'ENDPOINT')}}
                    {{rsa-respond/incident-detail/detail-storyline/ecat-indicators indicator=indicator}}
                  {{/if}}

                  {{#each indicator.lookup as |index|}}
                    <div class={{concat 'match-sub-indicator' (unless indicator.catalyst ' non-catalyst')}}>
                      {{rsa-icon name="information-circle" style="lined" class="storyline-info"}}
                      {{index.title}}

                      {{#link-to (query-params entityType='HOST' entityId=index.source)}}
                        {{index.source}}
                      {{/link-to}}

                      {{rsa-icon size="small" name="arrow-right-7" class="direction"}}

                      {{#link-to (query-params entityType='IP' entityId=index.dest)}}
                        {{index.dest}}
                      {{/link-to}}
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
