{{#rsa-content-section-header}}
  {{t 'incident.details.storyline.header'}} |
  <span class="date">
    {{rsa-content-datetime timestamp=indicators.firstObject.alert.timestamp}}
    {{t 'incident.details.storyline.to'}}
    {{rsa-content-datetime timestamp=indicators.lastObject.alert.timestamp}}
  </span>
{{/rsa-content-section-header}}

<ul class='storyline'>
  {{#each indicators as |indicator|}}
    <li>
      {{#unless indicator.alert.hideDate}}
        <div class="date-section timeline">
          {{rsa-content-datetime displayTime=false timestamp=indicator.alert.timestamp}}
        </div>
        <div class="content"></div>
      {{/unless}}
    </li>
    <li>
      <div class="time-section timeline">
        {{rsa-content-datetime displayDate=false timestamp=indicator.alert.timestamp}}
      </div>
      <div class='icon'>
        {{#if (is-equal indicator.alert.clientSource 'C2')}}
          {{rsa-icon name="link-2" size="small"}}
        {{else if (is-equal indicator.alert.clientSource 'ECAT')}}
          {{rsa-icon name="computer-imac-1" size="small"}}
        {{else if (is-equal indicator.alert.clientSource 'UBA')}}
          {{rsa-icon name="person-2" size="small"}}
        {{else}}
          {{rsa-icon name="flag-triangle-2" size="small"}}
        {{/if}}
      </div>
      <div class="content main">
        <div class="main_row">
          <span class="source">{{indicator.originalHeaders.device_product}}</span> |
          <span class="context">{{#link-to 'protected.respond.incident.context' indicator.alert.groupby_source_ip}}{{indicator.alert.groupby_source_ip}}{{/link-to}}</span> |
          {{indicator.originalHeaders.name}} |
          {{indicator.alert.risk_score}}
        </div>
        <div class="main__icon">
          {{#rsa-form-button isIconOnly=true}}
            {{#if (is-equal indicator.alert.clientSource 'C2')}}
              {{#link-to 'protected.respond.incident.details' 'C2'}}
                {{rsa-icon name="arrow-right-12" size="smaller"}}
              {{/link-to}}
            {{else}}
              {{#link-to 'protected.respond.incident.details' 'Indicator'}}
                {{rsa-icon name="arrow-right-12" size="smaller"}}
              {{/link-to}}
            {{/if}}
          {{/rsa-form-button}}
        </div>
      </div>
    </li>
  {{/each}}
</ul>
<div class="overlay"></div>
