<vbox class="rsa-response-storyline">
  <hbox>
    <vbox xs='1' class='rsa-response-storyline__timeSection'>
      <div class='rsa-response-storyline__time'>
        <hbox fit>
          <vbox class='rsa-response-storyline__timedivider'>
            {{rsa-content-datetime displayTime=false timestamp=alerts.lastObject.alert.timestamp}}
          </vbox>
        </hbox>
        <hbox fit>
          <vbox class='rsa-response-storyline__times'>
            {{rsa-content-datetime displayDate=false timestamp=alerts.lastObject.alert.timestamp}}
          </vbox>
        </hbox>
        <hbox>
          <vbox class='rsa-response-storyline__time__text'>
            {{t 'incident.details.storyline.cAndc'}}
          </vbox>
        </hbox>
        {{#unless (is-equal alerts.lastObject.alert.timestamp alerts.firstObject.alert.timestamp)}}
          <hbox>
            <vbox class='rsa-response-storyline__times end'>
              {{rsa-content-datetime displayDate=false timestamp=alerts.firstObject.alert.timestamp}}
            </vbox>
          </hbox>
        {{/unless}}
      </div>
    </vbox>
    <vbox xs='11'>
      <div>
        <hbox class='rsa-response-storyline__main-row'>
          <vbox class='rsa-response-storyline__main' xs='11'>
            <span class='indicator_type'>Threat Analysis</span> detected C&C communication {{alertCount}} times from <span class="contextInfo">{{alerts.firstObject.alert.groupby_source_ip}}</span>
            to <span class="contextInfo">{{alerts.firstObject.alert.groupby_domain}}</span>
          </vbox>
          <vbox class='rsa-response-storyline__main_icon' xs='1'>
            {{#rsa-form-button isIconOnly=true}}
              <span class="journalAction" {{action journalAction}}>{{rsa-icon name="bubble-chat-add-1" size="smaller"}}</span>
            {{/rsa-form-button}}
            {{#rsa-form-button isIconOnly=true}}
              <span {{action entityAction 'Indicator'}}>{{rsa-icon name="arrow-right-12" size="smaller"}}</span>
            {{/rsa-form-button}}
          </vbox>
        </hbox>
        <hbox>
          <vbox class='rsa-response-storyline__subItem'>
            [Placeholder] Domain is new to the network
          </vbox>
        </hbox>
        <hbox>
          <vbox class='rsa-response-storyline__subItem'>
            [Placeholder] whoIs information not available
          </vbox>
        </hbox>
      </div>
    </vbox>
  </hbox>
</vbox>
