{{#if (eq column.format 'DATE')}}
  {{#if (get item column.field)}}
    {{rsa-content-datetime timestamp=(get item column.field) displayMilliseconds=false}}
  {{/if}}
{{else if (eq column.format 'SIZE')}}
  {{rsa-content-memsize size=(get item column.field)}}
{{else if (eq column.format 'DECIMAL')}}
  {{rsa-round-decimal value=(get item column.field)}}
{{else if (eq column.format 'SIGNATURE')}}
  {{signature-text (get item column.field) (get item column.signer)}}
{{else if (eq column.format 'DOWNLOADSTATUS')}}
  {{endpoint/download-status downloadInfo=(get item column.field) checksum=item.fileProperties.checksumSha256}}
{{else if (eq column.format 'FILENAME')}}
  <a class='file-name-link' href='/investigate/files/file?checksum={{item.fileProperties.checksumSha256}}&sid={{sid}}' target='_blank' rel='noopener noreferrer'>{{get item column.field}}</a>
{{else if (eq column.field 'status')}}
  {{itemStatus}}
{{else if (or (eq column.field 'fileProperties.score') (eq column.field 'score') (eq column.field 'machineFileScore'))}}
  <centered>
    {{rsa-risk-score score=(get item column.field) size='small'}}
  </centered>
{{else if (eq column.field 'fileProperties.fileStatus')}}
  {{t (concat 'investigateFiles.fileStatus.' (get item column.field))}}
{{else}}
  {{get-field item column timezone dateFormat timeFormat i18n.locale}}
{{/if}}