<section class="filter-option id-filter">
  <label class="rsa-form-input {{unless isIdFilterValid 'is-error'}}">
    <span class="rsa-form-label">
      {{ t 'respond.incidents.filters.incidentId'}}
    </span>

    {{input
      type="text"
      value=(readonly idFilter)
      placeholder=(t 'respond.incidents.filters.idFilterPlaceholder')
      key-up="idFilterChanged"}}

    {{#unless isIdFilterValid}}
      <div class="input-error">
        {{t 'respond.incidents.filters.idFilterError'}}
      </div>
    {{/unless}}
  </label>
</section>
<section class="filter-option priority-filter">
  <h2>{{ t 'respond.incident.priority'}}</h2>
  {{#each priorityTypes as |priorityType|}}
    <div>
      <label class="rsa-form-checkbox-label {{if (contains priorityType priorityFilters) 'checked'}}">
        {{rsa-form-checkbox
          checked=(contains priorityType priorityFilters )
          change=(action 'togglePriorityFilter' priorityType)}}
        <span>{{t (concat 'respond.priority.' priorityType)}}</span>
      </label>
    </div>
  {{/each}}
</section>
<section class="filter-option status-filter">
  <h2>{{ t 'respond.incident.status'}}</h2>
  {{#each statusTypes as |statusType|}}
    <div>
      <label class="rsa-form-checkbox-label {{if (contains statusType statusFilters) 'checked'}}">
        {{rsa-form-checkbox
          checked=(contains statusType statusFilters )
          change=(action 'toggleStatusFilter' statusType)}}
        <span>{{t (concat 'respond.status.' statusType)}}</span>
      </label>
    </div>
  {{/each}}
</section>
<section class="filter-option assignee-filter">
  <h2>{{ t 'respond.incident.assignee'}}</h2>
  {{#power-select-multiple
    options=(readonly users)
    matcher=assigneeMatcher
    selected=selectedAssignees
    searchField="name"
    disabled=isUnassignedFilter
    onchange=(action "assigneeChanged") as |users|}}
    {{or users.name users.id}}
  {{/power-select-multiple}}
  <label class="rsa-form-checkbox-label show-only-unassigned
    {{if (eq isUnassignedFilter true) 'checked'}}
    {{if hasAssigneeFilter 'disabled'}}">
    {{rsa-form-checkbox
      checked=(eq isUnassignedFilter true)
      disabled=hasAssigneeFilter
      change=(action 'toggleIsUnassignedFilter')}}
    <span>{{t 'respond.incidents.filters.showOnlyUnassigned'}}</span>
  </label>
</section>
<section class="filter-option category-filter">
  <h2>{{ t 'respond.incident.categories'}}</h2>
  {{#power-select-multiple
    options=categoryTags
    searchEnabled=false
    selected=selectedCategories
    onchange=(action "categoryChanged") as |category|}}
    {{category}}
  {{/power-select-multiple}}
</section>